Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Link to new delete endpoint
  Control/public/environment/Environment.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/utilities/jsonDelete.js
Due: control

[OGUI-1344] Link to new delete endpoint (#2207)
  Control/public/environment/Environment.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/utilities/jsonDelete.js
Due: control

Add debug logs for system dashboard on request time
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Environment.controller.js
Due: control

Log runNumber in StartActivity as well
  Control/lib/controllers/Environment.controller.js
Due: control

Log even failed deployments
  Control/lib/control-core/RequestHandler.js
Due: control

[OGUI-1430] Add debug messages to be used by ELK system dashboard (#2208)
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Environment.controller.js
Due: control

bump version
  Control/package-lock.json
  Control/package.json
Due: control

[release/cog/1.66.0] (#2209)
  Control/package-lock.json
  Control/package.json
Due: control

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

Use itemControl to check status instead of loader
  Control/test/integration/control-environment.js
Due: control

[release/cog/patch/1.66.1] (#2210)
  Control/package-lock.json
  Control/package.json
  Control/test/integration/control-environment.js
Due: control

Update PROTO files from AliECS
  Control/protobuf/o2apricot.proto
Due: control

Bump mithril version
  Framework/package.json
Due: framework

Refactoring of RemoteData
  Control/public/pages/CalibrationRuns/components/calibrationActionCard.js
  Framework/Frontend/js/src/RemoteData.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/renderer.js
  QualityControl/jsconfig.json
Due: control, qualitycontrol, framework

Improve docblock
  Framework/Frontend/js/src/RemoteData.js
Due: framework

Propose new documentation
  Framework/Frontend/js/src/RemoteData.js
  Framework/docs/guide/async-calls.md
Due: framework

Trigger trim only after out of focus
  Control/public/workflow/panels/variables/advancedPanel.js
Due: control

Reduce time of showing notification
  Control/public/workflow/Workflow.js
Due: control

[OGUI-1447] Allow users to add space while typing in configuration values (#2225)
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/advancedPanel.js
Due: control

Do not remove FLP145 anymore
  Control/lib/control-core/CoreUtils.js
  Control/test/lib/mocha-core-utils.test.js
Due: control

[release/cog/1.66.2] (#2226)
  Control/lib/control-core/CoreUtils.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-core-utils.test.js
Due: control

Rename map to apply and put back deprecated payload
  Framework/Frontend/js/src/RemoteData.js
Due: framework

Put back kind, deprecated
  Framework/Frontend/js/src/RemoteData.js
Due: framework

Limit change to Framework
  Control/public/pages/CalibrationRuns/components/calibrationActionCard.js
Due: control

[OGUI-1449] Remove cyclic module import
  Framework/Frontend/js/src/chart.js
  Framework/Frontend/js/src/icons.js
Due: framework

[O2B-1098] Set up frontend bundler
  Framework/Backend/http/server.js
  Framework/Backend/package-lock.json
  Framework/Backend/package.json
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/renderer.js
  Framework/Frontend/package-lock.json
  Framework/Frontend/package.json
  Framework/Frontend/test/index-test.js
  Framework/Frontend/test/mocha-index.js
  Framework/package.json
Due: framework

Fix control tests
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1449] Remove cyclic module import (#2232)
  Framework/Frontend/js/src/chart.js
  Framework/Frontend/js/src/icons.js
Due: framework

Refactor LockService to allow for easy future improvements
  Control/lib/services/Lock.service.js
  Control/test/lib/services/mocha-lock.service.test.js
Due: control

Add controller for lock API requests
  Control/lib/api.js
  Control/lib/common/lockActions.enum.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
  Control/test/lib/mocha-lock.test.js
Due: control

Adapt front-end to new lock API
  Control/public/lock/Lock.js
  Control/public/lock/lockPage.js
  Control/public/utilities/jsonPut.js
Due: control

Fix typos and use async/await
  Framework/docs/guide/async-calls.md
Due: framework

Fix spelling mistakes
  Control/lib/api.js
  Control/lib/controllers/Lock.controller.js
Due: control

[OGUI-1448] Refactoring of RemoteData (#2219)
  Control/test/public/page-new-environment-mocha.js
  Framework/Frontend/js/src/RemoteData.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/renderer.js
  Framework/docs/guide/async-calls.md
  QualityControl/jsconfig.json
Due: control, qualitycontrol, framework

[release/web-ui/2.6.0]
  Framework/package-lock.json
  Framework/package.json
Due: framework

[release/web-ui/2.6.0] (#2242)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add GET handler for refreshing configuration
  Control/lib/controllers/Run.controller.js
  Control/test/lib/controllers/mocha-run-controller.test.js
Due: control

Add API endpoint for refreshing calibration config
  Control/lib/api.js
  Control/lib/services/Run.service.js
Due: control

Add rbac middleware on calibration request
  Control/lib/common/role.enum.js
  Control/lib/middleware/role.middleware.js
  Control/test/lib/common/mocha-role-enum.test.js
  Control/test/lib/middleware/mocha-role-middleware.test.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
