Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Improve DCS SOR panel for ECS start activity
  Control/public/app.css
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/enums/DetectorState.enum.js
  Control/public/common/enums/InfoLoggerEnums.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

Rename spelling mistake
  Control/lib/control-core/AliEcsSynchronizer.js
Due: control

Small improvements
  Control/lib/adapters/DcsIntegratedEventAdapter.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
Due: control

Fix lint issues
  Control/lib/adapters/DcsIntegratedEventAdapter.js
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
  Control/lib/control-core/AliEcsSynchronizer.js
  Control/public/app.css
Due: control

Fix lint issues
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
  Control/lib/control-core/AliEcsSynchronizer.js
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

Update name of file
  Control/public/common/enums/InfoLoggerEnums.js
Due: control

Update name of file imported
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

[OGUI-1554]DCS SOR panel (#2601)
  Control/lib/adapters/DcsIntegratedEventAdapter.js
  Control/lib/api.js
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
  Control/lib/control-core/AliEcsSynchronizer.js
  Control/lib/control-core/EnvCache.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/enums/DetectorState.enum.js
  Control/public/common/enums/InfoLoggerEnums.js
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

release bump
  Control/package-lock.json
  Control/package.json
Due: control

release bump (#2623)
  Control/package-lock.json
  Control/package.json
Due: control

Add kafka messages consumer to the Framework
  .github/workflows/proto-sync.yml
  Control/lib/control-core/GrpcProxy.js
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
  Framework/Backend/index.js
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/protobuf/getWebUiProtoIncludeDir.js
  Framework/Backend/protobuf/protos/common.proto
  Framework/Backend/protobuf/protos/events.proto
Due: control, framework

Add kafka messages consumer to Framework
  .github/workflows/proto-sync.yml
  Framework/Backend/index.js
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/protobuf/getWebUiProtoIncludeDir.js
  Framework/Backend/protobuf/protos/common.proto
  Framework/Backend/protobuf/protos/events.proto
  Framework/Backend/test/mocha-kafka.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix imports
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/test/mocha-kafka.js
Due: framework

Fix proto imports
  .github/workflows/proto-sync.yml
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
Due: framework

Add proper test
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/test/mocha-kafka.js
  Framework/package.json
Due: framework

[OGUI-1556] feat(layout): allow modification of existing layouts via JSON file
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
Due: qualitycontrol

Add LayoutView tests, pending review due to failures
  QualityControl/test/mocha-index.js
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/public/serverSetup.js
  QualityControl/test/test-config.js
Due: qualitycontrol

Update ESLINT to include new test framework keywords
  QualityControl/eslint.config.js
Due: qualitycontrol

Remove integration tests as they were moved to FLP side
  QualityControl/test/integration/config-provider.cjs
  QualityControl/test/integration/offline-mode.cjs
  QualityControl/test/integration/online-mode.cjs
  QualityControl/test/integration/qcg-test.cjs
  QualityControl/test/integration/utils.cjs
Due: qualitycontrol

Rename file and export name of test-config file to config
  QualityControl/test/QCModelDemo.js
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/public/index.js
  QualityControl/test/test-config.js
Due: qualitycontrol

Migrate to NodeJS Test Runner
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/common/library/utils/dateTimeFormat.test.js
  QualityControl/test/lib/controllers/LayoutController.test.js
Due: qualitycontrol

Migrate and rename to NodeJS TestRunner
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/config/publicConfig.test.js
Due: qualitycontrol

Migrate and rename to NodeJS TestRunner
  QualityControl/test/lib/controllers/StatusController.test.js
Due: qualitycontrol

Migrate and rename to NodeJS TestRunner
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
Due: qualitycontrol

Migrate and rename to NodeJS TestRunner
  QualityControl/test/lib/services/StatusService.test.js
Due: qualitycontrol

Migrate and rename to NodeJS TestRunner
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Fix some lint configurations
  QualityControl/eslint.config.js
  QualityControl/test/lib/controllers/StatusController.test.js
Due: qualitycontrol

Update GH workflow and package to use new runner
  .github/workflows/qc.yml
  QualityControl/package.json
Due: qualitycontrol

Rename main test-file
  QualityControl/test/test-index.js
Due: qualitycontrol

Update package lint command
  Control/lib/config/publicConfigProvider.js
  QualityControl/package.json
Due: control, qualitycontrol

Swap unwanted changes
  Control/lib/config/publicConfigProvider.js
  QualityControl/lib/config/publicConfigProvider.js
Due: control, qualitycontrol

Update commands in package
  QualityControl/package.json
Due: qualitycontrol

Fix pipeline by making sure gitignore leaves alone the config test file
  QualityControl/.gitignore
  QualityControl/package-lock.json
  QualityControl/test/config.js
  QualityControl/test/lib/config/publicConfig.test.js
Due: qualitycontrol

[OGUI-1560] Migrate QCG test setup to use NodeJS test runner instead of mocha and nyc (#2635)
  .github/workflows/qc.yml
  QualityControl/.gitignore
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/QCModelDemo.js
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/common/library/utils/dateTimeFormat.test.js
  QualityControl/test/config.js
  QualityControl/test/integration/config-provider.cjs
  QualityControl/test/integration/offline-mode.cjs
  QualityControl/test/integration/online-mode.cjs
  QualityControl/test/integration/qcg-test.cjs
  QualityControl/test/integration/utils.cjs
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/config/publicConfig.test.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/controllers/StatusController.test.js
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
  QualityControl/test/public/index.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Add test server setup for FE tests
  QualityControl/test/config.js
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

Add initial tests for FE
  QualityControl/test/public/initialPageSetup.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Update existing tests to new format
  QualityControl/test/public/components/qcDrawingOptions.test.js
  QualityControl/test/public/pages/index.js
Due: qualitycontrol

Run FE tests in headless mode
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

Remove previous test file which was split in multiple components now
  QualityControl/test/public/index.js
Due: qualitycontrol

[OGUI-1561] Add a test setup for the FE tests using NodeJS Test Runner test dependency model (#2636)
  QualityControl/test/config.js
  QualityControl/test/public/components/qcDrawingOptions.test.js
  QualityControl/test/public/index.js
  QualityControl/test/public/initialPageSetup.test.js
  QualityControl/test/public/pages/index.js
  QualityControl/test/setup/testServerSetup.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
