Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Fix show error in importModal if error occurs during importing a new layout (#2809)
  QualityControl/public/layout/panels/importModal.js
Due: qualitycontrol

WIP
  Framework/Backend/http/buildUrl.js
  Framework/Backend/http/parseUrlParameters.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/Frontend/js/src/utilities/parseUrlParameters.js
Due: framework

update config
  QualityControl/docker-compose.dev.yml
  QualityControl/docker-compose.test.yml
  QualityControl/lib/database/index.js
  QualityControl/test/config.js
  QualityControl/test/lib/database/index.test.js
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

Fix frontend buildUrl function to handle building URL with empty existing parameters
  Framework/Backend/http/buildUrl.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/utilities/buildUrl.js
Due: framework

Bump patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Do not trigger reconnecting if client is still connected
  Control/lib/control-core/GrpcServiceClient.js
Due: control

Rename grpcClient across repository from grpcProxy
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/GrpcServiceClient.js
  Control/lib/services/Environment.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
  Control/test/lib/control-core/mocha-control-service.js
Due: control

Add default parameter to config
  Control/config-default.js
Due: control

Add monitor activity for grpcClient
  Control/lib/control-core/GrpcServiceClient.js
Due: control

Instantiate logger in class constructor rather than file load
  Control/lib/control-core/GrpcProxy.js
Due: control

Add a way for the grpcClient to reconnect if first connection is not successful
  Control/lib/control-core/GrpcProxy.js
Due: control

Rename file for improved readability
  Control/lib/control-core/GrpcServiceClient.js
Due: control

Improve documentation and method naming
  Control/lib/control-core/GrpcProxy.js
Due: control

Add tests for GrpcServiceClient
  Control/lib/control-core/GrpcServiceClient.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/control-core/mocha-grpc-service-client.test.js
Due: control

Remove running only one test file
  Control/package.json
Due: control

Fix vulnerability
  Control/package-lock.json
Due: control

Fix frontend buildUrl function to handle building URL with empty existing parameters (#2810)
  Framework/Backend/http/buildUrl.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Update as per comments
  Control/lib/control-core/GrpcServiceClient.js
Due: control

[OGUI-1630] Handle gRPC client lost connection and retry (#2811)
  Control/config-default.js
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/GrpcProxy.js
  Control/lib/control-core/GrpcServiceClient.js
  Control/lib/services/Environment.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/control-core/mocha-apricot.service.test.js
  Control/test/lib/control-core/mocha-control-service.js
  Control/test/lib/control-core/mocha-grpc-service-client.test.js
Due: control

remove force transparent bg to jsroot objects
  QualityControl/public/app.css
Due: qualitycontrol

Move couple of log messages to SUPPORT level
  Control/lib/control-core/RequestHandler.js
Due: control

[OGUI-1582] Move couple of log messages from OPERATIONS to SUPPORT level (#2812)
  Control/lib/control-core/RequestHandler.js
Due: control

Update config-default
  Control/config-default.js
Due: control

add warning components if CRU is missing config
  Control/public/app.css
  Control/public/common/warningComponent.js
  Control/public/configuration/configPage.js
  Control/public/configuration/utils/isValidCruConfig.js
Due: control

Remove console.log message
  Control/public/configuration/configPage.js
Due: control

Add timeouts to jobs on GH actions
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
Due: none

Udpates based on comments
  Control/public/app.css
  Control/public/common/warningComponent.js
  Control/public/configuration/configPage.js
  Control/public/configuration/utils/isValidCruConfig.js
Due: control

[OGUI-1639] Add timeouts to jobs on GH actions (#2815)
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
Due: none

[OGUI-1587] Remove force transparent background in JSROOT objects
  QualityControl/public/app.css
Due: qualitycontrol

Remove unused export
  Control/public/configuration/configPage.js
Due: control

[OGUI-1592] Add warning messages if some CRUs are missing configuration (#2814)
  Control/config-default.js
  Control/public/app.css
  Control/public/common/warningComponent.js
  Control/public/configuration/configPage.js
Due: control

Bump minor version of COG
  Control/package-lock.json
  Control/package.json
Due: control

Bump minor version of COG (#2816)
  Control/package-lock.json
  Control/package.json
Due: control

Bump QCG minor to 3.11.0
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump QCG minor to 3.11.0 (#2817)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

handle error when ccdb version is unable to retrieve
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Due: qualitycontrol

refactor getVersion logic
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

[OGUI-1640] Handle error when ccdb version is unable to be retrieved (#2818)
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Due: qualitycontrol

refactor filter creation
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterTypes.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/layout/view/panels/filtersConfig.js
Due: qualitycontrol

Detector service should return JS native error instead of grpc one
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Detector.service.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
