Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-1386] Add services versions to about page (#2052)
  QualityControl/README.md
  QualityControl/config-default.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/Status.service.js
  QualityControl/public/frameworkInfo/FrameworkInfo.js
  QualityControl/test/lib/controllers/status-controller.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/lib/services/status-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Run Status checks in parallel and improve naming
  QualityControl/lib/services/Status.service.js
Due: qualitycontrol

Update tests accordingly
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol

Add error types and managers for gRPC and Express
  Framework/Backend/errors/InvalidInputError.js
  Framework/Backend/errors/NotFoundError.js
  Framework/Backend/errors/ServiceUnavailableError.js
  Framework/Backend/errors/TimeoutError.js
  Framework/Backend/errors/UnauthorizedAccessError.js
  Framework/Backend/errors/grpcErrorToNativeError.js
  Framework/Backend/errors/updateExpressResponseFromNativeError.js
  Framework/Backend/test/errors/mocha-grpcErrorToNativeError.js
  Framework/Backend/test/errors/mocha-updateExpressResponseFromNativeError.js
Due: framework

[OGUI-1386] Run Status checks in parallel and improve naming (#2053)
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol

Update grammar mistake
  Framework/Backend/errors/InvalidInputError.js
Due: framework

[OGUI-1387] Add error types and managers for gRPC and Express (#2054)
  Framework/Backend/errors/InvalidInputError.js
  Framework/Backend/errors/NotFoundError.js
  Framework/Backend/errors/ServiceUnavailableError.js
  Framework/Backend/errors/TimeoutError.js
  Framework/Backend/errors/UnauthorizedAccessError.js
  Framework/Backend/errors/grpcErrorToNativeError.js
  Framework/Backend/errors/updateExpressResponseFromNativeError.js
  Framework/Backend/test/errors/mocha-grpcErrorToNativeError.js
  Framework/Backend/test/errors/mocha-updateExpressResponseFromNativeError.js
Due: framework

Bump minor version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

release/qcg/3.4.0 (#2055)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update PROTO files from AliECS
  Control/protobuf/o2control.proto
Due: control

Add test cases for controlling environment
  Control/test/config/core-grpc.js
  Control/test/public/page-environment-mocha.js
Due: control

Hide button for controlling environment if condition not satisfied
  Control/public/environment/components/environmentPanel.js
Due: control

[OGUI-1393] Admins should be able to control env in any scenario (#2061)
  Control/public/environment/components/environmentPanel.js
  Control/test/config/core-grpc.js
  Control/test/public/page-environment-mocha.js
Due: control

Remove usage of legacy url module
  Control/lib/services/Intervals.service.js
  Control/lib/services/Status.service.js
  Control/lib/utils.js
Due: control

[OGUI-1384] Remove usage of legacy url module (#2062)
  Control/lib/services/Intervals.service.js
  Control/lib/services/Status.service.js
  Control/lib/utils.js
Due: control

Display transition and prevent control of env
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentsPage.js
Due: control

Better title information for button control
  Control/public/environment/components/controlEnvironmentPanel.js
Due: control

[OGUI-1394] Display transitino step of environment and prevent users controlof env (#2068)
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentsPage.js
Due: control

Check for missing data on services
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
Due: control

[OGUI-1395] Check for missing data on services (#2073)
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
Due: control

Move hardware counters to backend
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/TaskInfoAdapter.js
  Control/lib/api.js
  Control/lib/services/Environment.service.js
  Control/lib/typedefs/DeviceInfo.js
  Control/lib/typedefs/EnvironmentInfo.js
  Control/lib/typedefs/TaskInfo.js
  Control/test/lib/adapters/mocha-environment-info-adapter.test.js
  Control/test/lib/adapters/mocha-task-info-adapter.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Adapt front-end based on change of counters
  Control/public/app.css
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
  Control/test/public/page-environment-mocha.js
Due: control

[OGUI-1396] Hardware counters are calculated on the backend (#2074)
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/TaskInfoAdapter.js
  Control/lib/api.js
  Control/lib/services/Environment.service.js
  Control/lib/typedefs/DeviceInfo.js
  Control/lib/typedefs/EnvironmentInfo.js
  Control/lib/typedefs/TaskInfo.js
  Control/public/app.css
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
  Control/test/lib/adapters/mocha-environment-info-adapter.test.js
  Control/test/lib/adapters/mocha-task-info-adapter.test.js
  Control/test/lib/services/mocha-environment.service.test.js
  Control/test/public/page-environment-mocha.js
Due: control

[O2B-958] Allow mounting object-based view
  Framework/Frontend/js/src/renderer.js
Due: framework

Add route parameter to include tasks or not
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Environment.service.js
  Control/lib/typedefs/OdcIntegratedServiceInfo.js
  Control/test/lib/adapters/mocha-environment-info.adapter.test.js
  Control/test/lib/adapters/mocha-task-info.adapter.test.js
Due: control

Add tabbing for front-end to display tasks
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/utilities/currentPageAndParameters.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-1397] Add panels to display env tasks and way of retrieving only specified data (#2076)
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Environment.service.js
  Control/lib/typedefs/OdcIntegratedServiceInfo.js
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/utilities/currentPageAndParameters.js
  Control/test/lib/adapters/mocha-environment-info.adapter.test.js
  Control/test/lib/adapters/mocha-task-info.adapter.test.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
Due: control

Bump version minor
  Control/package-lock.json
  Control/package.json
Due: control

[release/cog/1.61.0] (#2077)
  Control/package-lock.json
  Control/package.json
Due: control

[O2B-958] Allow mounting object-based view (#2075)
  Framework/Frontend/js/src/renderer.js
Due: framework

[release/web-ui/2.4.0]
  Framework/package-lock.json
  Framework/package.json
Due: framework

[release/web-ui/2.4.0] (#2078)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Remove file which appeared from renaming
  Control/test/lib/services/mocha-environment.service.js
Due: control

[OGUI-1388] Refactor of QCG object retrieval based on new QC logic (#2079)
  QualityControl/.eslintrc
  QualityControl/common/library/typedef/QcObject.js
  QualityControl/common/library/typedef/QcObjectLeaf.js
  QualityControl/common/library/utils/dateTimeFormat.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/dtos/QcObjectIdentificationDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/Status.service.js
  QualityControl/lib/services/ccdb/CcdbConstants.js
  QualityControl/lib/services/ccdb/CcdbObjectIdentification.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/frameworkInfo/frameworkInfoHeader.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/QCModelDemo.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
Due: qualitycontrol

Bump QCG version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump QCG version (#2083)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1388] Display validFrom instead of createdAt value:
  QualityControl/public/common/object/dateSelector.js
Due: qualitycontrol

[OGUI-1388] Display validFrom instead of createdAt value: (#2084)
  QualityControl/public/common/object/dateSelector.js
Due: qualitycontrol

Update method name following refactor
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
