Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-810] Update config files location
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/configProvider.js
  QualityControl/public/config/public.js
Due: qualitycontrol

[OGUI-810] Update gitignore and Readme
  QualityControl/.gitignore
  QualityControl/README.md
Due: qualitycontrol

[OGUI-810] Update public configuration service
  QualityControl/lib/config/localConfig.js
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[O2-2245] Bump NodeJS version
  .github/workflows/qc.yml
Due: none

[O2-2245] Bump NodeJS for COG
  .github/workflows/control.yml
Due: none

[O2-2245 Bump NodeJS for framework
  .github/workflows/framework.yml
Due: none

[O2-2245] Bump NodeJS for ILG
  .github/workflows/infologger.yml
Due: none

[O2-2245 Bump NodeJS for release
  .github/workflows/release.yml
Due: none

[OGUI-810] Update module name
  QualityControl/index.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/index.html
Due: qualitycontrol

[OGUI-810] Update tests
  QualityControl/.gitignore
  QualityControl/test/lib/mocha-public-config.js
  QualityControl/test/lib/mocha-status-service.js
  QualityControl/test/public/mocha-index.js
  QualityControl/test/test-config.js
Due: qualitycontrol

[O2-2245] Update TypeError following NodeJS Upgrade
  QualityControl/test/lib/mocha-json-db.js
Due: qualitycontrol

[O2-2245] Update ILG tests follwoing NodeJS upgrade
  InfoLogger/test/lib/mocha-json-db.js
Due: infologger

[O2-2245] Update NodeJS min requirement
  Framework/README.md
  InfoLogger/README.md
Due: infologger, framework

[O2-2245] Update NodeJS min requirement
  Control/README.md
  QualityControl/README.md
Due: control, qualitycontrol

[O2-2245] Bump NodeJS version (#731)
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
  Control/README.md
  Framework/README.md
  InfoLogger/README.md
  InfoLogger/test/lib/mocha-json-db.js
  QualityControl/README.md
  QualityControl/test/lib/mocha-json-db.js
Due: control, qualitycontrol, infologger, framework

[O2-2245] Fix eslint issue
  QualityControl/lib/config/publicConfigProvider.js
Due: qualitycontrol

[OGUI-810] Enable tests for public config
  QualityControl/public/index.html
  QualityControl/test/lib/mocha-public-config.js
Due: qualitycontrol

[OGUI-810] Load public configuration with index page (#732)
  QualityControl/.gitignore
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/configProvider.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/mocha-public-config.js
  QualityControl/test/lib/mocha-status-service.js
  QualityControl/test/public/mocha-index.js
  QualityControl/test/test-config.js
Due: qualitycontrol

[OGUI-741] Add refreshrate to public config
  QualityControl/config-default.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/common/sidebar.js
Due: qualitycontrol

[OGUI-741] Update eslint to allow for optional chaining
  .eslintrc.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-741] Disable eslint for async call
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-741] Increase default values for refresh
  QualityControl/lib/config/publicConfigProvider.js
Due: qualitycontrol

[OGUI-741] Update test values
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-741] Configurable refresh rate (#733)
  .eslintrc.js
  QualityControl/config-default.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/common/sidebar.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-835] Consul Request should not be done if service is not configured
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-835] Consul Request should not be done if service is not configured (#734)
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-836] Fix eslint issue
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-836] Remove uneeded than
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-836] Remove painter
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-807] Load layout objects in parallel
  QualityControl/public/object/QCObject.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-807] Display invalid objects as well
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-807] Refactor obj service
  QualityControl/public/object/QCObject.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-838] Bump Eslint across projects
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: control, infologger, framework

[OGUI-838] Fix eslint
  Control/lib/ConsulConnector.js
Due: control

[OGUI-838] Update eslint across projects (#737)
  Control/lib/ConsulConnector.js
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: control, infologger, framework

[OGUI-843] Add public config provider module
  Control/lib/config/configProvider.js
  Control/lib/config/publicConfigProvider.js
Due: control

[OGUI-843] Make use of new config module
  Control/.gitignore
  Control/index.js
  Control/lib/api.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/index.html
Due: control

[OGUI-843] Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

Sync proto file from Control repo
  Control/protobuf/o2control.proto
Due: control

[OGUI-843] Add tests and fix configuration
  Control/lib/config/publicConfigProvider.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Due: control
