Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Test share button with a stale address bar
  InfoLogger/test/public/share-mocha.js
Due: infologger

Refactor filter tests to avoid string duplication
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Update share button title and fix import
  InfoLogger/public/log/commandLogs.js
  InfoLogger/test/mocha-index.js
Due: infologger

Fix Shift+arrow log selection extension
  InfoLogger/public/Model.js
  InfoLogger/public/log/LogSelection.js
Due: infologger

Fix drag selection triggering on key events
  InfoLogger/public/log/tableLogsContent.js
Due: infologger

Add test about selection via keyboard
  InfoLogger/test/public/context-menu-test-utils.js
  InfoLogger/test/public/query-mode-mocha.js
  InfoLogger/test/utils/utils.js
Due: infologger

Add missing semicolon in query test
  InfoLogger/test/public/query-mode-mocha.js
Due: infologger

Upate codeowners
  .github/CODEOWNERS
Due: none

Upate codeowners (#3593)
  .github/CODEOWNERS
Due: none

Remove duplicated jsdoc plugin
  Framework/eslint.config.js
Due: framework

Fix spacing of eslint
  Framework/eslint.config.js
Due: framework

Encode filter query in route updates
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Adjust filter URL encoding assertions
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Reduce line length eslint problems in tests
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Fix incomplete thought in updating test line length
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Make test independent on conditions before it
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Add round-trip testing for the URL filters
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/log-filter-actions-mocha.js
  InfoLogger/test/public/log-filter-url-mocha.js
Due: infologger

Move filter query string logic to LogFilter
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Make copy button style configurable
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Add copy URL action to command logs
  InfoLogger/public/index.js
  InfoLogger/public/log/commandLogs.js
Due: infologger

Fix copy url value
  InfoLogger/public/log/commandLogs.js
Due: infologger

Remove redundant new line decoding
  InfoLogger/public/Model.js
Due: infologger

Fix JSDOC
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Fix tooltip text when no disabled message
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Improve clipboard button docs and accessibility
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

More JSDoc
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Fix copying/pasting error
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Await clipboard writes in copy component
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Clarify onFailure callback type
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Handle clipboard copy failures
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Stealth fix to restart the success timer if clicked before completed
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Make clipboard component more readable
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Simplify clipboard button styling
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
