Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-1838] Change raw view to be an editable modal (#3218)
  Configuration/webapp/app/components/form/Form.tsx
  Configuration/webapp/app/components/form/components/AccordionHeader.tsx
  Configuration/webapp/app/components/form/raw-view/RawEditor.tsx
  Configuration/webapp/app/components/form/raw-view/RawViewModal.tsx
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/test/public/rawViewModal.spec.ts
Due: none

fix: handleSaveAndProceed button action
  Configuration/webapp/app/routes/configuration.tsx
Due: none

fix: saving configuration
  Configuration/webapp/app/api/mutations/useConfigurationMutation.ts
Due: none

lint: linting changes to previous commit
  Tokenization/webapp/app/feature/token/components/token-filters/TokenFiltersRow.tsx
  Tokenization/webapp/app/feature/token/components/token-filters/index.tsx
  Tokenization/webapp/app/feature/token/components/token-table/ActionBlock.tsx
  Tokenization/webapp/app/feature/token/components/token-table/TokenTableContainer.tsx
  Tokenization/webapp/app/feature/token/components/token-table/TokenTableWindows.tsx
  Tokenization/webapp/app/feature/token/components/token-table/index.tsx
  Tokenization/webapp/app/feature/token/components/token-table/token-table-alerts/index.tsx
  Tokenization/webapp/app/feature/token/components/token-table/token-table-modals/TokenModalBan.tsx
  Tokenization/webapp/app/feature/token/components/token-table/token-table-modals/TokenModalUnban.tsx
  Tokenization/webapp/app/feature/token/components/token-table/token-table-modals/index.tsx
  Tokenization/webapp/app/feature/token/contexts/token-table.tsx
  Tokenization/webapp/app/feature/token/hooks/token-table/index.tsx
  Tokenization/webapp/app/feature/token/hooks/token-table/useTokenTableFetchers.tsx
  Tokenization/webapp/app/feature/token/routes/token-ban.tsx
  Tokenization/webapp/app/feature/token/routes/token-filter.tsx
  Tokenization/webapp/app/feature/token/routes/token-unban.tsx
  Tokenization/webapp/app/feature/token/views/token-overview.tsx
  Tokenization/webapp/app/feature/token/views/token-table.tsx
  Tokenization/webapp/app/shared/components/form/hooks/useForm.tsx
  Tokenization/webapp/app/shared/components/table/table-base.tsx
Due: none

Token details feature refactor
  Tokenization/webapp/app/feature/token/components/token-details/TokenDetailsWindows.tsx
  Tokenization/webapp/app/feature/token/components/token-details/index.tsx
  Tokenization/webapp/app/feature/token/components/token-table/token-table-modals/ModalTokenView.tsx
  Tokenization/webapp/app/feature/token/components/token-table/token-table-modals/index.tsx
  Tokenization/webapp/app/feature/token/contexts/token-table.tsx
  Tokenization/webapp/app/feature/token/hooks/token-table/index.tsx
  Tokenization/webapp/app/feature/token/hooks/useTokenModalHandlers.tsx
  Tokenization/webapp/app/feature/token/routes/token-filter.tsx
  Tokenization/webapp/app/feature/token/views/token-details.tsx
Due: none

Move files
  Tokenization/webapp/app/feature/token/components/token-alerts/AlertContent.ts
  Tokenization/webapp/app/feature/token/components/token-alerts/index.tsx
  Tokenization/webapp/app/feature/token/components/token-details/TokenDetailsWindows.tsx
  Tokenization/webapp/app/feature/token/components/token-modals/ModalTokenView.tsx
  Tokenization/webapp/app/feature/token/components/token-modals/TokenModalBan.tsx
  Tokenization/webapp/app/feature/token/components/token-modals/TokenModalUnban.tsx
  Tokenization/webapp/app/feature/token/components/token-modals/index.tsx
  Tokenization/webapp/app/feature/token/components/token-table/TokenTableWindows.tsx
  Tokenization/webapp/app/feature/token/contexts/token-table.tsx
  Tokenization/webapp/app/feature/token/hooks/useTokenModalHandlers.tsx
Due: none

Deleting not useful elements
  Tokenization/webapp/app/feature/token/components/token-filters/index.tsx
  Tokenization/webapp/app/feature/token/components/token-table/index.tsx
  Tokenization/webapp/app/feature/token/routes/token-filter.tsx
  Tokenization/webapp/app/shared/components/form/hooks/useForm.tsx
Due: none

fix: form not hydrating properly
  Configuration/webapp/app/components/form/Form.tsx
Due: none

fix: refactor how getDefaultValues works with arrays
  Configuration/webapp/app/components/form/types/helpers.ts
  Configuration/webapp/app/components/form/utils/getDefaultValuesFromConfigObject.ts
Due: none

[OGUI-1803] Add Restrictions for arrays (#3211)
  Configuration/webapp/app/api/query/useConfigurationQuery.ts
  Configuration/webapp/app/api/query/useConfigurationRestrictionsQuery.ts
  Configuration/webapp/app/components/form/Form.tsx
  Configuration/webapp/app/components/form/components/Widget.tsx
  Configuration/webapp/app/components/form/components/widgets/ArrayWidget.tsx
  Configuration/webapp/app/components/form/components/widgets/ObjectWidget.tsx
  Configuration/webapp/app/components/form/types/helpers.ts
  Configuration/webapp/app/components/form/types/index.d.ts
  Configuration/webapp/app/components/form/utils/getDefaultValuesFromConfigObject.ts
  Configuration/webapp/app/components/form/widgets/FormNumberInput.tsx
  Configuration/webapp/app/components/form/widgets/FormTextInput.tsx
  Configuration/webapp/app/components/form/widgets/FormToggleInput.tsx
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/app/routes/configuration.tsx
  Control/lib/adapters/QCConfigurationAdapter.js
  Control/lib/services/QCConfiguration.service.js
  Control/lib/typedefs/Restrictions.js
  Control/test/lib/adapters/mocha-consul-configuration.adapter.test.js
Due: control

fix: eslint
  Configuration/webapp/app/hooks/useConfigurationForm.tsx
Due: none

[OGUI-1833] Handle multiple forms navigation (#3226)
  Configuration/webapp/app/components/form/components/UnsavedChangesModal.tsx
  Configuration/webapp/app/components/form/components/widgets/FormTextInput.tsx
  Configuration/webapp/app/hooks/useConfigurationForm.tsx
  Configuration/webapp/app/hooks/useUnsavedChangesBlocker.tsx
  Configuration/webapp/app/routes/configuration.tsx
Due: none

fix: eslint
  Configuration/webapp/app/api/mutations/useConfigurationMutation.ts
  Configuration/webapp/app/components/form/utils/convertFormValuesToConfigObject.ts
Due: none

[OGUI-1834] Saving QC configuration (#3227)
  Configuration/webapp/app/api/mutations/useConfigurationMutation.ts
  Configuration/webapp/app/components/form/utils/convertFormValuesToConfigObject.ts
  Configuration/webapp/app/hooks/useConfigurationForm.tsx
  Configuration/webapp/app/routes/configuration.tsx
Due: none

Refactor the response object of `retrieveRunStatus` and rename it to `retrieveRunInformation`
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/test/lib/controllers/FiltersController.test.js
  QualityControl/test/lib/services/BookkeepingService.test.js
  QualityControl/test/lib/services/FilterService.test.js
  QualityControl/test/lib/services/RunModeService.test.js
Due: qualitycontrol

layout for the application using material-UI library - simple admin interface
  Tokenization/webapp/app/components/tokens/action-block.tsx
  Tokenization/webapp/app/components/tokens/token-logs.tsx
  Tokenization/webapp/app/feature/auth/contexts/sessionContext.tsx
  Tokenization/webapp/app/feature/auth/hooks/session.tsx
  Tokenization/webapp/app/feature/service-routes/routes/details.tsx
  Tokenization/webapp/app/feature/service-routes/routes/mapping.tsx
  Tokenization/webapp/app/feature/service-routes/routes/overview.tsx
  Tokenization/webapp/app/feature/service/routes/details.tsx
  Tokenization/webapp/app/feature/service/routes/overview.tsx
  Tokenization/webapp/app/feature/service/routes/registration.tsx
  Tokenization/webapp/app/feature/token/components/token-filters-form.tsx
  Tokenization/webapp/app/feature/token/components/token-table.tsx
  Tokenization/webapp/app/feature/token/hooks/useServicesOptions.ts
  Tokenization/webapp/app/feature/token/mocks/services.mock.ts
  Tokenization/webapp/app/feature/token/mocks/tokens.mock.ts
  Tokenization/webapp/app/feature/token/routes/archived.tsx
  Tokenization/webapp/app/feature/token/routes/details.tsx
  Tokenization/webapp/app/feature/token/routes/overview.tsx
  Tokenization/webapp/app/feature/token/services/service-options.service.ts
  Tokenization/webapp/app/feature/token/types/log.ts
  Tokenization/webapp/app/feature/token/types/token.ts
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/routes/tokens/details.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/shared/components/data-table.tsx
  Tokenization/webapp/app/shared/components/form/multi-select-field.tsx
  Tokenization/webapp/app/shared/components/form/styled-text-field.tsx
  Tokenization/webapp/app/ui/alert/alert-provider.tsx
  Tokenization/webapp/app/ui/header.tsx
  Tokenization/webapp/app/ui/header/headerContext.tsx
  Tokenization/webapp/app/ui/layout.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/sidebar.tsx
  Tokenization/webapp/app/utils/fetchClient.tsx
  Tokenization/webapp/app/utils/fetcher.tsx
  Tokenization/webapp/package.json
Due: none

All functionalities of token route is implemented
  Tokenization/webapp/app/feature/auth/hooks/session.tsx
  Tokenization/webapp/app/feature/service-routes/routes/details.tsx
  Tokenization/webapp/app/feature/service-routes/routes/mapping.tsx
  Tokenization/webapp/app/feature/service-routes/routes/overview.tsx
  Tokenization/webapp/app/feature/service/routes/details.tsx
  Tokenization/webapp/app/feature/service/routes/overview.tsx
  Tokenization/webapp/app/feature/service/routes/registration.tsx
  Tokenization/webapp/app/feature/token/api/mutations.ts
  Tokenization/webapp/app/feature/token/api/queries.ts
  Tokenization/webapp/app/feature/token/components/token-filters-form.tsx
  Tokenization/webapp/app/feature/token/components/token-table.tsx
  Tokenization/webapp/app/feature/token/hooks/useRevokeActions.tsx
  Tokenization/webapp/app/feature/token/hooks/useServicesOptions.ts
  Tokenization/webapp/app/feature/token/hooks/useTokenFiltersPanel.ts
  Tokenization/webapp/app/feature/token/mocks/services.mock.ts
  Tokenization/webapp/app/feature/token/mocks/tokens.mock.ts
  Tokenization/webapp/app/feature/token/routes/archived.tsx
  Tokenization/webapp/app/feature/token/routes/details.tsx
  Tokenization/webapp/app/feature/token/routes/overview.tsx
  Tokenization/webapp/app/feature/token/services/token-filters.service.ts
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
  Tokenization/webapp/app/feature/token/types/token-filters.ts
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/shared/components/data-table.tsx
  Tokenization/webapp/app/shared/components/form/multi-select-field.tsx
  Tokenization/webapp/app/shared/components/order/ordering-control.tsx
  Tokenization/webapp/app/shared/hooks/useAlert.tsx
  Tokenization/webapp/app/shared/hooks/useDebouncedValue.ts
  Tokenization/webapp/app/shared/hooks/useModal.tsx
  Tokenization/webapp/app/ui/alert/alert-provider.tsx
  Tokenization/webapp/app/ui/alert/constants.ts
  Tokenization/webapp/app/ui/header.tsx
  Tokenization/webapp/app/ui/layout.tsx
  Tokenization/webapp/app/ui/modal/modal-provider.tsx
  Tokenization/webapp/app/ui/sidebar.tsx
Due: none

fix: vault key type change
  Tokenization/docker/vault/vault-setup.sh
Due: none

feat: move edit tabs to subrow
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Fix unreliable test by stabilizing timestamp value
  QualityControl/test/lib/services/external/AliEcsSynchronizer.test.js
Due: qualitycontrol

Revert 95e03526c8f3877edc1011c2fa64dafc3303423c
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/test/lib/controllers/FiltersController.test.js
  QualityControl/test/lib/services/BookkeepingService.test.js
  QualityControl/test/lib/services/FilterService.test.js
  QualityControl/test/lib/services/RunModeService.test.js
Due: qualitycontrol

adding token logs with mocked informations
  Tokenization/webapp/app/feature/token/api/mutations.ts
  Tokenization/webapp/app/feature/token/api/queries.ts
  Tokenization/webapp/app/feature/token/mocks/token-logs.mock.ts
  Tokenization/webapp/app/feature/token/mocks/tokens.mock.ts
  Tokenization/webapp/app/feature/token/routes/archived.tsx
  Tokenization/webapp/app/feature/token/routes/details.tsx
  Tokenization/webapp/app/feature/token/routes/overview.tsx
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
  Tokenization/webapp/app/feature/token/types/token.ts
Due: none

fix: drawing options handling and setting non-recognized options
  QualityControl/public/common/constants/drawingOptions.js
  QualityControl/public/common/object/objectDrawingOptions.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
Due: qualitycontrol

Service overview similar to the active token and archived token overview created.. It's logically almost the same so there is a way to refactor in the future
  Tokenization/webapp/app/feature/service/api/queries.ts
  Tokenization/webapp/app/feature/service/components/service-filters-form.tsx
  Tokenization/webapp/app/feature/service/components/service-table.tsx
  Tokenization/webapp/app/feature/service/hooks/useServiceFiltersPanel.ts
  Tokenization/webapp/app/feature/service/mocks/services.mock.ts
  Tokenization/webapp/app/feature/service/routes/overview.tsx
  Tokenization/webapp/app/feature/service/services/service-filters.service.ts
  Tokenization/webapp/app/feature/service/services/services.service.ts
  Tokenization/webapp/app/feature/service/types/service-filters.ts
  Tokenization/webapp/app/feature/service/types/service.ts
Due: none

Service registration flow created as it was.
  Tokenization/webapp/app/feature/service/routes/registration.tsx
  Tokenization/webapp/app/feature/service/services/certificate-registration.service.ts
  Tokenization/webapp/app/feature/service/types/certificate.ts
  Tokenization/webapp/app/feature/token/hooks/useRevokeActions.tsx
  Tokenization/webapp/app/ui/modal/modal-provider.tsx
Due: none

fix: ensure non-recognized drawing options are displayed only when present
  QualityControl/public/common/object/objectDrawingOptions.js
Due: qualitycontrol

Sending certificate file now is supported with tanstack management with onSuccess and onError callbacks
  Tokenization/webapp/app/feature/service/api/mutations.ts
  Tokenization/webapp/app/feature/service/api/queries.ts
  Tokenization/webapp/app/feature/service/routes/registration.tsx
  Tokenization/webapp/app/feature/service/services/service-details.service.ts
Due: none

Fix errors on tokens page with filtering tokens
  Tokenization/webapp/app/feature/token/components/token-filters-form.tsx
  Tokenization/webapp/app/feature/token/hooks/useRevokeActions.tsx
  Tokenization/webapp/app/feature/token/routes/archived.tsx
  Tokenization/webapp/app/feature/token/routes/overview.tsx
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
Due: none

[qcg] Fix unreliable test by stabilizing timestamp value (#3230)
  QualityControl/test/lib/services/external/AliEcsSynchronizer.test.js
Due: qualitycontrol

Certificate renewal added as a new route in project along searching service by its name. Only thing left is adding routes mapping and connect all with Damian backend.
  Tokenization/webapp/app/feature/service/api/mutations.ts
  Tokenization/webapp/app/feature/service/components/service-filters-form.tsx
  Tokenization/webapp/app/feature/service/components/service-table.tsx
  Tokenization/webapp/app/feature/service/mocks/services.mock.ts
  Tokenization/webapp/app/feature/service/routes/details.tsx
  Tokenization/webapp/app/feature/service/routes/renew.tsx
  Tokenization/webapp/app/feature/service/services/service-details.service.ts
  Tokenization/webapp/app/feature/service/services/service-filters.service.ts
  Tokenization/webapp/app/feature/service/services/services.service.ts
  Tokenization/webapp/app/feature/service/types/service-filters.ts
  Tokenization/webapp/app/feature/token/components/token-table.tsx
  Tokenization/webapp/app/feature/token/mocks/tokens.mock.ts
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/shared/components/data-table.tsx
  Tokenization/webapp/app/ui/layout.tsx
  Tokenization/webapp/app/ui/sidebar.tsx
Due: none

Add panel with run information in QCG under filters
  QualityControl/public/Model.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/services/Filter.service.js
  QualityControl/test/public/features/runMode.test.js
Due: qualitycontrol

Rewrite updateRunInformation so that it doesn't rely on runNumber to be set. Clear runInformation on clearFilters()
  QualityControl/public/common/filters/model/FilterModel.js
Due: qualitycontrol

Use `pathToFileURL` for dynamic import of config file
  QualityControl/lib/config/configProvider.js
Due: qualitycontrol

Add and use BookkeepingDto.js
  QualityControl/lib/dtos/BookkeepingDto.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/test/lib/services/FilterService.test.js
Due: qualitycontrol

Remove unused variable
  QualityControl/test/lib/services/FilterService.test.js
Due: qualitycontrol

Fix tree table rendering by flattening recursive rows with flatMap
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Optimize tree open/close operations by only calling notify() at the end
  QualityControl/public/object/ObjectTree.class.js
Due: qualitycontrol

Fix useless conditional
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Tree stores expanded state of nodes in local storage
  QualityControl/public/common/enums/storageKeys.enum.js
  QualityControl/public/object/ObjectTree.class.js
Due: qualitycontrol

Add a quick (and hacky) workaround for local storage reset due to non-isolated tests.
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
