Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Remove no-cond-assign
  .eslintrc.js
Due: none

[OGUI-679] Bump framework deps (#625)
  .eslintrc.js
  Framework/Frontend/js/src/renderer.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump framework version to 1.13.3
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-681] Add backend service for retrieving status
  QualityControl/lib/QCModel.js
  QualityControl/lib/StatusService.js
  QualityControl/lib/api.js
Due: qualitycontrol

[OGUI-681] Add status information to the user
  QualityControl/public/frameworkInfo/frameworkInfoPage.js
Due: qualitycontrol

[OGUI-681] Fix front-end tests
  QualityControl/lib/QCModelDemo.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-681] Improve naming and add tests for status service
  QualityControl/lib/StatusService.js
  QualityControl/test/lib/mocha-status-service.js
Due: qualitycontrol

[OGUI-681] Bump dependencies and version minor
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-682] Add Status Service
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/public/about/about.component.js
  InfoLogger/public/view.js
Due: infologger

[OGUI-682] Bump Version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-682] Add tests for status service
  InfoLogger/lib/StatusService.js
  InfoLogger/package-lock.json
  InfoLogger/test/lib/mocha-status-service.js
  InfoLogger/test/test-config.js
Due: infologger

[OGUI-682] Fix general tests
  InfoLogger/test/lib/mocha-status-service.js
  InfoLogger/test/test-config.js
Due: infologger

[OGUI-681] Convert QCG About Page to Status Page (#627)
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/StatusService.js
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/frameworkInfo/frameworkInfoPage.js
  QualityControl/test/lib/mocha-status-service.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-674] Disable objects search box while quering
  QualityControl/public/object/objectTreeHeader.js
Due: qualitycontrol

[OGUI-674] Staging
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/virtualTable.js
Due: qualitycontrol

First prototype
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
Due: framework

Improvs
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
Due: framework

remove static method
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

simple version
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

update guide
  Framework/docs/guide/logging.md
Due: framework

Make it more secure
  Framework/Backend/config-default.json
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/docs/guide/logging.md
Due: framework

enable by default
  Framework/docs/guide/logging.md
Due: framework

adapt config
  Framework/Backend/config-default.json
Due: framework

[OGUI-682] Add status variable
  Framework/Backend/log/InfoLoggerReceiver.js
  InfoLogger/lib/StatusService.js
  InfoLogger/test/lib/mocha-infologgerreceiver.js
  InfoLogger/test/live-simulator/infoLoggerServer.js
Due: infologger, framework

fix
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
Due: framework

[OGUI-686] Fix passing log messages to InfoLogger (#629)
  Framework/Backend/config-default.json
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/docs/guide/logging.md
Due: framework

Allow setting CORS
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

fix
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

[OGUI-684] Staging
  Control/lib/ConsulConnector.js
  Control/lib/api.js
Due: control

[OGUI-684] Add beta configuration page
  Control/public/app.css
  Control/public/configuration/configPage.js
  Control/public/view.js
Due: control

[OGUI-701] Separate readout_cfg_uri panels
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/public/workflow/flpSelectionPanel.js
Due: control

[OGUI-701] Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-701] Bump WebUI patch
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-701] Fix double selection of readout path configuration file (#631)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/public/workflow/flpSelectionPanel.js
Due: control

[OGUI-684] Staging
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/package.json
  Control/public/configuration/Configuration.js
Due: control

[OGUI-703] Update ConsulConnector to send readoutpath
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/test-config.js
Due: control

[OGUI-703] Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-703] Downgrade es-lint
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-703] Add prefix to readout if consul
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/public/workflow/variablePanels/advancedPanel.js
  Control/public/workflow/variablePanels/basicPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-703] End path with /
  Control/config-default.js
  Control/lib/ConsulConnector.js
Due: control

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
