Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Bump version patch
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix security vulnerability
  Framework/package-lock.json
Due: framework

Improve doc on customizable protobuf
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
Due: framework

Revert change on location of common.proto file
  Framework/Backend/protobuf/protos/common.proto
Due: framework

Wait for message to be processed before moving on to next
  Framework/Backend/kafka/KafkaMessagesConsumer.js
Due: framework

[OGUI-1744] Fix non-waiting for handling of Kafka messages and release (#2989)
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

feat: refactor code for command design pattern
  Tokenization/backend/wrapper/src/central/CentralSystem.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/EventManagement/CentralCommandDispatcher.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/EventManagement/EventDispatcher.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/commands.model.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
Due: none

feat: unit tests for token revokation
  Tokenization/backend/wrapper/src/client/Commands/revokeToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/index.ts
Due: none

feat: implement token revokation logic and testing
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/src/central/CentralSystem.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/EventManagement/CentralCommandDispatcher.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/commands.model.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/proto/wrapper.proto
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
Due: none

feat: implement connection direction info inside of payload
  Tokenization/backend/wrapper/src/central/CentralSystem.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/proto/wrapper.proto
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
Due: none

fix: fix tests
  Tokenization/backend/wrapper/src/test/central/CentralSystem.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
  Tokenization/backend/wrapper/tsconfig.build.json
Due: none

feat: implement command for new token from central system
  Tokenization/backend/wrapper/src/central/CentralSystem.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.handler.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken/revokeToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
Due: none

Improve removal of bad hosts util function
  Control/lib/control-core/CoreUtils.js
  Control/test/lib/mocha-core-utils.test.js
Due: control

Remove unused variables
  Control/lib/control-core/CoreUtils.js
Due: control

Fix lint issue
  Control/lib/control-core/CoreUtils.js
Due: control

Improve workflow template service and tests
  Control/lib/common/kvStore/runtime.enum.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Due: control

feat: add missing comments, banners and tests
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/scripts/banner.js
  Tokenization/backend/wrapper/src/central/CentralSystem.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.handler.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken/revokeToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/EventManagement/CentralCommandDispatcher.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/commands.model.ts
  Tokenization/backend/wrapper/src/models/connection.model.ts
  Tokenization/backend/wrapper/src/test/central/CentralSystem.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/index.ts
  Tokenization/backend/wrapper/src/utils/types/webui.d.ts
Due: none

fix: fixed banner processing. removed console logs
  Tokenization/backend/wrapper/scripts/banner.js
  Tokenization/backend/wrapper/src/client/ConnectionManager/EventManagement/CentralCommandDispatcher.ts
  Tokenization/backend/wrapper/src/proto/wrapper.proto
  Tokenization/backend/wrapper/src/utils/types/webui.d.ts
Due: none

Improve deployment service and its tests
  Control/lib/services/Deployment.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/services/mocha-deployment.service.test.js
Due: control

Fix lint issues
  Control/lib/services/Deployment.service.js
  Control/lib/services/WorkflowTemplate.service.js
Due: control

[OGUI-1673] Add deployment service and update accordingly existing request handler (#2878)
  Control/lib/common/kvStore/runtime.enum.js
  Control/lib/control-core/CoreUtils.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/services/Deployment.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/mocha-core-utils.test.js
  Control/test/lib/mocha-request-handler.js
  Control/test/lib/services/mocha-deployment.service.test.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Due: control

Add general documentation for development of O2 GUIs
  README.md
  documentation/CONVENTIONS.md
Due: none

Add general documentation for development of O2 GUIs (#2993)
  README.md
  documentation/CONVENTIONS.md
Due: none

Add middleware for logging deployment request
  Control/lib/middleware/logDeploymentRequest.middleware.js
  Control/lib/typedefs/DeploymentRequest.js
Due: control

Add deployment controller for migration to newEnvAsync
  Control/lib/controllers/Deployment.controller.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Due: control

Add new endpoint for deployments
  Control/lib/api.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/mocha-index.js
Due: control

Fix recommendations
  Control/lib/middleware/logDeploymentRequest.middleware.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Due: control

Fix failing test
  Control/test/api/deployment/api-post-deployment.test.js
Due: control

[OGUI-1674] Add deployment controller and endpoint (#2999)
  Control/lib/api.js
  Control/lib/controllers/Deployment.controller.js
  Control/lib/middleware/logDeploymentRequest.middleware.js
  Control/lib/typedefs/DeploymentRequest.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/lib/controllers/mocha-deployment.controller.js
  Control/test/mocha-index.js
Due: control

Remove old and deprecated environment deployment
  Control/lib/api.js
  Control/lib/control-core/GrpcServiceClient.js
  Control/protobuf/environmentinfo_pb.js
  Control/protobuf/status_pb.js
Due: control

Use 'useVars' instead of 'vars' for DeploymentRequest object
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/workflow/Workflow.js
Due: control

Redirect user to env-details page if request is successful
  Control/public/environment/Environment.js
Due: control

[OGUI-1703] Implement wrapper interfaces matching basic tokenization diagram (#2940)
  Tokenization/backend/wrapper/models/message.model.ts
Due: none

Update types and docs
  Control/lib/common/environmentState.enum.js
  Control/lib/typedefs/EnvironmentEvent.js
  Control/lib/typedefs/EnvironmentInfo.js
Due: control

Update adapter of environment event
  Control/lib/common/environmentState.enum.js
  Control/lib/kafka/adapters/fromEcsEventToEnvironmentEvent.js
  Control/public/common/enums/EnvironmentState.enum.js
Due: control

Update service to retrieve also failed deployments
  Control/lib/services/Environment.service.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Add new property for environments during deployment
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/services/environment/EnvironmentCache.service.js
Due: control

Update front-end tests for new redirects
  Control/public/environment/Environment.js
  Control/test/config/core-grpc.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Fix test on front-end
  Control/test/public/page-new-environment-mocha.js
Due: control

Add logging for deployment request from user
  Control/lib/controllers/Deployment.controller.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
