Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

Make jsonDb a parameter of Profile Service
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/api.js
  InfoLogger/test/lib/mocha-profile-service.js
Due: infologger

Fix a lint nit
  InfoLogger/lib/api.js
Due: infologger

Fix Integration Test
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Fix QCG-FLP integration test (#578)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

Rename Consul to JIRA
  Framework/Backend/test/mocha-jira.js
Due: framework

[OGUI-421] Add JIRA service to framework (#563)
  Framework/Backend/index.js
  Framework/Backend/services/jira.js
  Framework/Backend/test/mocha-jira.js
  Framework/README.md
  Framework/docs/guide/jira.md
Due: framework

[OGUI-626] Update regex for revision input
  Control/public/workflow/Workflow.js
Due: control

[OGUI-626] Improve revision dropdown panel
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
Due: control

[OGUI-626] Bump COG patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-626] Improve revision panel (#579)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
Due: control

create a sqlite connector
  InfoLogger/lib/SQLiteConnector.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

remove boilerplate code
  InfoLogger/lib/ProfileService.js
Due: infologger

Staging
  Control/lib/api.js
  Control/public/frameworkinfo/frameworkInfoPage.js
Due: control

[OGUO-629] Add 500ms to allow for rendering
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

Bump QCG patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-603] Implement a profile service (#577)
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/test/lib/mocha-profile-service.js
Due: infologger

Increase OpenID HTTP timeout to 5s
  Framework/Backend/http/openid.js
Due: framework

Add fix data connector and test
  InfoLogger/INFOLOGGER;
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLiteConnector.js
  InfoLogger/test/lib/mocha-sqlite-connector.js
Due: infologger

populate tests
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLiteConnector.js
  InfoLogger/test/lib/mocha-sqlite-connector.js
Due: infologger

fix errors
  InfoLogger/lib/SQLiteConnector.js
  InfoLogger/test/lib/mocha-sqlite-connector.js
Due: infologger

fix tests
  InfoLogger/INFOLOGGER;
  InfoLogger/lib/SQLiteConnector.js
  InfoLogger/test/lib/mocha-sqlite-connector.js
Due: infologger

add connector to the code
  InfoLogger/INFOLOGGER;
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLiteConnector.js
  InfoLogger/lib/api.js
  InfoLogger/test/lib/mocha-sqlite-connector.js
Due: infologger

add sqlite connector
  Framework/Backend/db/SQLiteConnector.js
  Framework/Backend/test/mocha-sqliteconnector.js
Due: framework

fix tests and move init in api to try-catch
  InfoLogger/INFOLOGGER;
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLiteConnector.js
  InfoLogger/lib/api.js
  InfoLogger/test/lib/mocha-profile-service.js
  InfoLogger/test/lib/mocha-sqlite-connector.js
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-628] Remove deprecated quality property
  QualityControl/public/object/ObjectTree.class.js
Due: qualitycontrol

[OGUI-628] Update main tree to allow same name for leaf and branch
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-628] Update sidetree to accept leaf and branch with same name
  QualityControl/public/object/objectTreeSidebar.js
Due: qualitycontrol

[IGUI-628] Remove deprecated quality row
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Bump minor version QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-634] Add drawing option as text
  QualityControl/public/object/objectPropertiesSidebar.js
Due: qualitycontrol

Increase OpenID HTTP timeout to 5s (#581)
  Framework/Backend/http/openid.js
Due: framework

[OGUI-634] Add drawing option as text (#583)
  QualityControl/public/object/objectPropertiesSidebar.js
Due: qualitycontrol

[OGUI-628] Allow objects with same name as sub-path (#582)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/ObjectTree.class.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
Due: qualitycontrol

[OGUI-629] Add waiting rendering time for QCG FLP CI(#580)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

[OGUI-635] Display dash if object was not found in list
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-635] Add timestamp option to layout view
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/objectTreeSidebar.js
Due: qualitycontrol

[OGUI-635] Update tests
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-635] Add last modified date to object tree & view
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-635] Ucomment tests
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol
