Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Use common 'returns' instead of 'return'
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/UserService.js
  QualityControl/lib/utils/utils.js
  QualityControl/public/Model.js
  QualityControl/public/common/Types.js
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/common/utils.js
  QualityControl/public/folder/Folder.js
  QualityControl/public/frameworkInfo/frameworkInfoHeader.js
  QualityControl/public/frameworkInfo/frameworkInfoPage.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/header.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Add condition for dropdown widget
  Control/public/workflow/panels/variables/WorkflowVariable.js
Due: control

Bump version patch for bug release
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1317] Fix issue when loading a widget variable (#1886)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/panels/variables/WorkflowVariable.js
Due: control

Add dateTime utility method
  QualityControl/common/library/utils/dateTimeFormat.js
  QualityControl/test/common/library/utils/dateTimeFormat.test.js
Due: qualitycontrol

Update CCDB Service
  QualityControl/lib/services/CcdbService.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Add more fields to standard QC object
  QualityControl/lib/dtos/QCObjectDto.js
Due: qualitycontrol

Bump JSROOT to latest version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Remove use of location for checkers
  QualityControl/public/common/object/checkersPanel.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

Extract loading and error comps in common ones
  QualityControl/public/common/errorDiv.js
  QualityControl/public/common/header.js
  QualityControl/public/common/spinner.js
  QualityControl/public/frameworkInfo/frameworkInfoHeader.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Make use of new 'stat' logic in JSROOT
  QualityControl/common/library/qcObject/utils.js
  QualityControl/common/library/typedef/QcObjectDef.js
  QualityControl/common/library/typedef/TabObjectDef.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/test/common/library/qcObject/utils.test.js
Due: qualitycontrol

Add RootObjectDef
  QualityControl/common/library/qcObject/utils.js
  QualityControl/common/library/typedef/RootObjectDef.js
Due: qualitycontrol

Update usage of stat
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Add back joining the list
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Allow tabs to have 1 col only
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

[OGUI-1245] Allows users to create and save layouts with a grid of 1x1 only;(#1889)
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Remove 'def' from name of definitions
  QualityControl/common/library/qcObject/utils.js
  QualityControl/common/library/typedef/QcObject.js
  QualityControl/common/library/typedef/RootObject.js
  QualityControl/common/library/typedef/TabObject.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Address comments
  QualityControl/common/library/qcObject/utils.js
Due: qualitycontrol

Add jsconfig file
  QualityControl/jsconfig.json
Due: qualitycontrol

[OGUI-815] Make use of new 'stat' logic in JSROOT (#1888)
  QualityControl/common/library/qcObject/utils.js
  QualityControl/common/library/typedef/QcObject.js
  QualityControl/common/library/typedef/RootObject.js
  QualityControl/common/library/typedef/TabObject.js
  QualityControl/jsconfig.json
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/test/common/library/qcObject/utils.test.js
Due: qualitycontrol

Reduce size of package to be shipped
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/QCModelDemo.js
  QualityControl/test/demoData/alice.json
  QualityControl/test/demoData/canvas_tf1.json
  QualityControl/test/demoData/checker.json
  QualityControl/test/demoData/gaussian.json
  QualityControl/test/demoData/gaussian2.json
  QualityControl/test/demoData/histo.json
  QualityControl/test/demoData/hpx.json
  QualityControl/test/demoData/root0.json
  QualityControl/test/demoData/string.json
Due: qualitycontrol

Add back JSROOT dep
  QualityControl/package-lock.json
Due: qualitycontrol

[OGUI-1289] Use "files" in package.json to reduce tar pack size (#1893)
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/QCModelDemo.js
  QualityControl/test/demoData/alice.json
  QualityControl/test/demoData/canvas_tf1.json
  QualityControl/test/demoData/checker.json
  QualityControl/test/demoData/gaussian.json
  QualityControl/test/demoData/gaussian2.json
  QualityControl/test/demoData/histo.json
  QualityControl/test/demoData/hpx.json
  QualityControl/test/demoData/root0.json
  QualityControl/test/demoData/string.json
Due: qualitycontrol

Move tags parser to utils
  QualityControl/common/library/qcObject/utils.js
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/demoData/online-services.mock.js
Due: qualitycontrol

Update docs for CCDB service
  QualityControl/lib/services/CcdbService.js
Due: qualitycontrol

[OGUI-1349] - Add monthly check on gh actions
  .github/dependabot.yml
Due: none

[OGUI-1349] - Add monthly check on gh actions (#1915)
  .github/dependabot.yml
Due: none

[OGUI-1349] Fix syntax of yml file on dependabot
  .github/dependabot.yml
Due: none

Remove individual files for apricot and core sync
  .github/workflows/apricot-proto-sync.yml
Due: none

Remove usage of 3rd party gh action
  .github/workflows/proto-sync.yml
Due: none

Add documentation on new workflow
  Control/README.md
Due: control

[OGUI-1350] Remove usage of3rdparty gh action for PR creation (#1920)
  .github/workflows/apricot-proto-sync.yml
  .github/workflows/proto-sync.yml
  Control/README.md
Due: control

Add manual trigger to proto-sync
  .github/workflows/proto-sync.yml
Due: none

Add token for git cli
  .github/workflows/proto-sync.yml
Due: none

Add identity to commit
  .github/workflows/proto-sync.yml
Due: none

Add GH token as per docs
  .github/workflows/proto-sync.yml
Due: none

Add more PR info
  .github/workflows/proto-sync.yml
Due: none

Push branch to remote before PR
  .github/workflows/proto-sync.yml
Due: none

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
