Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-1025] Add checkbox per detector and clickable labels
  Control/public/configuration/configPage.js
Due: control

[OGUI-1025] Add logic for toggleing selection of hosts per detector
  Control/public/configuration/ConfigByCru.js
Due: control

[OGUI-1025] Bump minor version for AliECS GUI
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1025] Toggle selection of hosts via detector checkbox (#923)
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/Configuration.js
  Control/public/configuration/configPage.js
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-992] Add UserLogic toggles for detectors and hosts
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-992] Fix mistake in documentation
  Control/public/configuration/ConfigByCru.js
Due: control

[OGUI-992] Update documentation for links configuration
  Control/README.md
Due: control

[OGUI-992] Add UserLogic toggles for detectors and hosts (#924)
  Control/README.md
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-992] Add all links toggles and split files
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components.js
  Control/public/configuration/components/linksCheckBox.js
  Control/public/configuration/components/userLogicCheckBox.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-992] Split components
  Control/public/configuration/components/allLinksCheckBox.js
  Control/public/configuration/components/linkCheckBox.js
  Control/public/configuration/components/userLogicCheckBox.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-992] Toggle All Links selection via Host or Detector (#925)
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components.js
  Control/public/configuration/components/allLinksCheckBox.js
  Control/public/configuration/components/linkCheckBox.js
  Control/public/configuration/components/userLogicCheckBox.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-965] Display actual query as debug log and set default connection limit to 10
  Framework/Backend/db/mysql.js
Due: framework

Increase default pool size
  Framework/Backend/db/mysql.js
Due: framework

[OGUI-977] Fix type in Download button
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-1027] Do not query total available log count
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/public/log/statusBar.js
Due: infologger

Remove tests as well
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

Use error log severity in MySQL error handler
  Framework/Backend/db/mysql.js
Due: framework

[OGUI-1027] Do not query total available log count (#931)
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

[OGUI-977] Fix type in Download button (#930)
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-999&OGUI-999] Increase contrast and visibility of buttons
  InfoLogger/public/app.css
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-999&OGUI-999] Increase contrast and visibility of buttons (#932)
  InfoLogger/public/app.css
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-965] Display MySQL query as debug log and increase default pool params (#928)
  Framework/Backend/db/mysql.js
Due: framework

adapt tests
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

1.8.0
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1032] Display first matching logs
  InfoLogger/lib/SQLDataSource.js
Due: infologger

Add test
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

[OGUI-1030] Query logs with LIKE only when wildcard is present in filter (#933)
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

Fix test
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

[OGUI-1032] Display first matching logs (#934)
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

Bump framework to v1.21.3
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump framework to v1.21.3 (#936)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Use newest framework in ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bumg ILG Framework Version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bumg ILG Framework Version (#938)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1032] Truncate newer logs when LIMIT is reached
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

[OGUI-1032] Truncate newer logs when LIMIT is reached (#939)
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

[OGUI-1028] Explicitly disable severity scroll on Safari
  InfoLogger/public/Model.js
  InfoLogger/public/view.js
Due: infologger

[OGUI-1028] Add canvas in div
  InfoLogger/public/log/tableLogsScrollMap.js
Due: infologger

[OGUI-1028] Remove px as canvas expects number only
  InfoLogger/public/log/tableLogsScrollMap.js
Due: infologger

[OGUI-1028] Place canvas in div for safari (#942)
  InfoLogger/public/log/tableLogsScrollMap.js
Due: infologger

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
