Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

fix about page and layout show
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

views: add id's and remove window.model dependencies.
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/panels/editModal.js
Due: qualitycontrol

test: simplify and change tests to accomodate the removal of window.model
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
Due: qualitycontrol

feat: set debug to false if not in development mode.
  QualityControl/public/index.js
Due: qualitycontrol

chore: set environment variables in package.json
  QualityControl/package.json
Due: qualitycontrol

feat(Index.js): set public/index.js based on the NODE_ENV environment variable
  QualityControl/environmentSetup.js
  QualityControl/environments.js
  QualityControl/index.js
  QualityControl/package.json
  QualityControl/public/index.dev.js
  QualityControl/public/index.production.js
  QualityControl/public/index.test.js
Due: qualitycontrol

chore: put public/index.js in gitignore
  QualityControl/.gitignore
Due: qualitycontrol

refactor: refactor changes based on feedback
  Framework/Frontend/css/src/bootstrap.css
  QualityControl/public/app.css
  QualityControl/public/layout/view/page.js
  QualityControl/public/pages/objectTreeView/component/objectPanel.js
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol, framework

[OGUI-1663] migrate nock from 13.5.6 to 14.0.4 (#2886)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

refactor(LayoutListModel): rework the namespace documentation
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
Due: qualitycontrol

[OGUI-1677] Fix CCDB version retrieval (#2885)
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

fix: check for folder existence before setting/removing cards
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
Due: qualitycontrol

refactor: change the call syntax on add/removeLayoutFrom/to
  QualityControl/public/pages/layoutListView/model/LayoutCardModel.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
Due: qualitycontrol

chore: update LayoutCardModel constructor jsdoc
  QualityControl/public/pages/layoutListView/model/LayoutCardModel.js
Due: qualitycontrol

Improve use and docs of statusComponent
  Control/public/common/environment/environmentReadinessStatus.js
  Control/public/environment/environmentsPage.js
Due: control

Make statusComponent always function
  Control/public/common/environment/environmentReadinessStatus.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-1679] Improve docs and use of statusComponent from environment readiness (#2890)
  Control/public/common/environment/environmentReadinessStatus.js
  Control/public/environment/environmentsPage.js
Due: control

Set isCritical to false by default to protect against lack of optional
  Control/lib/adapters/ShortTaskInfoAdapter.js
  Control/test/lib/adapters/mocha-short-task-info.adapter.test.js
Due: control

[OGUI-1678] Set isCritical to false by default to protect against lack of optional (#2891)
  Control/lib/adapters/ShortTaskInfoAdapter.js
  Control/test/lib/adapters/mocha-short-task-info.adapter.test.js
Due: control

Bump COG to 1.78.1
  Control/package-lock.json
  Control/package.json
Due: control

Bump COG to 1.78.1 (#2892)
  Control/package-lock.json
  Control/package.json
Due: control

remove jsdoc remnant from layoutListCard
  QualityControl/public/pages/layoutListView/components/LayoutListCard.js
Due: qualitycontrol

remove sufficientAuthoity from layoutListModel
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
Due: qualitycontrol

Display SOR DCS state in task summary as centered with detector label
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
Due: control

Fix issue with numbers
  Control/public/common/environment/environmentReadinessStatus.js
Due: control

Fix lint
  Control/public/common/environment/environmentReadinessStatus.js
Due: control

Fix lint
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
Due: control

refactor abstract sufficientAuthority to a util class
  QualityControl/public/common/utils.js
  QualityControl/public/pages/layoutListView/model/LayoutCardModel.js
Due: qualitycontrol

DCS sor state in task summary centered (#2893)
  Control/public/common/environment/environmentReadinessStatus.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
Due: control

refactor: initialise itemsInfo dynamically
  QualityControl/public/pages/objectTreeView/component/objectPanel.js
Due: qualitycontrol

refactor
  QualityControl/public/pages/objectTreeView/component/objectPanel.js
Due: qualitycontrol

remove commented code
  QualityControl/public/pages/layoutListView/model/LayoutCardModel.js
Due: qualitycontrol

experiment 1
  QualityControl/public/pages/objectTreeView/component/objectPanel.js
Due: qualitycontrol

[OGUI-1648] update layout list project structure (#2836)
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/repositories/LayoutRepository.js
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/header.js
  QualityControl/public/common/utils.js
  QualityControl/public/folder/Folder.js
  QualityControl/public/folder/model/FolderModel.js
  QualityControl/public/folder/view/FolderComponent.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/pages/layoutListView/LayoutListPage.js
  QualityControl/public/pages/layoutListView/components/LayoutListCard.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/layoutListView/model/LayoutCardModel.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
  QualityControl/test/api/layouts/api-get-layout.test.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/repositories/LayoutRepository.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/setup/seeders/qcg-mock-data-template.json
Due: qualitycontrol

style: move bootstrap alterations to app.css
  Framework/Frontend/css/src/bootstrap.css
  QualityControl/public/app.css
Due: qualitycontrol, framework

fix(ObjectTreeSidebar) select objects before drag and drop. (#2869)
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

Extend deadline for failing test
  Control/test/public/page-new-environment-mocha.js
Due: control

Remove spurious flex from missing locks message (#2570)
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Potential fix for code scanning alert no. 169: Prototype-polluting function
  Control/lib/services/environment/EnvironmentCache.service.js
Due: control

refactor httprequest utils and add protocol support for head requests
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/lib/utils/utils.js
  QualityControl/test/lib/utils/utils.test.js
Due: qualitycontrol
