Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

[OGUI-523] Fix setting header after response was sent
  Control/lib/api.js
Due: control

[OGUI-509] one click shutdown transition (#479)
  Control/public/common/showTableList.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/test/mocha-index.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-483] Allow users to override options for roc-config (#462)
  Control/README.md
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/pageLoading.js
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
  Control/test/lib/mocha-control-service.js
  Control/test/mocha-index.js
  Control/test/public/page-configuration-mocha.js
Due: control

[OGUI-504] Group roc config options (#480)
  Control/public/app.css
  Control/public/configuration/configurationPage.js
  Control/test/public/page-configuration-mocha.js
  Control/test/test-config.js
Due: control

[OGUI-507] Remove link from label
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-507] Add select all links checkbox (#482)
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-505] [OGUI-508] Toggle selection of all hosts and show/hide all rows (#481)
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-503] Remove tips with options only
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-503] Fix check
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-503] Add tooltip texts to Configuration panel (#483)
  Control/public/app.css
  Control/public/configuration/configurationPage.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-483] Increase upper limit
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-498] Refactor error components
  Control/public/app.css
  Control/public/common/errorComponent.js
  Control/public/common/errorPage.js
  Control/public/configuration/configurationPage.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/frameworkinfo/frameworkInfoPage.js
Due: control

[OGUI-498] Make use of default revisions
  Control/public/Model.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-498] Fix tests after refactoring
  Control/test/public/page-configuration-mocha.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-498] use revision default configuration (#484)
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/errorComponent.js
  Control/public/common/errorPage.js
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/frameworkinfo/frameworkInfoPage.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-configuration-mocha.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-448] Fix small visual bugs on sidebar layouts
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutListHeader.js
Due: qualitycontrol

[OGUI-518] Add if case for Edge
  Framework/Frontend/js/src/compatibility.js
Due: framework

[OGUI-518] Bump min Edge Version
  Framework/README.md
Due: framework

[OGUI-518] Bump patch version 1.10.4
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-518] Fix audit dependencies
  Framework/package-lock.json
Due: framework

[OGUI-524] Bump dependencies
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-524] Update styles
  Control/public/app.css
Due: control

[OGUI-524] Add env variables panel
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-524] Add error on top of button
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-524] Update request
  Control/public/workflow/Workflow.js
Due: control

[OGUI-524] Remove userVars from general table
  Control/public/common/showTableList.js
Due: control

[OGUI-524] Add userVars to each env table
  Control/public/environment/environmentPage.js
Due: control

[OGUI-524] Fix tests failing after vars panel
  Control/public/common/showTableList.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-524] Add tests for vars panel
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-524] Refactor code on workflowsPage
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-524] Fix tests
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-518] update browser version edge (#485)
  Framework/Frontend/js/src/compatibility.js
  Framework/README.md
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-524] Bump WebUI to latest 1.10.4
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-524] Configuration hidden
  Control/public/common/sidebar.js
Due: control

[OGUI-524] Fix eslint
  Control/public/common/sidebar.js
Due: control

[OGUI-524] new env k v panel (#486)
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/common/showTableList.js
  Control/public/common/sidebar.js
  Control/public/environment/environmentPage.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Add more details on running Consul
  QualityControl/README.md
Due: qualitycontrol

[OGUI-502] Add more details on running Consul (#487)
  QualityControl/README.md
Due: qualitycontrol

Improve
  QualityControl/README.md
Due: qualitycontrol

Fixes
  QualityControl/README.md
Due: qualitycontrol
