Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

fix: moved wrapper into new lib directory
  Tokenization/backend/central-system/src/controllers/ConnectionController.ts
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/CentralSystemWrapper.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

feat: vreated register function for TokenController
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

feat: added event based logic to vault requests
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/event-type.ts
Due: none

feat: refactored structure of register for more readability
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/register-bus-handler.ts
Due: none

feat: added initial login in module
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

feat: added encryption helper
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/encrypt.ts
  Tokenization/backend/central-system/src/lib/event-req-types.ts
  Tokenization/backend/central-system/src/lib/register-bus-handler.ts
  Tokenization/backend/central-system/src/lib/rpc.ts
Due: none

feat: moved the event names into external file enum
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/events.ts
Due: none

feat: added initial vault login and token renewal interval as well as initial vault unseal
  Tokenization/docker-compose.dev.yml
Due: none

fear: comitted preavious changes
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/register-bus-handler.ts
  Tokenization/backend/central-system/src/lib/rpc.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/index.js
  Tokenization/backend/package.json
Due: none

update: reorganized directories
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/event-bus/event-bus.ts
  Tokenization/backend/central-system/src/lib/event-bus/register-bus-handler.ts
  Tokenization/backend/central-system/src/lib/event-bus/rpc.ts
  Tokenization/backend/central-system/src/lib/utils/encrypt.d.ts
  Tokenization/backend/central-system/src/lib/utils/event-req-types.d.ts
  Tokenization/backend/central-system/src/lib/utils/events.ts
Due: none

fix: fixed names
  Tokenization/backend/central-system/src/lib/utils/encrypt.ts
  Tokenization/backend/central-system/src/lib/utils/events.d.ts
Due: none

fix: improve import
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

fix: remaned enum file and removed redundancy in docker-compose
  Tokenization/backend/central-system/src/lib/utils/events.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/docker-compose.dev.yml
Due: none

refactor: move helpers to adapters directory
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/kafka/adapters/consulConfigurationsHelpers.js
  Control/lib/services/QCConfiguration.service.js
Due: control

test: fix tests
  Control/lib/adapters/ConsulConfigurationAdapter.js
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/api/configuration/api-get-configuration-restrictions.test.js
  Control/test/lib/adapters/mocha-consul-configuration.adapter.test.js
Due: control

fix: frontend test fix
  Tokenization/backend/central-system/src/lib/database/Database.ts
  Tokenization/docker-compose.test.yml
Due: none

fix: changed frontend tests deployment
  Tokenization/backend/central-system/src/lib/database/Database.ts
  Tokenization/docker-compose.test.yml
Due: none

fix: added missing healthcheck
  Tokenization/docker-compose.test.yml
Due: none

linting
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/utils/download/tar/header.js
  QualityControl/lib/utils/download/tar/tar.js
Due: qualitycontrol

chore: add test workflow
  .github/workflows/configuration.yml
Due: none

fix: remove unnecessary indents
  .github/workflows/configuration.yml
Due: none

fix: fix synax error
  .github/workflows/configuration.yml
Due: none

fix: change test command
  .github/workflows/configuration.yml
Due: none

fix: start frontend before running tests
  .github/workflows/configuration.yml
Due: none

fix: change frontend startup command
  .github/workflows/configuration.yml
Due: none

fix: increase timeout time
  .github/workflows/configuration.yml
Due: none

fix: increase interval time
  .github/workflows/configuration.yml
Due: none

feat: show docker logs on failure
  .github/workflows/configuration.yml
Due: none

fix: add extra_hosts in docker compose
  Configuration/docker-compose.yml
Due: none

test: add test coverage for new features
  Control/lib/adapters/QCConfigurationAdapter.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/api/configuration/api-get-configuration-restrictions.test.js
  Control/test/lib/adapters/mocha-consul-configuration.adapter.test.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
Due: control

[OGUI-1808] Allow Global roles to use force lock actions
  Control/public/lock/lockPage.js
Due: control

Fix miss-spell of broadcast key
  Control/public/common/enums/BroadcastKeys.enum.js
Due: control

Bump COG 2.0.5
  Control/package-lock.json
  Control/package.json
Due: control

[release/cog/2.0.5] - [OGUI-1807] and [OGUI-1808] (#3157)
  Control/package-lock.json
  Control/package.json
  Control/public/common/enums/BroadcastKeys.enum.js
  Control/public/lock/lockPage.js
Due: control

fix: fix files, unit tests and add tests for connection
  Tokenization/backend/proto/wrapper.proto
  Tokenization/backend/wrapper/src/client/connection/Connection.ts
  Tokenization/backend/wrapper/src/client/connectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/test/central/CentralSystemWrapper.test.ts
  Tokenization/backend/wrapper/src/test/client/commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/client/connectionManager/ConnectionManager.test..ts
  Tokenization/backend/wrapper/src/test/client/connectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/connection/Connection.test.ts
Due: none

fix: rebuild package lock
  Tokenization/backend/wrapper/package-lock.json
Due: none

chore: implement configuration routing
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/app/config.ts
  Configuration/webapp/app/hooks/useConfigurationNavigate.ts
  Configuration/webapp/app/routes/configuration.tsx
Due: none

chore: add missing docstring
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
Due: none

chore: add tests
  Configuration/webapp/app/api/axiosInstance.ts
  Configuration/webapp/app/components/layout/content/ContentHeader.tsx
  Configuration/webapp/app/hooks/useConfigurationNavigate.ts
  Configuration/webapp/test/public/page-configuration-mocha.spec.ts
  Configuration/webapp/test/public/page-root-mocha.spec.ts
Due: none

chore: add missing docstrings
  Configuration/webapp/app/api/query/useConfigurationKeysQuery.ts
  Configuration/webapp/app/hooks/useConfigurationNavigate.ts
Due: none

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
