Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-635] Add timestamp view to objects' plot (#584)
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-641] Add sinon as dev dependency
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-641] Extract layout functionality to new converter
  QualityControl/lib/connector/LayoutConnector.js
Due: qualitycontrol

[OGUI-631] Use new converter in api
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
Due: qualitycontrol

[OGUI-641] Add tests for new layout connector
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-641] Update QCModel Demo
  QualityControl/lib/QCModelDemo.js
Due: qualitycontrol

[OGUI-641] Bring response inline
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-641] Update test message
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-641] Test layout error handler
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/package.json
Due: qualitycontrol

[OGUI-641] Print calledwith param
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-641] Use response within test
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-641] Fix demo demol
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/connector/LayoutConnector.js
Due: qualitycontrol

[OGUI-641] Update methods to return promise
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/package.json
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

Bump codecov-action
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Bump codecov-action (#586)
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[QC-368] Update QC-API call (#562)
  QualityControl/tobject2json.cc
Due: qualitycontrol

[OGUI-641] add layout connector (#585)
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-598] Split drawing options
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectPropertiesSidebar.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-598] Split drawing options panel (#587)
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectPropertiesSidebar.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-543] Fix trailing space issue
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-605] Search in list of all objects
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-605] Update search
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-605] Search in list of all objects (#589)
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-643] Improve test steps name
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-643] Add revision to error message
  Control/test/integration/control-environment.js
Due: control

[OGUI-643] Fix test from debug
  Control/test/integration/control-environment.js
Due: control

[OGUI-643] Improve test steps name for FLP CI (#590)
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-330] Update cc File
  QualityControl/tobject2json.cc
Due: qualitycontrol

[OGUI-330] Add navigation to both tree and view page
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/lib/api.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/tobject2json.cc
Due: qualitycontrol

[OGUI-330] Revert formatting changes in demo
  QualityControl/lib/QCModelDemo.js
Due: qualitycontrol

[OGUI-330] Increase number of timestamps
  QualityControl/lib/api.js
Due: qualitycontrol

[OGUI-330] Fix tests
  QualityControl/lib/QCModelDemo.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/object/QCObject.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

Bump Framework patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump Framework minor version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump Framework minor version (#593)
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-330] Bump WebUI
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-330] Improve documentation and format
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-330] Bump QCG minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol
