Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Use await for rest of scenarios in transition
  Control/test/public/page-environment-mocha.js
Due: control

Update tests to use timeout in waiting for page to render
  Control/test/config/core-grpc.js
  Control/test/mocha-index.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/utils/puppeteerUtils.js
Due: control

Remove deprecates tests
  Control/test/mocha-index.js
  Control/test/public/page-configuration-mocha.js
Due: control

Use waitfor shutdown as well
  Control/test/public/page-environment-mocha.js
Due: control

Add docs about env deployments
  Control/README.md
  Control/docs/BUSINESS_FOR_DEVELOPER_TO_KNOW.md
  Control/lib/common/environmentTransitionType.enum.js
Due: control

style: fix formatting
  Configuration/webapp/app/test/mocha-index.ts
  Configuration/webapp/app/test/services/session.spec.ts
Due: none

chore: remove unused package-lock.json
  Configuration/package-lock.json
Due: none

[OGUI-1700] Add base-app-layout for Configuration GUI (#2927)
  Configuration/webapp/app/app.css
  Configuration/webapp/app/components/layout/MainLayout.tsx
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/app/components/layout/content/ContentHeader.tsx
  Configuration/webapp/app/components/layout/drawer/LeftDrawer.tsx
  Configuration/webapp/app/components/layout/drawer/LeftDrawerFooter.tsx
  Configuration/webapp/app/components/layout/drawer/LeftDrawerHeader.tsx
  Configuration/webapp/app/components/user-section/UserSection.tsx
  Configuration/webapp/app/root.tsx
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/test/mocha-index.cjs
  Configuration/webapp/test/public/page-root-mocha.cjs
  Configuration/webapp/test/test-config.cjs
Due: none

Use convention for log facility in QCG
  QualityControl/README.md
  QualityControl/docs/QCG_Developer_Logging_Conventions.md
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/UserController.js
  QualityControl/lib/database/SequelizeDatabase.js
  QualityControl/lib/database/index.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/setup/testRepositorySetup.js
Due: qualitycontrol

Patch version for EBF
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update QualityControl/docs/QCG_Developer_Logging_Conventions.md
  QualityControl/docs/QCG_Developer_Logging_Conventions.md
Due: qualitycontrol

Fix lint warnings
  QualityControl/lib/controllers/UserController.js
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

Fix vulnerabilities from dependencies
  QualityControl/package-lock.json
Due: qualitycontrol

Fix docker deps
  QualityControl/Dockerfile
Due: qualitycontrol

[OGUI-1748] Logging to use process.env in QCG and documentation (#3008)
  QualityControl/Dockerfile
  QualityControl/README.md
  QualityControl/docs/QCG_Developer_Logging_Conventions.md
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/UserController.js
  QualityControl/lib/database/SequelizeDatabase.js
  QualityControl/lib/database/index.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/setup/testRepositorySetup.js
Due: qualitycontrol

Potential fix for code scanning alert no. 223: Semicolon insertion
  Control/lib/controllers/Deployment.controller.js
Due: control

Potential fix for code scanning alert no. 223: Semicolon insertion (#3009)
  Control/lib/controllers/Deployment.controller.js
Due: control

Add controller for task endpoint
  Control/lib/api.js
  Control/lib/controllers/Task.controller.js
  Control/test/lib/controllers/mocha-task.controller.js
Due: control

Add task service
  Control/lib/services/Task.service.js
  Control/test/lib/services/mocha-task.service.test.js
Due: control

Fail safe for task adapter
  Control/lib/adapters/task/ShortTaskInfoAdapter.js
Due: control

Fix lint for back-end changes
  Control/lib/controllers/Task.controller.js
  Control/lib/services/Task.service.js
Due: control

Add jsonGet method for front-end
  Control/public/utilities/jsonGet.js
Due: control

Adapt front-end to new API
  Control/public/common/task/TaskTableModel.js
  Control/public/task/Task.js
Due: control

Enforce more strict restrictions on cleanup tasks
  Control/lib/api.js
  Control/lib/controllers/Task.controller.js
  Control/lib/services/Task.service.js
Due: control

Rename methods in test suites
  Control/test/lib/controllers/mocha-task.controller.js
  Control/test/lib/services/mocha-task.service.test.js
Due: control

Update Control/lib/controllers/Task.controller.js
  Control/lib/controllers/Task.controller.js
Due: control

Update Control/test/lib/controllers/mocha-task.controller.js
  Control/test/lib/controllers/mocha-task.controller.js
Due: control

Update Control/lib/api.js
  Control/lib/api.js
Due: control

chore: Apply requested changes from PR review
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/middleware/validateConsulServiceMiddlewareFactory.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/api/configuration/api-get-configuration.test.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/config/testConfigForConsul.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/middleware/mocha-validateConsulServiceMiddlewareFactory.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
Due: control

Add API tests for tasks endpoint
  Control/lib/api.js
  Control/test/api/tasks/api-delete-tasks-test.js
  Control/test/api/tasks/api-get-task-by-id.test.js
  Control/test/api/tasks/api-get-tasks.test.js
  Control/test/config/core-grpc.js
  Control/test/mocha-index.js
Due: control

[OGUI-1749] Add tasks endpoint, controller and service (#3010)
  Control/lib/adapters/task/ShortTaskInfoAdapter.js
  Control/lib/api.js
  Control/lib/controllers/Task.controller.js
  Control/lib/services/Task.service.js
  Control/public/common/task/TaskTableModel.js
  Control/public/task/Task.js
  Control/public/utilities/jsonGet.js
  Control/test/api/tasks/api-delete-tasks-test.js
  Control/test/api/tasks/api-get-task-by-id.test.js
  Control/test/api/tasks/api-get-tasks.test.js
  Control/test/config/core-grpc.js
  Control/test/lib/controllers/mocha-task.controller.js
  Control/test/lib/services/mocha-task.service.test.js
  Control/test/mocha-index.js
Due: control

Deployment should consist of split workflow parameters request
  Control/lib/controllers/Deployment.controller.js
  Control/lib/typedefs/DeploymentRequest.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Due: control

front-end should adapt to new expected deployment request
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/workflow/Workflow.js
Due: control

Update Control/lib/controllers/Deployment.controller.js
  Control/lib/controllers/Deployment.controller.js
Due: control

[OGUI-1160] A deployment request should consist of split revision repository and template parameters (#3011)
  Control/lib/controllers/Deployment.controller.js
  Control/lib/typedefs/DeploymentRequest.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/workflow/Workflow.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Due: control

Remove individual broadcast for resources-cleanup workflow
  Control/lib/common/broadcastKeys.enum.js
  Control/public/Model.js
  Control/public/common/enums/BroadcastKeys.enum.js
Due: control

Trickle down auto transition of deployment parameter
  Control/lib/api.js
  Control/lib/controllers/Deployment.controller.js
  Control/lib/services/Deployment.service.js
  Control/lib/services/Environment.service.js
  Control/lib/typedefs/DeploymentRequest.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Due: control

Rename Task into TaskPageModel and update HTTP endpoint
  Control/public/Model.js
  Control/public/task/TaskPageModel.js
  Control/public/task/content.js
Due: control

Move to conventional project structure with pages
  Control/public/Model.js
  Control/public/pages/TaskList/TaskList.model.js
  Control/public/pages/TaskList/TaskList.page.js
  Control/public/task/header.js
  Control/public/view.js
Due: control
