Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

fix2
  QualityControl/README.md
Due: qualitycontrol

[OGUI-502] Format QCG Online Mode docs (#488)
  QualityControl/README.md
Due: qualitycontrol

Update QCG depedencies and bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump ilg and its deps
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-502] Update GH ACtion to trigger on every push dev/master
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[OGUI-502] Remove token as per documentation
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[OGUI-502] Add notifications after 2 builds
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[OGUI-502] Remove codecov syntax
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[OGUI-502] Wait for CI
  .codecov.yml
Due: none

[OGUI-502] Update control to GH Action
  .github/workflows/control.yml
Due: none

[OGUi-502] Update syntax
  .github/workflows/control.yml
Due: none

[OGUI-502] Update all flags
  .codecov.yml
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[OGUI-502] Notify after 2 builds
  .codecov.yml
Due: none

[OGUI-502] Bump qcg ilg for webui (#489)
  .codecov.yml
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol, infologger

Test
  .codecov.yml
Due: none

Test
  .github/workflows/infologger.yml
Due: none

[OGUI-367] Bump minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-367] Add Checker Panel
  QualityControl/public/app.css
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-367] Send location to draw method
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

[OGUI-367] Correct assert uses
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-367] Fix lint issue
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-367] Add checker test data
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/demoData/checker.json
Due: qualitycontrol

[OGUI-367] Add checker type check
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-367] Add Checker test
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-367] Extract checkers in separate component
  QualityControl/public/object/checkersPanel.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-367] Small refactoring
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/checkersPanel.js
Due: qualitycontrol

[OGUI-367] Uncomment tests
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-367] Remove square/curly brackets
  QualityControl/public/object/checkersPanel.js
Due: qualitycontrol

[OGUI-367] Revert to bash to allow reports for forked repos
  .github/workflows/control.yml
  .github/workflows/qc.yml
Due: none

Trigger build
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Add target as string
  .codecov.yml
Due: none

Try various combinations
  .codecov.yml
Due: none

Test treshold
  .codecov.yml
Due: none

trigger build
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Rename as per documentation
  codecov.yml
Due: none

Remove dot
  codecov.yml
Due: none

Update
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Trigger
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

trigger build (#494)
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  QualityControl/public/layout/Layout.js
Due: qualitycontrol
