Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Admins can no longer control environments without a lock
  Control/public/environment/components/environmentActionPanel.js
Due: control

MiniCard should not build title if missing content for it
  Control/public/common/card/miniCard.js
Due: control

Add informative message in case of missing locks
  Control/public/environment/components/controlEnvironmentPanel.js
Due: control

Do not bump eslint
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Comment out eslint due to major breaking changes for now
  .github/dependabot.yml
Due: none

Reduce drawing pad size for grid (#2423)
  QualityControl/public/Model.js
Due: qualitycontrol

Update tests
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/test/public/page-environment-mocha.js
Due: control

[OGUI-1522] Add missing lock information env details (#2462)
  Control/public/common/card/miniCard.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentActionPanel.js
  Control/test/public/page-environment-mocha.js
Due: control

Remove call to deprecated method
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
Due: control

Remove call to deprecated method (#2463)
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
Due: control

[O2GUI-1521] Fix admin access check in configuration update (#2433)
  Control/lib/dtos/User.js
Due: control

Increase tab name of layouts to 50 chars
  QualityControl/lib/dtos/LayoutDto.js
Due: qualitycontrol

[OGUI-1512] Increase tab name of layouts to 50 chars (#2464)
  QualityControl/lib/dtos/LayoutDto.js
Due: qualitycontrol

Improving logging of environment creation request
  Control/lib/control-core/RequestHandler.js
Due: control

Update to include env id as well in error log
  Control/lib/control-core/RequestHandler.js
Due: control

Split logs if we have envId
  Control/lib/control-core/RequestHandler.js
Due: control

Fix spelling
  Control/lib/control-core/RequestHandler.js
Due: control

Add missing semi-colon as per GH codeQL
  Control/lib/control-core/RequestHandler.js
Due: control

[OGUI-1318] Improving logging of environment creation request (#2465)
  Control/lib/control-core/RequestHandler.js
Due: control

Improve logging on user actions
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Run.controller.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/controllers/mocha-run-controller.test.js
Due: control

[OGUI-1458] Improve logging on user actions (#2470)
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Run.controller.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/controllers/mocha-run-controller.test.js
Due: control

Extract user role check in independent function
  Control/public/common/detectorModal.js
  Control/public/common/userRole.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentActionPanel.js
  Control/public/environment/environmentsPage.js
  Control/public/services/DetectorService.js
  Control/public/task/content.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/workflowsPage.js
Due: control

Add warning in case user does not have minimum needed roles
  Control/public/lock/lockPage.js
Due: control

Remove console.log statement
  Control/public/lock/lockPage.js
Due: control

[OGUI-1499] Add warning message for missing role to take locks (#2471)
  Control/public/common/detectorModal.js
  Control/public/common/userRole.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentActionPanel.js
  Control/public/environment/environmentsPage.js
  Control/public/lock/lockPage.js
  Control/public/services/DetectorService.js
  Control/public/task/content.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/workflowsPage.js
Due: control

Remove definition of EpnTaskState
  Control/lib/common/taskState.enum.js
  Control/public/common/enums/TaskState.js
Due: control

Remove usage of FLP tasks and generalize into tasks only
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/common/taskState.enum.js
  Control/public/common/enums/TaskState.js
  Control/public/environment/components/environmentTasksSummaryTable.js
Due: control

[OGUI-1525] Generalise tasks rather than differentiating FLP and EPN tasks (#2472)
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/common/taskState.enum.js
  Control/public/common/enums/TaskState.js
  Control/public/environment/components/environmentTasksSummaryTable.js
Due: control

Bump patch verrsion of framework
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump patch verrsion of framework (#2473)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Remove usage of deprecated methods in puppeteer page
  Control/test/public/page-about-mocha.js
  Control/test/public/page-configuration-mocha.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-hardware-mocha.js
  Control/test/public/page-lock-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/public/page-tasks-mocha.js
Due: control

Remove usage of deprecated methods in test servers
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
  Control/test/mocha-index.js
Due: control

Remove E2E Tests as they are being moved to parent project
  Control/package.json
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

Update dependencies
  Control/package-lock.json
Due: control

[OGUI-1294] Move e2e tests to flp repository (#2475)
  Control/package-lock.json
  Control/package.json
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

Update PROTO files from AliECS
  Control/protobuf/o2control.proto
  Control/protobuf/protos/events.proto
Due: control

Migrate to new ESLINT configuration style
  QualityControl/.eslintrc
  QualityControl/eslint.config.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Final configuration updates
  QualityControl/eslint.config.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

Add click change of variable on entire row
  Control/public/workflow/panels/variables/components.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
