Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Update PROTO files from AliECS
  Control/protobuf/o2apricot.proto
Due: control

Use -B for checkout
  .github/workflows/proto-sync.yml
Due: none

Extend object definitions
  QualityControl/common/library/typedef/RootService.js
Due: qualitycontrol

Adapt ESLINT rules and jsconfig
  QualityControl/.eslintrc
  QualityControl/jsconfig.json
Due: qualitycontrol

Restructure API to add services and controllers
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/ObjectService.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Add tests
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Small improvements on docs and namings
  QualityControl/common/library/qcObject/utils.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

Complete renaming in test cases
  QualityControl/test/common/library/qcObject/utils.test.js
Due: qualitycontrol

[OGUI-1347] Add Object Service and API route for Object retrieval by ID (#1924)
  QualityControl/.eslintrc
  QualityControl/common/library/qcObject/utils.js
  QualityControl/common/library/typedef/RootService.js
  QualityControl/jsconfig.json
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/ObjectService.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/demoData/online-services.mock.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

[OGUI-1350] Authenticate gh user as GH Actions and use token for env (#1923)
  .github/workflows/proto-sync.yml
Due: none

Extract components for reusal
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/common/object/draw.js
  QualityControl/public/common/object/objectInfoCard.js
Due: qualitycontrol

Update object expected structure
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/JsonFileService.js
Due: qualitycontrol

Adapt pages to reuse extracted components
  QualityControl/public/Model.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/public/view.js
Due: qualitycontrol

Fix API routes for objects
  QualityControl/lib/api.js
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Add name of layout in object view header
  QualityControl/common/library/typedef/QcObject.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/ObjectService.js
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

Reuse info panel for objectTree page
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
Due: qualitycontrol

Use common generation of drawing options
  QualityControl/public/common/object/draw.js
Due: qualitycontrol

Add taskName from metadata
  QualityControl/lib/dtos/QCObjectDto.js
Due: qualitycontrol

Reuse metadata panel in layoutview
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
Due: qualitycontrol

[OGUI-1905] Refactor page objectView and add metadata to displayed object (#1925)
  QualityControl/common/library/typedef/QcObject.js
  QualityControl/common/library/utils/dateTimeFormat.js
  QualityControl/lib/api.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/ObjectService.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/errorDiv.js
  QualityControl/public/common/header.js
  QualityControl/public/common/object/checkersPanel.js
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/common/object/draw.js
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/common/spinner.js
  QualityControl/public/frameworkInfo/frameworkInfoHeader.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/public/view.js
  QualityControl/test/common/library/utils/dateTimeFormat.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Bump QCG version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump QCG version (#1926)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Fix issue with wrong value for timestamp
  QualityControl/lib/services/ObjectService.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[release/qcg@3.2.1] Fix issue with wrong value for timestamp (#1936)
  QualityControl/lib/services/ObjectService.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update config-default with listing connector
  QualityControl/config-default.js
Due: qualitycontrol

Fix issue with side-tree vertical scrol
  QualityControl/public/common/sidebar.js
Due: qualitycontrol

Bump patch version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1353] Add scroll vertically to side tree (#1941)
  QualityControl/config-default.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/common/sidebar.js
Due: qualitycontrol

Replace new lines with spaces on env creation
  Control/public/workflow/Workflow.js
Due: control

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

Add back-end tests for replacing new lines in vars
  Control/lib/control-core/CoreUtils.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/typedefs/EnvironmentCreation.js
  Control/test/lib/mocha-core-utils.js
  Control/test/lib/mocha-request-handler.js
Due: control

Remove bump of version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1261] Replace new lines in variables on env creation step (#1945)
  Control/lib/control-core/CoreUtils.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/typedefs/EnvironmentCreation.js
  Control/public/workflow/Workflow.js
  Control/test/lib/mocha-core-utils.js
  Control/test/lib/mocha-request-handler.js
Due: control

Bump minor version of COG
  Control/package-lock.json
  Control/package.json
Due: control

[release/cog@1.59.0]
  Control/package-lock.json
  Control/package.json
Due: control

Use new headless chrome
  InfoLogger/test/mocha-index.js
Due: infologger

Use new chrome headless
  Framework/Frontend/test/mocha-index.js
Due: framework

Use new headless Chrome
  QualityControl/test/integration/qcg-test.cjs
  QualityControl/test/public/index.js
Due: qualitycontrol

Add pass name to object metadata
  QualityControl/lib/dtos/QCObjectDto.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
