Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Docker dev deployment, works with nodemon.
  InfoLogger/config-default.js
  InfoLogger/docker-compose.dev.yml
Due: infologger

DB health check + container order/dependencies changed
  InfoLogger/docker-compose.dev.yml
Due: infologger

Fixed/added tests for live mode with defaults.
  InfoLogger/public/Model.js
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

package.json restored
  InfoLogger/package.json
Due: infologger

Added Frontend Tests
  Control/test/public/page-environment-mocha.js
Due: control

restored package-lock
  InfoLogger/package-lock.json
Due: infologger

Set Mocha back to headless mode
  InfoLogger/test/mocha-index.js
Due: infologger

Fixed Url Declarations
  Control/test/public/page-environment-mocha.js
Due: control

Env Detials Filter Testing
  Control/test/public/page-environment-mocha.js
Due: control

Added Puppeteer Crome Arguments
  Control/test/mocha-index.js
Due: control

Docker support finalized.
  InfoLogger/.dockerignore
  InfoLogger/Dockerfile
  InfoLogger/README.md
  InfoLogger/docker-compose.dev.yaml
  InfoLogger/docker-compose.simul.yaml
  InfoLogger/docker-compose.test.yaml
  InfoLogger/docker-compose.yaml
  InfoLogger/package.json
Due: infologger

Docs updated
  InfoLogger/README.md
Due: infologger

npm docker:test now prints results
  InfoLogger/README.md
  InfoLogger/package.json
Due: infologger

documentation fixes
  InfoLogger/README.md
Due: infologger

disable Docker Deamon mode on dev and test config
  InfoLogger/package.json
Due: infologger

version pinning
  InfoLogger/docker-compose.dev.yaml
Due: infologger

Callback provided for archiving a singular file, work is being done to add download functionality to the frontend, request directories seem to be made, but end in an error in the console.
  Framework/Backend/util/QcDownload.service.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol, framework

Update test to include new structure of ccdbService's download functionality originating from QcDownloadService.test.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol

Functionality to get BKP url to frontend
  InfoLogger/config-default.js
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/ConfigController.js
  InfoLogger/public/Model.js
Due: infologger

Generation of BKP url in progress
  InfoLogger/public/log/inspector.js
Due: infologger

Use Error Classes from Framework instead of local ones
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/lib/errors/grpcErrorToNativeError.js
  Control/lib/errors/updateExpressResponseFromNativeError.js
  Control/lib/middleware/minimumRole.middleware.js
  Control/lib/services/Lock.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/controllers/mocha-run-controller.test.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.test.js
  Control/test/lib/services/mocha-environment.service.test.js
  Control/test/lib/services/mocha-lock.service.test.js
  Control/test/lib/services/mocha-run.service.test.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Due: control

[improv] Update grpcErrorToNativeError.js
  Framework/Backend/errors/grpcErrorToNativeError.js
Due: framework

Allow developer to opt for message instead of details of gRPC error
  Framework/Backend/errors/grpcErrorToNativeError.js
  Framework/Backend/test/errors/mocha-grpcErrorToNativeError.js
Due: framework

Bump version of web-ui
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add gRPC error codes and update tests
  Framework/Backend/errors/grpcErrorCodes.enum.js
  Framework/Backend/errors/grpcErrorToNativeError.js
  Framework/Backend/test/errors/mocha-grpcErrorToNativeError.js
Due: framework

Use gRPCToNativeError from web-ui
  Control/lib/control-core/GrpcProxy.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/errors/grpcErrorToNativeError.js
  Control/lib/services/Environment.service.js
  Control/lib/services/Run.service.js
  Control/lib/services/WorkflowTemplate.service.js
Due: control

Remove custom errors and reuse from web-ui
  Control/lib/errors/InvalidInputError.js
  Control/lib/errors/NotFoundError.js
  Control/lib/errors/TimeoutError.js
  Control/lib/errors/UnauthorizedAccessError.js
Due: control

Fix issue with double conversion of gRPC error
  Control/lib/middleware/lockOwnership.middleware.js
  Control/test/lib/middleware/mocha-lockOwnership.middleware.test.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Add kafka messages consumer to the Framework
  .github/workflows/proto-sync.yml
  Control/lib/control-core/GrpcProxy.js
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
  Framework/Backend/index.js
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/protobuf/getWebUiProtoIncludeDir.js
  Framework/Backend/protobuf/protos/common.proto
  Framework/Backend/protobuf/protos/events.proto
Due: control, framework

[OGUI-1497] Add copy-to-clipboard component
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/components/StatefulComponent.js
  Framework/Frontend/js/src/index.js
Due: framework

Use express response update error from web-ui instead
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/lib/controllers/Run.controller.js
  Control/lib/controllers/WorkflowTemplate.controller.js
  Control/lib/errors/updateExpressResponseFromNativeError.js
  Control/lib/middleware/lockOwnership.middleware.js
  Control/lib/middleware/minimumRole.middleware.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
  Control/test/lib/controllers/mocha-run-controller.test.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.test.js
  Control/test/lib/middleware/mocha-lockOwnership.middleware.test.js
  Control/test/lib/middleware/mocha-minimumRole.middleware.test.js
Due: control

Export grpcCodes from framework
  Framework/Backend/index.js
Due: framework

[OGUI-1596] Update grpcErrorToNativeError to provide option for developer to use either message or details (#2711)
  Framework/Backend/errors/grpcErrorCodes.enum.js
  Framework/Backend/errors/grpcErrorToNativeError.js
  Framework/Backend/index.js
  Framework/Backend/test/errors/mocha-grpcErrorToNativeError.js
Due: framework

Bump version of web-ui (#2712)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump to new webUI
  Control/package-lock.json
  Control/package.json
Due: control

Fix linter
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/components/StatefulComponent.js
  Framework/Frontend/js/src/index.js
Due: framework

[OGUI-1497] Add dropdown component
  Framework/Frontend/js/src/components/Component.js
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/components/DropdownComponent.js
  Framework/Frontend/js/src/components/PopoverEngine.js
  Framework/Frontend/js/src/components/PopoverPreConfigurations.js
  Framework/Frontend/js/src/components/createPortal.js
  Framework/Frontend/js/src/components/getUniqueId.js
  Framework/Frontend/js/src/components/popover.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/utilities/documentClickTaggedEventRegistry.js
Due: framework

Update test and QcDownloadService and CcdbService to implement fs promises API correctly
  Framework/Backend/util/QcDownload.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Update test and QcDownloadService to work correctly in tandem with eachother and fsp
  Framework/Backend/util/QcDownload.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Update test to include singular file download and fix bugs regarding async issues in tests
  Framework/Backend/util/QcDownload.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
