Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Make copy button style configurable
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Fix JSDOC
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

More JSDoc
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Handle clipboard copy failures
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Improve clipboard button docs and accessibility
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Remove aria-live
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Avoid undefined copy button IDs
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Clarify onFailure callback type
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Await clipboard writes in copy component
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Fix copying/pasting error
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Stealth fix to restart the success timer if clicked before completed
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Replace 2nd occurrence of vague param type
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Notify on Copy URL clipboard failures
  InfoLogger/public/log/commandLogs.js
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Stabilize copy URL failure notification test
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Improve the URL notification callback
  InfoLogger/public/log/commandLogs.js
Due: infologger

Fix unreliable test
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Reset clipboard test permissions and improve JSDOC
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Use global model in copy URL mocha test
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Update copy URL button test
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Add tests for copy URL button
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Trying to stabilise notifcation test
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Share render wait helper across UI tests
  InfoLogger/test/public/context-menu-test-utils.js
  InfoLogger/test/public/copy-url-btn-mocha.js
  InfoLogger/test/utils/utils.js
Due: infologger

Fix wrong assert text
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Add copy URL action to command logs
  InfoLogger/public/index.js
  InfoLogger/public/log/commandLogs.js
Due: infologger

Fix JSDoc
  InfoLogger/public/log/commandLogs.js
Due: infologger

Rename copy button
  InfoLogger/public/log/commandLogs.js
Due: infologger

Should copy the non-debounced version of URL
  InfoLogger/public/log/commandLogs.js
Due: infologger

Remove window location calls from log filter model
  InfoLogger/public/Model.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Change copyURL button to reference correct attr
  InfoLogger/public/log/commandLogs.js
Due: infologger

Remove references to location in a view
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Stabilise test again
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Fix copy url value
  InfoLogger/public/log/commandLogs.js
Due: infologger

Document better the shareable URL getter
  InfoLogger/public/Model.js
Due: infologger

Use another way to mock erroneous clipboard
  InfoLogger/test/public/copy-url-btn-mocha.js
Due: infologger

Fix URL copy button prop name
  InfoLogger/public/log/commandLogs.js
Due: infologger

refactor: move open branch state storage to static scope (#3297)
  QualityControl/public/object/ObjectTree.class.js
Due: qualitycontrol

Add content class support to copy button
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework

Fix CopyToClipboard button class handling
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
Due: framework
