Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Use void instead of function for eslint warnings
  Framework/Backend/http/server.js
Due: framework

[OGUI-1888] Add JWT log throttle to avoid spam of logs on incorrect usage of token + API (#3414)
  Framework/Backend/http/server.js
Due: framework

Remove carrot usage in dependencies of frameworks
  Framework/package-lock.json
  Framework/package.json
Due: framework

Remove unused dependency of mysql in framework
  Framework/Backend/db/mysql.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-mysql.js
  Framework/README.md
  Framework/docs/guide/mysql.md
  Framework/package-lock.json
  Framework/package.json
Due: framework

Update more dependencies
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix incorrect package-lock
  Framework/package-lock.json
Due: framework

[OGUI-1890] Update web-ui depencies to remove security vulnerabilities (#3415)
  Framework/Backend/db/mysql.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-mysql.js
  Framework/README.md
  Framework/docs/guide/mysql.md
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump WebUI version minor
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump WebUI version minor 2.10.0(#3416)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Update docker ca-certificates
  QualityControl/Dockerfile
Due: qualitycontrol

Do not use carrot in package
  Control/package-lock.json
  Control/package.json
Due: control

Remove unused dep
  Control/package-lock.json
  Control/package.json
Due: control

Remove 'google-protobuf' dependency as it is not used (#3430)
  Control/package-lock.json
  Control/package.json
Due: control

Update webui dependency
  Control/package-lock.json
  Control/package.json
Due: control

Update WebUI Dep in QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update WebUI Dep in ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Update tests as per new dependency outputs
  Control/test/api/configuration/api-get-configuration-restrictions.test.js
  Control/test/api/configuration/api-get-configuration.test.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/api/configuration/api-put-configuration.test.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/api/lock/api-get-locks.test.js
  Control/test/api/tasks/api-delete-tasks-test.js
  Control/test/api/tasks/api-get-task-by-id.test.js
  Control/test/api/tasks/api-get-tasks.test.js
Due: control

COG/QCG/ILG-Update webui dependency (#3431)
  Control/package-lock.json
  Control/package.json
  Control/test/api/configuration/api-get-configuration-restrictions.test.js
  Control/test/api/configuration/api-get-configuration.test.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/api/configuration/api-put-configuration.test.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/api/lock/api-get-locks.test.js
  Control/test/api/tasks/api-delete-tasks-test.js
  Control/test/api/tasks/api-get-task-by-id.test.js
  Control/test/api/tasks/api-get-tasks.test.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Add conditional creation of pool in query service
  InfoLogger/lib/services/QueryService.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

As this is a unit test with no mariadb instance, never create a pool
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

Make sure SQL config is not overwritten across test suite
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
Due: infologger

Add logging for better tracing of connreset
  InfoLogger/test/live-simulator/infoLoggerServer.js
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-1891] Add conditional creation of pool in query service (#3432)
  InfoLogger/lib/services/QueryService.js
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
  InfoLogger/test/live-simulator/infoLoggerServer.js
  InfoLogger/test/mocha-index.js
Due: infologger

Update patch of MariaDB
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Add dependencies label when PR by dependabot
  .github/dependabot.yml
Due: none

Add dependencies label when PR by dependabot (#3433)
  .github/dependabot.yml
Due: none

Do not use caret-down even for dev deps
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Refactor filter button components into reusable
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

Provide filters from model instead of hardcoded
  InfoLogger/public/view.js
Due: infologger

Add util function for checking if user has shifter but no admin role
  InfoLogger/public/common/utils.js
Due: infologger

On URL load, ensure shifters use only OPS level
  InfoLogger/public/Model.js
  InfoLogger/public/common/utils.js
  InfoLogger/public/constants/infologger-level.const.js
  InfoLogger/public/constants/role.const.js
Due: infologger

Fix eslint warnings in changed files
  InfoLogger/public/Model.js
  InfoLogger/public/common/utils.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Extract access util function
  InfoLogger/public/common/utils.js
  InfoLogger/public/view.js
Due: infologger

Add tests for shifter based roles
  InfoLogger/public/logFilter/commandFilters.js
  InfoLogger/test/public/shifter-based-actions-mocha.js
  InfoLogger/test/test-utils.js
Due: infologger

Add documentation for role-based
  InfoLogger/README.md
Due: infologger

Include newly added test suite
  InfoLogger/test/mocha-index.js
Due: infologger

Fix eslint in mocha-index
  InfoLogger/test/mocha-index.js
Due: infologger

Improve newly added consts
  InfoLogger/public/constants/infologger-level.const.js
  InfoLogger/public/constants/role.const.js
Due: infologger

[OGUI-1073] Redirect user to default filtered page if URL filter params are unparseable
  InfoLogger/public/Model.js
Due: infologger

[OGUI-1073] Added test case for invalid URL filters params notification
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
