Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Fix tests following addition of default version value
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
Due: infologger

[OGUI-1550] Fix issues with status service when missing components (#2580)
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/StatusController.js
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
  InfoLogger/test/lib/mocha-status-service.test.js
Due: infologger

Move logger to constructor initialization
  InfoLogger/lib/services/QueryService.js
Due: infologger

Add MariaDB dependency
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Improve and Move back QueryController to commonjs for testing
  InfoLogger/lib/controller/QueryController.js
  InfoLogger/test/lib/controller/mocha-QueryController.mjs
  InfoLogger/test/lib/controller/mocha-query-controller.js
Due: infologger

Use new QueryService in API
  InfoLogger/lib/api.js
Due: infologger

Add util function for converting SQL to JS native error
  InfoLogger/lib/utils/fromSqlToNativeError.js
  InfoLogger/test/lib/utils/mocha-from-sql-to-native-error.js
Due: infologger

Update Status Controller to new query service
  InfoLogger/lib/controller/StatusController.js
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
Due: infologger

Update names to test files as per convention
  InfoLogger/test/lib/controller/mocha-query-controller.test.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

Add updated query service
  InfoLogger/lib/services/QueryService.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

Fix test due to change of profile configuration
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger

Revert test change
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger

Update package-lock
  InfoLogger/package-lock.json
Due: infologger

[OGUI-1370] Migrate to newer NPM module for mysql connection (#2581)
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/QueryController.js
  InfoLogger/lib/controller/StatusController.js
  InfoLogger/lib/services/QueryService.js
  InfoLogger/lib/utils/fromSqlToNativeError.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/controller/mocha-QueryController.mjs
  InfoLogger/test/lib/controller/mocha-query-controller.test.js
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
  InfoLogger/test/lib/utils/mocha-from-sql-to-native-error.js
Due: infologger

Reset stats when query fails
  InfoLogger/public/log/Log.js
Due: infologger

Display error in view when query fails
  InfoLogger/public/view.js
Due: infologger

Use correct css class for error display
  InfoLogger/public/common/errorComponent.js
Due: infologger

[OGUI-1371] On Query failre, reset stats and display error (#2582)
  InfoLogger/public/common/errorComponent.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/view.js
Due: infologger

Disable autoscroll on user scroll up
  InfoLogger/public/log/tableLogsContent.js
Due: infologger

[OGUI-1319] Disable autoscroll on user scroll up (#2583)
  InfoLogger/public/log/tableLogsContent.js
Due: infologger

Check db connection on server start
  InfoLogger/lib/api.js
  InfoLogger/lib/services/QueryService.js
Due: infologger

[OGUI-1544] Check db connection on server start (#2584)
  InfoLogger/lib/api.js
  InfoLogger/lib/services/QueryService.js
Due: infologger

Bump ILG version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[release/ilg/1.14.0] (#2585)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bump QCG version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[release/qcg/3.8.6] (#2586)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Send request of user to all transitions to ECS
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/dtos/CoreEnvConfig.js
  Control/lib/services/Environment.service.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Improve code reusability
  Control/lib/control-core/RequestHandler.js
  Control/lib/dtos/User.js
  Control/lib/services/Environment.service.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

[OGUI-1551] Send request of user to all transitions to ECS (#2595)
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/dtos/CoreEnvConfig.js
  Control/lib/dtos/User.js
  Control/lib/services/Environment.service.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Use LogLevel from WebUI
  Control/lib/common/logLevel.enum.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/lib/controllers/Run.controller.js
  Control/lib/controllers/Status.controller.js
  Control/lib/services/Run.service.js
Due: control

[OGUI-1552] Use LogLevel from WebUI (#2596)
  Control/lib/common/logLevel.enum.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/lib/controllers/Run.controller.js
  Control/lib/controllers/Status.controller.js
  Control/lib/services/Run.service.js
Due: control

Add kafka library to COG
  Control/lib/api.js
  Control/package.json
Due: control

Update package-lock
  Control/package-lock.json
Due: control

Add DCS event adapter
  Control/lib/adapters/DcsIntegratedEventAdapter.js
Due: control

Add broadcast of DCS SOR events
  Control/lib/api.js
  Control/lib/common/cacheKeys.enum.js
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
  Control/lib/control-core/AliEcsSyncronizer.js
Due: control

Add flag not to display sor if start is done
  Control/lib/api.js
  Control/lib/control-core/EnvCache.js
Due: control

Fix bug of const assignemnet
  Control/lib/adapters/DcsIntegratedEventAdapter.js
Due: control

Add GUI elements
  Control/public/Model.js
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

Bump patch
  Control/package-lock.json
  Control/package.json
Due: control

Update PROTO files from AliECS
  Control/protobuf/protos/events.proto
  Control/protobuf/protos/protos/common.proto
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
