Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

feat: added license header for test files
  Tokenization/backend/central-system/tests/TokensController.spec.ts
  Tokenization/backend/central-system/tests/TokensGetService.spec.ts
Due: none

fix: banners
  Tokenization/backend/wrapper/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/test/central/CentralSystemWrapper.test.ts
  Tokenization/backend/wrapper/test/client/ConnectionManager/ConnectionManager.test.ts
Due: none

fix: unit test
  Tokenization/backend/wrapper/test/central/CentralSystemWrapper.test.ts
Due: none

[OGUI-1705] Design basic CentralSystem - gRPCWrapper stream communication (#2971)
  Tokenization/backend/wrapper/.gitignore
  Tokenization/backend/wrapper/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/jest.config.js
  Tokenization/backend/wrapper/models/config.model.ts
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/test/central/CentralSystemWrapper.test.ts
  Tokenization/backend/wrapper/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/tsconfig.json
Due: none

update: deleted unnecessary wrapper files creating conflicts
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/jest.config.js
  Tokenization/backend/wrapper/models/message.model.ts
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/proto/wrapper.proto
  Tokenization/backend/wrapper/tsconfig.json
  Tokenization/backend/wrapper/utils/__tests__/serialization.utils.test.ts
  Tokenization/backend/wrapper/utils/serialization.utils.ts
Due: none

fix: unit tests
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/jest.config.mjs
  Tokenization/backend/wrapper/test/client/ConnectionManager/ConnectionManager.test.ts
Due: none

fix: banners
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/test/central/CentralSystem.test.ts
Due: none

Upgrade GitHub Actions to use latest versions
  .github/workflows/tokenization.yml
Due: none

Delete Tokenization/docker-compose.test.yml
  Tokenization/docker-compose.test.yml
Due: none

Delete .github/workflows/tokenization.yml
  .github/workflows/tokenization.yml
Due: none

Delete Tokenization/webapp/tests/main.test.js
  Tokenization/webapp/tests/main.test.js
Due: none

remove duplicate
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/test/central/CentralSystem.test.ts
Due: none

fix: remove package lock
  Tokenization/package-lock.json
Due: none

Make runmodetests more reliable, Fix Aliecs sync test race condition
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/test/lib/services/external/AliEcsSynchronizer.test.js
  QualityControl/test/public/features/runMode.test.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Update docker compose files to improve layer caching and fix nodemon. Mariadb pinned to current LTS. Removed deprecated :cached instruction (mac only feature removed in 2021) and version attribute.
  QualityControl/Dockerfile
  QualityControl/docker-compose.dev.yml
  QualityControl/docker-compose.yml
  QualityControl/package.json
Due: qualitycontrol

fix: remove utils
  Tokenization/backend/wrapper/test/utils/serialization.utils.test.ts
  Tokenization/backend/wrapper/utils/serialization.utils.ts
  Tokenization/backend/wrapper/utils/types/webui.d.ts
Due: none

update: added license header
  Tokenization/backend/central-system/src/types/aliceo2__webui.d.ts
Due: none

[OGUI-1708] Create Connection class that handles every connection with information and channel between them (#2972)
  Tokenization/backend/wrapper/.gitignore
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/ConnectionManager/EventManagement/EventDispatcher.ts
  Tokenization/backend/wrapper/models/events.model.ts
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/tsconfig.json
  Tokenization/backend/wrapper/tsconfig.test.json
  Tokenization/backend/wrapper/utils/types/webui.d.ts
Due: none

fix: rename invalid test
  Tokenization/backend/wrapper/jest.config.js
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test..ts
Due: none

Delete test commands and devdependencies - mocha and puppeteer
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
Due: none

fix: remove serialization utils
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/test/utils/serialization.utils.test.ts
  Tokenization/backend/wrapper/src/utils/serialization.utils.ts
Due: none

fix: remove duplicates
  Tokenization/backend/wrapper/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/ConnectionManager/EventManagement/EventDispatcher.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/models/config.model.ts
  Tokenization/backend/wrapper/models/events.model.ts
  Tokenization/backend/wrapper/models/message.model.ts
  Tokenization/backend/wrapper/src/utils/types/webui.d.ts
  Tokenization/backend/wrapper/test/central/CentralSystemWrapper.test.ts
  Tokenization/backend/wrapper/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/utils/types/webui.d.ts
Due: none

chore: implement api tests
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/test/api/configuration/api-put-configuration.test.js
  Control/test/config/testConfigForConsul.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/mocha-index.js
Due: control

[OGUI-1701] Implement session-service (#2928)
  Configuration/docker-compose.yml
  Configuration/docker/provisioning/nginx/conf.d/default.conf
  Configuration/webapp/app/components/user-section/UserSection.tsx
  Configuration/webapp/app/routes/runs/details.tsx
  Configuration/webapp/app/routes/runs/overview.tsx
  Configuration/webapp/app/services/session.ts
  Configuration/webapp/app/ui/navbar.tsx
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/prettier.config.ts
  Configuration/webapp/test/mocha-index.ts
  Configuration/webapp/test/public/page-root-mocha.spec.ts
  Configuration/webapp/test/services/session.spec.ts
  Configuration/webapp/test/test-config.ts
  Configuration/webapp/tsconfig.json
Due: none

fix: remove public true from the endpoints
  Control/lib/api.js
Due: control

chore: fix tests
  Configuration/webapp/test/public/page-root-mocha.spec.ts
Due: none

fix: small fixes
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/api/configuration/api-put-configuration.test.js
  Control/test/config/testConfigForConsul.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
  Control/test/mocha-index.js
Due: control

chore: update tests
  Configuration/webapp/test/public/page-root-mocha.spec.ts
Due: none

[OGUI-1699] Display configuration keys (#2946)
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/components/layout/MainLayout.tsx
  Configuration/webapp/app/components/layout/content/ContentHeader.tsx
  Configuration/webapp/app/components/layout/drawer/LeftDrawer.tsx
  Configuration/webapp/app/components/user-section/UserSection.tsx
  Configuration/webapp/app/root.tsx
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/test/public/page-root-mocha.spec.ts
Due: none

test: fix test on non-existing configuration file
  Control/test/api/configuration/api-get-configuration-restrictions.test.js
Due: control

[OGUI-1728] Implement endpoint for saving new, edited configuration (#3118)
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/api/configuration/api-put-configuration.test.js
  Control/test/config/testConfigForConsul.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
  Control/test/mocha-index.js
Due: control

update: added changes discussed on todays meeting
  Tokenization/backend/central-system/index.js
  Tokenization/backend/central-system/jest.config.cjs
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/jest.config.cjs
  Tokenization/backend/package-lock.json
  Tokenization/backend/package.json
  Tokenization/docker-compose.yml
Due: none

fix: removed unused variables
  Tokenization/backend/central-system/index.js
Due: none

fix: updated api url
  Configuration/webapp/app/api/axiosInstance.ts
Due: none

fix: typescript fixes
  Configuration/webapp/app/api/query/useConfigurationKeysQuery.ts
  Configuration/webapp/app/api/queryClient.ts
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
Due: none

fix: revert api changes
  Control/lib/api.js
Due: control

fix: revert eslint api changes
  Control/lib/api.js
Due: control

chore: remove redundant package-lock.json
  Configuration/package-lock.json
Due: none

chore: remove redundant test folder and files
  Configuration/webapp/app/test/mocha-index.cjs
  Configuration/webapp/app/test/public/page-root-mocha.cjs
  Configuration/webapp/app/test/test-config.cjs
Due: none

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
