Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Update tests following default profile changes
  InfoLogger/test/lib/mocha-profile-service.js
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

[OGUI-1174] Increase the log limit to 1M for quering (#1387)
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/commandFilters.js
  InfoLogger/public/table/Table.js
  InfoLogger/test/lib/mocha-profile-service.js
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Queries should separate on new line for message column
  InfoLogger/lib/SQLDataSource.js
Due: infologger

Add new text area field for messge to allow for multi-line text
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/tableFilters.js
Due: infologger

Bump minor version for ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1022] Allow logs quering by multiple messages separated by new line (#1388)
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/tableFilters.js
Due: infologger

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

Add basic favicon
  Control/public/favicon.ico
Due: control

Release AliECS GUI 1.49.1 (#1389)
  Control/package-lock.json
  Control/package.json
  Control/public/favicon.ico
Due: control

Rename buttons and switch order of 2 columns on envs
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentsPage.js
  Control/test/integration/control-environment.js
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-1195] ILG Buttons renaming and columns order on active envs page (#1390)
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentsPage.js
  Control/test/integration/control-environment.js
  Control/test/public/page-environments-mocha.js
Due: control

Add multi-line filtering in live mode
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/tableFilters.js
Due: infologger

Bump patch version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1022] Ability to filter multi line messages live mode (#1391)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/tableFilters.js
Due: infologger

Remove layoutName from URL to make space for filters
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-view.test.js
Due: qualitycontrol

Add layout filters to URL
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/panels/filters.js
Due: qualitycontrol

Bump QCG minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1196] layout should store filter in url and take it into consideration when loading objects (#1393)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-view.test.js
Due: qualitycontrol

Staging QCG
  QualityControl/.eslintrc
  QualityControl/config.cjs
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/configProvider.cjs
  QualityControl/lib/config/publicConfigProvider.cjs
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/UserService.js
  QualityControl/lib/utils/utils.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/config.cjs
Due: qualitycontrol

Adds front-end widgets to improve UX for save/update core configuration
  Control/public/environment/Environment.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Adds back-end API routes for updating a core env configuration
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/dtos/CoreEnvConfig.js
  Control/lib/dtos/User.js
  Control/test/lib/mocha-apricot-service.js
Due: control

Bump minor version of AlIECS GUI
  Control/package-lock.json
  Control/package.json
Due: control

Make 100k default log request limit
  InfoLogger/public/log/Log.js
Due: infologger

Update logs limit to >25k to help SQL optimization process
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

Bump patch version of ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Update minimum log limit to 50K
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

[OGUI-1200] Adds option for admins and configurations authors to update an existing configuration (#1405)
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/dtos/CoreEnvConfig.js
  Control/lib/dtos/User.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/test/lib/mocha-apricot-service.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1170] Update logs limit number in user filters (#1406)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

Break word of long messages in inspector view
  InfoLogger/public/log/inspector.js
Due: infologger

Bump patch version of InfoLogger GUI
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1205] Inspector View should split long messages (#1425)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/inspector.js
Due: infologger

Add try/catch to prevent bad JSON configurations
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
Due: control

Improve warning message for bad configurations
  Control/public/workflow/Workflow.js
Due: control

Bump patch version of AliECS GUI
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1202] AliECS GUI should gracefully deal with badly formatted env configuration JSONs (#1427)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
Due: control

Staging
  QualityControl/config.cjs
  QualityControl/lib/QCModel.js
  QualityControl/lib/config/configProvider.cjs
  QualityControl/lib/config/publicConfigProvider.cjs
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/config.cjs
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/controllers/status-controller.test.js
  QualityControl/test/public/pages/about-page.test.js
Due: qualitycontrol

Fix bug of wrongly setting data connector
  QualityControl/lib/QCModel.js
  QualityControl/lib/config/publicConfigProvider.cjs
Due: qualitycontrol

Fix bug in which selected object would take over all screen
  QualityControl/.gitignore
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Bump Majort Version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update FLP IT with commonJS
  QualityControl/package.json
  QualityControl/test/integration/config-provider.cjs
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/offline-mode.cjs
  QualityControl/test/integration/online-mode.cjs
  QualityControl/test/integration/qcg-test.cjs
  QualityControl/test/integration/utils.cjs
Due: qualitycontrol

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
