Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Added http-proxy-3 dependancy, new api endpoint that downloads a ROOT object using the QcdbProxy service.
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/services/QcdbProxy.service.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

New basic tests for the QcdbProxy service and download object endpoint
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/services/QcdbProxyService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

small fix
  QualityControl/lib/services/QcdbDownload.service.js
Due: qualitycontrol

Improve code quality
  QualityControl/lib/services/QcdbDownload.service.js
Due: qualitycontrol

wip code cleanup, single root object service from qcdb
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/services/QcdbDownload.service.js
  QualityControl/lib/services/QcdbProxy.service.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/services/QcdbProxyService.test.js
Due: qualitycontrol

Refactor layoutIdMiddleware to accept LayoutService
  QualityControl/lib/api.js
  QualityControl/lib/middleware/layouts/layoutId.middleware.js
  QualityControl/test/lib/middlewares/layouts/layoutId.middleware.test.js
Due: qualitycontrol

Adapt LayoutController to use req.layout and new getLayoutByName
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/services/layout/LayoutService.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/services/layout/LayoutService.test.js
Due: qualitycontrol

filter layouts by object path
  QualityControl/lib/database/queries/getLayoutIdsWithChartObjectName.sql
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
Due: qualitycontrol

return single object in findObjectByChartId
  QualityControl/lib/database/models/GridTabCell.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
Due: qualitycontrol

fix layoutDisplayOptions retrieval
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

handle non-JSON responses gracefully
  QualityControl/public/services/utils/jsonFetch.js
Due: qualitycontrol

fix tests
  QualityControl/lib/database/seeders/20250930071308-seed-layouts.mjs
  QualityControl/lib/database/seeders/20250930071313-seed-tabs.mjs
  QualityControl/lib/database/seeders/20250930071322-seed-gridtabcells.mjs
  QualityControl/test/api/layouts/api-get-layout.test.js
  QualityControl/test/api/layouts/api-patch-layout.test.js
  QualityControl/test/api/layouts/api-put-layout.test.js
  QualityControl/test/demoData/layout/layout.mock.js
  QualityControl/test/lib/controllers/adapters/layout-adapter.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/test-index.js
Due: qualitycontrol

update sidebar layout name locally after save
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

fix superfluous trailing arguments warning
  QualityControl/lib/database/repositories/index.js
Due: qualitycontrol

Potential fix for code scanning alert no. 254: Unused variable, import, function or class
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
Due: none

chore: add config keys fetching error handling
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
Due: none

chore: adjust docs
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/components/layout/MainLayout.tsx
  Configuration/webapp/app/components/layout/content/ContentHeader.tsx
  Configuration/webapp/app/components/layout/drawer/LeftDrawer.tsx
Due: none

chore: adjust tests
  Configuration/webapp/test/public/page-root-mocha.cjs
Due: none

add service_healthy dependency to wait until the database service has started
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage-ci.yml
  QualityControl/docker-compose.coverage-local.yml
  QualityControl/docker-compose.dev.yml
  QualityControl/docker-compose.test.yml
  QualityControl/docker-compose.yml
Due: qualitycontrol

create sequelize repositories (data layer)
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/lib/database/repositories/ChartRepository.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
  QualityControl/test/lib/database/repositories/OptionRepository.test.js
  QualityControl/test/lib/database/repositories/TabRepository.test.js
  QualityControl/test/lib/database/repositories/UserRepository.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

update repositories and their tests
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/lib/database/repositories/ChartRepository.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/lib/database/repositories/index.js
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
  QualityControl/test/lib/database/repositories/OptionRepository.test.js
  QualityControl/test/lib/database/repositories/UserRepository.test.js
Due: qualitycontrol

fix lint issues
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
Due: qualitycontrol

move sql query to sequelize
  QualityControl/lib/database/queries/getLayoutIdsWithChartObjectName.sql
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
Due: qualitycontrol

sinon named imports
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/OptionRepository.test.js
  QualityControl/test/lib/database/repositories/TabRepository.test.js
  QualityControl/test/lib/database/repositories/UserRepository.test.js
Due: qualitycontrol

Added tests for single root functionality
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/services/QcdbDownload.service.js
  QualityControl/test/demoData/qcdbRoot/TObject_1732326337752.root
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/services/QcdbDownloadService.test.js
  QualityControl/test/lib/services/QcdbProxyService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Restrict force ALL actions to admin only
  Control/lib/api.js
  Control/public/lock/lockPage.js
  Control/test/api/lock/api-put-locks.test.js
Due: control

Remove unwanted log
  Control/test/api/lock/api-put-locks.test.js
Due: control

[OGUI-1761] Restrict Lock force ALL actions to admin users only (#3102)
  Control/lib/api.js
  Control/public/lock/lockPage.js
  Control/test/api/lock/api-put-locks.test.js
Due: control

[release/cog/2.0.0] (#3033)
  Control/lib/common/kvStore/runtime.enum.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[release/cog/2.0.1] (#3035)
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-329] Add Kafka from ECS Syncronizer in QCG (#3068)
  QualityControl/common/library/enums/emitterKeys.enum.js
  QualityControl/common/library/enums/transition.enum.js
  QualityControl/config-default.js
  QualityControl/docs/Configuration.md
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/dtos/KafkaConfigurationDto.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/lib/services/external/AliEcsSynchronizer.js
  QualityControl/lib/utils/environment.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/services/BookkeepingService.test.js
  QualityControl/test/lib/services/RunModeService.test.js
  QualityControl/test/lib/services/external/AliEcsSynchronizer.test.js
  QualityControl/test/test-index.js
  QualityControl/test/testUtils/delay.js
Due: qualitycontrol

[OGUI-1748] QC should be using logging that has facility set per process env (#3052)
  QualityControl/README.md
  QualityControl/docs/QCG_Developer_Logging_Conventions.md
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/UserController.js
  QualityControl/lib/database/SequelizeDatabase.js
  QualityControl/lib/database/index.js
  QualityControl/lib/database/migrations/20250424113921-add-default-options.mjs
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/lib/utils/httpRequests.js
  QualityControl/test/setup/testRepositorySetup.js
Due: qualitycontrol

[OGUI-1768] Run mode: smart refresh for object view(s) (#3067)
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

[OGUI-1769] Keep in-memory information from user's request (#3062)
  Control/lib/controllers/Deployment.controller.js
  Control/lib/services/Deployment.service.js
  Control/lib/services/Environment.service.js
  Control/public/pages/Environments/components/buttonToAcknowledgeDeployment.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Due: control

[OGUI-1757] Update layouts controller to allow objects path (#3038)
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/lib/dtos/ObjectPathDto.js
  QualityControl/test/lib/controllers/LayoutController.test.js
Due: qualitycontrol

Patch release for COG to fix an issue with undefined users (#3081)
  Control/package-lock.json
  Control/package.json
  Control/public/pages/Environments/Environments.page.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
