Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Fix missing undefined id of component
  Control/public/workflow/panels/variables/components.js
Due: control

Arrange switch component on center vertically
  Control/public/app.css
  Control/public/workflow/panels/variables/components.js
Due: control

Use label instead of div to trigger action
  Control/public/workflow/panels/variables/components.js
Due: control

[OGUI-1527] Toggle component should allow for value change on the entire hovered row (#2484)
  Control/public/app.css
  Control/public/workflow/panels/variables/components.js
Due: control

Fix undefined issue in case of missing EPN tasks and update UI displayed message
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/public/environment/components/environmentNavigationTabs.js
Due: control

Catch native error if it happens during adapter phase
  Control/lib/services/Environment.service.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Remove console log message
  Control/lib/services/Environment.service.js
Due: control

[OGUI-1528] Fix error being thrown and displayed on env-details for no epn tasks (#2485)
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/services/Environment.service.js
  Control/public/environment/components/environmentNavigationTabs.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Add sync procedure for new proto file
  .github/workflows/proto-sync.yml
  Control/protobuf/protos/protos/common.proto
Due: control

Add user to ECS requests for New or Control
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/dtos/User.js
  Control/lib/services/Environment.service.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Fix lint and GH reported security issues
  Control/lib/control-core/ControlService.js
  Control/lib/services/Environment.service.js
Due: control

[OGUi-1529] Add user to ECS requests for New or Control (#2486)
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/dtos/User.js
  Control/lib/services/Environment.service.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Due: control

Update QCG external link to include runType
  Control/public/common/qcgExternalLink.js
Due: control

Update runNumber key
  Control/public/common/qcgExternalLink.js
Due: control

Update QCG external link to include runType (#2487)
  Control/public/common/qcgExternalLink.js
Due: control

Only send pdp beam type if we have physics run
  QualityControl/public/Model.js
Due: qualitycontrol

Update PROTO files from AliECS
  Control/protobuf/protos/protos/common.proto
Due: control

Only send pdp beam type if we have physics run (#2488)
  QualityControl/public/Model.js
Due: qualitycontrol

Update proto file from ECS
  Control/protobuf/protos/protos/common.proto
Due: control

Bump web-ui and joi patch dependencies
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update proto file from ECS (#2490)
  Control/protobuf/protos/protos/common.proto
Due: control

Bump web-ui and joi patch dependencies (#2491)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump patch version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump COG
  Control/package-lock.json
  Control/package.json
Due: control

[release/cog/qcg] (#2492)
  Control/package-lock.json
  Control/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol

[OGUI-1452] Rename Log to Logger
  Framework/Backend/db/mysql.js
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/Logger.js
  Framework/Backend/services/jira.js
  Framework/Backend/services/notification.js
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/websocket/server.js
Due: framework

Fixing eslint
  Framework/Backend/websocket/server.js
Due: framework

Fix eslint more
  Control/test/lib/common/mocha-role-enum.test.js
  Framework/Backend/http/server.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/services/jira.js
  Framework/Backend/services/notification.js
  Framework/Backend/test/log/mocha-log.js
Due: control, framework

[OGUI-1452] Rename Log to Logger (#2493)
  Control/test/lib/common/mocha-role-enum.test.js
  Framework/Backend/db/mysql.js
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/Logger.js
  Framework/Backend/services/jira.js
  Framework/Backend/services/notification.js
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/websocket/server.js
Due: control, framework

[O2B-1532] Create enums for log level and severity
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/LogLevel.js
  Framework/Backend/log/LogSeverity.js
  Framework/Backend/log/Logger.js
  Framework/Backend/log/WinstonWrapper.js
Due: framework

Fix exports
  Framework/Backend/log/LogLevel.js
  Framework/Backend/log/LogSeverity.js
Due: framework

Fix test
  Framework/Backend/log/InfoLoggerMessage.js
Due: framework

Code review and further improvements
  Framework/Backend/log/Logger.js
Due: framework

Fix previous commit
  Framework/Backend/log/LogLevel.js
  Framework/Backend/log/LogSeverity.js
Due: framework

Fix linter?
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Logger.js
Due: framework

Fix imports
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Logger.js
Due: framework

Fix infologger default label
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

[OGUI-1532] Create enums for log level and severity (#2494)
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/LogLevel.js
  Framework/Backend/log/LogSeverity.js
  Framework/Backend/log/Logger.js
  Framework/Backend/log/WinstonWrapper.js
Due: framework

Preliminary code refactoring
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/Logger.js
  Framework/Backend/test/log/mocha-infologgermessage.js
Due: framework

Do not send messages with level > 10 to infologger
  .eslintrc.js
  Framework/Backend/log/Logger.js
  Framework/Backend/services/jira.js
Due: framework
