Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Fix test and lint
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Detector.service.js
  Control/test/lib/services/mocha-detector.service.test.js
Due: control

Add new middlewareFactory to check detectors availability
  Control/lib/api.js
  Control/lib/middleware/verifyDetectorsAvailabilityMiddlewareFactory.middleware.js
  Control/test/lib/middleware/mocha-verifyDetectorsAvailabilityMiddlewareFactory.test.js
Due: control

Remove unused import
  Control/lib/api.js
Due: control

Default to empty array instead of empty string
  Control/lib/middleware/verifyDetectorsAvailabilityMiddlewareFactory.middleware.js
Due: control

Remove unneeded await in test
  Control/test/lib/services/mocha-detector.service.test.js
Due: control

[OGUI-1642] Add new factory middleware to check if requested detectors are available (#2822)
  Control/lib/controllers/Environment.controller.js
  Control/lib/middleware/verifyDetectorsAvailabilityMiddlewareFactory.middleware.js
  Control/lib/services/Detector.service.js
  Control/test/lib/middleware/mocha-verifyDetectorsAvailabilityMiddlewareFactory.test.js
  Control/test/lib/services/mocha-detector.service.test.js
Due: control

refactor docker configuration
  .github/workflows/qc.yml
  QualityControl/.dockerignore
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage.yml
  QualityControl/docker-compose.dev.yml
  QualityControl/docker-compose.test.yml
  QualityControl/docker-compose.yml
  QualityControl/docker/database/configuration/my.cnf
  QualityControl/docker/database/populate/create-databases.sql
  QualityControl/docker/database/populate/create-user.sql
  QualityControl/package.json
  QualityControl/scripts/copy-config.sh
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

remove check for process.env.CHROME_BIN in tests
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

isolate Chromium and Puppeteer setup to test and coverage stages only
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage.yml
  QualityControl/docker-compose.dev.yml
  QualityControl/docker-compose.test.yml
  QualityControl/package.json
Due: qualitycontrol

Add docs of gRPC client monitoring
  Control/CHANGELOG.md
  Control/README.md
Due: control

fix tests
  QualityControl/package.json
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

fix 'Send codecov report' step in qc.yml
  .github/workflows/qc.yml
Due: none

Set-up Configuration application with example of react router based app
  Configuration/.gitignore
  Configuration/backend/index.js
  Configuration/backend/package-lock.json
  Configuration/backend/package.json
  Configuration/docker-compose.yml
  Configuration/docker/provisioning/nginx/conf.d/default.conf
  Configuration/webapp/app/app.css
  Configuration/webapp/app/components/logs/log.ts
  Configuration/webapp/app/components/runs/run-logs.tsx
  Configuration/webapp/app/components/runs/run.ts
  Configuration/webapp/app/root.tsx
  Configuration/webapp/app/routes.ts
  Configuration/webapp/app/routes/home.tsx
  Configuration/webapp/app/routes/runs/details.tsx
  Configuration/webapp/app/routes/runs/overview.tsx
  Configuration/webapp/app/ui/icon.tsx
  Configuration/webapp/app/ui/navbar.tsx
  Configuration/webapp/app/ui/spinner.tsx
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/public/favicon.ico
  Configuration/webapp/react-router.config.ts
  Configuration/webapp/tsconfig.json
  Configuration/webapp/vite.config.ts
Due: none

Add docs of gRPC client monitoring (#2824)
  Control/CHANGELOG.md
  Control/README.md
Due: control

fix after review
  QualityControl/.dockerignore
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage.yml
  QualityControl/docker-compose.yml
  QualityControl/scripts/copy-config.sh
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

fix qc.yml
  .github/workflows/qc.yml
Due: none

debug coverage contents
  .github/workflows/qc.yml
Due: none

fix: output lcov report to coverage/lcov.info for Codecov upload
  QualityControl/package.json
Due: qualitycontrol

add fail_ci_if_error to qc.yml
  .github/workflows/qc.yml
Due: none

add necessary documentation
  QualityControl/Dockerfile
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

Improve dependencies
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none

Add readme
  Configuration/README.md
Due: none

support coverage local
  .github/workflows/qc.yml
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage-ci.yml
  QualityControl/docker-compose.coverage-local.yml
  QualityControl/package.json
Due: qualitycontrol

add container name for coverage-ci
  QualityControl/docker-compose.coverage.yml
Due: qualitycontrol

add container names
  QualityControl/docker-compose.coverage-ci.yml
  QualityControl/docker-compose.coverage-local.yml
Due: qualitycontrol

volume notes
  QualityControl/docker-compose.dev.yml
Due: qualitycontrol

remove end of new lines
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage.yml
Due: qualitycontrol

[OGUI-1618] Refactor docker configuration (#2823)
  .github/workflows/qc.yml
  QualityControl/.dockerignore
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage.yml
  QualityControl/docker-compose.dev.yml
  QualityControl/docker-compose.test.yml
  QualityControl/docker-compose.yml
  QualityControl/docker/database/configuration/my.cnf
  QualityControl/docker/database/populate/create-databases.sql
  QualityControl/docker/database/populate/create-user.sql
  QualityControl/package.json
  QualityControl/scripts/copy-config.sh
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

[OGUI-1646] Support docker coverage local (#2828)
  .github/workflows/qc.yml
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage-ci.yml
  QualityControl/docker-compose.coverage-local.yml
  QualityControl/package.json
Due: qualitycontrol

Remove deps
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update as per npm audit recommendation
  Framework/package-lock.json
Due: framework

Add jsonwebtoken as directdependency for test stability in devDeps
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Disable QC compatibility during transition
  .github/workflows/framework.yml
Due: none

Remove direct dependency
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Revery package-lock mistake
  QualityControl/package-lock.json
Due: qualitycontrol

database configuration
  QualityControl/config-default.js
  QualityControl/docker/database/populate/create-user.sql
  QualityControl/lib/config/database.js
Due: qualitycontrol

sequelize initialization
  QualityControl/lib/QCModel.js
  QualityControl/lib/database/SequelizeDatabase.js
  QualityControl/lib/database/index.js
  QualityControl/lib/database/models/Chart.js
  QualityControl/lib/database/models/ChartOption.js
  QualityControl/lib/database/models/GridTabCell.js
  QualityControl/lib/database/models/Layout.js
  QualityControl/lib/database/models/Option.js
  QualityControl/lib/database/models/Tab.js
  QualityControl/lib/database/models/User.js
  QualityControl/lib/database/models/index.js
  QualityControl/lib/database/umzug.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Add Node EventEmitter to be used within AliECS Synchronizer
  Control/lib/api.js
  Control/lib/common/emitterKeys.enum.js
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Rename adapter to better describe usecase
  Control/lib/kafka/adapters/fromEcsEventToEnvironmentEvent.js
Due: control

Update adapter and typedef for own EnvironmentEvent
  Control/lib/kafka/adapters/fromEcsEventToEnvironmentEvent.js
  Control/lib/typedefs/EnvironmentEvent.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
