Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Fixed Api-lock tests
  Control/lib/dtos/User.js
Due: control

Eslint doing its thing
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

wip testing
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Added functionality for root object downloads, all that misses is the download of the generated tarball to the frontend and cleanup after that
  Framework/Backend/util/simpleTmp.js
  Framework/package-lock.json
  Framework/package.json
  QualityControl/public/Model.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
Due: qualitycontrol, framework

Integrates simpleTmp.js into the framework slightly
  Framework/Backend/index.js
  Framework/Backend/util/simpleTmp.js
  QualityControl/index.js
Due: qualitycontrol, framework

Integrates simpleTmp.js into the framework slightly
  Framework/Backend/util/simpleTmp.js
Due: framework

Added export statement and temporary import statement for simpleTmp.js
  Framework/Backend/util/simpleTmp.js
  QualityControl/index.js
Due: qualitycontrol, framework

Updated simpleTmp config and logging (replaced console.log with logger (from: LogManager.getLogger))
  Framework/Backend/util/simpleTmp.js
Due: framework

simpleTmp now utilizes the ccdb config directly for it's server url for downloads
  Framework/Backend/util/simpleTmp.js
  QualityControl/index.js
Due: qualitycontrol, framework

simpleTmp has been renamed to more fitting QcDownloadService
  Framework/Backend/index.js
  Framework/Backend/util/QcDownload.service.js
  QualityControl/index.js
  QualityControl/lib/QCModel.js
Due: qualitycontrol, framework

Add support for ECS operation done in SOR
  Control/lib/adapters/DcsIntegratedEventAdapter.js
  Control/lib/common/ecsOperationAndStepStatus.enum.js
  Control/public/common/enums/DetectorState.enum.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

Fix lint issues
  Control/lib/adapters/DcsIntegratedEventAdapter.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

[OGUI-1590] Add support for final ECS operation (error/timeout) in DCS SOR pane (#2697)
  Control/lib/adapters/DcsIntegratedEventAdapter.js
  Control/lib/common/ecsOperationAndStepStatus.enum.js
  Control/public/common/enums/DetectorState.enum.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Due: control

Bump COG version
  Control/package-lock.json
  Control/package.json
Due: control

Bump COG version (#2698)
  Control/package-lock.json
  Control/package.json
Due: control

QcDownloadService.test.js has been added and now includes a test for initialization of config and root directory
  Framework/Backend/util/QcDownload.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol, framework

QcDownloadService.test.js has been added and now includes a test for initialization of config and root directory
  Framework/Backend/util/QcDownload.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Update Url with correct States
  Control/public/common/task/TaskTableModel.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/pages/Environment/Environment.page.js
Due: control

QcDownloadService.test.js has had some adjustments to work on the first run and also now includes a check for the timed removal of child directories for downloads
  Framework/Backend/util/QcDownload.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

QcDownloadService.test.js initialization now looks for file corpses from previous runs and deletes them from the filesystem.
  Framework/Backend/util/QcDownload.service.js
Due: framework

QcDownloadService.test.js now covers singular and multiple file downloads, and generating a tarball.
  Framework/Backend/util/QcDownload.service.js
  QualityControl/lib/QCModel.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

wip
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/view.js
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

wip2
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

wip3
  InfoLogger/public/Model.js
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

wip4
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

wip5
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

wip6
  InfoLogger/public/Model.js
Due: infologger

QcDownloadService.test.js now uses fs.promises instead of synchronous callback based fs wherever possible.
  Framework/Backend/util/QcDownload.service.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

backend: add info about tab name
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

add tab name to path when going back
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

checks if a tab is set
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

add tests
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

rename tab name. call payload getter
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

[OGUI-1593] Preserve layout tab in path in Layout Show View After Navigating Back from Object View (#2702)
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

Local testing file is downloaded to frontend, but desktop portal is not prompted for file download dialogue
  Framework/Backend/util/QcDownload.service.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Local test file can now be downloaded with download dialogue, however it no longer uses the loader as it does not support blobs
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

WIP testing
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

WIP Docker support
  InfoLogger/.dockerignore
  InfoLogger/Dockerfile
  InfoLogger/INFOLOGGER.sql
  InfoLogger/README.md
  InfoLogger/config-default.js
  InfoLogger/docker-compose.dev.yml
  InfoLogger/docker-compose.yaml
  InfoLogger/test/live-simulator/infoLoggerServer.js
Due: infologger

Fixed live mode mocha test
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger
