Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Fixed CodeScanning
  Control/test/lib/middleware/mocha-addDetectorId.middleware.test.js
Due: control

Removed unrelated comments
  Control/test/api/lock/api-put-locks.test.js
Due: control

DetectorOwnerShip Check Role
  Control/lib/middleware/detectorOwnership.middleware.js
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

Added Tests for RoleChecks
  Control/lib/middleware/detectorOwnership.middleware.js
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

[OGUI-1581] Split action for taking/releasing all locks in API router (#2672)
  Control/lib/api.js
  Control/lib/common/detectorId.enum.js
  Control/lib/middleware/addDetectorId.middleware.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/middleware/mocha-addDetectorId.middleware.test.js
Due: control

Added ConvertStringToArray
  Control/lib/common/StringToArray.js
  Control/lib/middleware/detectorOwnership.middleware.js
  Control/lib/middleware/minimumRole.middleware.js
Due: control

Removed unsused Import
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

mock backend for run types selector
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

run types selector in layout show view
  QualityControl/public/Model.js
  QualityControl/public/common/filter.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/services/Filter.service.js
Due: qualitycontrol

organize intervals intitialization
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

add and fix documentation
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/public/services/Filter.service.js
Due: qualitycontrol

js getter, fix hardcoding
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

filter selector options
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterTypes.js
Due: qualitycontrol

retrieve run types management
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/public/services/Filter.service.js
Due: qualitycontrol

fix autoselector, check if enough tabs, filter service initialization
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
Due: qualitycontrol

Working url params
  InfoLogger/public/Model.js
  InfoLogger/public/log/commandLogs.js
Due: infologger

bookkeeping service tests
  QualityControl/test/config.js
  QualityControl/test/lib/services/BookeepingService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

refactor test config to match bookkeeping key
  QualityControl/test/config.js
  QualityControl/test/lib/services/BookeepingService.test.js
Due: qualitycontrol

filters controller tests
  QualityControl/lib/controllers/FilterController.js
  QualityControl/test/lib/controllers/FiltersController.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

layout view frontend tests updated
  QualityControl/index.js
  QualityControl/test/config.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/bkp-mock-data.js
  QualityControl/test/setup/testSetupForBkp.js
Due: qualitycontrol

Merge changes from dev
  .gitignore
  .vscode/launch.json
  Control/lib/api.js
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package.json
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/layout-show/json-file-mock.js
  QualityControl/test/setup/seeders/qcg-mock-data-template.json
  QualityControl/test/test-index.js
Due: control, qualitycontrol, infologger, framework

Merge changes from dev
  QualityControl/public/layout/Layout.js
  QualityControl/test/test-index.js
Due: qualitycontrol

fix eslint rules
  QualityControl/public/common/filters/filter.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
Due: qualitycontrol

update readme
  QualityControl/README.md
Due: qualitycontrol

Added stringToArray mocha tests
  Control/test/lib/common/mocha-stringToArray.test.js
Due: control

Fixed Mocha stringToArray Test
  Control/lib/common/StringToArray.js
Due: control

revert unintended change
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

error handling filtercontroller, refactorization,
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/public/common/filters/filter.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
