Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Improve log guide
  Framework/Backend/log/Log.js
  Framework/docs/guide/logging.md
  Framework/docs/guide/websockets.md
Due: framework

Improve log guide (#469)
  Framework/Backend/log/Log.js
  Framework/docs/guide/logging.md
  Framework/docs/guide/websockets.md
Due: framework

Unify config documentation
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
  Framework/docs/guide/logging.md
  Framework/docs/guide/mysql.md
  Framework/docs/guide/openid.md
  Framework/docs/guide/websockets.md
Due: framework

[OGUI-514] Unify config documentation in backend guide (#470)
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
  Framework/docs/guide/logging.md
  Framework/docs/guide/mysql.md
  Framework/docs/guide/openid.md
  Framework/docs/guide/websockets.md
Due: framework

Improve MySQL docs
  Framework/docs/guide/mysql.md
Due: framework

[OGUI-514] Improve MySQL backend guide (#471)
  Framework/docs/guide/mysql.md
Due: framework

Typo in mysql.md
  Framework/docs/guide/mysql.md
Due: framework

Fix square brackets in backend guide
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
  Framework/docs/guide/logging.md
  Framework/docs/guide/mysql.md
Due: framework

[OGUI-514] Fix square brackets in backend guide (#472)
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
  Framework/docs/guide/logging.md
  Framework/docs/guide/mysql.md
Due: framework

Fix 404 when accessing custom path added via .addStaticPath
  Framework/Backend/http/server.js
Due: framework

Bump to v1.10.1
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-516] Fix 404 when accessing custom path added via .addStaticPath (#474)
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-517] Fix UnhandledPromiseRejection in HTTP module
  Framework/Backend/http/server.js
Due: framework

Bump to 1.10.2
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-517] Fix UnhandledPromiseRejection in HTTP module (#473)
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add Windows build
  .github/workflows/framework.yml
Due: none

Use semicolon
  .github/workflows/framework.yml
Due: none

do not run eslint on windows
  .github/workflows/framework.yml
Due: none

Use url.resolve instead of path.join
  Framework/Backend/http/server.js
Due: framework

Use url.resolve instead of path.join 2
  Framework/Backend/http/server.js
Due: framework

Increase timeout so mocha does not timeout
  Framework/Backend/test/mocha-openid.js
Due: framework

Add warning to linebreak-style
  .eslintrc.js
Due: none

Release 1.10.3
  .github/workflows/framework.yml
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-519] Add Windows build to Framework workflow (#475)
  .eslintrc.js
  .github/workflows/framework.yml
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-openid.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Deprecate refreshToken method in JWT module
  Framework/Backend/jwt/token.js
Due: framework

Replace npm-install with npm-ci in GH Action workflows
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Sync package-lock with package of Control
  Control/package-lock.json
Due: control

Sync package-lock with package of InfoLogger
  InfoLogger/package-lock.json
Due: infologger

Deprecate refreshToken method in JWT module (#476)
  Framework/Backend/jwt/token.js
Due: framework

Bring package-lock in sync with package.json in QC
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

QC cant use npm-ci due to C++ module
  .github/workflows/qc.yml
Due: none

Run on latest Ubuntu
  .github/workflows/infologger.yml
Due: none

Drop mysql from CI
  .github/workflows/infologger.yml
Due: none

[OGUI-522] Fix failing InfoLogger GHA workflow due to MySQL connection (#478)
  .github/workflows/infologger.yml
Due: none

[OGUI-521] Replace npm-install with npm-ci in GH Action workflows (#477)
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  Control/package-lock.json
  InfoLogger/package-lock.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

[OGUI-509] Add conditino for shutting down in running as well
  Control/protobuf/o2control.proto
  Control/public/common/showTableList.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-509] Add tests for shutdown
  Control/test/mocha-index.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-509] Disable buttons during action
  Control/public/common/showTableList.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-503] Fix tooltips style
  Control/public/app.css
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-503] Fix ESLint issues
  Control/public/configuration/configurationPage.js
Due: control

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
