Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-583] Add force shutdown button (#543)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentPage.js
Due: control

[OGUI-577] Use set for Consul Keys (#544)
  Control/lib/ConsulConnector.js
  Control/test/lib/mocha-consul-connector.js
Due: control

Staging
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/QCModel.js
Due: qualitycontrol

[OGUI-330] Update CC code to allow timestamp parameter
  QualityControl/tobject2json.cc
Due: qualitycontrol

[OGUI-330] Add timestamp list method to CCDBConnector
  QualityControl/lib/CCDBConnector.js
  QualityControl/test/lib/mocha-ccdb-connector.js
Due: qualitycontrol

[OGUI-330] Add API Call for timestamp list
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/lib/api.js
Due: qualitycontrol

[OGUI-330] Add lastModified in table column
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-591] Move refresh interval outside of object scope
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-591] Separete online mode from object
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

[OGUI-591] Staging
  QualityControl/public/Model.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-589] Add initial skeleton for QCG IT tests
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
  QualityControl/test/integration/qcg-test.js
Due: qualitycontrol

[OGUI-582] Add use of force shutdown
  Control/test/integration/control-environment.js
Due: control

Add function to open inspector on doubleclick
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/test/mocha-index.js
Due: infologger

Fix the failing test
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-596] Use fix winston version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-596] Use fix winston version (#547)
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-596] Bump WebUI due to Winston issue
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-596] Bump WebUI due to Winston issue (#548)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-584] Change headless to true
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-584] open log inspector on double click (#549)
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/test/mocha-index.js
Due: infologger

Tackle LGTM warnings
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/public/common/Timezone.js
  InfoLogger/public/common/moment-timezone.js
  InfoLogger/public/common/moment.js
Due: infologger

Add default value in handleError function
  InfoLogger/lib/api.js
Due: infologger

[OGUI-589] Add offline cases
  QualityControl/test/integration/offline-mode.js
Due: qualitycontrol

[OGUI-589] Add online steps
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

[OGUI-589] Import both modes
  QualityControl/test/integration/qcg-test.js
Due: qualitycontrol

[OGUI-589] Add integration tests command
  QualityControl/package.json
Due: qualitycontrol

[OGUI-587] tackle lgtm warnings (#550)
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/public/common/Timezone.js
  InfoLogger/public/common/moment-timezone.js
  InfoLogger/public/common/moment.js
Due: infologger

[OGUI-597] Minimize output for FLP CI
  QualityControl/test/integration/qcg-test.js
Due: qualitycontrol

[OGUI-589] Improve tests through config file
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

[OGUI-589] Use timeout from config file or default
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/qcg-test.js
Due: qualitycontrol

Bump QCG patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-597] Minimize output
  Control/package.json
  Control/test/integration/core-tests.js
Due: control

[OGUI-597] Use proper configuration
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-597] Update Title and fix function
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

Test LGTM
  README.md
Due: none

Test-LGMT
  Control/index.js
Due: control

[OGUI-597] show less output in integration-tests (#552)
  Control/package.json
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

Bump WebUI
  Control/package-lock.json
  Control/package.json
Due: control

Use node 14 to see if grpc bug is fixed
  .github/workflows/control.yml
Due: none

Downgrade node-grpc
  .github/workflows/control.yml
  Control/package-lock.json
  Control/package.json
Due: control
