Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-1035] Do not pass organisation ID in Grafana dashboard URL
  Control/lib/config/publicConfigProvider.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Due: control

Bump version
  Control/package-lock.json
  Control/package.json
  Framework/Backend/http/server.js
Due: control, framework

[OGUI-1035] Do not pass organisation ID in Grafana dashboard URL (#943)
  Control/lib/config/publicConfigProvider.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
  Framework/Backend/http/server.js
Due: control, framework

[OGUI-1036] Rename Grafana dashboard to match conventions
  Control/lib/config/publicConfigProvider.js
Due: control

tests
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Due: control

[OGUI-1036] Rename Grafana dashboards to match conventions (#948)
  Control/lib/config/publicConfigProvider.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Due: control

Bump COG patch version
  Control/package-lock.json
  Control/package.json
Due: control

Bump COG patch version (#949)
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-650] Add level as column similar to severity
  InfoLogger/public/log/inspector.js
  InfoLogger/public/log/tableColGroup.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/public/log/tableLogsHeader.js
Due: infologger

Bump ILG minor version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-650] Display level column in table and inspector (#952)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/inspector.js
  InfoLogger/public/log/tableColGroup.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/public/log/tableLogsHeader.js
Due: infologger

[OGUI-1033] Display notification if live-start has issues
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

[OGUI-1033] Display notification if live-start has issues (#953)
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

[OGUI-1043] Add consul protocol and default
  Control/lib/config/publicConfigProvider.js
  Control/public/configuration/ConfigByCru.js
  Control/test/mocha-index.js
Due: control

Bump Patch Version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1043] Add consul protocol and default value for it (#962)
  Control/lib/config/publicConfigProvider.js
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
  Control/test/mocha-index.js
Due: control

[OGUI-1050] Resizable textarea vertically only
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1050] Remove last character if new line
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1050] Add documentation line
  Control/public/workflow/panels/variables/advancedPanel.js
Due: control

[OGUI-1050] Update misleading labels
  Control/public/workflow/panels/variables/advancedPanel.js
Due: control

[OGUI-1050] Use textarea for values in adv config panel (#963)
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1048] Standardize auto environments
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/public/Model.js
  Control/public/configuration/ConfigByCru.js
  Control/public/task/Task.js
  Control/public/task/content.js
Due: control

[OGUI-1048] Standardize auto environments (#965)
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/public/Model.js
  Control/public/configuration/ConfigByCru.js
  Control/public/task/Task.js
  Control/public/task/content.js
Due: control

[OGUI-1026] Add criteria to roc-config ilg
  Control/public/configuration/configPage.js
Due: control

[OGUI-1053] Use full URL with protocol for ILG
  Control/lib/config/publicConfigProvider.js
  Control/public/configuration/configPage.js
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentPage.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

[OGUI-1026] & [OGUI-1053] Update ILG redirects to use full URL and add filters (#966)
  Control/lib/config/publicConfigProvider.js
  Control/public/configuration/configPage.js
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentPage.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

[OGUI-1052] Send vars rather than hosts to autoenv
  Control/lib/control-core/ControlService.js
Due: control

[OGUI-1052] Add force option for running roc-config
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/configPage.js
Due: control

Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1051] Add search box for saved configurations
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/advancedPanel.js
Due: control

[OGUI-1051] Add search box for saved configurations (#968)
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/advancedPanel.js
Due: control

[OGUI-1052] Improve visuals for Chrome
  Control/public/configuration/components/userLogicCheckBox.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-1052] Allow passing force flag on cru config (#967)
  Control/lib/control-core/ControlService.js
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components/userLogicCheckBox.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-1049] Provide entire URL to InfoLogger GUI
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/test/lib/mocha-public-config.js
Due: control

[OGUI-1055] Bump QCG patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1055] Add new status route for services
  QualityControl/lib/StatusService.js
  QualityControl/lib/api.js
  QualityControl/test/lib/mocha-status-service.js
Due: qualitycontrol

[OGUI-1055] Add status route
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-status-service.js
Due: infologger

[OGUI-1055] Bump JSROOT
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1055] Add status route (#975)
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-status-service.js
Due: infologger

Revert ILG bump
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
