Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Fix crash due to missing logger
  InfoLogger/lib/controller/ConfigController.js
Due: infologger

Fixed BKP button (achor), now opens new BKP entry with basic info
  InfoLogger/public/log/inspector.js
Due: infologger

Improve data passed through to BKP
  InfoLogger/public/log/inspector.js
Due: infologger

Env State Copy
  Control/public/common/buttons/DropdownCopyValue.js
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

Use Framework Components instead of own
  Control/public/common/buttons/DropdownCopyValue.js
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

Use Right DropdownComponent
  Control/package.json
  Control/public/common/buttons/DropdownCopyValue.js
Due: control

Load Dependencies
  Control/package-lock.json
  Control/package.json
Due: control

Cleanup code for BKP entry button
  InfoLogger/public/log/inspector.js
Due: infologger

Anchor looks more like a button now
  InfoLogger/public/log/inspector.js
Due: infologger

Fix package.json
  Control/package.json
Due: control

DropdownCopyValue
  Control/package-lock.json
  Control/public/common/buttons/DropdownCopyValue.js
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

Use Paragraph instead of H3
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

Update test to better use asynchronous behaviour, 2 parts of the test remain to be fixed
  Framework/Backend/util/QcDownload.service.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Fix download behaviour for multiple file downloads
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol

Attempt to fix tests
  Framework/Backend/util/QcDownload.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Attempt to fix tests, update package.json and lock
  Framework/Backend/util/QcDownload.service.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol, framework

Refactor location of QcDownload.service.js
  Framework/Backend/index.js
  QualityControl/lib/services/QcDownload.service.js
Due: qualitycontrol, framework

Fix QcDownload.service.js not being instantiated in the test
  QualityControl/lib/services/QcDownload.service.js
  QualityControl/test/lib/services/QcDownloadService.test.js
Due: qualitycontrol

Change imports of QcDownloadService
  Framework/Backend/index.js
  QualityControl/index.js
  QualityControl/lib/QCModel.js
Due: qualitycontrol, framework

Update default configuration for QCG to include QcDownload.service.js
  QualityControl/config-default.js
Due: qualitycontrol

Update default configuration for QCG to include QcDownload.service.js with comments on what it doesC
  QualityControl/config-default.js
Due: qualitycontrol

Fix download not working on frontend with QcDownload.service.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/QcDownload.service.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Processed feedback
  InfoLogger/public/log/inspector.js
Due: infologger

live query test works, peer coding with George
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

Moved minifyCriteria to js module
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/utils/minifyCriteria.js
  Framework/Backend/websocket/server.js
Due: framework

minifyCriteria moved to separate test files
  Framework/Backend/test/mocha-utils.js
  Framework/Backend/test/mocha-ws.js
Due: framework

Try catch added at call to minifyCriteria in server.js
  Framework/Backend/websocket/server.js
Due: framework

Added a few partitions to ILG simul test fakeData.json
  InfoLogger/test/live-simulator/fakeData.json
Due: infologger

layout owner middleware
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/middleware/layouts/layoutOwner.middleware.js
Due: qualitycontrol

layout id middleware
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/middleware/layouts/layoutId.middleware.js
Due: qualitycontrol

Added missing popover class
  Control/public/app.css
Due: control

Options shown value
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

Added infoLoggerButtonLink, to showtable
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/showTableItem.js
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerHostPanel.js
Due: control

Added Pid to LoggerButtonLink
  Control/public/common/showTableItem.js
  Control/public/common/task/flpTasksTable.js
Due: control

Add popover styles
  Framework/Frontend/css/src/bootstrap.css
Due: framework

InfoLoggerButtonLink to Correct Place
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/showTableItem.js
  Control/public/common/task/flpTasksTable.js
Due: control

Remove Popover styling out of Control
  Control/public/app.css
Due: control

add validation to ensure id corresponds to an existing layout
  QualityControl/lib/middleware/layouts/layoutId.middleware.js
  QualityControl/lib/services/JsonFileService.js
Due: qualitycontrol

session and owner info error handlers
  QualityControl/lib/middleware/layouts/layoutOwner.middleware.js
Due: qualitycontrol

fix invalidinputerror import
  QualityControl/lib/middleware/layouts/layoutId.middleware.js
Due: qualitycontrol
