Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Fix tests for environments
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1134] Improve tests in AliECS GUI and update dependencies (#1458)
  .github/workflows/control.yml
  Control/package-lock.json
  Control/package.json
  Control/test/config/core-grpc.js
  Control/test/integration/create-new-environment.js
  Control/test/lib/mocha-status-service.js
  Control/test/mocha-index.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-lock-mocha.js
  Control/test/public/page-new-environment-mocha.js
  codecov.yml
Due: control

Update ubuntu on framework pipeline
  .github/workflows/framework.yml
Due: none

Bump NodeJS to v16 for framework pipeline
  .github/workflows/framework.yml
Due: none

Install framework locally before linking it to GUIs comp-tests
  .github/workflows/framework.yml
Due: none

Bump NodeJS to 16 across projects
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Update docs with NodeJS 16 change
  Control/package-lock.json
  Framework/README.md
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  QualityControl/package-lock.json
Due: control, qualitycontrol, infologger, framework

Update COG and ILG Docs on NodeJS 16 min use
  Control/README.md
  InfoLogger/README.md
Due: control, infologger

Update GH Actions workflow pipelines (#1484)
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  Control/README.md
  Control/package-lock.json
  Framework/README.md
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/README.md
  InfoLogger/package-lock.json
  QualityControl/package-lock.json
Due: control, qualitycontrol, infologger, framework

[OGUI-1226] Restrict service accounts access (#1466)
  Framework/Backend/http/server.js
  Framework/docs/guide/openid.md
Due: framework

[OGUI-1235] Remove wildcards from connectSrc CSP (#1467)
  Framework/Backend/http/server.js
Due: framework

Migrate to config-providers to ES6
  QualityControl/lib/config/configProvider.cjs
  QualityControl/lib/config/configProvider.js
  QualityControl/lib/config/publicConfigProvider.cjs
  QualityControl/test/lib/config/public-config.test.js
Due: qualitycontrol

More changes for ES6 migration
  QualityControl/config.cjs
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/config/configProvider.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/UserService.js
  QualityControl/lib/utils/utils.js
  QualityControl/package.json
  QualityControl/test/integration/offline-mode.cjs
  QualityControl/test/integration/online-mode.cjs
  QualityControl/test/integration/utils.cjs
  QualityControl/test/lib/controllers/layout-controller.test.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/lib/controllers/status-controller.test.js
  QualityControl/test/lib/index.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/lib/services/json-service.test.js
  QualityControl/test/lib/services/user-service.test.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
  QualityControl/test/test-config.js
Due: qualitycontrol

Remove use of unsafe-eval in webui server
  Framework/Backend/http/server.js
  Framework/Frontend/compatibility.html
  Framework/Frontend/js/src/compatibility.js
Due: framework

Bump minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Revert wrongly bumped library
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump WebUI minor version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Update tests with unsafe-inline usecase
  Framework/Frontend/test/public/index.html
  Framework/Frontend/test/public/index.js
Due: framework

Add missing new lines
  Framework/Frontend/test/public/index.html
  Framework/Frontend/test/public/index.js
Due: framework

[OGUI-1233] Remove use if unsafe-inline and unsafe-eval in script-src server (#1487)
  Framework/Backend/http/server.js
  Framework/Frontend/compatibility.html
  Framework/Frontend/js/src/compatibility.js
  Framework/Frontend/test/public/index.html
  Framework/Frontend/test/public/index.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Remove unnecessary unsafe-inline and unsafe-evals
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/index.js
Due: qualitycontrol

Bump QCG patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1233] Integrate new webui version and remove uses of unsafe (#1488)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/index.js
Due: qualitycontrol

Allow config files to be of mjs extension
  QualityControl/lib/config/configProvider.js
Due: qualitycontrol

[OGUI-1238] Allow mjs config files (#1497)
  QualityControl/lib/config/configProvider.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Tell helment to give up on upgrade-insecure-requests
  Framework/Backend/http/server.js
Due: framework

Bump WebUI framework
  Framework/package-lock.json
  Framework/package.json
Due: framework

Tell helmet to give up on upgrade-insecure-requests CSP (#1499)
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump Framework to fix helmet configuration
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump patch version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update default eslint and config files
  QualityControl/.eslintrc
  QualityControl/config-default.js
Due: qualitycontrol

Update package file to ignore lint for one of the jobs
  QualityControl/package.json
Due: qualitycontrol

Update utility file and tests associated to it
  QualityControl/lib/utils/utils.js
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/index.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Update GH workflow
  .github/workflows/qc.yml
Due: none

[OGUI-1239] Refactor utility file and include tests (#1502)
  .github/workflows/qc.yml
  QualityControl/.eslintrc
  QualityControl/config-default.js
  QualityControl/lib/utils/utils.js
  QualityControl/package.json
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/index.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Bump patch version of framework
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump patch version of framework 1.25.2 (#1518)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Increase limit of download
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
Due: infologger

Bump ILG patch version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
