Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-1069] Use new Notification Service from framework
  Control/lib/api.js
  Control/lib/services/StatusService.js
  Control/package-lock.json
  Control/package.json
  Control/public/frameworkinfo/FrameworkInfo.js
  Control/test/lib/mocha-status-service.js
  Control/test/public/page-about-mocha.js
Due: control

Address George comments
  Control/README.md
  Control/lib/services/StatusService.js
  Control/test/lib/mocha-status-service.js
  Control/test/public/page-about-mocha.js
Due: control

[OGUI-1069] Use new Notification Service from framework (#1153)
  Control/README.md
  Control/lib/api.js
  Control/lib/services/StatusService.js
  Control/package-lock.json
  Control/package.json
  Control/public/frameworkinfo/FrameworkInfo.js
  Control/test/lib/mocha-status-service.js
  Control/test/public/page-about-mocha.js
Due: control

[O2B-421] Support array of tags in Notification service
  Framework/Backend/services/notification.js
Due: framework

Bump verison
  Framework/package-lock.json
  Framework/package.json
Due: framework

[O2B-421] Support array of tags in Notification service (#1163)
  Framework/Backend/services/notification.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Use root call with path and timestamp on client side
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Add util method for HEAD HTTP calls
  QualityControl/lib/utils.js
  QualityControl/test/lib/mocha-utils.test.js
Due: qualitycontrol

[OGUI-1112] Display list of create env requests
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentsPage.js
  Control/public/workflow/Workflow.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Add CCDB Service method to retrieve location of object
  QualityControl/lib/services/CcdbService.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
Due: qualitycontrol

Update object controller
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/lib/controllers/mocha-object.test.js
Due: qualitycontrol

Update API with new controller method
  QualityControl/lib/api.js
Due: qualitycontrol

Clean Nock before tests
  QualityControl/test/lib/mocha-utils.test.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
Due: qualitycontrol

Bump QCG minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Improve method documentation
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
Due: qualitycontrol

Update QCG Documentation
  QualityControl/README.md
Due: qualitycontrol

[OGUI-1110] Use ccdb to get object location (#1166)
  QualityControl/README.md
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/utils.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/controllers/mocha-object.test.js
  QualityControl/test/lib/mocha-utils.test.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
Due: qualitycontrol

missing file
  Control/lib/control-core/RequestHandler.js
Due: control

Fix loging
  Control/lib/control-core/RequestHandler.js
Due: control

Small UX improvements for detector/host selection
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
Due: control

Restrict cleanup operations to admin only
  Control/public/task/header.js
Due: control

Bump AliECS GUI version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1107] Restrict cleanup operations to admin only (#1170)
  Control/package-lock.json
  Control/package.json
  Control/public/task/header.js
Due: control

Fix local tests
  Control/test/public/page-new-environment-mocha.js
Due: control

Update FLP ITs
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-1113] Small UX improvements for detector/host selection (#1169)
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

add tests
  Control/lib/control-core/RequestHandler.js
  Control/test/lib/mocha-request-handler.js
Due: control

Move mtreatmeas field to server side
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Fix test
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1114] mtreatmeas server side (#1171)
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Add lcolz drawing option
  QualityControl/public/object/objectPropertiesSidebar.js
Due: qualitycontrol

[OGUI-1109] Add lcolz drawing option (#1172)
  QualityControl/public/object/objectPropertiesSidebar.js
Due: qualitycontrol

Add remove request button
  Control/lib/api.js
  Control/lib/control-core/RequestHandler.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentsPage.js
Due: control

Add button to remove
  Control/lib/control-core/GrpcProxy.js
  Control/lib/control-core/RequestHandler.js
  Control/public/environment/environmentsPage.js
  Control/test/lib/mocha-request-handler.js
Due: control

fixes
  Control/lib/control-core/GrpcProxy.js
  Control/public/environment/environmentsPage.js
Due: control

Address George comments
  Control/lib/api.js
  Control/lib/control-core/RequestHandler.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentsPage.js
  Control/test/lib/mocha-request-handler.js
Due: control

Format date
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-1112] Display list of create env requests (#1165)
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentsPage.js
  Control/public/workflow/Workflow.js
  Control/test/lib/mocha-request-handler.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Cache env list
  Control/lib/api.js
  Control/lib/config/publicConfigProvider.js
  Control/lib/control-core/EnvCache.js
  Control/public/environment/Environment.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control
