Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-682] Update tests and error messages
  InfoLogger/lib/StatusService.js
  InfoLogger/public/Model.js
  InfoLogger/test/lib/mocha-status-service.js
Due: infologger

[OGUI-682] Convert About page to Status page (#628)
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/about/about.component.js
  InfoLogger/public/view.js
  InfoLogger/test/lib/mocha-infologgerreceiver.js
  InfoLogger/test/lib/mocha-status-service.js
  InfoLogger/test/live-simulator/infoLoggerServer.js
Due: infologger

[OGUI-742] Deprecate SQLite3 due to long inactivity
  Framework/Backend/db/sqlite.connector.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-sqlite.connector.js
  Framework/README.md
  Framework/docs/guide/sqlite.md
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-742] Bump Framework version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-742] Remove retries
  InfoLogger/package.json
Due: infologger

Never report debug logs to InfoLogger infrastructure
  Framework/Backend/log/Log.js
Due: framework

Never report debug logs to InfoLogger infrastructure (#668)
  Framework/Backend/log/Log.js
Due: framework

[OGUI-742] Add back retries
  InfoLogger/package.json
Due: infologger

[OGUI-742] Deprecate sqlite3 (#667)
  Framework/Backend/db/sqlite.connector.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-sqlite.connector.js
  Framework/README.md
  Framework/docs/guide/sqlite.md
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-754] Bump WebUI dependency
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-754] Bump InfoLogger version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-754] Bump COG dependency of webui
  Control/package-lock.json
  Control/package.json
Due: control

Bump QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-755] Use fix version of ubuntu
  .github/workflows/infologger.yml
Due: none

[OGUI-754] Bump WebUI dependency across projects (#669)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Adjust author and contributors lists in package.json files
  Control/package.json
  QualityControl/package.json
Due: control, qualitycontrol

Bump Control version to v1.11.2 to include newest Framework
  Control/package-lock.json
  Control/package.json
Due: control

Adjust author and contributors lists in package.json files (#671)
  Control/package.json
  QualityControl/package.json
Due: control, qualitycontrol

Bump Control version to v1.11.2 to include newest Framework (#672)
  Control/package-lock.json
  Control/package.json
Due: control

Manually drop snappy from package-lock
  Control/package-lock.json
Due: control

Manually drop snappy from package-lock (#673)
  Control/package-lock.json
Due: control

[OGUI-756] Add page with list all running task
  Control/public/Model.js
  Control/public/common/sidebar.js
  Control/public/task/Task.js
  Control/public/task/taskPage.js
  Control/public/view.js
Due: control

eslint
  Control/public/task/Task.js
Due: control

Handle no tasks
  Control/public/task/taskPage.js
Due: control

Add simple test
  Control/public/Model.js
  Control/public/task/Task.js
  Control/test/mocha-index.js
Due: control

forgotten file
  Control/test/public/page-tasks-mocha.js
Due: control

Bump to 1.12.0
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-756] Add page with list all running task (#674)
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/sidebar.js
  Control/public/task/Task.js
  Control/public/task/taskPage.js
  Control/public/view.js
  Control/test/mocha-index.js
  Control/test/public/page-tasks-mocha.js
Due: control

Add UX improvements
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

Bump to 1.12.1
  Control/package-lock.json
  Control/package.json
Due: control

fix eslint
  Control/public/task/taskPage.js
Due: control

[OGUI-756] Add state to task table (#675)
  Control/package-lock.json
  Control/package.json
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

[OGUI-769] Add lock column to task list table
  Control/package-lock.json
  Control/package.json
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

[OGUI-769] Add lock column to task list table (#676)
  Control/package-lock.json
  Control/package.json
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

Execute .replace only on strings
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Bump to 1.3.2
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Fix filtering on ErrCode in Live mode (#677)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Sync proto file from Control repo
  Control/protobuf/o2control.proto
Due: control

Add button to cleanup tasks
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

Add button to cleanup tasks (#679)
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control
