Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

[OGUI-1216] Add zoom in/out buttons and tests
  InfoLogger/public/log/commandLogs.js
  InfoLogger/test/public/zoom.mocha.js
Due: infologger

[OGUI-1216] Extract zoom controls into zoomButtonGroup
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-1216] Wait for zoom reset in beforeEach
  InfoLogger/test/public/zoom.mocha.js
Due: infologger

[OGUI-1216] Fixes to help solve CI/CD issues
  InfoLogger/test/public/zoom.mocha.js
Due: infologger

[OGUI-1216] Make viewport for mocha ILG tests 15"
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-1216] Fix codeQL raised issue
  InfoLogger/test/public/zoom.mocha.js
Due: infologger

[OGUI-1216] Remove QC erroneous commit
  QualityControl/docker-compose.yml
Due: qualitycontrol

Improve sending of WS message of client connection is closing
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

Fix eslint warning
  Framework/Backend/websocket/server.js
Due: framework

Improve naming of callbacks for clients
  Framework/Backend/websocket/server.js
Due: framework

Ensure bind properly checks input
  Framework/Backend/websocket/server.js
Due: framework

Properly initialize callbaks now that bind checks input
  Framework/Backend/websocket/server.js
Due: framework

[OGUI-1188] Do not send a WS message if client connection is closing (#3471)
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

Move away from deprecated url.parse
  Framework/Backend/websocket/server.js
Due: framework

Replace hard-coded strings and numbers with self-explanatory vars
  Framework/Backend/websocket/server.js
Due: framework

[OGUI-1897] Replace deprecated function `url.parse` and replace hardcoded strings and numbers in WS server (#3472)
  Framework/Backend/websocket/server.js
Due: framework

Move to async and always check for JWT token validity
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

[OGUI-1898] Move to async and always check for JWT token validity (#3473)
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

Bump dependencies with patches available
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump framework verrsion for release
  Framework/package-lock.json
  Framework/package.json
Due: framework

release/FRM/2.11.0 (#3474)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Update web-ui version across GUIs
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Update web-ui version across GUIs (#3475)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Fix logic in confirming hosts selection for saving config
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
Due: control

[OGUI-1899] Fix logic in confirming hosts selection for saving config (#3476)
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
Due: control

Use existing middleware to check if existing detectors are still active
  Control/lib/api.js
  Control/test/api/deployment/api-post-deployment.test.js
Due: control

[OGUI-1900] Use existing middleware to check if existing detectors are still active (#3477)
  Control/lib/api.js
  Control/test/api/deployment/api-post-deployment.test.js
Due: control

Extract deployment for calibration in its service and adapt checks
  Control/lib/controllers/Deployment.controller.js
  Control/lib/controllers/Environment.controller.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Due: control

Update API for new endpoint and shared middlewares
  Control/lib/api.js
Due: control

Controller to only check input and let high-level service do rest of data needed gathering
  Control/lib/controllers/Deployment.controller.js
  Control/public/pages/CalibrationRuns/CalibrationRuns.model.js
Due: control

Fix bug in which potentially parsing fails and not the gRPC call
  Control/lib/services/Run.service.js
Due: control

Remove dedicated grpc stream creation for calibration
  Control/lib/services/Environment.service.js
Due: control

Add calibration dedicated deployment logic with Kafka
  Control/lib/api.js
  Control/lib/services/Deployment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
Due: control

Fix small bugs from refactor
  Control/lib/api.js
  Control/lib/controllers/Deployment.controller.js
  Control/lib/services/Deployment.service.js
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/public/pages/CalibrationRuns/CalibrationRuns.model.js
Due: control

[OGUI-1874] Notify user when query buffer is full
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/statusBar.js
Due: infologger

[OGUI-1874] Add click-to-copy and hover-to-pause notification enhancements
  Framework/Frontend/js/src/Notification.js
Due: framework

[OGUI-1874] Status bar test suite
  InfoLogger/test/public/status-bar-mocha.js
Due: infologger

[OGUI-1874] Add test suite to mocha index file
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-1216] Overrise browser-zoom to increase log size only (#3465)
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/Zoom.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/zoom.mocha.js
Due: infologger

Revert "[OGUI-1874] Add click-to-copy and hover-to-pause notification enhancements"
  Framework/Frontend/js/src/Notification.js
Due: framework
