Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

add test
  Framework/Backend/http/server.js
  Framework/Frontend/test/index-test.js
  Framework/Frontend/test/mocha-index.js
Due: framework

[OGUI-694] Remove error from user messages
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-713] Verify preselected hosts are still valid
  Control/public/workflow/Workflow.js
Due: control

[OGUI-685] Fix undefined if list is reloading (#643)
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-674] Disable search box while quering objects (#642)
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
Due: qualitycontrol

[OGUI-694] Remove error from user messages (#641)
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-708] Improve FLP Tests if branch is duplicated
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

[OGUI-714] Improve QCG FLP if there are duplicated names
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

[OGUI-714] Improve QCG FLP if there are duplicated names (#645)
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
Due: qualitycontrol

[OGUI-708] Improve UX for Readout and QC URI
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-708] Update tests
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-713] Verify preselected hosts are still valid (#644)
  Control/public/workflow/Workflow.js
Due: control

[OGUI-684] Update config structure
  Control/lib/ConsulConnector.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-684] Add new config class
  Control/public/Model.js
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/Configuration.js
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-684] Update consul tests
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/mocha-index.js
Due: control

[OGUI-684] Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-684] Bump webui version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-708] improve configuration consul fields (#646)
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/revision/revisionPanel.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-684] Rename cru labels
  Control/public/configuration/configPage.js
Due: control

[OGUI-716] use env files
  .github/workflows/release.yml
Due: none

[OGUI-684] cru links configuration panel (#647)
  .github/workflows/release.yml
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/loading.js
  Control/public/common/sidebar.js
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/configPage.js
  Control/public/view.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/mocha-index.js
Due: control

Bump create-pull-request to v3 in order not to use unsupported env vars
  .github/workflows/proto-sync.yml
Due: none

Bump create-pull-request to v3 in order not to use unsupported env vars (#648)
  .github/workflows/proto-sync.yml
Due: none

Create CCDB connector for each request in NodeJS C++ extension
  QualityControl/tobject2json.cc
Due: qualitycontrol

Bump QCG to 1.10.1
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-734] Create CCDB connector for each request in NodeJS C++ extension (#649)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/tobject2json.cc
Due: qualitycontrol

[OGUI-735] Allow grpc connection to be configured
  Control/lib/control-core/ControlProxy.js
Due: control

[OGUI-735] Remove unused timeout constant
  Control/lib/control-core/ControlProxy.js
Due: control

[OGUI-735] Bump patch version of ControlGUI
  Control/package-lock.json
  Control/package.json
Due: control

Set default timeout to 30s
  Control/lib/control-core/ControlProxy.js
Due: control

[OGUI-735] Allow gPRC connection timeout to be configured (#650)
  Control/lib/control-core/ControlProxy.js
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-736] Migrate to gRPC js
  Control/lib/control-core/ControlProxy.js
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-736] Update tests to new bind method
  Control/test/mocha-index.js
Due: control

[OGUI-719] Add CRU Info panel
  Control/public/app.css
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-719] Bump AliECS minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-732] Firefox select multiple tag
  Control/public/app.css
  Control/public/workflow/panels/flps/flpSelectionPanel.js
Due: control

[OGUI-732] Add information icon
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/public/workflow/panels/variables/advancedPanel.js
Due: control

[OGUI-732] Add multiple selection
  Control/public/app.css
  Control/public/workflow/Workflow.js
Due: control

[OGUI-719] Add CRU Info panel & [OGUI-743] Add toggles for host panels (#651)
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/configPage.js
Due: control

[OGUI-732] Fix unit & integration tests
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control
