Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-656] Remove args column (#613)
  Control/public/environment/environmentPage.js
Due: control

[OGUI-637] Add tests
  Framework/Backend/test/mocha-sqlite.connector.js
  Framework/package.json
Due: framework

[OGUI-637] Remove LGTM alert
  Framework/Backend/db/sqlite.connector.js
Due: framework

[OGUI-637] Export Connector
  Framework/Backend/index.js
Due: framework

[OGUI-637] Update title of doc file
  Framework/docs/guide/sqlite.md
Due: framework

Adapt mocha test
  Framework/Frontend/test/mocha-index.js
Due: framework

add default access
  Framework/Backend/http/server.js
Due: framework

[OGUI-668] Pass access level to session service (#614)
  Framework/Backend/http/server.js
  Framework/Frontend/js/src/sessionService.js
  Framework/Frontend/test/mocha-index.js
Due: framework

[OGUI-637] sqlite connector in framework (#616)
  Framework/Backend/db/sqlite.connector.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-sqlite.connector.js
  Framework/README.md
  Framework/docs/guide/sqlite.md
  Framework/package-lock.json
  Framework/package.json
Due: framework

fix eslint
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/common/appHeader.js
  Control/public/lock/Lock.js
  Control/public/lock/lockButton.js
Due: control

fix2
  Control/public/common/appHeader.js
Due: control

George comments
  Control/lib/Padlock.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-669] Add force unlock action to Control GUI (#615)
  Control/lib/Padlock.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/lock/Lock.js
Due: control

[OGUI-676] Add Enter event on value field
  Control/public/workflow/envVarsPanel.js
Due: control

[OGUI-676] Use blur to reset revision field
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-676] Fix identation
  Control/public/workflow/revisionPanel.js
Due: control

[OGUI-676] UX improvements (#617)
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-647] Add states for object selectoin
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-647] Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-647] improve object selection UX (#618)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-540] Change behaviour to close tree only
  QualityControl/public/object/objectTreeHeader.js
Due: qualitycontrol

[OGUI-540] Change behaviour to close tree only (#619)
  QualityControl/public/object/objectTreeHeader.js
Due: qualitycontrol

[OGUI-667] Install mithril using npm
  Framework/.gitignore
  Framework/Frontend/js/lib/mithril.js
  Framework/Frontend/js/src/renderer.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump to v1.13.1
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-667] Install mithril using npm (#620)
  Framework/.gitignore
  Framework/Frontend/js/lib/mithril.js
  Framework/Frontend/js/src/renderer.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-653] Change button schema
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/commandLogs.js
Due: infologger

Try to fix OGUI-677
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/renderer.js
  Framework/package.json
Due: framework

use resolve
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/renderer.js
Due: framework

[OGUI-653] Primary color
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-673] Make use of limit header
  QualityControl/lib/CCDBConnector.js
  QualityControl/test/lib/mocha-ccdb-connector.js
Due: qualitycontrol

[OGUI-673] Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-673] add limit header to certain ccdb requests (#622)
  QualityControl/lib/CCDBConnector.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/mocha-ccdb-connector.js
Due: qualitycontrol

[OGUI-653] & [OGUI-651] (#621)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

[OGUI-678] Bump JSRoot
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-678] Bump JSRoot (#623)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-677] Use O2 server
  Framework/Frontend/test/index-test.js
  Framework/Frontend/test/mocha-index.js
  Framework/Frontend/test/public/index.html
Due: framework

[OGUI-677] Bump patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix failing mv introduced in OGUI-677 (#624)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/renderer.js
  Framework/Frontend/test/index-test.js
  Framework/Frontend/test/mocha-index.js
  Framework/Frontend/test/public/index.html
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump packages
  Framework/Backend/test/test.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-679] Bump framework deps
  .eslintrc.js
  Framework/Backend/test/test.js
  Framework/Frontend/js/src/renderer.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
