Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Add support for task topic
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/taskEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/TaskEvent.js
Due: control

Add docs
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
Due: control

[OGUI-1162] Add support for env ecs topic (#2766)
  Control/lib/api.js
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
  Control/lib/control-core/AliEcsSynchronizer.js
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/environmentEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/EnvironmentEvent.js
Due: control

Add EnvironmentEvent processing on Consumer
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Fix lint issues
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Add support for events from run topic
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/RunEvent.js
Due: control

Update run event data that we keep
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/typedefs/RunEvent.js
Due: control

Update run event adapter docs
  Control/lib/kafka/adapters/runEventAdapter.js
Due: control

Add back processing of run topic events
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Move file in folder
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

dockerfile, docker compose
  QualityControl/.gitignore
  QualityControl/Dockerfile
  QualityControl/docker-compose.dev.yml
  QualityControl/package.json
Due: qualitycontrol

Fix eslint
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Use error.stack instead of trace
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Remove general catcher as it is caught already by consumer
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Fix lint
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

[OGUI-1162] Add support for run ecs topics (#2767)
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/RunEvent.js
Due: control

Add back async as it is needed by consumer catch
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Fix lint issue on line length
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Check for timestamp before attempting to convert
  Control/lib/kafka/adapters/environmentEventAdapter.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/kafka/adapters/taskEventAdapter.js
Due: control

[OGUI-1162] Add support for task ecs topics (#2768)
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/kafka/adapters/taskEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/TaskEvent.js
Due: control

Update PROTO files from AliECS
  Control/protobuf/o2control.proto
  Framework/Backend/protos
Due: control, framework

Refactor EnvironmentAdapter to improve reusability
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/task/QcNodeNameRegex.js
  Control/lib/adapters/task/getEpnTasksFromGrpcEnvironment.js
  Control/lib/adapters/task/getFlpTasksFromGrpcEnvironment.js
  Control/lib/adapters/task/getQcTasksFromGrpcEnvironment.js
  Control/lib/adapters/task/getTasksFromGrpcEnvironment.js
  Control/lib/adapters/task/getTrgTasksFromGrpcEnvironment.js
  Control/lib/common/getKeyOfValueInMap.js
  Control/lib/enum/task/TaskSource.js
  Control/test/lib/adapters/task/mocha-getEpnTasksFromGrpcEnvironment.js
  Control/test/lib/adapters/task/mocha-getFlpTasksFromGrpcEnvironment.js
  Control/test/lib/adapters/task/mocha-getQcTasksFromGrpcEnvironment.js
  Control/test/lib/adapters/task/mocha-getTrgTasksFromGrpcEnvironment.js
  Control/test/lib/common/mocha-getKeyOfValueInMap.js
Due: control

remove usage un public config
  QualityControl/.gitignore
  QualityControl/eslint.config.js
  QualityControl/index.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/test/lib/config/publicConfig.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

remove check for state of online mode
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

remove usage of isOnlineModeEnabled
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
Due: qualitycontrol

remove window.QCG
  QualityControl/public/index.js
Due: qualitycontrol

remove online mode documentation
  QualityControl/README.md
Due: qualitycontrol

remove /objects/online api usage
  QualityControl/common/library/qcObject/utils.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/common/library/qcObject/utils.test.js
Due: qualitycontrol

remove online styling
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

remove all consul dependencies
  QualityControl/config-default.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/Status.service.js
  QualityControl/public/object/QCObject.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/public/initialPageSetup.test.js
  QualityControl/test/public/pages/about-page.test.js
Due: qualitycontrol

frontend: remove usage of toggle mode, fix doc, fix side tree
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/demoData/online-services.mock.js
Due: qualitycontrol

remove configjs dependencies
  QualityControl/Dockerfile
  QualityControl/index.js
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/index.js
Due: qualitycontrol

fix lint
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
Due: qualitycontrol

OGUI-1626: Remove Online Mode functionality (#2771)
  QualityControl/.gitignore
  QualityControl/README.md
  QualityControl/common/library/qcObject/utils.js
  QualityControl/config-default.js
  QualityControl/eslint.config.js
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/Status.service.js
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/index.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/demoData/online-services.mock.js
  QualityControl/test/lib/config/publicConfig.test.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/public/initialPageSetup.test.js
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Remove vulnerability raised by GH
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
Due: control

Remove vulnerability raised by GH by removing superflous argument(#2772)
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
Due: control

Update proto-sync.yml
  .github/workflows/proto-sync.yml
Due: none

Delete Framework/Backend/protos
  Framework/Backend/protos
Due: framework

Fix lint issues
  QualityControl/public/Model.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/components/serviceCard.js
  QualityControl/public/pages/aboutView/components/servicesLoadingPanel.js
  QualityControl/public/pages/aboutView/components/servicesResolvedPanel.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
