Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-755] Split test file in multiple ones
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/mocha-live-mode.js
  InfoLogger/test/public/mocha-log-filter-actions.js
  InfoLogger/test/public/mocha-query-mode.js
  InfoLogger/test/public/mocha-user-actions.js
  InfoLogger/test/public/mocha-utils.js
Due: infologger

[OGUI-665] Add button to tasks to redirect to Mesos
  Control/public/environment/Task.js
  Control/public/environment/environmentPage.js
Due: control

[OGUI-775] Work LGTM recommendations
  QualityControl/lib/StatusService.js
  QualityControl/public/layout/Grid.js
Due: qualitycontrol

[OGUI-755] Use execFile and provide args
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

[OGUI-755] Remove duplicated statement
  Control/public/workflow/Workflow.js
Due: control

[OGUI-775] Use crypto for secret
  Framework/Backend/jwt/token.js
Due: framework

Sync proto file from Control repo
  Control/protobuf/o2control.proto
Due: control

[OGUI-755] Do not use retry on IT tests
  InfoLogger/package.json
  InfoLogger/test/public/mocha-live-mode.js
Due: infologger

[OGUI-755] Remove extra Describe
  InfoLogger/test/public/mocha-live-mode.js
Due: infologger

[OGUI-755] Add error logger for ilg server
  InfoLogger/test/live-simulator/infoLoggerServer.js
Due: infologger

[OGUI-755] Add error message on server
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-755] Log current active mode
  InfoLogger/public/log/Log.js
  InfoLogger/test/public/mocha-live-mode.js
Due: infologger

[OGUI-755] Log current active mode
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-755] Show active mode
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-755] Fix condition
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-755] Interrupt logs when asked
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-755] Use net only for live tests
  InfoLogger/public/log/Log.js
  InfoLogger/test/live-simulator/infoLoggerServer.js
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/mocha-live-mode.js
Due: infologger

[OGUI-755] Include error of live service
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-755] Add waiting time between live transitions
  InfoLogger/public/log/Log.js
  InfoLogger/test/public/mocha-live-mode.js
Due: infologger

[OGUI-755] Properly close the server
  InfoLogger/test/live-simulator/infoLoggerServer.js
  InfoLogger/test/public/mocha-live-mode.js
Due: infologger

[OGUI-665] Add environment messos log button
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
Due: control

[OGUI-755] Update assert methods
  InfoLogger/public/log/Log.js
  InfoLogger/test/public/mocha-log-filter-actions.js
  InfoLogger/test/public/mocha-query-mode.js
  InfoLogger/test/public/mocha-utils.js
Due: infologger

[OGUI-665] Add messos log button
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

[OGUI-665] Removing table hovering effect
  Control/public/app.css
Due: control

[OGUI-665] Improve util methods
  Control/public/common/showTableItem.js
  Control/public/common/utils.js
Due: control

[OGUI-665] Extract control panel in its own
  Control/public/environment/controlEnvironmentPanel.js
Due: control

[OGUI-665] make use of util method
  Control/public/environment/Environment.js
Due: control

[OGUI-665] Add mesos log button to env
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/task/Task.js
Due: control

[OGUI-665] Add smaller button css
  Control/public/app.css
Due: control

[OGUI-665] Improve tables
  Control/public/environment/environmentPage.js
  Control/public/task/taskPage.js
Due: control

[OGUI-665] Add button to each task to redirect to Mesos (#680)
  Control/public/app.css
  Control/public/common/showTableItem.js
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/environment/Task.js
  Control/public/environment/controlEnvironmentPanel.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

[OGUI-774] Update dependencies for controlservice
  Control/README.md
  Control/lib/api.js
Due: control

[OGUI-774] Add method to retrieve a list of FLPs
  Control/lib/ConsulConnector.js
Due: control

[OGUI-774] Use streams for ControlService
  Control/lib/control-core/ControlService.js
  Control/lib/utils.js
Due: control

[OGUI-774] Add WebSocket command
  Control/public/Model.js
Due: control

[OGUI-774] Add button and action panel
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Due: control

[OGUI-774] Set ws after initialization
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
Due: control

[OGUI-774] Add core version check
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
Due: control

[OGUI-774] Do not send hosts from UI
  Control/lib/control-core/ControlService.js
  Control/public/task/Task.js
Due: control

[OGUI-774] Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control
