Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-559] Use current workflow
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-559] Execute headless + remove unused config
  Control/test/integration/core-tests.js
  Control/test/integration/integration-config.js
Due: control

[OGUI-562] Change from key to input listener to facilitate mouse paste events
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-558] Add correct run field
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-562] Change from key to input listener to facilitate mouse paste events (#530)
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-558] Fix table for envs (#528)
  Control/public/common/showTableList.js
  Control/public/common/utils.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-559] Add new set integration tests (#529)
  Control/package.json
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-571] Add info icon on KV env panel
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-570] Improve integration-tests
  .gitignore
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-570] Improve integration-tests (#532)
  .gitignore
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-571] Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-556] Bump ILG version patch
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-571] Add info icon on KV env panel (#531)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-563] Sort initial offline objects from CCDB
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-563] Update test accordingly
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-563] Bump QCG patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-572] Bump version patch
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-572] Display tags with specified prefix
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
Due: qualitycontrol

[OGUI-572] Add message if no objects found
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-563] Sort initial request from CCDB (#534)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-572] Update documentation about prefix use
  QualityControl/README.md
Due: qualitycontrol

[OGUI-556] Bump ILG version patch (#533)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-555] Revert changes to actions
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Store SSO config in openId object not obsolete oAuth
  Control/index.js
  InfoLogger/index.js
Due: control, infologger

Store SSO config in openId object not obsolete oAuth (#536)
  Control/index.js
  InfoLogger/index.js
Due: control, infologger

[OGUI-572] Add prefix to consul query (#535)
  QualityControl/README.md
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Use the built-in middleware function for parsing JSON payloads
  Framework/Backend/http/server.js
  Framework/package.json
Due: framework

Include a message why the JWT failed
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

[OGUI-574] Use text for exact match in tests
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-574] Use text for exact match in tests (#539)
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-576] Use the built-in middleware function for parsing JSON payloads (#538)
  Framework/Backend/http/server.js
  Framework/package.json
Due: framework

[OGUI-575] Include a message why the JWT failed (#537)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

Bump Framework version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump Framework version (#540)
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-330] Solve merge conflicts
  QualityControl/lib/CCDBConnector.js
Due: qualitycontrol

[OGUI-555] Update release documentation (#524)
  Control/README.md
  Framework/README.md
  Framework/docs/guide/devel.md
  InfoLogger/README.md
  QualityControl/README.md
Due: control, qualitycontrol, infologger, framework

[OGUI-330] Fix LGTM recommendation
  QualityControl/public/layout/Grid.js
Due: qualitycontrol

[OGUI-583] Add option to force shutdown
  Control/public/environment/environmentPage.js
Due: control

[OGUI-583] Bump COG Patch Version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-577] Use set for Consul Keys
  Control/lib/ConsulConnector.js
  Control/test/lib/mocha-consul-connector.js
Due: control
