Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

feat: add runStatusFetch functionallity for filterService
  QualityControl/lib/services/FilterService.js
Due: qualitycontrol

test: create tests for BookeepingService and ObjectController
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/services/BookeepingService.test.js
Due: qualitycontrol

feat: add status polling functionallity for getObjects
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/Intervals.service.js
Due: qualitycontrol

feat: add run retrieval functionallity
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

chore: decapitalise RunNumber for function parameters
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

feat: implement interval for getObjectContent
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

feat: implement interval for getObjectById
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

refactor: improve error message
  QualityControl/lib/services/FilterService.js
Due: qualitycontrol

[OGUI-1690] Persist filters between pages v2 (#2933)
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/abstracts/BaseViewModel.js
  QualityControl/public/common/errorDiv.js
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/header.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/layout/view/panels/settings.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/public/view.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Due: qualitycontrol

feat: define runStatusRefreshRate in config-default
  QualityControl/config-default.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/test/config.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/services/BookeepingService.test.js
Due: qualitycontrol

chore(ObjectController): update the jsdoc for updateAndCheckStatus
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

fix: fix eslint issue
  QualityControl/lib/services/FilterService.js
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

refactor: add warning log in retrieveRunStatus
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

feat: return Invalid if there is no connection to bookkeeping.
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
Due: qualitycontrol

chore: put documentation back above getObjectById (Again)
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/test-index.js
Due: qualitycontrol

chore: update documentation with new bookkeeping fields
  QualityControl/docs/Configuration.md
Due: qualitycontrol

feat: move intervals from bookkeeping to filterService
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/test/lib/controllers/FiltersController.test.js
  QualityControl/test/lib/services/BookeepingService.test.js
Due: qualitycontrol

rename bookkeepingServiceTest
  QualityControl/test/lib/services/BookkeepingService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

chore: updte example token
  QualityControl/docs/Configuration.md
Due: qualitycontrol

Add detector specific check for CRU warning message
  Control/public/configuration/configPage.js
Due: control

undo test comments
  QualityControl/test/test-index.js
Due: qualitycontrol

Improve documentation of methods
  Control/public/configuration/configPage.js
Due: control

[OGUI-1645] Add detector specific check for CRU warning message (#2947)
  Control/public/configuration/configPage.js
Due: control

chore: remove unused triggerfilters from models
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
Due: qualitycontrol

fix: failing CI due to missing .react-router files
  .github/workflows/configuration.yml
  Configuration/webapp/eslint.config.js
Due: none

chore: configure tanstack query
  Configuration/webapp/app/api/axiosInstance.ts
  Configuration/webapp/app/api/query/useConfigurationKeysQuery.ts
  Configuration/webapp/app/api/queryClient.ts
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/root.tsx
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none

chore: remove unused code and unnecessary comments
  Configuration/webapp/app/api/axiosInstance.ts
  Configuration/webapp/app/api/query/useConfigurationKeysQuery.ts
  Configuration/webapp/app/api/queryClient.ts
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/root.tsx
Due: none

feature: implemented routing between configurations
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/app/routes.ts
  Configuration/webapp/app/routes/configuration.tsx
  Configuration/webapp/app/routes/home.tsx
Due: none

feautre: add selected configuration indicator
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/config.ts
  Configuration/webapp/app/hooks/useConfigurationNavigate.ts
Due: none

chore: add missing licenses
  Configuration/webapp/app/hooks/useConfigurationNavigate.ts
  Configuration/webapp/app/routes/configuration.tsx
  Configuration/webapp/app/routes/home.tsx
Due: none

chore: add test for configuration page
  Configuration/webapp/app/components/layout/content/ContentHeader.tsx
  Configuration/webapp/app/test/mocha-index.cjs
  Configuration/webapp/app/test/public/page-configuration-mocha.cjs
Due: none

chore: remove unnecessary field in configuration page test
  Configuration/webapp/app/test/public/page-configuration-mocha.cjs
Due: none

chore(ObjectController): improve error message
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

small code refactor
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
Due: control

implement api end-test
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/mocha-index.js
Due: control

feat: add configuration endpoint
  Control/lib/api.js
  Control/lib/controllers/Configuration.controller.js
Due: control

change error handling in qcConfigurationController and add mocha tests for qcConfigurationController and qcConfigurationService
  Control/lib/controllers/QCConfiguration.controller.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
Due: control

feat: implement getConfigurationByKey endpoint, refactor QCConfigurationController and create QCConfiguration.service
  Control/lib/api.js
  Control/lib/controllers/Configuration.controller.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
