Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-1198] Add PID to env tasks table
  Control/public/environment/environmentPage.js
Due: control

[OGUI-1111] Add label for workflow refresh button
  Control/public/workflow/workflowsPage.js
Due: control

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1111] Add title to workflow resfresh button
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1198] & [OGUI-1111] Add PID to env tasks and label for button for workflow refresh (#1434)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentPage.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1220] Add button to request Web Notification permisson
  Control/public/common/appHeader.js
Due: control

Check for current state
  Control/public/common/appHeader.js
Due: control

Display only on https
  Control/public/Model.js
  Control/public/common/appHeader.js
Due: control

Elaborate doc
  Control/public/Model.js
Due: control

Update Control GUI Dependencies
  Control/package-lock.json
  Control/package.json
Due: control

Bump test dependencies for AliECS GUI
  Control/package-lock.json
  Control/package.json
Due: control

Add await for keyboard events in tests
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Increase general timeout for tests
  Control/test/mocha-index.js
Due: control

Decrease waiting timeouts for actions
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-new-environment-mocha.js
Due: control

fix bool
  Control/public/Model.js
Due: control

use already defined check
  Control/public/Model.js
Due: control

Increase various timeouts on tests
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Remove retries for mocha command
  Control/package-lock.json
  Control/package.json
Due: control

Update mock-grpc-server
  Control/test/config/core-grpc.js
Due: control

Toggle menu
  Control/public/common/appHeader.js
Due: control

fix linting
  Control/public/common/appHeader.js
Due: control

[OGUI-1220] Add button to request Web Notification permission (#1451)
  Control/public/Model.js
  Control/public/common/appHeader.js
Due: control

Add runNumbers string to notification body message
  Framework/Backend/services/notification.js
Due: framework

Bump patch version of webui
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1231] notification message should include run numbers (#1459)
  Framework/Backend/services/notification.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump AliECS GUI minor version
  Control/package-lock.json
  Control/package.json
Due: control

Bump AliECS GUI minor version (#1460)
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1226] Restrict service accounts access
  Framework/Backend/http/server.js
Due: framework

Modify guide
  Framework/docs/guide/openid.md
Due: framework

Unify vars
  Framework/Backend/http/server.js
  Framework/docs/guide/openid.md
Due: framework

[OGUI-1235] Remove wildcards from connectSrc CSP
  Framework/Backend/http/server.js
Due: framework

Sync proto file from Control repo
  Control/protobuf/o2control.proto
Due: control

Bump JSROOT minor version
  QualityControl/package.json
Due: qualitycontrol

Bump JSROOT minor version (#1482)
  QualityControl/package.json
Due: qualitycontrol

Fix merge conflicts in package-lock
  Control/package-lock.json
Due: control

[OGUI-1134] Fix tests on AliECS GUI
  Control/test/lib/mocha-status-service.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-lock-mocha.js
Due: control

Ignore protobuf workaround for ALiECS error message
  codecov.yml
Due: none

Add waiting time for detector selection
  .github/workflows/control.yml
  Control/test/public/page-new-environment-mocha.js
Due: control

Specify project location for ignoring paths
  codecov.yml
Due: none

Increase timeout to allow request to reach server
  Control/test/public/page-environments-mocha.js
Due: control

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
