Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

Bump GRPC
  Control/package-lock.json
  Control/package.json
Due: control

Bump aliecs GUI 1.6.6 (#554)
  Control/package-lock.json
  Control/package.json
Due: control

Update deps
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-589] Add integration tests for QCG to be used in FLP CI (#551)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
  QualityControl/test/integration/qcg-test.js
Due: qualitycontrol

[OGUI-592] Send error as string to GUI
  QualityControl/lib/api.js
Due: qualitycontrol

[OGUI-532] Reload objects on click
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Add profile parameter to url
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Move profile parsing to the model
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Free console resources even if the render failed
  Framework/Frontend/js/src/renderer.js
Due: framework

Add tests and fix small bugs
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/test/mocha-index.js
Due: infologger

Fix trailing line
  InfoLogger/test/mocha-index.js
Due: infologger

Staging
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

Make profile a separate parameter
  InfoLogger/public/Model.js
  InfoLogger/test/mocha-index.js
Due: infologger

Enable profile to choose columns to show
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
Due: infologger

[OGUI-585] Filters set by url with profile (#556)
  InfoLogger/public/Model.js
  InfoLogger/test/mocha-index.js
Due: infologger

change getProfile to use connector
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Fix merge
  InfoLogger/public/Model.js
Due: infologger

[OGUI-591] Refactor
  QualityControl/public/Model.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

[OGUI-591] Fix lint issue
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

[OGUI-532] Fix LGTM issue
  QualityControl/public/common/infoButton.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

[OGUI-532] Add test for QC errors
  QualityControl/lib/QCModelDemo.js
Due: qualitycontrol

[OGUI-591] refactor object class & [OGUI-532] Reload object on click (#557)
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

[OGUI-607] Make winston logs compatible with journalctl
  Framework/Backend/log/winston.js
Due: framework

Add README and use only 1 flag
  Framework/Backend/log/winston.js
  Framework/docs/guide/logging.md
Due: framework

improv
  Framework/Backend/log/winston.js
Due: framework

Fix
  Framework/Backend/log/winston.js
Due: framework

bring back colors
  Framework/Backend/log/winston.js
Due: framework

[OGUI-607] Make winston logs compatible with journalctl (#558)
  Framework/Backend/log/winston.js
  Framework/docs/guide/logging.md
Due: framework

Free console resources even if the render failed (#555)
  Framework/Frontend/js/src/renderer.js
Due: framework

[OGUI-330] Staging
  QualityControl/public/app.css
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Fix Lint issue
  Framework/Frontend/js/src/renderer.js
Due: framework

Update workflow to include path
  .github/workflows/framework.yml
Due: none

Update paths
  .github/workflows/framework.yml
Due: none

[OGUI-611] Update paths with recursive match
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Fix Lint issue (#559)
  .github/workflows/framework.yml
  Framework/Frontend/js/src/renderer.js
Due: framework

[OGUI-611] Update paths with recursive match (#560)
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Staging
  QualityControl/public/common/infoButton.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-614] Configure IT for FLP Suite
  InfoLogger/package.json
  InfoLogger/test/integration/config-provider.js
Due: infologger

[OGUI-614] Add tests for QUERY mode
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

[OGUI-614] Bump version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger
