Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Fix lint issue on single-quote
  InfoLogger/lib/services/QueryService.js
Due: infologger

Fix eslint for updated rule on single-quote
  Framework/Backend/test/errors/mocha-grpcErrorToNativeError.js
  Framework/Backend/test/errors/mocha-updateExpressResponseFromNativeError.test.js
Due: framework

Use assert to evaluate promise rejection
  Framework/Backend/test/mocha-openid.js
Due: framework

Increase timeout for test as it was exactly the same as constructor default
  Framework/Backend/test/mocha-openid.js
Due: framework

Bump patch release for framework
  Framework/package-lock.json
  Framework/package.json
Due: framework

[release/frm/2.7.3] (#2638)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump web-ui across all projects
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Bump web-ui across all projects (#2639)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Add mock data for Layouts
  QualityControl/test/config.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
Due: qualitycontrol

Add tests for layoutList page
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Increase size of puppeteer page
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

Remove deprecated QCModelDemo
  QualityControl/test/QCModelDemo.js
Due: qualitycontrol

Add end of file newline to mock data
  QualityControl/test/setup/seeders/qcg-mock-data.json
Due: qualitycontrol

Use locator instead
  QualityControl/test/public/pages/layout-list.test.js
Due: qualitycontrol

Use strictEqual to compare results
  QualityControl/test/public/pages/layout-list.test.js
Due: qualitycontrol

Add delay to wait for render
  QualityControl/test/public/pages/layout-list.test.js
Due: qualitycontrol

[OGUI-1563] Adds mock data for QCG FE tests to be used by the layout-list page (#2640)
  QualityControl/test/QCModelDemo.js
  QualityControl/test/config.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/setup/testServerSetup.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Add tests for objectTree page
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Use nock environment if we are in test
  QualityControl/index.js
Due: qualitycontrol

Update API to only load model on call
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
Due: qualitycontrol

Add tst mock environment for CCDB external req
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/testServerSetup.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

[OGUI-1562] Add nock test environment for ccdb external calls during tests (#2641)
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/testServerSetup.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Due: qualitycontrol

open known root file if test mode
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/setup/seeders/object-view/mock-object.root
Due: qualitycontrol

added needed parameters of mocked objects
  QualityControl/test/setup/seeders/ccdbObjects.js
Due: qualitycontrol

mock objects and db responses
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

split and develop object view tests
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

remove skip tests
  QualityControl/test/test-index.js
Due: qualitycontrol

skip qc drawing options test
  QualityControl/test/test-index.js
Due: qualitycontrol

Use nock to respond with file to JSROOT in mock setup instead of object service
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

Use variables instead of hard string
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

Add delay as util function
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/testUtils/delay.js
Due: qualitycontrol

used locator for click interactions
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
Due: qualitycontrol

Fix import file name and add delay
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/testUtils/delay.js
Due: qualitycontrol

Update tests for newer model of object view
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
Due: qualitycontrol

Remove unused variable
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
Due: qualitycontrol

[OGUI-1564] Adapt objectview page tests (#2643)
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/seeders/object-view/mock-object.root
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
  QualityControl/test/testUtils/delay.js
Due: qualitycontrol

first layout view changes
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/test-index.js
Due: qualitycontrol

add second object to layout
  QualityControl/test/setup/seeders/qcg-mock-data.json
Due: qualitycontrol

add layout view tests
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

tests for editing layout via json
  QualityControl/jsconfig.json
  QualityControl/test/public/pages/edit-layout.test.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/setup/seeders/layout-show/json-file-mock.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/test-index.js
Due: qualitycontrol
