Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Fix lint issues
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger

Migrate integration tests to use new RemoteData
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

Remove usage of automatic fix in eslint
  InfoLogger/package.json
Due: infologger

Patch ILG version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Fix auto-fixable lint issues
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/StatusService.js
Due: infologger

[release] Adapt to new RemoteData object for FLP E2E tests (#2562)
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/StatusService.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/integration/ilg-query-tests.js
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger

Downgrade JSROOT
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[release/qcg/3.8.5] Downgrade JSROOT (#2563)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Revert auto eslint fixed issue
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

Bump ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[release/ilg/1.13.3] (#2564)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

Remove spurious flex from missing locks message
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/test/public/page-environment-mocha.js
Due: control

Add text-right
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
Due: control

Update server.js to fix issue with wrong log name
  Framework/Backend/websocket/server.js
Due: framework

Update server.js to fix issue with wrong log name (#2571)
  Framework/Backend/websocket/server.js
Due: framework

Bump FRM patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump FRM patch version (#2572)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Rename and move service to new structure
  InfoLogger/lib/services/QueryService.js
Due: infologger

Rename test service file and move as per new struct
  InfoLogger/test/lib/services/mocha-QueryService.js
Due: infologger

Update controller to use new service
  InfoLogger/lib/controller/QueryController.mjs
Due: infologger

Update API to use new service
  InfoLogger/lib/api.js
Due: infologger

[OGUI-1543] Extract Query Service (#2573)
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/QueryController.mjs
  InfoLogger/lib/services/QueryService.js
  InfoLogger/test/lib/services/mocha-QueryService.js
Due: infologger

Bump WebUI
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bump WebUI (#2574)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Add middleware for check on query service
  InfoLogger/lib/middleware/serviceAvailabilityCheck.middleware.js
  InfoLogger/test/lib/middleware/mocha-serviceAvailabilityCheck.middleware.js
Due: infologger

Use middleware checker for query service
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/QueryController.mjs
Due: infologger

Improve initial logging of configuration
  InfoLogger/lib/configProvider.js
Due: infologger

[OGUI-1548] Add middleware for checking whether query service is available or configured (#2578)
  InfoLogger/lib/api.js
  InfoLogger/lib/configProvider.js
  InfoLogger/lib/controller/QueryController.mjs
  InfoLogger/lib/middleware/serviceAvailabilityCheck.middleware.js
  InfoLogger/test/lib/middleware/mocha-serviceAvailabilityCheck.middleware.js
Due: infologger

Extract live service into its own
  InfoLogger/lib/api.js
  InfoLogger/lib/services/LiveService.js
  InfoLogger/lib/utils/InfoLoggerMessageCommands.js
Due: infologger

Adapt status service to new live service
  InfoLogger/lib/StatusService.js
  InfoLogger/test/lib/mocha-status-service.test.js
Due: infologger

[OGUI-1549] Extract infologger live serice (#2579)
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/lib/services/LiveService.js
  InfoLogger/lib/utils/InfoLoggerMessageCommands.js
  InfoLogger/test/lib/mocha-status-service.test.js
Due: infologger

Define private variables as per convention
  InfoLogger/lib/StatusService.js
Due: infologger

Initialize logger in constructor
  InfoLogger/lib/StatusService.js
Due: infologger

Use setter as per JS convention
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/test/lib/mocha-status-service.test.js
Due: infologger

Rename to controller as it deals with HTTP requests
  InfoLogger/lib/StatusController.js
  InfoLogger/test/lib/mocha-status-controller.test.js
Due: infologger

Move to controllers folder
  InfoLogger/lib/controller/StatusController.js
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
Due: infologger

Rename to controller and use from new location
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/StatusController.js
Due: infologger

Update tests with new names and locations
  InfoLogger/lib/api.js
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
Due: infologger

Fix lint issues in test file
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
Due: infologger

Improve readability of StatusController
  InfoLogger/lib/controller/StatusController.js
  InfoLogger/test/lib/controller/mocha-status-controller.test.js
Due: infologger
