Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Add page lock tests
  Control/test/mocha-index.js
  Control/test/public/page-lock-mocha.js
Due: control

Use errorHandler in lock service
  Control/lib/services/Lock.js
Due: control

Add docs and modify checking for param in req
  Control/lib/services/Lock.js
Due: control

Add padding instead of spacing element
  Control/public/common/detectorHeader.js
Due: control

Clarify difference between lock name and lock owner name
  Control/public/lock/Lock.js
Due: control

Make sure to wait for Create button
  Control/test/public/page-new-environment-mocha.js
Due: control

Remove padlock state from forceUnlock
  Control/public/lock/Lock.js
Due: control

Fix JSDoc
  Control/public/lock/lockPage.js
Due: control

Change JSDoc order
  Control/public/workflow/panels/flps/detectorsPanel.js
Due: control

Wait for selected
  Control/test/public/page-lock-mocha.js
Due: control

clarify selector
  Control/test/public/page-lock-mocha.js
Due: control

Fix race condition in lock test
  Control/test/public/page-lock-mocha.js
Due: control

Disable create button if detectors not selected
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Try to fix integration tests
  Control/test/integration/config-provider.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

Wait for lock
  Control/test/integration/create-new-environment.js
Due: control

Bump version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-847] Per-detector lock (#1119)
  Control/lib/api.js
  Control/lib/connectors/ConsulConnector.js
  Control/lib/control-core/ControlService.js
  Control/lib/services/Lock.js
  Control/lib/services/Padlock.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/common/detectorHeader.js
  Control/public/common/sidebar.js
  Control/public/configuration/configPage.js
  Control/public/environment/environmentPage.js
  Control/public/hardware/hardwarePage.js
  Control/public/lock/Lock.js
  Control/public/lock/lockButton.js
  Control/public/lock/lockPage.js
  Control/public/view.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/config-provider.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
  Control/test/lib/mocha-apricot-service.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/lib/mocha-control-service.js
  Control/test/lib/mocha-lock.js
  Control/test/mocha-index.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-lock-mocha.js
  Control/test/public/page-new-environment-mocha.js
Due: control

improve
  Framework/Backend/services/notification.js
Due: framework

Enable create button if workflow is QC
  Control/public/workflow/workflowsPage.js
Due: control

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1100] Enable create button if workflow is QC (#1138)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/workflowsPage.js
Due: control

Display consul URL with its UI node
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

[OGUI-1099] Display consul URL with its UI node (#1144)
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

Fix bug in which GET was expecting body instead of query
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
Due: qualitycontrol

Bump version dependencies
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Remove console statement
  QualityControl/public/services/Layout.service.js
Due: qualitycontrol

[OGUI-1101] Fix undefined user id in layout API (#1145)
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
Due: qualitycontrol

Disable autoscroll when user presses key to navigate logs
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/public/log/tableLogsContent.js
Due: infologger

Disable autoscroll when user presses key to navigate logs (#1146)
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/public/log/tableLogsContent.js
Due: infologger

Update stats box on log length limit change
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

Fix eslint
  InfoLogger/public/log/Log.js
Due: infologger

Add back limit of 1k
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

[OGUI-1103] Update stats box on log length limit change (#1147)
  InfoLogger/public/log/Log.js
Due: infologger

Check if status is ok before showing notification
  InfoLogger/public/Model.js
Due: infologger

[OGUI-1106] Check if status is ok before showing notification (#1148)
  InfoLogger/public/Model.js
Due: infologger

Release ILG 1.10.0
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Release ILG 1.10.0 (#1149)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1069] Move notification logic to Kafka consumer (#1040)
  Framework/Backend/config-default.json
  Framework/Backend/index.js
  Framework/Backend/services/notification.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Backend/test/mocha-notification.js
  Framework/README.md
  Framework/docs/guide/kafka.md
  Framework/docs/guide/notification.md
Due: framework

Bump Framework to 1.23.0
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump Framework to 1.23.0 (#1152)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
