Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

Remove date asserts
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-1066] Update tests with new puppeteer for QC (#1021)
  .github/workflows/qc.yml
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

Use node 16 for control compatibility
  .github/workflows/framework.yml
Due: none

Allow empty values to be trashed from icon
  Control/public/workflow/Workflow.js
Due: control

Bump minor version for future release
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1058] Fixes bug in which KV with empty value would not be removed from Adv Config Panel (#1024)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Due: control

[OGUI-1061] Detectors and hosts should not ve visible for qc workflows
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
Due: control

Hosts and Detectors should be deselected on qc workflow
  Control/public/workflow/Workflow.js
Due: control

[OGUI-1060] Hide readout and qc URIs for qc workflow
  Control/public/workflow/panels/variables/mainPanel.js
Due: control

Bump version minor
  Control/package-lock.json
  Control/package.json
Due: control

Add CHANGELOG file
  Control/CHANGELOG.md
Due: control

[OGUI-1061] Revert version as bump was not needed
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1061] && [OGUI-1060] Hide host, detector panels and readout, qc URIs for QC workflows (#1026)
  Control/CHANGELOG.md
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

Add front-end cru option for aliases
  Control/public/Model.js
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components/linkCheckBox.js
  Control/public/configuration/configPage.js
Due: control

Update utils
  Control/config-default.js
  Control/lib/utils.js
Due: control

Add new API route for aliases
  Control/lib/api.js
Due: control

Add method to build JSON of aliases
  Control/lib/connectors/ConsulConnector.js
Due: control

Always display original name on hover
  Control/public/configuration/configPage.js
Due: control

Add default case to config parameter for detector hardware
  Control/lib/config/publicConfigProvider.js
  Control/test/mocha-index.js
Due: control

Add value for tests
  Control/test/test-config.js
Due: control

[OGUI-1067] Add aliases to CRU Configuration page (#1036)
  Control/config-default.js
  Control/lib/api.js
  Control/lib/config/publicConfigProvider.js
  Control/lib/connectors/ConsulConnector.js
  Control/lib/utils.js
  Control/public/Model.js
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components/linkCheckBox.js
  Control/public/configuration/configPage.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

Add changelog details
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
Due: control

Release COG 1.41.0 (#1037)
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1069] Move notification logs to Kafka consumer
  Framework/Backend/config-default.json
  Framework/Backend/index.js
  Framework/Backend/services/notification.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Backend/test/mocha-notification.js
Due: framework

docs
  Framework/README.md
  Framework/docs/guide/kafka.md
  Framework/docs/guide/notification.md
Due: framework

Bump actions versions for ControlGUI
  .github/workflows/control.yml
Due: none

[OGUI-1072] Bump actions versions for ControlGUI (#1042)
  .github/workflows/control.yml
Due: none

Update actions versions for Framework
  .github/workflows/framework.yml
Due: none

[OGUI-1072] Update actions versions for Framework (#1043)
  .github/workflows/framework.yml
Due: none

Update GH Actions versions for QC
  .github/workflows/qc.yml
Due: none

Update GH Actions versions for ILG
  .github/workflows/infologger.yml
Due: none

[OGUI-1072] Update GH Actions versions for QC (#1044)
  .github/workflows/qc.yml
Due: none

[OGUI-1072] Update GH Actions versions for ILG (#1045)
  .github/workflows/infologger.yml
Due: none

Parse ID in case is string
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1075] Parse ID in case is returned as string (#1058)
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump critical dependencies of AliECS GUI
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1074] Bump critical dependencies of AliECS GUI (#1059)
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1075] Use Consul catalog instead of agent
  Framework/Backend/services/consul.service.js
  QualityControl/lib/api.js
Due: qualitycontrol, framework

Return objects
  QualityControl/lib/api.js
Due: qualitycontrol

Improve getting list of tags
  Framework/Backend/services/consul.service.js
  QualityControl/lib/api.js
Due: qualitycontrol, framework
