Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

codecov:
  notify:
    after_n_builds: 1

coverage:
  precision: 2
  round: nearest
  range: 70...90
  status:
    project:
      default: false
      Framework:
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        target: 85%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

Update codecov on infologger
  .codecov.yml
Due: none

Remove 1 build condition
  .codecov.yml
Due: none

Add all builds
  .codecov.yml
Due: none

Enable deefault
  .codecov.yml
Due: none

Test flags
  .codecov.yml
Due: none

Test
  .codecov.yml
  .github/workflows/qc.yml
Due: none

Remove n builds option
  .codecov.yml
Due: none

Add default off
  .codecov.yml
Due: none

Decrease range
  .codecov.yml
Due: none

Update readmes to include coverage
  Control/README.md
  Framework/README.md
  InfoLogger/README.md
  QualityControl/README.md
  README.md
Due: control, qualitycontrol, infologger, framework

On push dev/master run all builds
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[OGUI-506] Improve current codecov process (#463)
  .codecov.yml
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  Control/README.md
  Framework/README.md
  InfoLogger/README.md
  QualityControl/README.md
  README.md
Due: control, qualitycontrol, infologger, framework

[OGUI-506] Fix Flag mistake
  Control/README.md
Due: control

[OGUI-504] Add panel CSS
  Control/public/app.css
Due: control

[OGUI-504] Group options
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-504] Fix padding
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-507] Add checkbox for toggleing all links
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-508] Add option to close or open all hosts in table
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-505] Add button to select all hosts
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
Due: control

[OGUI-510] Add title to retrieve template button
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-503] add temporary tooltips
  Control/public/app.css
  Control/public/configuration/configurationPage.js
Due: control

Drop passAsUrl method
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

Drop passAsUrl method (#464)
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

Parse HTTP config as in other modules
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
Due: framework

Adapt docs to simple usage
  Framework/docs/guide/http-server.md
Due: framework

Parse HTTP config as in other modules (#465)
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

Release v1.10.0
  Framework/package-lock.json
  Framework/package.json
Due: framework

test method references in GH
  Framework/docs/guide/http-server.md
Due: framework

Improve JS docs forp public methods
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

Make pulibc methods to display as references
  Framework/docs/guide/http-server.md
Due: framework

Improve HTTP docs
  Framework/docs/guide/http-server.md
Due: framework

[OGUI-514] Improve HTTP guide and JSDoc (#466)
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

Update JWT docs
  Framework/Backend/http/server.js
  Framework/Backend/jwt/token.js
  Framework/README.md
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
Due: framework

Typos
  Framework/docs/guide/json-tokens.md
Due: framework

Rename modules
  Framework/docs/guide/json-tokens.md
Due: framework

[OGUI-514] Extend JWT guide (#467)
  Framework/Backend/http/server.js
  Framework/Backend/jwt/token.js
  Framework/README.md
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
Due: framework

improv ws guide
  Framework/Backend/websocket/server.js
  Framework/README.md
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
  Framework/docs/guide/websockets.md
Due: framework

Change example
  Framework/docs/guide/websockets.md
Due: framework

tiny changes
  Framework/docs/guide/websockets.md
Due: framework

Improve WebSocket server guide (#468)
  Framework/Backend/websocket/server.js
  Framework/README.md
  Framework/docs/guide/http-server.md
  Framework/docs/guide/json-tokens.md
  Framework/docs/guide/websockets.md
Due: framework
