Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Try patch false
  codecov.yml
Due: none

Add control; disable default
  codecov.yml
Due: none

Add rest of projects
  codecov.yml
Due: none

Trigger build
  codecov.yml
Due: none

Update targets and thresholds
  codecov.yml
Due: none

Ignore default average
  codecov.yml
Due: none

Add flag for framework
  codecov.yml
Due: none

Add flags for all
  codecov.yml
Due: none

Add carryforward option
  codecov.yml
Due: none

Update all workflows
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

Increase target for framework
  codecov.yml
Due: none

Retrigger Pipeline
  .github/workflows/infologger.yml
Due: none

Comment code
  Control/public/frameworkinfo/frameworkInfoPage.js
Due: control

FIx build
  Control/public/frameworkinfo/frameworkInfoPage.js
Due: control

Trigger build
  Control/public/frameworkinfo/frameworkInfoPage.js
Due: control

Remove whitespace
  .github/workflows/infologger.yml
Due: none

Trigger build for PR
  .github/workflows/infologger.yml
Due: none

[OGUI-506] Fix codecov (#500)
  .codecov.yml
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  codecov.yml
Due: none

Updated public method documentation of the backend
  Framework/docs/guide/http-server.md
Due: framework

Support full REST interface
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

Support full REST interface (#492)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/docs/guide/http-server.md
Due: framework

404 on the api router should be a JSON respone
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

[OGUI-448] Add back gray spinner
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/layoutListHeader.js
Due: qualitycontrol

[OGUI-448] Improve loading objects UI experience
  QualityControl/public/common/sidebar.js
  QualityControl/public/loader/spinner.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

[OGUI-448] Fix test
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-448] Add loading icon on sidetree
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
Due: qualitycontrol

[OGUI-448] Fix undefiend error message
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-453] Trigger resize so that virtual node change is triggerred as well
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-448] Add button inline with title
  QualityControl/public/app.css
  QualityControl/public/common/sidebar.js
Due: qualitycontrol

[OGUI-448] Fix error message out of plot
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-448] Remove duplicated error message
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Bump patch version of qcg
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-448] & [OGUI-453] Fix small visual bugs (#504)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutListHeader.js
  QualityControl/public/loader/spinner.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

404 on the api router should be a JSON respone (#503)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

Add hostname:* to connect-src CSP
  Framework/Backend/http/server.js
Due: framework

Add hostname:* to connect-src CSP (#505)
  Framework/Backend/http/server.js
Due: framework

Add compatibility check for InfoLogger
  .github/workflows/framework.yml
Due: none

Bump Framework version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix indent
  .github/workflows/framework.yml
Due: none

[OGUI-525] Fix framework not triggering on master and dev
  .github/workflows/framework.yml
Due: none

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
