Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

[OGUI-329] Adapt frontend to kafka events (#3079)
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterTypes.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/filtersConfig.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/filters/runMode/runStatusPanel.js
  QualityControl/public/services/Filter.service.js
  QualityControl/test/config.js
  QualityControl/test/public/features/runMode.test.js
  QualityControl/test/setup/mockKafkaEvents.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

[release/qcg/3.15.0] (#3082)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[release/qcg/3.14.0] (#3042)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1774] Bugfix: get object by ID properly if in object view from a layout (#3084)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

[OGUI-1722] Integrate runs mode functionality (#3023)
  QualityControl/common/library/runStatus.enum.js
  QualityControl/docs/Features.md
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/header.js
  QualityControl/public/common/runModeHeader.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/services/Filter.service.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/services/BookkeepingService.test.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/features/runsMode/runsModeLayoutShow.test.js
  QualityControl/test/public/features/runsMode/runsModeObjectTree.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/test-index.js
Due: qualitycontrol

[OGUI-1722] Runs mode backend: adapt for frontend support (#3022)
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/filters/RunNumberDto.js
  QualityControl/lib/middleware/filters/runMode.middleware.js
  QualityControl/lib/middleware/filters/runStatusFilter.middleware.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/test/api/filters/api-get-run-status.test.js
  QualityControl/test/lib/controllers/FiltersController.test.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/middlewares/filters/runMode.middleware.test.js
  QualityControl/test/lib/middlewares/filters/runStatusFilter.middleware.test.js
  QualityControl/test/lib/services/FilterService.test.js
  QualityControl/test/lib/services/RunModeService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

[OGUI-1762] Improve user messages when accessing runs mode (#3049)
  QualityControl/common/library/runStatus.enum.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/dtos/filters/RunNumberDto.js
  QualityControl/lib/middleware/filters/runMode.middleware.js
  QualityControl/lib/middleware/filters/runStatusFilter.middleware.js
  QualityControl/lib/services/FilterService.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/services/Filter.service.js
  QualityControl/test/api/filters/api-get-run-status.test.js
  QualityControl/test/lib/middlewares/filters/runMode.middleware.test.js
  QualityControl/test/lib/middlewares/filters/runStatusFilter.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByContentsValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByIdValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectsGetValidation.middleware.test.js
  QualityControl/test/lib/services/FilterService.test.js
Due: qualitycontrol

[OGUI-1782] Bug in safari: error using filter property by an iterator (#3095)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/pages/layoutListView/model/SearchFilterModel.js
Due: qualitycontrol

[OGUI-1759] /layoutes endpoint now accepts filter query param (#3050)
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/repositories/LayoutRepository.js
  QualityControl/public/common/buildQueryParametersString.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/repositories/LayoutRepository.test.js
Due: qualitycontrol

[OGUI-1766] Run mode checkout (#3054)
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/filtersConfig.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/filters/runMode/runModeCheckbox.js
  QualityControl/public/common/filters/runMode/runStatusPanel.js
  QualityControl/public/common/header.js
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/common/runModeHeader.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/public/services/Filter.service.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/features/runMode.test.js
  QualityControl/test/public/features/runsMode/runsModeLayoutShow.test.js
  QualityControl/test/public/features/runsMode/runsModeObjectTree.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Due: qualitycontrol

[qcg] Refactor/remove unused refresh timer (#3053)
  QualityControl/public/Model.js
Due: qualitycontrol

[OGUI-1722] Runs mode layout smart refresh (#3078)
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/filters/runMode/runStatusPanel.js
  QualityControl/public/common/header.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/services/Filter.service.js
Due: qualitycontrol

[OGUI-1767] Runs mode object tree smart refresh + header refactor (#3066)
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/filters/runMode/runStatusPanel.js
  QualityControl/public/common/header.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/test/public/features/runMode.test.js
Due: qualitycontrol

[OGUI-1760] Update search UI for object path and add filters (#3065)
  .vscode/launch.json
  QualityControl/public/common/header.js
  QualityControl/public/pages/layoutListView/FilterTypes.js
  QualityControl/public/pages/layoutListView/LayoutListPage.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/layoutListView/filtersPanelPopover.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
  QualityControl/public/pages/layoutListView/model/SearchFilterModel.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/layout-list.test.js
Due: qualitycontrol

[OGUI-1758] object path filtering in repository layer (#3041)
  QualityControl/lib/repositories/LayoutRepository.js
  QualityControl/test/lib/repositories/LayoutRepository.test.js
Due: qualitycontrol

[OGUI-1761] Restrict Lock force ALL actions to admin users only (#3102)
  Control/lib/api.js
  Control/public/lock/lockPage.js
  Control/test/api/lock/api-put-locks.test.js
Due: control

Configure docker compose to wait for previous stages
  Configuration/webapp/package-lock.json
  Configuration/webapp/prettier.config.ts
Due: none

revert: configuring ESLint and Prettier - commit fbafe80
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none

cherry-pick: apply 9c9337c (chore: fix ESLint for test files)
  Configuration/webapp/package-lock.json
Due: none

feat: implement testing using TypeScript
  Configuration/webapp/app/test/mocha-index.ts
  Configuration/webapp/app/test/services/session.spec.ts
  Configuration/webapp/app/test/test-config.ts
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none

small fix
  QualityControl/test/lib/services/QcdbDownloadService.test.js
Due: qualitycontrol

build: fix package.json and package-lock.json
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none

test: update tests and move them to correct directory
  Configuration/webapp/app/test/mocha-index.ts
  Configuration/webapp/app/test/services/session.spec.ts
  Configuration/webapp/app/test/test-config.ts
Due: none

refactor: session service
  Configuration/webapp/app/services/session.ts
  Configuration/webapp/test/services/session.spec.ts
Due: none

Minor fixes for symbols
  QualityControl/lib/QCModel.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

add tests
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

models: make layout name unique, remove user ids autoincrement
  QualityControl/lib/database/models/Layout.js
  QualityControl/lib/database/models/User.js
Due: qualitycontrol

make all ids integer and add old_id to layouts
  QualityControl/lib/database/migrations/20250424083717-create-tables.mjs
  QualityControl/lib/database/models/Chart.js
  QualityControl/lib/database/models/ChartOption.js
  QualityControl/lib/database/models/GridTabCell.js
  QualityControl/lib/database/models/Layout.js
  QualityControl/lib/database/models/Option.js
  QualityControl/lib/database/models/Tab.js
  QualityControl/lib/database/models/User.js
Due: qualitycontrol

make a tab name unique within a layout
  QualityControl/lib/database/models/Tab.js
Due: qualitycontrol

abstract sequelize methods in a common base repository
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/lib/database/repositories/ChartRepository.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
Due: qualitycontrol

init: first vault docker setup
  Tokenization/.gitignore
  Tokenization/backend/central-system/banner.js
  Tokenization/docker-compose.yml
Due: none

feat: divided docker-compose files and added working mariadb image
  Tokenization/.gitignore
  Tokenization/docker-compose.dev.yml
  Tokenization/docker-compose.yml
Due: none

create seeders
  QualityControl/jsconfig.json
  QualityControl/lib/database/seeders/20250930071301-seed-users.mjs
  QualityControl/lib/database/seeders/20250930071308-seed-layouts.mjs
  QualityControl/lib/database/seeders/20250930071313-seed-tabs.mjs
  QualityControl/lib/database/seeders/20250930071317-seed-charts.mjs
  QualityControl/lib/database/seeders/20250930071322-seed-gridtabcells.mjs
  QualityControl/lib/database/seeders/20250930071334-seed-chart-options.mjs
Due: qualitycontrol

database configuration
  QualityControl/config-default.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/config/database.js
  QualityControl/lib/database/SequelizeDatabase.js
  QualityControl/lib/database/index.js
Due: qualitycontrol

use delete method properly in chartOptionsRepository
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
Due: qualitycontrol

use 'super' to access base repository methods
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
Due: qualitycontrol

mapper to patch a layout
  QualityControl/lib/services/layout/helpers/layoutMapper.js
  QualityControl/test/lib/services/layout/helpers/layoutMapper.test.js
Due: qualitycontrol

remove duplicated methods in repositories
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/lib/database/repositories/ChartRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/test/lib/database/repositories/BaseRepository.test.js
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
  QualityControl/test/lib/database/repositories/OptionRepository.test.js
  QualityControl/test/lib/database/repositories/UserRepository.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

change left and right headers size to 25%
  QualityControl/public/common/header.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

fix styles to wrap buttons if they don't fit
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol
