Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-1073] Make error message match CI/CD browser
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

[OGUI-1073] Infologger link can get stuck if provided invalid filter parameters (#3439)
  InfoLogger/public/Model.js
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

[OGUI-1577] Warn user before querying with no text filters set
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

[OGUI-1577] Add query-mode tests for no text filters confirmation dialog
  InfoLogger/test/public/query-mode-mocha.js
Due: infologger

[OGUI-1577] Remove unneeded check if confirmation dialog is supported
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-1577] Extract text filter operators into constant
  InfoLogger/public/constants/text-filter-operators.const.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

[OGUI-1577] Extend confirmation dialog test to cover all text filter operators
  InfoLogger/test/public/query-mode-mocha.js
Due: infologger

[OGUI-1577] Add missing copyright header for new constant file
  InfoLogger/public/constants/text-filter-operators.const.js
Due: infologger

[OGUI-1577] Alert user of no filters set (#3440)
  InfoLogger/public/constants/text-filter-operators.const.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/test/public/query-mode-mocha.js
Due: infologger

Use const instead of hard-coded string
  InfoLogger/public/common/utils.js
Due: infologger

[OGUI-1453] State and model base
  InfoLogger/public/Model.js
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-1453] Context menu component + styles
  InfoLogger/public/app.css
  InfoLogger/public/log/cellContextMenu.js
  InfoLogger/public/view.js
Due: infologger

[OGUI-1453] Connect table cells
  InfoLogger/public/log/tableLogsContent.js
Due: infologger

Disable Configuration and Tokenisation deps updates
  .github/dependabot.yml
Due: none

Add option to stop any existing runs for a newly updated branch
  .github/workflows/configuration.yml
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/tokenization.yml
Due: none

[OGUI-1894] Stop existing ongoing workflows for newly updated branch (#3454)
  .github/dependabot.yml
  .github/workflows/configuration.yml
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/tokenization.yml
Due: none

Fix vulnerability reported by npm audit
  Framework/package-lock.json
Due: framework

Fix vulnerability reported by npm audit (#3459)
  Framework/package-lock.json
Due: framework

Improve test logic following test dependencies changes
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Fix lint errors
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Increase timeout
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Update on breaking change of puppeteer v25
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Stop running on configuration and tokenisation projects
  .github/workflows/configuration.yml
  .github/workflows/tokenization.yml
Due: none

Stop running on configuration and tokenisation projects (#3460)
  .github/workflows/configuration.yml
  .github/workflows/tokenization.yml
Due: none

Fix lint warnings
  Control/public/utilities/jsonDelete.js
  Control/public/utilities/jsonFetch.js
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/middleware/filters/runMode.middleware.js
  QualityControl/lib/middleware/filters/runStatusFilter.middleware.js
  QualityControl/lib/middleware/layouts/layoutId.middleware.js
  QualityControl/lib/middleware/layouts/layoutOwner.middleware.js
  QualityControl/lib/middleware/layouts/layoutService.middleware.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/Intervals.service.js
  QualityControl/lib/services/external/AliEcsSynchronizer.js
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/folder/model/FolderModel.js
  QualityControl/public/folder/view/FolderComponent.js
  QualityControl/public/layout/view/panels/settings.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/layoutListView/FilterTypes.js
  QualityControl/public/pages/layoutListView/components/LayoutListCard.js
  QualityControl/public/pages/layoutListView/model/SearchFilterModel.js
  QualityControl/public/services/utils/jsonDelete.js
  QualityControl/public/services/utils/jsonFetch.js
  QualityControl/public/services/utils/jsonPatch.js
  QualityControl/public/services/utils/jsonPut.js
Due: control, qualitycontrol

Fix cause lint reported error
  QualityControl/eslint.config.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

Revert unwanted, unrelated changes to project
  Control/public/utilities/jsonDelete.js
  Control/public/utilities/jsonFetch.js
Due: control

Extract detector fetching method from ApricotService
  Control/lib/control-core/ApricotService.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
Due: control

App detector service functionality and tests
  Control/lib/services/Detector.service.js
  Control/test/lib/services/mocha-detector.service.test.js
Due: control

Make use of extracted code in API
  Control/lib/api.js
  Control/test/api/detectors/api-get-detectors.test.js
  Control/test/mocha-index.js
Due: control

[OGUI-1832] Filter out empty detectors reported by apricot (#3461)
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/services/Detector.service.js
  Control/test/api/detectors/api-get-detectors.test.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
  Control/test/lib/services/mocha-detector.service.test.js
  Control/test/mocha-index.js
Due: control

Use element ID instead of path in element page for test robustness
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1896] Use element ID instead of path in element page for test robustness (#3462)
  Control/test/public/page-new-environment-mocha.js
Due: control

Add constraints to filter logic to be applied per user role
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Display label rather than index (null)
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

Update tests for edge cases
  InfoLogger/test/public/shifter-based-actions-mocha.js
  InfoLogger/test/test-utils.js
Due: infologger

[OGUI-1543] Added test cases for context menu functionality
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

[OGUI-1453] Fix failing CI/CD test due to slow render
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Move code of hosts to dedicated service and add filtering non-empty hosts
  Control/lib/services/Detector.service.js
  Control/test/lib/services/mocha-detector.service.test.js
Due: control

Remove code from deprecated service
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
