Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-736] migrate to pure js grpc module & [OGUI-737] Remove google eslint dep (#652)
  Control/lib/control-core/ControlProxy.js
  Control/package-lock.json
  Control/package.json
  Control/test/mocha-index.js
Due: control

[OGUI-727] Send pretty JSON to Consul
  Control/lib/ConsulConnector.js
Due: control

[OGUI-732] Multiple selection of flps (#653)
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-727] Update tests to check for pretty format
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-727] Send pretty JSON to Consul (#654)
  Control/lib/ConsulConnector.js
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-740] Update repository list state to loading
  Control/public/workflow/Workflow.js
Due: control

[OGUI-744] Bump cog minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-722] Add workflows information link
  Control/public/app.css
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-722] Add consul kvstore links to readout and qc
  Control/lib/ConsulConnector.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/basicPanel.js
Due: control

[OGUI-722] Add link to infologger with run number
  Control/lib/api.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-722] Update unit & integration tests
  Control/lib/ConsulConnector.js
  Control/public/environment/environmentPage.js
  Control/test/integration/control-environment.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Due: control

[OGUI-722] Improve documentation
  Control/lib/ConsulConnector.js
Due: control

[OGUI-740] Update repository list state to loading (#655)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Due: control

[OGUI-722] Add links to external tools: Consul & ILG (#656)
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/public/app.css
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/control-environment.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Due: control

Sync proto file from Control repo
  Control/protobuf/o2control.proto
Due: control

[OGUI-722] Add documentation about the new configuration fields
  Control/README.md
  Control/config-default.js
Due: control

[OGUI-733] Log all errors
  QualityControl/lib/api.js
  QualityControl/lib/connector/LayoutConnector.js
Due: qualitycontrol

[OGUI-733] Log all http errors on ControlGUI
  Control/lib/utils.js
Due: control

[OGUI-723] Use pre-line to look for newlines
  Control/public/common/errorPage.js
Due: control

[OGUI-723] Build custom 404 error message
  Control/lib/ConsulConnector.js
Due: control

[OGUI-723] Decrease icon for error and loading pages
  Control/public/app.css
Due: control

[OGUI-723] Add test for 404 response
  Control/lib/ConsulConnector.js
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-723] Improve 404 message consul for links configuration page (#659)
  Control/lib/ConsulConnector.js
  Control/public/app.css
  Control/public/common/errorPage.js
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-722] Add documentation about the new configuration fields (#657)
  Control/README.md
  Control/config-default.js
Due: control

[OGUI-733] Log all HTTP errors (#658)
  Control/lib/utils.js
  QualityControl/lib/api.js
  QualityControl/lib/connector/LayoutConnector.js
Due: control, qualitycontrol

[OGUI-751] Remove logout button if no auth
  Control/public/common/appHeader.js
Due: control

[OGUI-751] Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-753] Add missing function lost due to refactoring
  InfoLogger/public/logFilter/tableFilters.js
  InfoLogger/public/table/Table.js
Due: infologger

[OGUI-751] Remove logout button if no auth (#660)
  Control/package-lock.json
  Control/package.json
  Control/public/common/appHeader.js
Due: control

[OGUI-726] Add actionable icon and more width cls
  Framework/Frontend/css/src/bootstrap.css
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-753] Add missing function lost due to refactoring (#661)
  InfoLogger/public/logFilter/tableFilters.js
  InfoLogger/public/table/Table.js
Due: infologger

[OGUI-710] Add connection status
  Framework/Backend/log/InfoLoggerReceiver.js
Due: framework

[OGUI-682] Staging
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/test/live-simulator/infoLoggerServer.js
Due: infologger

[OGUI-710] Use Node timeout
  Framework/Backend/log/InfoLoggerReceiver.js
Due: framework

[OGUI-682] Automatically renable live mode
  Framework/Backend/log/InfoLoggerReceiver.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
Due: infologger, framework

[OGUI-710] Emit message if reconnected
  Framework/Backend/log/InfoLoggerReceiver.js
Due: framework

[OGUI-710] Add ilg receiver connection status (#663)
  Framework/Backend/log/InfoLoggerReceiver.js
Due: framework

[OGUI-726] Add actionable icon and more width cls (#662)
  Framework/Frontend/css/src/bootstrap.css
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-682] Revert changes into Framework
  Framework/Backend/log/InfoLoggerReceiver.js
Due: framework

[OGUI-682] Bump web-ui deps
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
