Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

Add missing fields to layout validation
  QualityControl/lib/dtos/LayoutDto.js
Due: qualitycontrol

Sync Apricot proto file from Control repo
  Control/protobuf/apricot.proto
Due: control

Change source of user roles
  Framework/Backend/http/server.js
Due: framework

Bump WebUI patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1155] Change source of user roles (#1253)
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix bug in which layout would not inherit parent columns
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Add notifications timeout
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Add test to prevent creation of layout with no tabs
  QualityControl/test/lib/controllers/mocha-layout.test.js
Due: qualitycontrol

Fix undefined call on new layout
  QualityControl/public/Model.js
  QualityControl/public/services/Layout.service.js
Due: qualitycontrol

Fix import of layout with no tabs
  QualityControl/lib/dtos/LayoutDto.js
Due: qualitycontrol

[OGUI-1148] Fixes layout creation & duplication (#1255)
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
Due: qualitycontrol

Bump patch version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump patch version of QCG (#1256)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update option for CCDB
  QualityControl/README.md
Due: qualitycontrol

Bump JSROOT and patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1164] Bump JSROOT and patch version (#1287)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1166] Adds gap classes to AliceO2 CSS set
  .gitignore
  Framework/Frontend/css/src/bootstrap.css
Due: framework

[OGUI-1166] Update npm version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1166] Adds gap classes to AliceO2 CSS set (#1290)
  .gitignore
  Framework/Frontend/css/src/bootstrap.css
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add color to ODC for RUNNING
  Control/public/environment/environmentsPage.js
Due: control

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

Increase tests total timeout
  Control/test/mocha-index.js
Due: control

[OGUI-1172] Colored odc column if state is RUNNING (#1328)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentsPage.js
  Control/test/mocha-index.js
Due: control

Update request to ccdb to check for multiple locations
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
Due: qualitycontrol

Add error message if request failed for root
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Increase timeout for test
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

Increase general timeout for tests
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

Add more timeouts after page load
  QualityControl/test/public/pages/object-view.test.js
Due: qualitycontrol

Update test following test library bump
  QualityControl/test/public/pages/object-view.test.js
Due: qualitycontrol

[OGUI-1173] Choose content location of root file if many returned (#1331)
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
  QualityControl/test/public/mocha-index.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
Due: qualitycontrol

Add pointer cursor on radio and checkbox label
  Framework/Frontend/css/src/bootstrap.css
  Framework/docs/reference/frontend-css.html
Due: framework

Remove deprecated connectors
  QualityControl/lib/AMOREConnector.js
  QualityControl/lib/MySQLConnector.js
Due: qualitycontrol

Use full name require
  QualityControl/lib/controllers/index.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
  QualityControl/test/lib/controllers/mocha-object.test.js
Due: qualitycontrol

Rename and move JsonFile to services
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
  QualityControl/test/lib/mocha-json-db.js
Due: qualitycontrol

Move and rename Status to Controller
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/test/lib/mocha-status-service.js
Due: qualitycontrol

Update test folder structure
  QualityControl/package.json
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/controllers/layout-controller.test.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/lib/controllers/status-controller.test.js
  QualityControl/test/lib/index.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/lib/services/json-service.test.js
  QualityControl/test/lib/services/user-service.test.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
  QualityControl/test/test-tobject2json.js
Due: qualitycontrol

Add favicon
  QualityControl/public/favicon.ico
Due: qualitycontrol

[OGUI-1176] Update project and test folders structure (#1347)
  QualityControl/lib/AMOREConnector.js
  QualityControl/lib/MySQLConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/controllers/index.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/package.json
  QualityControl/public/favicon.ico
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/controllers/layout-controller.test.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/lib/controllers/status-controller.test.js
  QualityControl/test/lib/index.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/lib/services/json-service.test.js
  QualityControl/test/lib/services/user-service.test.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
  QualityControl/test/test-tobject2json.js
Due: qualitycontrol
