Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-1083] Add ODC Status to each environment in env list (#1100)
  Control/public/Model.js
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Due: control

Bump version and add release notes
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
Due: control

Bump version and add release notes (#1101)
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-798] Adapt AliECS GUI to token access changes in Framework (#1098)
  Control/lib/services/Padlock.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
Due: control

[OGUI-1084] Filter detector displayed in model based on SSO roles
  Control/public/Model.js
  Control/public/common/detectorModal.js
  Control/public/services/DetectorService.js
Due: control

[OGUI-1084] If SSO disable everyone is admin
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

fix eslint
  Control/public/common/detectorModal.js
  Control/public/services/DetectorService.js
Due: control

[OGUI-1084] If SSO disable everyone is admin (#1104)
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix
  Control/package-lock.json
  Control/package.json
  Framework/Backend/http/server.js
  Framework/Backend/jwt/token.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Backend/test/mocha-ws.js
Due: control, framework

rever
  Control/package-lock.json
Due: control

revert2
  Control/package.json
Due: control

Add enum roles
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/common/detectorModal.js
  Control/public/services/DetectorService.js
Due: control

add change to ILG
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger

Improve MD docs
  Framework/Backend/jwt/token.js
  Framework/docs/guide/json-tokens.md
Due: framework

fix
  Framework/docs/guide/json-tokens.md
Due: framework

Use generateToken correctly in tests
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Backend/test/mocha-ws.js
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger, framework

[OGUI-798] Fix access scope in token (#1106)
  Framework/Backend/http/server.js
  Framework/Backend/jwt/token.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Backend/test/mocha-ws.js
  Framework/docs/guide/json-tokens.md
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger, framework

Add role concept
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/common/detectorModal.js
  Control/public/services/DetectorService.js
Due: control

Add role concept
  Control/public/Model.js
  Control/public/services/DetectorService.js
Due: control

Show/hide based on role name
  Control/public/Model.js
  Control/public/common/detectorModal.js
  Control/public/environment/environmentsPage.js
Due: control

Fix JSlint
  Control/public/Model.js
Due: control

Fix duplicates
  Control/public/Model.js
Due: control

Use constats
  Control/public/Model.js
  Control/public/services/DetectorService.js
  Control/public/workflow/constants.js
Due: control

Move logic to detectorsList
  Control/public/common/detectorModal.js
Due: control

fix arraow func
  Control/public/common/detectorModal.js
Due: control

Bump framework
  Control/package-lock.json
  Control/package.json
Due: control

Refactor Layout Service into Controller and update accordingly
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/index.js
  QualityControl/lib/services/LayoutService.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
Due: qualitycontrol

Export errorHandler in utility module
  QualityControl/lib/utils.js
Due: qualitycontrol

Add tests for util class
  QualityControl/test/lib/mocha-utils.test.js
Due: qualitycontrol

[OGUI-1087] Refactor layout service into controller (#1107)
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/index.js
  QualityControl/lib/services/LayoutService.js
  QualityControl/lib/utils.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
  QualityControl/test/lib/mocha-utils.test.js
Due: qualitycontrol

Guest role should be read-only
  Control/public/Model.js
  Control/public/task/content.js
  Control/public/workflow/workflowsPage.js
Due: control

Hide lock button and fix detector modal
  Control/public/common/appHeader.js
  Control/public/common/detectorModal.js
Due: control

Move Roles to constat file
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/common/detectorModal.js
  Control/public/environment/environmentsPage.js
  Control/public/services/DetectorService.js
  Control/public/task/content.js
  Control/public/workflow/constants.js
  Control/public/workflow/workflowsPage.js
Due: control

Fix for detector service
  Control/public/services/DetectorService.js
Due: control

Add test to create env page
  Control/test/public/page-new-environment-mocha.js
Due: control

Fix JSDoc
  Control/public/Model.js
Due: control

Move to getRole
  Control/public/Model.js
Due: control

fix
  Control/public/Model.js
Due: control

Add docs
  Control/README.md
  Framework/docs/guide/openid.md
Due: control, framework

[OGUI-1084] Adapt view according to assigned SSO roles (#1103)
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/common/detectorModal.js
  Control/public/environment/environmentsPage.js
  Control/public/services/DetectorService.js
  Control/public/task/content.js
  Control/public/workflow/constants.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
  Framework/docs/guide/openid.md
Due: control, framework
