Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Remove option to save only for CRUs and rename to simple 'Configure'
  Control/public/configuration/configPage.js
Due: control

[OGUI-1602] Remove option to save only for CRUs and rename to simple 'Configure' (#2735)
  Control/public/configuration/configPage.js
Due: control

Use consul UI param rather than host and port
  Control/public/configuration/ConfigByCru.js
Due: control

[OGUI-1232] Use consul UI param rather than host and port (#2736)
  Control/public/configuration/ConfigByCru.js
Due: control

Bump ALL guis to latest framework to update dependencies
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Bump ALL guis to latest framework to update dependencies (#2737)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

[OGUI-1594] Remove double conversion of grpc error and adapt to usage of errors from web-ui (#2713)
  Control/lib/control-core/GrpcProxy.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/lib/controllers/Run.controller.js
  Control/lib/controllers/WorkflowTemplate.controller.js
  Control/lib/errors/InvalidInputError.js
  Control/lib/errors/NotFoundError.js
  Control/lib/errors/TimeoutError.js
  Control/lib/errors/UnauthorizedAccessError.js
  Control/lib/errors/grpcErrorToNativeError.js
  Control/lib/errors/updateExpressResponseFromNativeError.js
  Control/lib/middleware/lockOwnership.middleware.js
  Control/lib/middleware/minimumRole.middleware.js
  Control/lib/services/Environment.service.js
  Control/lib/services/Lock.service.js
  Control/lib/services/Run.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/package.json
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
  Control/test/lib/controllers/mocha-run-controller.test.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.test.js
  Control/test/lib/middleware/mocha-lockOwnership.middleware.test.js
  Control/test/lib/middleware/mocha-minimumRole.middleware.test.js
  Control/test/lib/services/mocha-environment.service.test.js
  Control/test/lib/services/mocha-lock.service.test.js
  Control/test/lib/services/mocha-run.service.test.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
  Control/test/public/page-new-environment-mocha.js
Due: control

apiPutLayoutTests
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/api/layouts/api-put-layout.test.js
  QualityControl/test/config.js
  QualityControl/test/setup/testServerSetup.js
  QualityControl/test/test-index.js
Due: qualitycontrol

new specific config for api tests
  QualityControl/test/api/config.js
  QualityControl/test/demoData/layout/layout.mock.js
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

api put layout tests: 403 error and 201 OK
  QualityControl/test/api/layouts/api-put-layout.test.js
Due: qualitycontrol

add tests for put request: body provided and name already exists
  QualityControl/test/api/layouts/api-put-layout.test.js
  QualityControl/test/demoData/layout/layout.mock.js
Due: qualitycontrol

remove unnecesary check in LayoutController
  QualityControl/lib/controllers/LayoutController.js
Due: qualitycontrol

[OGUI-1606] Add copy-to-clipboard component (#2714)
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/components/StatefulComponent.js
  Framework/Frontend/js/src/index.js
Due: framework

fix test when the layout id is not provided
  QualityControl/test/api/layouts/api-put-layout.test.js
Due: qualitycontrol

Fix linter
  Framework/Frontend/js/src/components/DropdownComponent.js
  Framework/Frontend/js/src/components/PopoverEngine.js
  Framework/Frontend/js/src/components/PopoverPreConfigurations.js
  Framework/Frontend/js/src/components/createPortal.js
  Framework/Frontend/js/src/components/getUniqueId.js
  Framework/Frontend/js/src/components/popover.js
  Framework/Frontend/js/src/renderer.js
  Framework/Frontend/js/src/utilities/documentClickTaggedEventRegistry.js
Due: framework

refactor layoutController
  QualityControl/lib/controllers/LayoutController.js
Due: qualitycontrol

layoutController (patch): changed response to return { id: layoutId } for consistency
  QualityControl/lib/controllers/LayoutController.js
Due: qualitycontrol

api tests for patch requests
  QualityControl/test/api/config.js
  QualityControl/test/api/layouts/api-patch-layout.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

fix test descriptions
  QualityControl/test/api/layouts/api-patch-layout.test.js
Due: qualitycontrol

Add license and small refactor
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/protobuf/getWebUiProtoIncludeDir.js
Due: framework

fix layout controller tests
  QualityControl/test/lib/controllers/LayoutController.test.js
Due: qualitycontrol

move Api tests after frontend tests
  QualityControl/test/test-index.js
Due: qualitycontrol

Remove spurious flex from missing locks message
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/test/public/page-environment-mocha.js
Due: control

Add text-right
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
Due: control

Add license and async
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add kafka messages consumer to the Framework
  .github/workflows/proto-sync.yml
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
  Control/lib/control-core/GrpcProxy.js
  Control/protobuf/protos/events.proto
  Control/protobuf/protos/protos/common.proto
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
  Framework/Backend/index.js
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/protobuf/getWebUiProtoIncludeDir.js
  Framework/Backend/test/mocha-kafka.js
  Framework/package-lock.json
Due: control, framework

Update CI to Node22
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger, framework

Update CI to Node22 (#2741)
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger, framework

Refactor: update FrameworkInfo to AboutView to align with Model and Page, rename and reorganize files in 'pages' folder
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/AboutViewPage.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/about-page.test.js
Due: qualitycontrol

refactor: make status route dynamic and support components
  QualityControl/common/library/enums/Status/components.enum.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/services/Status.service.js
Due: qualitycontrol

update enum jsdoc
  QualityControl/common/library/enums/Status/components.enum.js
Due: qualitycontrol

feat: add middleware to validate component parameter
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/middleware/status/statusComponent.middleware.js
Due: qualitycontrol

fix: add qcg as component
  QualityControl/common/library/enums/Status/components.enum.js
  QualityControl/lib/services/Status.service.js
Due: qualitycontrol

frontend: update routes usage
  QualityControl/public/Model.js
  QualityControl/public/frameworkInfo/FrameworkInfo.js
Due: qualitycontrol

provide components via config
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/Model.js
Due: qualitycontrol

revert getFrameworkInfo() renaming to original name
  QualityControl/public/Model.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
Due: qualitycontrol

fix previous tests
  QualityControl/test/lib/controllers/StatusController.test.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/public/initialPageSetup.test.js
Due: qualitycontrol

fix eslint rules
  QualityControl/public/Model.js
Due: qualitycontrol

fix middleware. add it to the route
  QualityControl/lib/api.js
  QualityControl/lib/middleware/status/statusComponent.middleware.js
Due: qualitycontrol

add test for middleware
  QualityControl/test/lib/middlewares/status/statusComponent.middleware.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
