Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-995] Fix some spelling mistakes
  Control/public/frameworkinfo/frameworkInfoPage.js
  Control/public/frameworkinfo/stateTables.js
Due: control

[OGUI-995] Attempt reconnection to server on failure
  Control/public/Model.js
Due: control

[OGUI-994] Add WS Connection to about page
  Control/public/frameworkinfo/FrameworkInfo.js
Due: control

[OGUI-995] Release lock on server connection lost
  Control/public/Model.js
Due: control

[OGUI-994] Add ws to about page and reconnect on failure & [OGUI-995] Release lock on connection failure (#910)
  Control/public/Model.js
  Control/public/frameworkinfo/FrameworkInfo.js
  Control/public/frameworkinfo/frameworkInfoPage.js
  Control/public/frameworkinfo/stateTables.js
Due: control

[OGUI-953] Add search bar for tasks page
  Control/public/task/Task.js
  Control/public/task/content.js
  Control/test/public/page-tasks-mocha.js
Due: control

[OGUI-953] Add search bar for tasks page (#911)
  Control/public/task/Task.js
  Control/public/task/content.js
  Control/test/public/page-tasks-mocha.js
Due: control

[OGUI-1012] Precent duplication of hosts
  Control/public/workflow/WorkflowForm.js
Due: control

[OGUI-1012] Auto select detectors and hosts for single view
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/FlpSelection.js
Due: control

[OGUI-1012] When selecting a detector, automatically select all hosts
  Control/public/workflow/panels/flps/FlpSelection.js
Due: control

[OGUI-1012] Display number of selected and available hosts
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
Due: control

[OGUI-1012] Update FLP ITs
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1012] Improvements for FLP & Detectors selection panels (#912)
  Control/public/workflow/Workflow.js
  Control/public/workflow/WorkflowForm.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1016] Bump dependencies and patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1016] Add callback and fix spelling mistakes
  Framework/Backend/websocket/server.js
Due: framework

[OGUI-1016] Add callback to ping call from WS package (#915)
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1016] Bump webui to fix cb not called
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1016] Bump webui in QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1016] Bump webui in ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1016] Bump webui in all GUIs (#916)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

[OGUI-1016] Bump patch ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1016] Bump InfoLogger GUI patch version (#917)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1018] Update ctp variable
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-1018] Add documentation on fixed variables
  Control/README.md
Due: control

[OGUI-1018] Bump patch version of AliECS GUI
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1018] Update list of fixed variables used by AliECS GUI (#918)
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-851] Copy by value and not referrence to fix arrangement bug
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-851] Bump minor version QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-851] Tab selection changes saved objects order (#919)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-978] Sort layouts alphabetically on the client side
  QualityControl/lib/QCModelDemo.js
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-978] Add back comma removed by mistake
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-1023] Use arrow method in ws server for log
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1023] Use arrow method in ws server for log (#921)
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-978] Bump Framework version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-978] Sort layouts alphabetically on the client side (#920)
  QualityControl/lib/QCModelDemo.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-1023] Bump ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1023] Bump COG patch
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1023] Bump webui in COG & ILG (#922)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: control, infologger

Sync proto file from Control repo
  Control/protobuf/o2control.proto
Due: control

[OGUI-1025] Add deprecated tag to old config page
  Control/public/configuration/Configuration.js
  Control/public/configuration/configurationPage.js
Due: control

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
