Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

Revert ILG bump (#976)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1055] Add status route to be used in FLP diagnose (#974)
  QualityControl/lib/StatusService.js
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/mocha-status-service.js
Due: qualitycontrol

[OGUI-851] Revert changes which broke adding objects to layout
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-851] Revert changes which broke adding objects to layout (#977)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-1057] Fix exclude with multiple space-delimited values
  InfoLogger/lib/SQLDataSource.js
Due: infologger

Add test to conver scenario
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

[OGUI-1057] Bump patch version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1057] Fix exclude with multiple space-delimited values (#979)
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

[OGUI-1062] Status service should treat 301 as successful response
  Control/lib/services/StatusService.js
Due: control

fix indent
  Control/lib/services/StatusService.js
Due: control

Bump version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1062] Status service should treat 301 as successful response (#1003)
  Control/lib/services/StatusService.js
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1065] update topology logic
  Control/README.md
  Control/public/common/utils.js
Due: control

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1065] Update logic behing topology display (#1009)
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Control/public/common/utils.js
Due: control

[OGUI-1066] Bump COG dependencies
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1066] Add dependabot configuration
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

[OGUI-1066] Bump gh workflows to use node 16
  .github/workflows/control.yml
  .github/workflows/release.yml
Due: none

[OGUI-1066] Update assertion error message following Node16
  Control/test/lib/mocha-apricot-service.js
Due: control

[OGUI-1066] Update dependencies on AliECE GUI project and workflows (#1010)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/control.yml
  .github/workflows/release.yml
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-apricot-service.js
Due: control

[OGUI-988] Add detector;flp list page
  Control/public/Model.js
  Control/public/common/sidebar.js
  Control/public/hardware/hardwarePage.js
  Control/public/view.js
Due: control

[OGUI-988] Add hardware page
  Control/public/hardware/hardwarePage.js
  Control/test/mocha-index.js
  Control/test/public/page-hardware-mocha.js
Due: control

[OGUI-988] Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-988] Add new page to display detectors with their FLPs (#1012)
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/sidebar.js
  Control/public/hardware/hardwarePage.js
  Control/public/view.js
  Control/test/mocha-index.js
  Control/test/public/page-hardware-mocha.js
Due: control

[OGUI-1066] Add dependabot configuraiton for QC
  .github/dependabot.yml
Due: none

[OGUI-1066] Update workflows to use node 16
  .github/workflows/framework.yml
  .github/workflows/qc.yml
Due: none

[OGUI-1066] Bump dependencies of QC
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1066] Bump dependencies
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1066] Update workflows with node 16.x
  .github/dependabot.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
Due: none

[OGUI-1066] Bump Framework to use node 16
  .github/workflows/framework.yml
Due: none

[OGUI-1066] Bump Framework dependencies
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1066] Add dependabot for Framework
  .github/dependabot.yml
Due: none

[OGUI-1066] Revert nodejs bump
  .github/workflows/framework.yml
Due: none

[OGUI-1066] Update ilg dependencies and workflows (#1014)
  .github/dependabot.yml
  .github/workflows/infologger.yml
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger, framework

[OGUI-1066] Update tests with new puppeteer
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-1066] Revert to gh node 14
  .github/workflows/qc.yml
Due: none

[OGUI-1066] Revert test changes
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-1066] Update tests
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-1066] Change assert condition to view value diff
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

Update date locale
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol
