Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

fix: prettier fix
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorLoader.tsx
Due: none

feature: address PR reviews
  Configuration/webapp/app/api/query/useConfigurationRestrictionsQuery.ts
  Configuration/webapp/app/components/form/Form.tsx
  Configuration/webapp/app/routes/configuration.tsx
  Control/lib/api.js
Due: control

style: fix formatting
  Configuration/webapp/app/api/query/useConfigurationRestrictionsQuery.ts
  Configuration/webapp/app/components/form/Form.tsx
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/eslint.config.js
  Configuration/webapp/prettier.config.js
  Configuration/webapp/prettier.config.ts
Due: none

fix: rebase and fix rebase and unit tests
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/src/client/commands/newToken/newToken.handler.ts
  Tokenization/backend/wrapper/src/client/commands/revokeToken/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/connection/Connection.ts
  Tokenization/backend/wrapper/src/client/connectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/test/client/commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/client/connectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/connection/Connection.test.ts
  Tokenization/backend/wrapper/src/utils/connection/peerListener.ts
Due: none

chore: implement initial version
  Configuration/webapp/app/api/query/useConfigurationKeysQuery.ts
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/config.ts
  Configuration/webapp/app/hooks/useConfigurationNavigate.ts
Due: none

docs: improve docs
  Control/lib/services/QCConfiguration.service.js
  Control/lib/typedefs/Restrictions.js
Due: control

[OGUI-1729] Implement QC restrictions endpoint in COG (#2952)
  Control/lib/adapters/QCConfigurationAdapter.js
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
  Control/lib/typedefs/Restrictions.js
  Control/test/api/configuration/api-get-configuration-restrictions.test.js
  Control/test/api/configuration/api-get-configuration.test.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/lib/adapters/mocha-consul-configuration.adapter.test.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
  Control/test/mocha-index.js
Due: control

[OGUI-1801] Improve configuration gui GH action (#3155)
  .github/workflows/configuration.yml
  Configuration/docker-compose.yml
  Configuration/webapp/package.json
Due: none

chore: review mui fixes
  Configuration/webapp/app/components/user-section/UserSection.tsx
Due: none

feature: remove irrelevant file
  Control/lib/typedefs/TypeMap.js
Due: control

test: add clipboard test
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

[OGUI-1732] Form display (#3159)
  Configuration/webapp/app/api/query/useConfigurationQuery.ts
  Configuration/webapp/app/api/query/useConfigurationRestrictionsQuery.ts
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/components/form/Form.tsx
  Configuration/webapp/app/components/form/Widget.tsx
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/app/config.ts
  Configuration/webapp/app/routes/configuration.tsx
  Configuration/webapp/eslint.config.js
  Configuration/webapp/prettier.config.js
  Configuration/webapp/prettier.config.ts
Due: none

feat: add hover styling on hovered row
  QualityControl/public/app.css
  QualityControl/public/common/object/objectInfoCard.js
Due: qualitycontrol

fix: binding in peerListener, imports and unit tests
  Tokenization/backend/wrapper/src/client/commands/newToken/newToken.handler.ts
  Tokenization/backend/wrapper/src/client/commands/revokeToken/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/connectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/test/client/commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/client/connectionManager/ConnectionManager.test.ts
Due: none

eslint changes no docs
  Tokenization/webapp/app/components/box.tsx
  Tokenization/webapp/app/components/form/form-buttons.tsx
  Tokenization/webapp/app/components/form/multi-select-helper.tsx
  Tokenization/webapp/app/components/form/select-group.tsx
  Tokenization/webapp/app/components/form/select-helper.tsx
  Tokenization/webapp/app/components/tokens/token-table.tsx
  Tokenization/webapp/app/components/window/alert-list.tsx
  Tokenization/webapp/app/components/window/alert.tsx
  Tokenization/webapp/app/components/window/modal.tsx
  Tokenization/webapp/app/components/window/window-objects.tsx
  Tokenization/webapp/app/routes/tokens/create.tsx
  Tokenization/webapp/app/ui/header/header.tsx
Due: none

typescript casting added to prevent error
  Tokenization/webapp/app/components/form/multi-select-helper.tsx
Due: none

typescript errors in lists fixed
  Tokenization/webapp/app/components/form/multi-select-helper.tsx
  Tokenization/webapp/app/components/form/select-helper.tsx
Due: none

feat: add custom attributes function
  QualityControl/public/common/object/objectInfoCard.js
Due: qualitycontrol

refactor: remove model passing to qc object info panel vnode
  QualityControl/public/Model.js
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/common/utils.js
Due: qualitycontrol

refactor: add default attribute function to references
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
Due: qualitycontrol

test: update highlighted classes selector
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

style: run eslint
  QualityControl/public/common/object/objectInfoCard.js
Due: qualitycontrol

Add redraw on update to the rootPlotPanel function
  QualityControl/public/common/object/draw.js
Due: qualitycontrol

fix: ensure default left panel width is set and stored in local storage
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

feat: add functions to get and set user LocalStorage values
  QualityControl/test/testUtils/localStorage.js
Due: qualitycontrol

tests: add tests for panel width storage in localStorage
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

Apply resizing fix to draw.js consistent with objectDraw.js implementation
  QualityControl/public/common/object/draw.js
Due: qualitycontrol

refactor: rename storage variable for left panel width to improve clarity
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

fix: remove leftPanelWidthPercent from key in objectTreePage component
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Documentation added
  Tokenization/webapp/app/components/box.tsx
  Tokenization/webapp/app/components/form/form-buttons.tsx
  Tokenization/webapp/app/components/form/form-input.tsx
  Tokenization/webapp/app/components/form/form-select.tsx
  Tokenization/webapp/app/components/form/form.tsx
  Tokenization/webapp/app/components/form/multi-select-helper.tsx
  Tokenization/webapp/app/components/form/select-group.tsx
  Tokenization/webapp/app/components/form/select-helper.tsx
  Tokenization/webapp/app/components/hooks/useWindowLogic.tsx
  Tokenization/webapp/app/components/tokens/action-block.tsx
  Tokenization/webapp/app/components/tokens/token-table.tsx
  Tokenization/webapp/app/components/window/alert.tsx
  Tokenization/webapp/app/components/window/modal.tsx
  Tokenization/webapp/app/components/window/window-objects.tsx
  Tokenization/webapp/app/routes/tokens/create.tsx
Due: none

deleted materialUI dialog and alert components
  Tokenization/webapp/app/ui/alert.tsx
  Tokenization/webapp/app/ui/dialog.tsx
Due: none

Tests for token creation form are now suited for new layout components
  Tokenization/webapp/app/routes/tokens/create.tsx
  Tokenization/webapp/tests/public/basic.cjs
  Tokenization/webapp/tests/public/token-tests.cjs
Due: none

chore: modify timeouts
  Configuration/webapp/package.json
  Configuration/webapp/test/public/page-configuration-mocha.spec.ts
  Configuration/webapp/test/public/page-root-mocha.spec.ts
Due: none

chore: add axiosInstance unit tests
  Configuration/webapp/test/api/axiosInstance.spec.ts
Due: none

chore: fix eslint
  Configuration/webapp/test/api/axiosInstance.spec.ts
Due: none

fix: add user agent
  Configuration/webapp/app/api/axiosInstance.ts
Due: none

Tests for token deleting and creating created for current UI
  Tokenization/webapp/app/components/tokens/token-table.tsx
  Tokenization/webapp/app/routes/tokens/create.tsx
  Tokenization/webapp/package.json
  Tokenization/webapp/tests/mocha-index.cjs
  Tokenization/webapp/tests/public/layout-tests.cjs
  Tokenization/webapp/tests/public/tokens/helpers.cjs
  Tokenization/webapp/tests/public/tokens/token-creation-err.cjs
  Tokenization/webapp/tests/public/tokens/token-deletion-err.cjs
  Tokenization/webapp/tests/public/tokens/token-happy-path.cjs
Due: none

linting and delete of unused variables
  Tokenization/webapp/tests/public/tokens/token-creation-err.cjs
  Tokenization/webapp/tests/public/tokens/token-deletion-err.cjs
  Tokenization/webapp/tests/public/tokens/token-happy-path.cjs
Due: none

For better timeout Alert now is added to DOM conditionally over using CSS. Tests were adjusted to that
  Tokenization/webapp/app/components/tokens/token-table.tsx
  Tokenization/webapp/app/components/window/alert.tsx
  Tokenization/webapp/app/routes/tokens/create.tsx
  Tokenization/webapp/tests/public/tokens/token-creation-err.cjs
  Tokenization/webapp/tests/public/tokens/token-deletion-err.cjs
  Tokenization/webapp/tests/public/tokens/token-happy-path.cjs
Due: none

refactor for token-form to use context api and for form component to be reusable
  Tokenization/webapp/app/components/tokens/token-form.tsx
  Tokenization/webapp/app/contexts/tokens/token-form.tsx
  Tokenization/webapp/app/hooks/tokens/token-form.tsx
  Tokenization/webapp/app/routes/tokens/create.tsx
Due: none
