Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

feat: table adjustement
  Tokenization/backend/central-system/src/lib/database/migrations/20251215-001-create-services.mts
  Tokenization/backend/central-system/src/lib/database/models/ServiceModel.ts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-001-seeder-generate-services.mts
  Tokenization/docker-compose.yml
  Tokenization/docker/provisioning/nginx/conf.d/default.conf
Due: none

update: tokens seeders update
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-004-seeder-generate-tokens.mts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-005-seeder-generate-archive-tokens.mts
Due: none

update: seeders integrity imporvement
  Tokenization/backend/central-system/src/lib/database/migrations/20251215-002-create-system-logs.mts
  Tokenization/backend/central-system/src/lib/database/models/SystemLogModel.ts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-004-seeder-generate-tokens.mts
Due: none

Adding token to every message for backend
  Tokenization/webapp/app/feature/service-routes/api/mutations.ts
  Tokenization/webapp/app/feature/service-routes/api/queries.ts
  Tokenization/webapp/app/feature/service-routes/services/service-routes.service.ts
  Tokenization/webapp/app/feature/service/api/mutations.ts
  Tokenization/webapp/app/feature/service/api/queries.ts
  Tokenization/webapp/app/feature/service/services/certificate-registration.service.ts
  Tokenization/webapp/app/feature/service/services/service-details.service.ts
  Tokenization/webapp/app/feature/service/services/services.service.ts
  Tokenization/webapp/app/feature/token/api/mutations.ts
  Tokenization/webapp/app/feature/token/api/queries.ts
  Tokenization/webapp/app/feature/token/services/service-options.service.ts
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
Due: none

Serving frontend through central-system http server works as supposed to be
  Tokenization/Dockerfile
  Tokenization/backend/central-system/index.js
  Tokenization/backend/central-system/tools/generate-csp.js
  Tokenization/docker-compose.production.test.yml
Due: none

update: Vault and test adjustment
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/utils/event-req-types.d.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/services/EncryptionService.ts
  Tokenization/backend/central-system/src/services/VaultAuthService.ts
  Tokenization/backend/central-system/src/services/VaultCredentialsService.ts
  Tokenization/backend/central-system/src/services/VaultImportKeyService.ts
  Tokenization/backend/central-system/src/services/VaultSignService.ts
  Tokenization/backend/central-system/src/types/vault_types.d.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultAuthService.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultController.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultCreateKey.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultCredentialsService.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultEncryptData.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultImportKey.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultIntegration.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultSignService.spec.ts
  Tokenization/docker/vault/vault-setup.sh
Due: none

Tests and important feature to not send files that are too big to ensure safety from coincidental dos
  Tokenization/docker-compose.test.yml
  Tokenization/docker/provisioning/nginx/conf.d/production.conf
  Tokenization/webapp/app/feature/service/services/certificate-registration.service.ts
  Tokenization/webapp/app/ui/sidebar.tsx
  Tokenization/webapp/tests/helper.cjs
  Tokenization/webapp/tests/mocha-index.cjs
  Tokenization/webapp/tests/public/auth-error-alert.cjs
  Tokenization/webapp/tests/public/basic.cjs
  Tokenization/webapp/tests/public/tokens/helpers.cjs
  Tokenization/webapp/tests/public/tokens/revocation.cjs
  Tokenization/webapp/tests/public/virtual-table.cjs
Due: none

update: test changes and vault setup
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-001-seeder-generate-services.mts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-002-seeder-generate-logs.mts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-003-seeder-generate-routes.mts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-004-seeder-generate-tokens.mts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-005-seeder-generate-archive-tokens.mts
  Tokenization/backend/central-system/tests/VaultTests/VaultController.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultIntegration.spec.ts
  Tokenization/docker/vault/vault-setup.sh
Due: none

feat: fix tests, extract magic numbers into variables, add more docs, improve type safety, add race condition protection and memore leak prevention
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/src/client/Commands/sendAllTokens/sendAllTokens.handler.ts
  Tokenization/backend/wrapper/src/client/commands/newToken/newToken.handler.ts
  Tokenization/backend/wrapper/src/client/connection/Connection.ts
  Tokenization/backend/wrapper/src/client/connectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/test/client/Connection/Connection.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
  Tokenization/backend/wrapper/src/test/client/commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/connection/Connection.test.ts
  Tokenization/backend/wrapper/src/test/utils/connection/reconnectionScheduler.test.ts
  Tokenization/backend/wrapper/src/utils/connection/peerListener.ts
  Tokenization/backend/wrapper/src/utils/connection/reconnectionScheduler.ts
  Tokenization/backend/wrapper/src/utils/queues/RetryQueue.ts
Due: none

fix: bump branch coverage
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/CentralConnection.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/eventManagement/CentralCommandDispatcher.test.ts
Due: none

Potential fix for code scanning alert no. 340: Unused variable, import, function or class
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
Due: none

fix: Normalize commands directory casing
  Tokenization/backend/wrapper/src/client/commands/sendAllTokens/sendAllTokens.command.ts
  Tokenization/backend/wrapper/src/client/commands/sendAllTokens/sendAllTokens.handler.ts
Due: none

fix: imports
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/test/client/commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/commands/revokeToken.test.ts
Due: none

Delete useless file, refactor table element
  Tokenization/webapp/app/feature/service/routes/details.tsx
  Tokenization/webapp/app/feature/token/hooks/useServicesOptions.ts
  Tokenization/webapp/app/feature/token/services/service-options.service.ts
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
  Tokenization/webapp/app/shared/components/data-table.tsx
Due: none

Fixing error about not rendering tr outside tbody
  Tokenization/webapp/app/shared/components/data-table.tsx
Due: none

Refactor of alert, modal and partially of ordering input
  Tokenization/webapp/app/shared/components/form/static-text-field.tsx
  Tokenization/webapp/app/shared/components/order/ordering-control.tsx
  Tokenization/webapp/app/shared/hooks/useDebouncedValue.ts
  Tokenization/webapp/app/ui/alert/alert-provider.tsx
  Tokenization/webapp/app/ui/alert/alert.tsx
  Tokenization/webapp/app/ui/modal/modal-provider.tsx
  Tokenization/webapp/app/ui/modal/modal.tsx
Due: none

feat: added some more files to the strucutre
  Tokenization/backend/central-system/src/controllers/DatabaseController.ts
  Tokenization/backend/central-system/src/controllers/ServerController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/services/RoutesQueryService.ts
Due: none

Deleted not needed deps
  Tokenization/webapp/app/ui/alert/alert-provider.tsx
Due: none

Refactor of details site to use DataGrid component which writes info in grid list
  Tokenization/webapp/app/feature/service/components/service-info.tsx
  Tokenization/webapp/app/feature/service/components/service-tokens-table.tsx
  Tokenization/webapp/app/feature/service/routes/details.tsx
  Tokenization/webapp/app/feature/token/components/token-info.tsx
  Tokenization/webapp/app/feature/token/routes/details.tsx
  Tokenization/webapp/app/shared/components/data-grid.tsx
Due: none

fix: correct ignoreDefaults and nonRecognized drawing options logic
  QualityControl/public/common/object/objectDrawingOptions.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

fix: remove unnecessary key for redraw on show/hide drawingOptions panel
  QualityControl/public/pages/objectView/ObjectViewPage.js
Due: qualitycontrol

If kafka is not configured, RunMode should not be displayed
  QualityControl/common/library/enums/Status/integratedServices.enum.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/Status.service.js
  QualityControl/lib/services/external/AliEcsSynchronizer.js
  QualityControl/public/Model.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/public/features/runMode.test.js
  QualityControl/test/public/pages/about-page.test.js
Due: qualitycontrol

Extract run mode rendering logic into dedicated component
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/runMode/runModeCheckbox.js
Due: qualitycontrol

Home site update to shortly tell what every section provides
  Tokenization/webapp/app/routes/home.tsx
  Tokenization/webapp/app/ui/header.tsx
Due: none

Documentation added for homePage
  Tokenization/webapp/app/routes/home.tsx
Due: none

One common useFiltersPanel hook for refactoring repeated code in Filters related feature-hooks
  Tokenization/webapp/app/feature/service-routes/hooks/useServiceRouteFiltersPanel.ts
  Tokenization/webapp/app/feature/service-routes/routes/overview.tsx
  Tokenization/webapp/app/feature/service/hooks/useServiceFiltersPanel.ts
  Tokenization/webapp/app/feature/service/routes/overview.tsx
  Tokenization/webapp/app/feature/token/routes/archived.tsx
  Tokenization/webapp/app/feature/token/routes/overview.tsx
  Tokenization/webapp/app/shared/hooks/useFiltersPanel.ts
Due: none

Reuse logic of finding services between filters in token and routes related features
  Tokenization/webapp/app/feature/service-routes/components/service-route-filters-form.tsx
  Tokenization/webapp/app/feature/token/components/token-filters-form.tsx
  Tokenization/webapp/app/shared/hooks/useServiceSelectFilters.ts
Due: none

Adding optional totalCount to type of returned data about tokens and services (which are rendered in tables)
  Tokenization/webapp/app/feature/service/services/services.service.ts
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
Due: none

Refactoring services to achieve single responsability and reusabiloity of functions
  Tokenization/webapp/app/feature/service-routes/services/service-routes.service.ts
  Tokenization/webapp/app/feature/service/services/certificate-registration.service.ts
  Tokenization/webapp/app/feature/service/services/service-details.service.ts
  Tokenization/webapp/app/feature/service/services/services.service.ts
  Tokenization/webapp/app/feature/token/services/service-options.service.ts
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
  Tokenization/webapp/app/shared/http/http.utils.ts
Due: none

Deleting frontend-side mocks
  Tokenization/webapp/app/feature/service-routes/mocks/service-routes.mock.ts
  Tokenization/webapp/app/feature/service/mocks/services.mock.ts
  Tokenization/webapp/app/feature/token/mocks/token-logs.mock.ts
  Tokenization/webapp/app/feature/token/mocks/tokens.mock.ts
Due: none

Use `switchCase` from Framework
  QualityControl/public/common/filters/runMode/runModeCheckbox.js
Due: qualitycontrol

Documentation added for every file only nbot for service-route-register-form which needs a little refactoring
  Tokenization/webapp/app/feature/service-routes/api/mutations.ts
  Tokenization/webapp/app/feature/service-routes/api/queries.ts
  Tokenization/webapp/app/feature/service-routes/components/service-route-filters-form.tsx
  Tokenization/webapp/app/feature/service-routes/components/service-route-table.tsx
  Tokenization/webapp/app/feature/service-routes/hooks/useRouteBanActions.tsx
  Tokenization/webapp/app/feature/service-routes/routes/overview.tsx
  Tokenization/webapp/app/feature/service-routes/services/service-route-filters.service.ts
  Tokenization/webapp/app/feature/service-routes/services/service-routes.service.ts
  Tokenization/webapp/app/feature/service/api/mutations.ts
  Tokenization/webapp/app/feature/service/api/queries.ts
  Tokenization/webapp/app/feature/service/components/service-filters-form.tsx
  Tokenization/webapp/app/feature/service/components/service-info.tsx
  Tokenization/webapp/app/feature/service/components/service-table.tsx
  Tokenization/webapp/app/feature/service/components/service-tokens-table.tsx
  Tokenization/webapp/app/feature/service/hooks/certificateUtils.ts
  Tokenization/webapp/app/feature/service/routes/details.tsx
  Tokenization/webapp/app/feature/service/routes/registration.tsx
  Tokenization/webapp/app/feature/service/routes/renew.tsx
  Tokenization/webapp/app/feature/service/services/certificate-registration.service.ts
  Tokenization/webapp/app/feature/service/services/service-details.service.ts
  Tokenization/webapp/app/feature/service/services/service-filters.service.ts
  Tokenization/webapp/app/feature/service/services/services.service.ts
  Tokenization/webapp/app/feature/token/api/mutations.ts
  Tokenization/webapp/app/feature/token/api/queries.ts
  Tokenization/webapp/app/feature/token/components/token-filters-form.tsx
  Tokenization/webapp/app/feature/token/components/token-info.tsx
  Tokenization/webapp/app/feature/token/components/token-table.tsx
  Tokenization/webapp/app/feature/token/hooks/useRevokeActions.tsx
  Tokenization/webapp/app/feature/token/routes/archived.tsx
  Tokenization/webapp/app/feature/token/routes/details.tsx
  Tokenization/webapp/app/feature/token/routes/overview.tsx
  Tokenization/webapp/app/feature/token/services/token-filters.service.ts
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
  Tokenization/webapp/app/shared/components/data-grid.tsx
  Tokenization/webapp/app/shared/components/data-table.tsx
  Tokenization/webapp/app/shared/hooks/useServiceSelectFilters.ts
  Tokenization/webapp/app/shared/http/http.utils.ts
  Tokenization/webapp/app/ui/modal/modal-provider.tsx
  Tokenization/webapp/app/utils/fetchClient.tsx
Due: none

Route registering refactor to be more split into possibly reusable components
  Tokenization/webapp/app/feature/service-routes/components/service-route-register-form.tsx
  Tokenization/webapp/app/feature/service-routes/components/service-route-register-form/PermissionsField.tsx
  Tokenization/webapp/app/feature/service-routes/components/service-route-register-form/ServiceSelectField.tsx
  Tokenization/webapp/app/feature/service-routes/components/service-route-register-form/index.tsx
  Tokenization/webapp/app/feature/service-routes/components/service-route-register-form/types.ts
  Tokenization/webapp/app/feature/service-routes/components/service-route-register-form/useServiceRouteRegisterForm.tsx
Due: none

Filters summary component created which can be reused between different bulk operation components.
  Tokenization/webapp/app/feature/service-routes/hooks/useRouteBanActions.tsx
  Tokenization/webapp/app/feature/token/hooks/useRevokeActions.tsx
  Tokenization/webapp/app/shared/components/filters-summary.tsx
Due: none

Getting modal content to other component
  Tokenization/webapp/app/feature/service-routes/hooks/useRouteBanActions.tsx
  Tokenization/webapp/app/feature/token/hooks/useRevokeActions.tsx
Due: none

Deleting useless comment
  Tokenization/webapp/app/feature/service/services/certificate-registration.service.ts
Due: none

Add keyboard arrow navigation for object tree
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/enums/storageKeys.enum.js
  QualityControl/public/object/ObjectTree.class.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Add native browser notification helper functions
  Framework/Frontend/js/src/BrowserNotification.js
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/utilities/browserContext.js
Due: framework

Notify user via native browser notification when a new run has started
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/public/Model.js
  QualityControl/public/common/enums/storageKeys.enum.js
  QualityControl/public/common/header.js
  QualityControl/public/common/notifications/model/NotificationRunStartModel.js
  QualityControl/test/lib/services/RunModeService.test.js
Due: qualitycontrol
