Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

release/cog/1.60.2 (#2037)
  Control/package-lock.json
  Control/package.json
Due: control

Reject with deserialized error for NewEnv failure
  Control/lib/control-core/GrpcProxy.js
Due: control

Reject with exception if deserialization fails
  Control/lib/control-core/GrpcProxy.js
Due: control

Log entire error if request fails
  Control/lib/control-core/RequestHandler.js
Due: control

[OGUI-1383] Reject with deserialized error for NewEnv failure (#2042)
  Control/lib/control-core/GrpcProxy.js
  Control/lib/control-core/RequestHandler.js
Due: control

[OGUI-1382] Add endpoint for retrieving default workflow information
  Control/lib/api.js
  Control/lib/controllers/WorkflowTemplate.controller.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/lib/typedefs/WorkflowTemplateSource.js
  Control/test/lib/controllers/mocha-environment.controller.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.js
  Control/test/lib/services/mocha-workflowTemplate.service.js
Due: control

Small cleanup
  Control/lib/controllers/WorkflowTemplate.controller.js
  Control/test/lib/controllers/mocha-environment.controller.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.js
Due: control

Improve naming of variable
  Control/lib/controllers/WorkflowTemplate.controller.js
Due: control

[OGUI-1382] Add endpoint for retrieving default workflow information (#2043)
  Control/lib/api.js
  Control/lib/controllers/WorkflowTemplate.controller.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/lib/typedefs/WorkflowTemplateSource.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.js
  Control/test/lib/services/mocha-workflowTemplate.service.js
Due: control

Add skeleton for environment creation page
  Control/public/Model.js
  Control/public/common/sidebar.js
  Control/public/pages/EnvCreation/EnvCreation.model.js
  Control/public/pages/EnvCreation/EnvCreation.page.js
  Control/public/pages/EnvCreation/components/workflowTemplate.component.js
  Control/public/utilities/jsonFetch.js
  Control/public/view.js
Due: control

Use HTTPs module for monitoring checks
  Control/lib/services/Status.service.js
  Control/lib/utils.js
  Control/test/lib/services/mocha-status-service.js
Due: control

Increase intervals time for healthcheck
  Control/lib/services/Intervals.service.js
Due: control

Rename service to better suggest object origin
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/QcObjectService.js
Due: qualitycontrol

Make QCG resilient to CCDB failure
  QualityControl/README.md
  QualityControl/config-default.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

Create default CCDB service if configuration is missing
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/test/lib/services/ccdb-service.test.js
Due: qualitycontrol

Update documentation for CCDB config file
  QualityControl/README.md
Due: qualitycontrol

Remove unused check
  QualityControl/lib/services/CcdbService.js
Due: qualitycontrol

[OGUI-1240] QCG should be resilient to ccdb failure (#2045)
  QualityControl/README.md
  QualityControl/config-default.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/lib/services/ccdb-service.test.js
Due: qualitycontrol

Update documentation on cache configuration
  QualityControl/README.md
  QualityControl/config-default.js
Due: qualitycontrol

Add intervals service for auto-refreshing cache
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/Intervals.service.js
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

Fix wrongly used cacheRefresh value
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/Intervals.service.js
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

Rename Intervals to IntervalsService to follow convention
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/Intervals.service.js
Due: qualitycontrol

Improve naming of refreshRate
  QualityControl/README.md
  QualityControl/config-default.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/Intervals.service.js
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

Decouple IntervalsService from other services
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/constants/intervalKeys.js
  QualityControl/lib/services/Intervals.service.js
Due: qualitycontrol

Fix lint issue
  QualityControl/lib/api.js
Due: qualitycontrol

Revert unwanted change
  QualityControl/lib/dtos/LayoutDto.js
Due: qualitycontrol

Use Symbol to prevent unwanted deregistrations
  QualityControl/lib/QCModel.js
  QualityControl/lib/constants/intervalKeys.js
  QualityControl/lib/services/Intervals.service.js
Due: qualitycontrol

Remove unused logger
  QualityControl/lib/services/Intervals.service.js
Due: qualitycontrol

[OGUI-1385] Save a list of object paths in-memory to improve loading times of ObjectTree (#2049)
  QualityControl/README.md
  QualityControl/config-default.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/Intervals.service.js
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

Fix issue in which tab index was reset to 0 after layout action
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
Due: qualitycontrol

[OGUI-1316] Fix issue in which tab index was reset to 0 after layout action (#2050)
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
Due: qualitycontrol

Add QCG version from package json read
  QualityControl/lib/QCModel.js
Due: qualitycontrol

Rename API path for framework info
  InfoLogger/public/Model.js
  QualityControl/lib/api.js
  QualityControl/public/frameworkInfo/FrameworkInfo.js
Due: qualitycontrol, infologger

Extract StatusController functionality
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/test/lib/controllers/status-controller.test.js
Due: qualitycontrol

Extract status service and update its tests
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Improve jsdoc of RemoteData
  Framework/Frontend/js/src/RemoteData.js
  Framework/Frontend/js/src/renderer.js
  QualityControl/jsconfig.json
Due: qualitycontrol, framework

Retrieve version of CCDB from monitor route
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol

Add QC version retrieval if part of FLP deployment
  QualityControl/README.md
  QualityControl/config-default.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol

Revert unwanted change in different project
  InfoLogger/public/Model.js
Due: infologger

Use exec with promise instead of execSync
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol
