Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Remove call to removed method
  Control/public/task/content.js
Due: control

Remove test checking presence of input
  Control/test/public/page-tasks-mocha.js
Due: control

[OGUI-1524] Add task filtering in their respective tables (#2529)
  Control/public/common/task/TaskTableModel.js
  Control/public/common/task/epnTasksTable.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/task/Task.js
  Control/public/task/content.js
  Control/test/public/page-tasks-mocha.js
Due: control

Add onclick action for summary row in tasks
  Control/public/common/task/TaskTableModel.js
  Control/public/common/utils.js
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/task/content.js
Due: control

Fix lint issues
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
Due: control

[OGUI-1408] Allow clicking on task summary table counter which will filter task tables (#2530)
  Control/public/common/task/TaskTableModel.js
  Control/public/common/utils.js
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/task/content.js
Due: control

Use RemoteData for list of tasks in an environment
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/task/content.js
Due: control

[OGUI-1536] Use RemoteData for list of tasks in an environment (#2531)
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/task/content.js
Due: control

Improve UX for loading tasks
  Control/public/common/task/tasksPerHostPanel.js
Due: control

Add new eslint dependency to dev-deps group for dependabot
  .github/dependabot.yml
Due: none

Improve UX for loading tasks (#2532)
  Control/public/common/task/tasksPerHostPanel.js
Due: control

[release/cog/1.72.0] Bump cog minor version
  Control/package-lock.json
  Control/package.json
Due: control

Update dependabot.yml for QC
  .github/dependabot.yml
Due: none

[release/cog/1.72.0] Bump cog minor version (#2535)
  Control/package-lock.json
  Control/package.json
Due: control

Add new eslint dependency to dev-deps group for dependabot (#2534)
  .github/dependabot.yml
Due: none

[OGUI-1524] Add partition and hostname to ILG redirect button
  Control/public/common/task/tasksPerHostPanel.js
Due: control

Fix eslint issues
  Control/public/common/task/tasksPerHostPanel.js
Due: control

[OGUI-1524] Add partition and hostname to ILG redirect button (#2542)
  Control/public/common/task/tasksPerHostPanel.js
Due: control

Safely catch error when token is not validated in WS
  Framework/Backend/websocket/server.js
Due: framework

Fix lint issues
  Framework/Backend/websocket/server.js
Due: framework

[OGUI-1538] Safely catch error when token is not validated in WS (#2548)
  Framework/Backend/websocket/server.js
Due: framework

Update logging of server to remove repeated and unused logs
  Framework/Backend/http/server.js
Due: framework

Update qc.yml to disable job due to known node-gyp issue
  .github/workflows/qc.yml
Due: none

Update qc.yml to disable job due to known node-gyp issue (#2554)
  .github/workflows/qc.yml
Due: none

Update logging of server to remove repeated and unused logs (#2553)
  Framework/Backend/http/server.js
Due: framework

Update framework.yml to not run QC on macos
  .github/workflows/framework.yml
Due: none

Update framework.yml to not run QC on macos (#2555)
  .github/workflows/framework.yml
Due: none

Add message validity check for notificaiton service
  Framework/Backend/services/notification.js
Due: framework

Update tests for notification service
  Framework/Backend/test/mocha-notification.js
Due: framework

Add message validity check for notificaiton service (#2556)
  Framework/Backend/services/notification.js
  Framework/Backend/test/mocha-notification.js
Due: framework

Bump patch version of FRM
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump patch version of FRM (#2557)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Request entire file via JSROOT plus param
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

Update WebUI version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1539] Request entire file via jsroot and update webui dependency (#2558)
  QualityControl/lib/services/QcObject.service.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump patch and webui versions
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bump ILG patch and webui versions (#2559)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bump webui version and COG patch
  Control/package-lock.json
  Control/package.json
Due: control

Bump webui version and COG patch (#2560)
  Control/package-lock.json
  Control/package.json
Due: control

Convert task state to ERROR_CRITICAL on back-end side for adapter as well
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/TaskInfoAdapter.js
Due: control
