Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Display server error rather than hardcoded error message
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
Due: control

Ensure grpcCalls are independently caught
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Due: control

Fix eslint issue
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
Due: control

Use localCompare
  Control/lib/services/WorkflowTemplate.service.js
Due: control

Improve readability and add error
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Due: control

[OGUI-1612] Keep grpc call in workflowtemplate.service independently and pass informative message to user (#2744)
  Control/lib/services/WorkflowTemplate.service.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Due: control

[OGUI-1608] Refactor to update FrameworkInfo to AboutView (#2742)
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/AboutViewPage.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/about-page.test.js
Due: qualitycontrol

Fix linter
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/test/mocha-notification.js
Due: framework

use enums for integrated services. rename enum
  QualityControl/common/library/enums/Status/components.enum.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/lib/middleware/status/statusComponent.middleware.js
  QualityControl/lib/services/Status.service.js
  QualityControl/public/Model.js
  QualityControl/test/public/initialPageSetup.test.js
Due: qualitycontrol

[OGUI-1531] Add test for logs not to be sent above level (#2740)
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/test/mocha-notification.js
Due: framework

fix after review: renaming, error catching
  QualityControl/lib/api.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/middleware/status/statusComponent.middleware.js
  QualityControl/test/lib/controllers/StatusController.test.js
  QualityControl/test/lib/middlewares/status/statusComponent.middleware.test.js
Due: qualitycontrol

[OGUI-1607] Add dropdown component (#2739)
  Framework/Frontend/css/src/bootstrap.css
  Framework/Frontend/js/src/components/Component.js
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/components/DropdownComponent.js
  Framework/Frontend/js/src/components/PopoverEngine.js
  Framework/Frontend/js/src/components/PopoverPreConfigurations.js
  Framework/Frontend/js/src/components/createPortal.js
  Framework/Frontend/js/src/components/getUniqueId.js
  Framework/Frontend/js/src/components/popover.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/renderer.js
  Framework/Frontend/js/src/utilities/documentClickTaggedEventRegistry.js
Due: framework

Add kafka messages consumer to Framework (#2624)
  .github/workflows/proto-sync.yml
  Framework/Backend/index.js
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/protobuf/getWebUiProtoIncludeDir.js
  Framework/Backend/protobuf/protos/common.proto
  Framework/Backend/protobuf/protos/events.proto
  Framework/Backend/test/mocha-kafka.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[O2B-536] Add buildUrl utility
  Framework/Backend/http/buildUrl.js
  Framework/Backend/http/parseUrlParameters.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/QueryRouter.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/sessionService.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/Frontend/js/src/utilities/parseUrlParameters.js
Due: framework

Fix lint warning
  Framework/Backend/test/mocha-kafka.js
Due: framework

Prevent security issue
  Framework/Backend/http/parseUrlParameters.js
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/utilities/parseUrlParameters.js
Due: framework

Use URLSearchParams
  Framework/Backend/http/buildUrl.js
  Framework/Backend/http/parseUrlParameters.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/QueryRouter.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/Frontend/js/src/utilities/parseUrlParameters.js
  Framework/package-lock.json
Due: framework

Revert package-lock change
  Framework/package-lock.json
Due: framework

fix remotedata. rename enum.
  QualityControl/common/library/enums/Status/integratedServices.enum.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/middleware/status/statusComponent.middleware.js
  QualityControl/lib/services/Status.service.js
  QualityControl/public/Model.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/AboutViewPage.js
  QualityControl/test/lib/controllers/StatusController.test.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

remove unreachable test
  QualityControl/test/api/layouts/api-put-layout.test.js
Due: qualitycontrol

remove console log
  QualityControl/public/pages/aboutView/AboutViewModel.js
Due: qualitycontrol

[O2B-536] Add buildUrl utility (#2750)
  Framework/Backend/http/buildUrl.js
  Framework/Backend/http/parseUrlParameters.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Frontend/js/src/QueryRouter.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/sessionService.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/Frontend/js/src/utilities/parseUrlParameters.js
Due: framework

Bump Minor Version On WebGUI
  Framework/package-lock.json
  Framework/package.json
Due: framework

[release/web/2.8.0] (#2751)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Update all GUIs to 2.8.0
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Update all GUIs to 2.8.0 (#2752)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

refactor backend
  QualityControl/common/library/enums/Status/serviceStatus.enum.js
  QualityControl/lib/services/Status.service.js
Due: qualitycontrol

new frontend for about page
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/AboutViewPage.js
  QualityControl/public/pages/aboutView/components/serviceCard.js
  QualityControl/public/pages/aboutView/components/servicesLoadingPanel.js
  QualityControl/public/pages/aboutView/components/servicesResolvedPanel.js
Due: qualitycontrol

fix backend tests
  QualityControl/test/lib/services/StatusService.test.js
Due: qualitycontrol

ignore .vscode file
  QualityControl/.gitignore
Due: qualitycontrol

update frontend tests for abou page
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/setup/seeders/ccdbVersion.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Change service names to uppercase in loading panel
  QualityControl/public/pages/aboutView/components/servicesLoadingPanel.js
Due: qualitycontrol

Use Framework KafkaConsumer
  Control/lib/api.js
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
Due: control

Move file in folder
  Control/lib/kafka/AliEcsSynchronizer.js
Due: control

Add EnvironmentEvent processing on Consumer
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/environmentEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/EnvironmentEvent.js
Due: control

Fix lint issues
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/environmentEventAdapter.js
Due: control

Update EnvironmentEvent.js
  Control/lib/typedefs/EnvironmentEvent.js
Due: control

Update environmentEventAdapter.js
  Control/lib/kafka/adapters/environmentEventAdapter.js
Due: control

Add support for events from run topic
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/RunEvent.js
Due: control

Update run event data that we keep
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/typedefs/RunEvent.js
Due: control
