Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-652] update it tests with new config (#604)
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-662] Add check if tool is in online mode
  QualityControl/public/common/timestampSelectForm.js
Due: qualitycontrol

[OGUI-662] Increase request times and attempts
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
  QualityControl/test/integration/qcg-test.js
  QualityControl/test/integration/utils.js
Due: qualitycontrol

Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump dependecy issue
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-662] Improve QC FLP IT by waiting for request to finish (#605)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
  QualityControl/test/integration/qcg-test.js
  QualityControl/test/integration/utils.js
Due: qualitycontrol

[OGUI-663] Display prior used readout path
  Control/public/workflow/envVarsPanel.js
Due: control

[OGUI-663] Increase the waiting time
  Control/test/public/page-new-environment-mocha.js
Due: control

Bump patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-663] readout path not kept (#606)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/envVarsPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-663] Readout path should be deleted from object
  Control/public/workflow/envVarsPanel.js
Due: control

[OGUI-663] readout path should be removed after input text is emptied (#607)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/envVarsPanel.js
Due: control

[OGUI-663] File prefix would merge when using Adv
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Due: control

[OGUI-663] File prefix would merge when using Adv (#608)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Due: control

Add AliceO2 to node-gyp includes
  QualityControl/binding.gyp
Due: qualitycontrol

Bump to 1.9.2
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-664] Add AliceO2 to node-gyp includes (#609)
  QualityControl/binding.gyp
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-637] Staging
  Framework/Backend/db/SQLiteConnector.js
  Framework/Backend/test/mocha-sqliteconnector.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-672] Add checkbox for toggle selection
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-671] Add QCDD toggle
  Control/public/workflow/envVarsPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-667] Log all non-Get Control actions handled by ControlProxy
  Control/lib/control-core/ControlService.js
Due: control

fix test
  Control/test/lib/mocha-control-service.js
Due: control

[OGUI-671] Add QCDD toggle (#611)
  Control/public/workflow/envVarsPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

message
  Control/lib/control-core/ControlService.js
Due: control

message2
  Control/lib/control-core/ControlService.js
Due: control

info
  Control/lib/control-core/ControlService.js
Due: control

[OGUI-672] Change back to menu item selection
  Control/public/app.css
  Control/public/workflow/flpSelectionPanel.js
Due: control

[OGUI-667] Log all non-Get Control actions handled by ControlProxy (#612)
  Control/lib/control-core/ControlService.js
  Control/test/lib/mocha-control-service.js
Due: control

[OGUI-672] Update text to toggle
  Control/public/workflow/flpSelectionPanel.js
Due: control

[OGUI-672] Add toggle selection for all FLPs (#610)
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-637] Add documentation for SQLiteConnector
  Framework/README.md
  Framework/docs/guide/sqlite.md
Due: framework

Bump version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-637] Update naming
  Framework/Backend/db/sqlite.connector.js
  Framework/Backend/test/mocha-sqlite.connector.js
Due: framework

[OGUI-656] Remove args column
  Control/public/environment/environmentPage.js
Due: control

[OGUI-668] Pass access level to session service
  Framework/Backend/http/server.js
  Framework/Frontend/js/src/sessionService.js
Due: framework

[OGUI-669] Add force unlock action to Control GUI
  Control/lib/Padlock.js
  Control/lib/api.js
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/lock/.Lock.js.swp
  Control/public/lock/Lock.js
  Control/public/lock/lockButton.js
Due: control

ded
  Control/public/lock/.Lock.js.swp
Due: control

fix
  Control/public/common/appHeader.js
Due: control
