Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

reset status of this.item if there is an error saving after updating
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Added Live mode logging
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/LoggingController.js
  InfoLogger/public/log/Log.js
Due: infologger

Added Tests: Locks/All needs Global role
  Control/test/api/lock/api-put-locks.test.js
Due: control

Revert "Added Live mode logging"
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/LoggingController.js
  InfoLogger/public/log/Log.js
Due: infologger

Added DetectorId Middleware
  Control/lib/api.js
  Control/lib/middleware/addDetectorId.middleware.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/middleware/mocha-addDetectorId.middleware.test.js
Due: control

remove duplicate variable to store item value before updating
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-1583] Reset status of this.item if there is an error saving after updating (#2671)
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Bump QCG version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[release/qcg/3.9.0] (#2673)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1584] Import Nock Test server setup only in test environment
  QualityControl/index.js
Due: qualitycontrol

Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[release/qcg/3.9.1] Fix issue with importing test setup file in non-test environment (#2674)
  QualityControl/index.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Added tests for SQL logging
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

fixed unit test by faking db answer
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

[OGUI-1579] InfoLogger setup documentation updated, npm run simul fixed. (#2666)
  InfoLogger/README.md
  InfoLogger/package.json
  InfoLogger/test/live-simulator/runInfoLoggerServer.js
Due: infologger

Processed feedback. Moved tests to separate file.
  InfoLogger/lib/utils/preparedStatementParser.js
  InfoLogger/test/lib/services/mocha-preparedStatementParser.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

detectorLockMiddleware
  Control/lib/middleware/detectorOwnership.middleware.js
Due: control

Resolved Issues
  Control/lib/api.js
  Control/lib/common/lock/detectorIdState.enum.js
Due: control

Adding the detectorOwnershipMiddleware
  Control/lib/api.js
  Control/lib/middleware/detectorOwnership.middleware.js
Due: control

Fixed test placement
  InfoLogger/test/lib/services/mocha-preparedStatementParser.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger

Some boilerplate for downloading files, unfinished
  Framework/Frontend/js/src/index.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/public/Model.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol, framework

Added live query logging
  Framework/Backend/websocket/server.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger, framework

Resolve DetectorIDState Naming
  Control/lib/api.js
  Control/lib/common/detectorId.enum.js
Due: control

Resolved New Line end of file
  Control/lib/middleware/addDetectorId.middleware.js
Due: control

Fix button not disabling during download
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/public/Model.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

* Added User belongsToDetector * DetectorOwnership middleware * DetectorOwnershipMiddleware tests
  Control/lib/dtos/User.js
  Control/lib/middleware/detectorOwnership.middleware.js
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

Fixed Eslint
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

End of line enter
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

TODO rewrite this test to use mock logger
  Framework/Backend/test/mocha-ws.js
Due: framework

Simplefied test
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

Removed Should integrate with a express route
  Control/test/lib/middleware/mocha-addDetectorId.middleware.test.js
Due: control

Changed requested changes
  Control/lib/middleware/detectorOwnership.middleware.js
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

Code scanning, Removed unused imports
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
Due: control

WIP testing
  Framework/Backend/test/mocha-ws.js
Due: framework

Updated jsdoc. Processed feedback
  InfoLogger/lib/utils/preparedStatementParser.js
Due: infologger

Update dependency with high vulnerability
  Control/package-lock.json
Due: control

Add jwt as dev dependency to help with running tests in compatibility mode
  Control/package-lock.json
  Control/package.json
Due: control

Update package-lock
  Control/package-lock.json
Due: control

Update dependency with high vulnerability (#2690)
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1455] SQL queries logging. (#2675)
  InfoLogger/lib/services/QueryService.js
  InfoLogger/lib/utils/preparedStatementParser.js
  InfoLogger/test/lib/services/mocha-preparedStatementParser.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
Due: infologger
