Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Extract buttons into their own components
  Control/public/pages/TaskList/TaskList.page.js
  Control/public/pages/TaskList/components/cleanupResourcesButton.js
  Control/public/pages/TaskList/components/cleanupTasksButton.js
Due: control

- Added eslint configuration with established assumptions
  Tokenization/webapp/app/app.css
  Tokenization/webapp/app/components/tokens/token-logs.tsx
  Tokenization/webapp/app/components/tokens/token.ts
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/routes/home.tsx
  Tokenization/webapp/app/routes/tokens/details.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/styles/components-styles.css
  Tokenization/webapp/app/styles/ui-styles.css
  Tokenization/webapp/app/ui/header/header.tsx
  Tokenization/webapp/app/ui/header/headerContext.tsx
  Tokenization/webapp/app/ui/icon.tsx
  Tokenization/webapp/app/ui/layout.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/sidebar.tsx
  Tokenization/webapp/app/ui/spinner.tsx
  Tokenization/webapp/eslint.config.js
  Tokenization/webapp/package.json
Due: none

- Moved test files for UI to webapp folder
  Tokenization/.dockerignore
  Tokenization/Dockerfile
  Tokenization/docker-compose.test.yml
  Tokenization/docker-compose.yml
  Tokenization/docker/provisioning/nginx/conf.d/production.conf
  Tokenization/tests/ui/Dockerfile
  Tokenization/tests/ui/package-lock.json
  Tokenization/tests/ui/package.json
  Tokenization/tests/ui/test/main.test.js
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
  Tokenization/webapp/tests/main.test.js
Due: none

- Proposed session checking logic with context api and hooks.
  Tokenization/webapp/app/contexts/sessionContext.tsx
  Tokenization/webapp/app/hooks/session.tsx
  Tokenization/webapp/app/hooks/useAuth.tsx
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes/404.tsx
  Tokenization/webapp/app/ui/layout.tsx
Due: none

chore: add missing documentation and typefixes
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/components/layout/content/ContentHeader.tsx
  Configuration/webapp/app/components/layout/drawer/LeftDrawer.tsx
Due: none

chore: eslint fixes
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/app/components/user-section/UserSection.tsx
  Configuration/webapp/app/root.tsx
  Configuration/webapp/app/test/mocha-index.cjs
  Configuration/webapp/app/test/public/page-root-mocha.cjs
  Configuration/webapp/app/test/test-config.cjs
  Configuration/webapp/test/public/page-root-mocha.cjs
Due: none

chore: fix package-lock.json
  Configuration/package-lock.json
  Configuration/webapp/package-lock.json
Due: none

chore: add config navigator test
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/test/public/page-root-mocha.cjs
Due: none

redirect to layouts list page when clicking on QCG title
  QualityControl/public/common/header.js
  QualityControl/test/public/pages/layout-list.test.js
Due: qualitycontrol

add delay to test before checking
  QualityControl/test/public/pages/layout-list.test.js
Due: qualitycontrol

feat: Duplex stream with specific payload message events.
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

feat: implement basic proto file
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

fix: fixed oneof variable naming
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

feat: Duplex stream with specific payload message events.
  Tokenization/backend/wrapper/wrapper.proto
Due: none

fix: fix grpc addresses to properly connect both client and central system
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
Due: none

feat: Create typescript interfaces for duplex stream message model
  Tokenization/backend/central-system/dist/wrapper/CentralSystemWrapper.js
  Tokenization/backend/wrapper/wrapper.proto
Due: none

feat: Create grpc wrapper with basic connection manager and central system wrapper
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/tsconfig.json
Due: none

feat: implement serialization and deserialization methods
  Tokenization/backend/wrapper/utils/__tests__/serialization.utils.test.ts
  Tokenization/backend/wrapper/utils/serialization.utils.ts
Due: none

Added first version of implementetion structure
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/central-system/tsconfig.json
  Tokenization/backend/index.js
Due: none

Updated methods names
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/src/CentralSystem.ts
Due: none

feat: add package dependencies and write unit tests for serialization utils
  Tokenization/backend/wrapper/jest.config.js
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/utils/__tests__/serialization.utils.test.ts
Due: none

Fixed import mistake
  Tokenization/backend/index.js
Due: none

Added descriptions and changed the wrapper name
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/wrapper/central/CentralSystem.ts
Due: none

feat: passing gRPC port as parameter
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/index.js
  Tokenization/docker-compose.yml
  Tokenization/docker/provisioning/nginx/conf.d/default.conf
Due: none

fix: updated structure with according to meeting guidelines
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/dist/CentralSystemWrapper.js
  Tokenization/backend/central-system/dist/controllers/TokensController.js
  Tokenization/backend/central-system/dist/services/CentralSystemWrapper.js
  Tokenization/backend/central-system/dist/services/models/message.model.js
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/proto/wrapper.proto
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/central-system/src/controllers/TokensController.ts
  Tokenization/backend/central-system/src/services/CentralSystemWrapper.ts
  Tokenization/backend/central-system/src/services/models/message.model.ts
  Tokenization/backend/central-system/src/types/aliceo2__webui.d.ts
  Tokenization/backend/central-system/tsconfig.json
  Tokenization/backend/index.js
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/models/message.model.ts
  Tokenization/backend/wrapper/package.json
Due: none

fix: restructured the whole central system file structure and implemented a new central system wrapper
  Tokenization/backend/central-system/proto/wrapper.proto
  Tokenization/backend/central-system/src/controllers/TokensController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/proto/wrapper.proto
  Tokenization/backend/central-system/src/services/CentralSystemWrapper.ts
  Tokenization/backend/central-system/src/services/TokensGetService.ts
  Tokenization/backend/central-system/src/services/models/message.model.ts
  Tokenization/backend/index.js
Due: none

feat: added tests
  Tokenization/backend/central-system/dist/controllers/TokensController.js
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/src/controllers/TokensController.ts
  Tokenization/backend/central-system/tests/TokensController.spec.ts
  Tokenization/backend/central-system/tests/TokensGetService.spec.ts
  Tokenization/backend/central-system/tests/tokens.e2e.test.js
  Tokenization/backend/central-system/tsconfig.json
  Tokenization/backend/jest.config.cjs
  Tokenization/backend/package-lock.json
  Tokenization/backend/package.json
Due: none

feat: compiling tsc upon src changes
  Tokenization/backend/central-system/dist/CentralSystemWrapper.js
  Tokenization/backend/central-system/dist/controllers/TokensController.js
  Tokenization/backend/central-system/dist/modules/CentralSystem.js
  Tokenization/backend/central-system/dist/services/CentralSystemWrapper.js
  Tokenization/backend/central-system/dist/services/TokensGetService.js
  Tokenization/backend/central-system/dist/services/models/message.model.js
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/proto/wrapper.proto
  Tokenization/backend/central-system/src/controllers/TokensController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/tests/tokens.e2e.test.js
  Tokenization/backend/index.js
  Tokenization/backend/package-lock.json
  Tokenization/backend/package.json
Due: none

tried to add grpc listening port outside docker
  Tokenization/docker/provisioning/nginx/conf.d/default.conf
Due: none

feat: updated strucutre
  Tokenization/backend/central-system/dist/controllers/TokensController.js
  Tokenization/backend/central-system/dist/modules/CentralSystem.js
  Tokenization/backend/central-system/dist/services/TokensGetService.js
  Tokenization/backend/central-system/src/controllers/TokensController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/services/TokensGetService.ts
  Tokenization/backend/central-system/src/wrapper/CentralSystemWrapper.ts
Due: none

add runs mode to object view page
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/header.js
Due: qualitycontrol

change pageModel to viewModel for clarity
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/runModeHeader.js
Due: qualitycontrol

disable runs mode when editing a layout
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

fix: restart runs mode interval when navigating to objectView
  QualityControl/public/Model.js
Due: qualitycontrol

[OGUI-1711] Layout for tokenisation application (#2942)
  Tokenization/webapp/app/app.css
  Tokenization/webapp/app/components/tokens/token-logs.tsx
  Tokenization/webapp/app/components/tokens/token.ts
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/routes/home.tsx
  Tokenization/webapp/app/routes/tokens/details.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/styles/components-styles.css
  Tokenization/webapp/app/styles/ui-styles.css
  Tokenization/webapp/app/ui/header/header.tsx
  Tokenization/webapp/app/ui/header/headerContext.tsx
  Tokenization/webapp/app/ui/icon.tsx
  Tokenization/webapp/app/ui/layout.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/sidebar.tsx
  Tokenization/webapp/app/ui/spinner.tsx
  Tokenization/webapp/eslint.config.js
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
Due: none

feat: implement simple connection peer to peers
  Tokenization/backend/wrapper/.gitignore
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/src/central/CentralSystem.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.handler.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/connection.model.ts
  Tokenization/backend/wrapper/src/proto/wrapper.proto
Due: none

fix: removed unnecessary imports
  Tokenization/.gitignore
  Tokenization/backend/central-system/src/controllers/TokensController.ts
  Tokenization/backend/central-system/src/services/TokensGetService.ts
  Tokenization/backend/central-system/src/wrapper/CentralSystemWrapper.ts
  Tokenization/backend/certs/central-system.hcl
  Tokenization/backend/certs/client-b-pub.pem
Due: none

Fix: imrpoved gitingores
  Tokenization/.gitignore
Due: none

Move environments panel in common directory and reuse
  Control/public/common/events/environmentEventsPanel.js
Due: control

fix: added dist igonring
  Tokenization/.gitignore
Due: none

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
