Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[O2B-1531] Add tests for logs not sent to infologger above Developper level (#2508)
  Framework/Backend/log/Logger.js
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/test/mocha-notification.js
Due: framework

Bump web-ui to 2.7.0 in Control, InfoLogger and QC
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Bump web-ui to 2.7.0 in Control, InfoLogger and QC (#2510)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Fix wrong usage of new
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/GrpcProxy.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/utils.js
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
Due: control, infologger

Further manual migration changes
  Framework/Backend/db/mysql.js
  Framework/Backend/http/server.js
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/services/O2TokenService.js
  Framework/Backend/services/consul.service.js
  Framework/Backend/test/mocha-consul.service.js
  Framework/Backend/websocket/message.js
  Framework/Backend/websocket/server.js
  Framework/Frontend/js/src/BrowserStorage.js
  Framework/Frontend/js/src/EventEmitter.js
  Framework/Frontend/js/src/Loader.js
  Framework/Frontend/js/src/Notification.js
  Framework/Frontend/js/src/QueryRouter.js
  Framework/Frontend/js/src/RemoteData.js
  Framework/Frontend/js/src/chart.js
  Framework/Frontend/js/src/renderer.js
  Framework/Frontend/test/index-test.js
  Framework/eslint.config.js
Due: framework

Make use of prototype has own property
  Framework/Backend/http/server.js
  Framework/Backend/websocket/message.js
  Framework/Backend/websocket/server.js
  Framework/Frontend/js/src/switchCase.js
Due: framework

Remove retries for tests
  Framework/package.json
Due: framework

Fix potential 0 values of timeout
  Framework/Backend/db/mysql.js
  Framework/Backend/http/openid.js
Due: framework

Remove fix from eslint command
  Framework/package.json
Due: framework

Move components of environment to own page directory
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/buttons.js
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/public/pages/Environment/components/environmentActionPanel.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/environmentStateSummary.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/pages/Environment/components/expandableEnvRows.js
  Control/public/pages/Environment/components/monitoringRunningPlotsPanel.js
Due: control

Update ecs-gui to use new page directroy
  Control/public/environment/environmentsPage.js
  Control/public/view.js
Due: control

Add enum for environment states
  Control/public/common/enums/EnvironmentState.enum.js
  Control/public/environment/environmentPage.js
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

Separate panel of control to information ones
  Control/public/app.css
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/public/pages/Environment/components/environmentActionPanel.js
  Control/public/pages/Environment/components/informationRedirectActionPanel.js
Due: control

Fix lint issues
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/public/pages/Environment/components/informationRedirectActionPanel.js
Due: control

Extract redirection links to components and reuse them
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/buttons/redirectButtonLink.js
  Control/public/environment/environmentsPage.js
  Control/public/pages/Environment/components/buttons.js
  Control/public/pages/Environment/components/environmentActionPanel.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/informationRedirectActionPanel.js
Due: control

Fix lint issues
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
Due: control

Fix import casing
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

[OGUI-1526] Extract various components into reusable ones for environment(s) pages (#2511)
  Control/public/app.css
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/buttons/redirectButtonLink.js
  Control/public/common/enums/EnvironmentState.enum.js
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentsPage.js
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/public/pages/Environment/components/environmentActionPanel.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/environmentStateSummary.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/pages/Environment/components/expandableEnvRows.js
  Control/public/pages/Environment/components/informationRedirectActionPanel.js
  Control/public/pages/Environment/components/monitoringRunningPlotsPanel.js
  Control/public/view.js
Due: control

Extract configuration component
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentConfigurationTable.js
  Control/public/pages/Environment/components/expandableEnvRows.js
  Control/public/pages/Environment/components/expandableObjectRow.js
  Control/public/utilities/getKnownVariableLabel.js
Due: control

Extract FLP tasks table component
  Control/public/common/task/taskPerFlpTable.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
Due: control

Remove superfluous argument
  Control/public/common/task/taskPerFlpTable.js
Due: control

[OGUI-1526] Extract FLP task tables from env page (#2512)
  Control/public/common/task/taskPerFlpTable.js
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentConfigurationTable.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/expandableEnvRows.js
  Control/public/pages/Environment/components/expandableObjectRow.js
  Control/public/utilities/getKnownVariableLabel.js
Due: control

Add jsonPost fetch method
  Control/public/utilities/jsonPost.js
Due: control

Add TaskTableModel for reusability
  Control/public/common/task/TaskTableModel.js
  Control/public/environment/Task.js
Due: control

Fix lint issues
  Control/public/common/task/TaskTableModel.js
  Control/public/common/task/tasksPerFlpTable.js
  Control/public/task/content.js
Due: control

Reuse task table model and components across GUI
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/task/Task.js
  Control/public/task/content.js
Due: control

Generalise table to be reused
  Control/public/common/task/tasksPerFlpTable.js
Due: control

[OGUI-1526] Extract model and component for reuse with regards to task pages and information (#2513)
  Control/public/common/task/TaskTableModel.js
  Control/public/common/task/tasksPerFlpTable.js
  Control/public/environment/Environment.js
  Control/public/environment/Task.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/task/Task.js
  Control/public/task/content.js
  Control/public/utilities/jsonPost.js
Due: control

Extract EPNs into component with reusable ones
  Control/public/common/task/tasksPerEpnTable.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
Due: control

Fix potential issues on display
  Control/public/common/utils.js
  Control/public/environment/Environment.js
Due: control

Fix lint issues
  Control/public/common/task/tasksPerEpnTable.js
Due: control

[OGUI-1526] Extract epn table task (#2527)
  Control/public/common/task/tasksPerEpnTable.js
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
Due: control

Extract reusable tasks table component per host
  Control/public/common/task/tasksPerHostPanel.js
Due: control

Reuse the general task table component
  Control/public/common/task/epnTasksTable.js
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerEpnTable.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/task/content.js
Due: control

[OGUI-1526] Extract general table for FLP/EPN and reuse it across GUI (#2528)
  Control/public/common/task/epnTasksTable.js
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerEpnTable.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/task/content.js
Due: control

Add filtering of tasks by state and name
  Control/public/common/task/TaskTableModel.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/task/content.js
Due: control

Reorder EPN tasks columns
  Control/public/common/task/epnTasksTable.js
Due: control

Remove old filtering of task page in favour of component one
  Control/public/task/Task.js
  Control/public/task/content.js
  Control/test/public/page-tasks-mocha.js
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
