Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Update PR as per latest changes
  Control/lib/api.js
  Control/lib/common/StringToArray.js
  Control/lib/dtos/User.js
  Control/lib/middleware/detectorOwnership.middleware.js
  Control/lib/middleware/requireDetectorOrGlobalRole.middleware.js
  Control/test/lib/common/mocha-stringToArray.test.js
  Control/test/lib/middleware/mocha-detectorOwnership.middleware.test.js
  Control/test/lib/middleware/mocha-requireDetectorOrGlobalRole.middleware.test.js
Due: control

Update PROTO files from AliECS
  Control/protobuf/o2control.proto
Due: control

split utils into separate files: errorhandler and httprequests
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/lib/utils/errorHandler.js
  QualityControl/lib/utils/httpRequests.js
  QualityControl/lib/utils/utils.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

add tests for httpGet requests
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

option stealth fix
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

chore: install cross-env dependency
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

feat: add createPath wrapper.
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

feat add createRunPath
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

feat: create retrieveRun
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

Fix incorrect name import
  Control/lib/dtos/User.js
Due: control

Add Tokenization project skeleton
  Tokenization/.gitignore
  Tokenization/README.md
  Tokenization/backend/index.js
  Tokenization/backend/package-lock.json
  Tokenization/backend/package.json
  Tokenization/docker-compose.yml
  Tokenization/docker/provisioning/nginx/conf.d/default.conf
  Tokenization/docs/DEVELOPMENT.md
  Tokenization/webapp/app/app.css
  Tokenization/webapp/app/components/logs/log.ts
  Tokenization/webapp/app/components/tokens/token-logs.tsx
  Tokenization/webapp/app/components/tokens/token.ts
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/routes/home.tsx
  Tokenization/webapp/app/routes/tokens/details.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/ui/icon.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/spinner.tsx
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
  Tokenization/webapp/public/favicon.ico
  Tokenization/webapp/react-router.config.ts
  Tokenization/webapp/tsconfig.json
  Tokenization/webapp/vite.config.ts
Due: none

[OGUI-1687] Add Tokenization project skeleton (#2899)
  Tokenization/.gitignore
  Tokenization/README.md
  Tokenization/backend/index.js
  Tokenization/backend/package-lock.json
  Tokenization/backend/package.json
  Tokenization/docker-compose.yml
  Tokenization/docker/provisioning/nginx/conf.d/default.conf
  Tokenization/docs/DEVELOPMENT.md
  Tokenization/webapp/app/app.css
  Tokenization/webapp/app/components/logs/log.ts
  Tokenization/webapp/app/components/tokens/token-logs.tsx
  Tokenization/webapp/app/components/tokens/token.ts
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/routes/home.tsx
  Tokenization/webapp/app/routes/tokens/details.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/ui/icon.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/spinner.tsx
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
  Tokenization/webapp/public/favicon.ico
  Tokenization/webapp/react-router.config.ts
  Tokenization/webapp/tsconfig.json
  Tokenization/webapp/vite.config.ts
Due: none

fixup layout heaer-option bug
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Bump patch COG
  Control/package-lock.json
  Control/package.json
Due: control

Bump patch COG (#2901)
  Control/package-lock.json
  Control/package.json
Due: control

feat: alter getLatestVersionList to filter by runnumber
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Due: qualitycontrol

feat: refresh cache based on runnumber when present
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

update retrieveLatestVersionOfObjects to make use of runNumber
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

feat: alter getObjects to make use of runNumber
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

test: rename test
  QualityControl/test/api/objects/api-get-object.test.js
Due: qualitycontrol

test: add object/ tests
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Due: qualitycontrol

test: add object/id api tests
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testServerSetup.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

[OGUI-1648] fixup layout heaer-option bug (#2900)
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

improve documentation and method naming
  QualityControl/lib/utils/errorHandler.js
  QualityControl/lib/utils/httpRequests.js
Due: qualitycontrol

tests add /objects tests
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

fix: fix layout switch behaviour in header
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

fix: add error tests
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/api/objects/api-get-object.test.js
Due: qualitycontrol

refactor: improve readability
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

fix: remove cache setter functionallity
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

rename private methods
  QualityControl/lib/utils/errorHandler.js
  QualityControl/lib/utils/httpRequests.js
Due: qualitycontrol

refactor: replace RunNumber with filters
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

Only report a toolbar if layout has been loaded
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

[OGUI-1648] Fixes bug in which the header of a layout would try to display a toolbar before the layout would be loaded (#2903)
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Fix lint issues
  Control/test/lib/middleware/mocha-requireDetectorOrGlobalRole.middleware.test.js
Due: control

update tests
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

split utility tests
  QualityControl/test/lib/utils/errorHandler.test.js
  QualityControl/test/lib/utils/httpRequests.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Create and test object dto's
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

remove errorHandler import
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

feat: add integer check for runNumber
  QualityControl/lib/dtos/ObjectGetDto.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
