Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-1246] Increase limit of download (#1557)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-1247] Remove reset button from env control
  Control/package-lock.json
  Control/package.json
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/test/integration/control-environment.js
  Control/test/public/page-environment-mocha.js
Due: control

[OGUI-1247] Remove reset button from env control (#1558)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/test/integration/control-environment.js
  Control/test/public/page-environment-mocha.js
Due: control

[OGUI-1263] Change the levels associated with each button
  InfoLogger/public/logFilter/commandFilters.js
  QualityControl/package-lock.json
Due: qualitycontrol, infologger

Move instantiation of Log to constructor
  Framework/Backend/db/mysql.js
  Framework/Backend/index.js
  Framework/Backend/jwt/token.js
  Framework/Backend/services/notification.js
Due: framework

Adapt InfoLogger Classes to web-ui conventions
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

Refactor o2 WinstonWrapper
  Framework/Backend/log/WinstonWrapper.js
  Framework/Backend/log/winston.js
Due: framework

Use new wrapper in Log
  Framework/Backend/log/Log.js
  Framework/docs/guide/logging.md
Due: framework

Add documentation
  Framework/Backend/config-default.json
  Framework/docs/guide/logging.md
Due: framework

Update configuration fields
  Framework/Backend/log/Log.js
  Framework/Backend/log/WinstonWrapper.js
Due: framework

Update tests following refactoring
  Framework/.gitignore
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/WinstonWrapper.js
  Framework/Backend/test/config.json
  Framework/Backend/test/mocha-log.js
Due: framework

Update test folder for log structure
  Framework/Backend/test/config.json
  Framework/Backend/test/log/mocha-log.js
  Framework/package.json
Due: framework

[OGUI-1266] Refactor Winston and Log framework modules (#1600)
  Framework/.gitignore
  Framework/Backend/db/mysql.js
  Framework/Backend/index.js
  Framework/Backend/jwt/token.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/Backend/log/WinstonWrapper.js
  Framework/Backend/log/winston.js
  Framework/Backend/services/notification.js
  Framework/Backend/test/config.json
  Framework/Backend/test/log/mocha-log.js
  Framework/docs/guide/logging.md
  Framework/package.json
Due: framework

Add enhanced logs for InfoLoggerSender
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/Backend/test/log/mocha-infologgermessage.js
  Framework/Backend/test/log/mocha-log.js
Due: framework

Add new line to file
  Framework/Backend/test/log/mocha-infologgermessage.js
Due: framework

Fix issue with unpassed facility
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

Update coverage command
  Framework/package.json
Due: framework

Use js instead of json file
  Framework/Backend/test/config.js
  Framework/Backend/test/config.json
Due: framework

Update use of js instead of json file
  Framework/Backend/test/log/mocha-log.js
Due: framework

Bump major release version
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1223] Add enhanced logs for InfoLoggerSender (#1604)
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/Backend/test/config.js
  Framework/Backend/test/config.json
  Framework/Backend/test/log/mocha-infologgermessage.js
  Framework/Backend/test/log/mocha-log.js
  Framework/package.json
Due: framework

[OGUI-1145] Use updated logger library
  Control/lib/control-core/ControlService.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/index.html
  Control/public/index.js
Due: control

Adapt config to use infologger server
  Control/lib/config/configProvider.js
Due: control

Fix bugs with new Logger
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
Due: framework

Fix tests for log message
  Framework/Backend/test/log/mocha-infologgermessage.js
Due: framework

Release web-ui 2.0.0 (#1609)
  Framework/Backend/http/server.js
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/Backend/test/log/mocha-infologgermessage.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump WebUI version
  Control/package-lock.json
  Control/package.json
Due: control

Remove username from infologger message
  Control/config-default.js
  Control/lib/control-core/ControlService.js
Due: control

Add newline
  Control/public/index.js
Due: control

[OGUI-1145] Make use of improved web-ui logger for AliECS UserActions (#1610)
  Control/config-default.js
  Control/lib/config/configProvider.js
  Control/lib/control-core/ControlService.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/index.html
  Control/public/index.js
Due: control

Add number of EPNs used
  Control/public/environment/environmentsPage.js
Due: control

Add run_type information to envs page
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
Due: control

Add ctp readout information to envs page
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
Due: control

Fix arrangement
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
Due: control

Update tests
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-1256] &[OGUI-1257] & [OGUI-1259] Add new information to envs table (#1614)
  Control/public/common/utils.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Due: control

Bump version for control-gui
  Control/package-lock.json
  Control/package.json
Due: control

Release 1.52.0 control-gui (#1615)
  Control/package-lock.json
  Control/package.json
Due: control

Migrate to new web-ui 2.0.0
  InfoLogger/.gitignore
  InfoLogger/config-default.js
  InfoLogger/public/index.html
  InfoLogger/public/index.js
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/user-actions-mocha.js
  InfoLogger/test/public/utils-mocha.js
Due: infologger

Remove lint checks from coverage
  QualityControl/package.json
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
