Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

feat: renamed imports
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/types/aliceo2__webui.d.ts
  Tokenization/backend/central-system/tests/TokensController.spec.ts
Due: none

feat: added vault services for authenctication and signing token
  Tokenization/backend/central-system/src/services/VaultAuthService.ts
  Tokenization/backend/central-system/src/services/VaultSignService.ts
Due: none

Processed feedback pt2, no more vnode outside views
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

feat: added vault get credentials service
  Tokenization/backend/central-system/src/services/VaulCredentialsService.ts
  Tokenization/package-lock.json
  Tokenization/package.json
Due: none

fix: updated services
  Tokenization/backend/central-system/src/services/VaultAuthService.ts
  Tokenization/backend/central-system/src/services/VaultSignService.ts
Due: none

Use of promise.all in beforeEach test and adding jsdocs
  Tokenization/webapp/app/routes/tokens/create.tsx
  Tokenization/webapp/app/ui/alert.tsx
  Tokenization/webapp/app/ui/dialog.tsx
  Tokenization/webapp/app/utils/types.ts
  Tokenization/webapp/tests/public/token-tests.cjs
Due: none

package-lock fix
  Tokenization/webapp/package-lock.json
Due: none

fix: moved wrapper into new lib directory
  Tokenization/backend/central-system/src/controllers/ConnectionController.ts
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/CentralSystemWrapper.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

[OGUI-1585] download buttons for single ROOT objects (#3113)
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/QcdbDownload.service.js
  QualityControl/public/app.css
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
Due: qualitycontrol

Bump package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[release/qcg/3.16.0] (#3114)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

feat: added events helpers
  Tokenization/backend/central-system/src/lib/event-bus.ts
  Tokenization/backend/central-system/src/lib/rpc.ts
Due: none

Potential fix for code scanning alert no. 260: Superfluous trailing arguments
  QualityControl/test/lib/services/layout/helpers/layoutMapper.test.js
Due: qualitycontrol

Potential fix for code scanning alert no. 265: Unused variable, import, function or class
  QualityControl/test/lib/services/layout/helpers/layoutMapper.test.js
Due: qualitycontrol

feat: vreated register function for TokenController
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

feat: create renewing and getting all tokens. Implement custom queue logic for token renewal retries
  Tokenization/backend/wrapper/src/client/Commands/sendAllTokens/sendAllTokens.command.ts
  Tokenization/backend/wrapper/src/client/Commands/sendAllTokens/sendAllTokens.handler.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/test/utils/queues/RetryQueue.test.ts
  Tokenization/backend/wrapper/src/utils/custom.identifier.ts
  Tokenization/backend/wrapper/src/utils/queues/RetryQueue.ts
Due: none

feat: added event based logic to vault requests
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/event-type.ts
Due: none

feat: refactored structure of register for more readability
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/register-bus-handler.ts
Due: none

fix: fix tests with new logic
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/src/test/central/CentralSystem.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
Due: none

feat: add tests for Connection class
  Tokenization/backend/wrapper/src/test/client/Connection/Connection.test.ts
Due: none

feat: added encryption helper
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/encrypt.ts
  Tokenization/backend/central-system/src/lib/event-req-types.ts
  Tokenization/backend/central-system/src/lib/register-bus-handler.ts
  Tokenization/backend/central-system/src/lib/rpc.ts
Due: none

feat: moved the event names into external file enum
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/events.ts
Due: none

fix: fix tests and renew token logic
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
Due: none

fix: add banners
  Tokenization/backend/wrapper/src/test/client/Connection/Connection.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
  Tokenization/backend/wrapper/src/test/testCerts/testCerts.ts
  Tokenization/backend/wrapper/src/test/utils/queues/RetryQueue.test.ts
Due: none

feat: added initial login in module
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

Potential fix for code scanning alert no. 266: Unused variable, import, function or class
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
Due: none

feat: added initial vault login and token renewal interval as well as initial vault unseal
  Tokenization/docker-compose.dev.yml
Due: none

fear: comitted preavious changes
  Tokenization/backend/central-system/src/controllers/ConnectionController.ts
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/register-bus-handler.ts
  Tokenization/backend/central-system/src/lib/rpc.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/index.js
  Tokenization/backend/package.json
Due: none

feat: fix imports, add alert messaging command and system
  Tokenization/backend/wrapper/src/central/Commands/getAllTokens/getAllTokens.command.ts
  Tokenization/backend/wrapper/src/central/Commands/renewToken/renewToken.command.ts
  Tokenization/backend/wrapper/src/central/Commands/sendAlert/sendAlert.command.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/sendAllTokens/sendAllTokens.command.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/EventManagement/CentralCommandDispatcher.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/models/alert.model.ts
  Tokenization/backend/wrapper/src/models/connection.model.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/models/token.model.ts
  Tokenization/backend/wrapper/src/proto/wrapper.proto
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
Due: none

fix: fix events for commands
  Tokenization/backend/wrapper/src/central/Commands/getAllTokens/getAllTokens.command.ts
  Tokenization/backend/wrapper/src/central/Commands/renewToken/renewToken.command.ts
Due: none

feat: add dispatching commands to the central system
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
Due: none

fix: make mock virtual
  Tokenization/backend/wrapper/src/test/client/Connection/Connection.test.ts
Due: none

fix: tests and imports
  Tokenization/backend/wrapper/src/test/client/Connection/Connection.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
Due: none

feat: add configuration endpoint
  Control/lib/controllers/Configuration.controller.js
Due: control

feat: implement getConfigurationByKey endpoint, refactor QCConfigurationController and create QCConfiguration.service
  Control/lib/controllers/Configuration.controller.js
Due: control

implement api end-test
  Control/test/mocha-index.js
Due: control

Add api tests for /configuration endpoint
  Control/test/mocha-index.js
Due: control

chore: implement post /configurations/:key endpoint to edit configuration
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
Due: control

chore: implemet unit tests for editing configuration
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
Due: control

fix: correct issues introduced during rebase
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
Due: control
