Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

change display timestamp label
  QualityControl/public/layout/view/panels/settings.js
Due: qualitycontrol

refactor: update retrieveLatestVersionOfObjects to receive an object as argument.
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

refactor: remove unused logger
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

refactor: better check for filters
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

refactor: update getObjectsLatestVersionList to receive an object as argument.
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Due: qualitycontrol

Layout for application created, documentation added.
  Tokenization/webapp/app/app.css
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/ui/header/header.tsx
  Tokenization/webapp/app/ui/header/headerContext.tsx
  Tokenization/webapp/app/ui/layout.css
  Tokenization/webapp/app/ui/layout.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/sidebar.tsx
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
Due: none

chore: add test for config keys list
  Configuration/webapp/app/components/config-navigator/ConfigNavigator.tsx
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/components/layout/drawer/LeftDrawer.tsx
  Configuration/webapp/app/test/public/page-root-mocha.cjs
Due: none

chore: adjust list styles
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
Due: none

fix: fix enum naming
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

fix: fix proto types order based on Bookkeeping standards
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

fix: add copyright banner
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

fix: add copyright banner and change enum naming convention
  Tokenization/backend/wrapper/models/message.model.ts
Due: none

fix: fix serialization comments and tests
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/utils/__tests__/serialization.utils.test.ts
  Tokenization/backend/wrapper/utils/serialization.utils.ts
Due: none

implement api end-test
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/mocha-index.js
Due: control

First idea for running test container. Created image with dockerfile - downloading google-chrome with all dependencies. Successful run for first test.
  Tokenization/docker-compose.test.yml
  Tokenization/tests/ui/Dockerfile
  Tokenization/tests/ui/package-lock.json
  Tokenization/tests/ui/package.json
  Tokenization/tests/ui/test/main.test.js
Due: none

refactor error box UI and styles
  QualityControl/public/app.css
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

remove new lines. refactor import. delete .flex class
  QualityControl/public/app.css
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

add span to icon wrapper
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

build: configure ESLint and Prettier
  Configuration/webapp/.prettierignore
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/prettier.config.js
Due: none

[OGUI-1719] Improved Error Message Display with Styled Alert Box (#2929)
  QualityControl/public/app.css
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

build: implement custom ESLint rule to always include CERN copyright license
  Configuration/webapp/.prettierignore
  Configuration/webapp/custom_eslint_rules/copyright-license.js
  Configuration/webapp/custom_eslint_rules/index.js
  Configuration/webapp/eslint.config.js
Due: none

chore: apply Prettier formatting rules and fix ESLint warning and errors
  Configuration/webapp/app/components/logs/log.ts
  Configuration/webapp/app/components/runs/run-logs.tsx
  Configuration/webapp/app/components/runs/run.ts
  Configuration/webapp/app/root.tsx
  Configuration/webapp/app/routes.ts
  Configuration/webapp/app/routes/home.tsx
  Configuration/webapp/app/routes/runs/details.tsx
  Configuration/webapp/app/routes/runs/overview.tsx
  Configuration/webapp/app/ui/icon.tsx
  Configuration/webapp/app/ui/navbar.tsx
  Configuration/webapp/app/ui/spinner.tsx
Due: none

chore: put documentation for getObjectById back.
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

build: add GH Actions file for Configuration project
  .github/workflows/configuration.yml
Due: none

chore: update documentation for RetrieveLatestVersionOfObjects
  QualityControl/lib/services/QcObject.service.js
Due: qualitycontrol

fix: deleted previous test structure
  Tokenization/backend/central-system/test/tests/tokens.test.js
Due: none

chore: rename qcgId to qcObjectId
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/middleware/objects/objectGetByIdValidationMiddlewareFactory.js
Due: qualitycontrol

chore: remove commented out import
  QualityControl/lib/api.js
Due: qualitycontrol

chore: improve error logs
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

[OGUI-1688] compressed
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/middleware/objects/objectGetByIdValidationMiddlewareFactory.js
  QualityControl/lib/middleware/objects/objectGetContentsValidationMiddlewareFactory.js
  QualityControl/lib/middleware/objects/objectsGetValidationMiddlewareFactory.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByContentsValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByIdValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectsGetValidation.middleware.test.js
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Due: qualitycontrol

chore: move filtersConfig
  QualityControl/public/common/filters/filtersConfig.js
Due: qualitycontrol

feat: controll filters with filterModel
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

feat: create FilterViews
  QualityControl/public/common/filters/filterViews.js
Due: qualitycontrol

feat: add filterElement to ObjectTreePage
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

test: alter tests to accomodate changes
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

feat: replace layoutFilterPanel with filterPanel
  QualityControl/public/common/filters/filter.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
Due: qualitycontrol

feat: create filterModel
  QualityControl/public/common/filters/model/filterModel.js
  QualityControl/public/services/Filter.service.js
Due: qualitycontrol

[OGUI-1688] Update API endpoint to retrieve list of objects based on filter v2 (#2931)
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/middleware/objects/objectGetByIdValidationMiddlewareFactory.js
  QualityControl/lib/middleware/objects/objectGetContentsValidationMiddlewareFactory.js
  QualityControl/lib/middleware/objects/objectsGetValidationMiddlewareFactory.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByContentsValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByIdValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectsGetValidation.middleware.test.js
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Due: qualitycontrol

[OGUI-1702] Define Basic Protobuf “wrapper” Schema (#2939)
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

Session data taken correctly but it rerenders page again which throws Error
  Tokenization/webapp/app/hooks/useAuth.tsx
  Tokenization/webapp/app/root.tsx
Due: none

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
