Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Update ILG patch version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-1301] Update aliceo2/web-ui version (#1748)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger

Bump web-ui version and QCG minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Use "valid-from" for requesting list of object versions
  QualityControl/lib/services/CcdbService.js
Due: qualitycontrol

[OGUI-1302] Use "valid-from" for requesting list of object versions (#1749)
  QualityControl/lib/services/CcdbService.js
Due: qualitycontrol

Bump web-ui version and QCG minor version (#1750)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Use gRPC standard deadline for ending call
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/EnvCache.js
Due: control

Increase default timeline for gRPC cache call
  Control/lib/control-core/EnvCache.js
Due: control

Increase waiting time for environments changes
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-1306] Use gRPC deadline option instead of Promise.race (#1781)
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/EnvCache.js
  Control/test/public/page-environments-mocha.js
Due: control

Refactor get method to accept options for request
  Control/lib/utils.js
Due: control

Move to standard connector naming and export
  Control/lib/controllers/Consul.controller.js
  Control/test/lib/controllers/mocha-consul-controller.js
Due: control

Extract status calls into controller
  Control/lib/api.js
  Control/lib/controllers/Status.controller.js
Due: control

Refactor status service to be reusable in intervals service
  Control/lib/services/Status.service.js
  Control/lib/services/StatusService.js
  Control/test/lib/services/mocha-status-service.js
Due: control

Add web socket for status intervals
  Control/lib/controllers/WebSocket.controller.js
  Control/lib/services/Intervals.service.js
Due: control

Update project following name changes
  Control/lib/control-core/ControlService.js
  Control/test/lib/control-core/mocha-apricot-service.js
  Control/test/lib/control-core/mocha-control-service.js
  Control/test/lib/mocha-consul-connector.js
Due: control

Add test to check ws controller broadcasts
  Control/test/lib/controllers/mocha-ws-controller.js
Due: control

Use bind for consul requests
  Control/lib/api.js
Due: control

Update doc
  Control/lib/controllers/WebSocket.controller.js
Due: control

Update docs for Intervals class
  Control/lib/services/Intervals.service.js
Due: control

Use constants for predefined values
  Control/lib/services/Status.service.js
Due: control

Use const values for repeated strings
  Control/lib/controllers/Status.controller.js
Due: control

Update utils to ensure all fields are updated
  Control/lib/utils.js
Due: control

Update imports
  Control/lib/api.js
Due: control

Add back consul info as it is needed for UI elements
  Control/lib/services/Status.service.js
  Control/test/lib/services/mocha-status-service.js
Due: control

[OGUI-1307] Adds controllers for broadcasting statuses to clients (#1786)
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/Status.controller.js
  Control/lib/controllers/WebSocket.controller.js
  Control/lib/services/Intervals.service.js
  Control/lib/services/Status.service.js
  Control/lib/services/StatusService.js
  Control/lib/utils.js
  Control/test/lib/control-core/mocha-apricot-service.js
  Control/test/lib/control-core/mocha-control-service.js
  Control/test/lib/controllers/mocha-consul-controller.js
  Control/test/lib/controllers/mocha-ws-controller.js
  Control/test/lib/services/mocha-status-service.js
Due: control

Add 2 extra fields to kafka message from BKP
  Framework/Backend/services/notification.js
Due: framework

Update patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Expect general message to be sent to kafka
  Framework/Backend/services/notification.js
Due: framework

Bump minor version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1320] Generalize message to be sent to Kafka proucer (#1796)
  Framework/Backend/services/notification.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Make textarea default for input configuration fields
  Control/public/workflow/panels/variables/components.js
Due: control

Make textarea default for input configuration fields (#1797)
  Control/public/workflow/panels/variables/components.js
Due: control

[OGUI-1324] Remove client-side refresh of envs
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/lib/dtos/Service.js
  Control/public/Model.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

Remove unwanted file
  Control/lib/dtos/Service.js
Due: control

[OGUI-1324] Remove client-side refresh of envs (#1800)
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/Model.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

[OGUI-1324] Remove client-side refresh of envs
  Control/lib/dtos/Service.js
Due: control

Close gRPC client before attempting on a new one
  Control/lib/control-core/ControlService.js
Due: control

Refactor wscontroller into service for broadcasting only onc hange
  Control/lib/controllers/WebSocket.controller.js
  Control/lib/services/WebSocket.service.js
Due: control

Refactor to broadcast only on status change rather than on interval
  Control/lib/api.js
  Control/lib/common/constants.js
  Control/lib/services/Status.service.js
  Control/test/lib/controllers/mocha-ws-controller.js
  Control/test/lib/services/mocha-status-service.js
  Control/test/public/page-environments-mocha.js
Due: control
