Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Added address method
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

Use supertest instead of the http package
  Framework/Backend/test/mocha-http.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Added listen method
  Framework/Backend/http/server.js
  Framework/docs/guide/http-server.md
Due: framework

Added close method
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-ws.js
  Framework/docs/guide/http-server.md
Due: framework

[OGUI-330] Staging
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/lib/api.js
  QualityControl/public/app.css
  QualityControl/public/common/infoButton.js
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-530] Add backend call for retrieving FLP list
  Control/config-default.js
  Control/lib/api.js
Due: control

[OGUI-530] Add area of FLP selection
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-530] Fix bug for intercepting requests
  Control/test/public/page-configuration-mocha.js
Due: control

[OGUI-530] Add tests for FLP selector
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Due: control

[OGUI-530] Add codecov for patch
  codecov.yml
Due: none

[OGUI-530] Try codecov patch for project
  codecov.yml
Due: none

[OGUI-530] Try using flags in patch
  codecov.yml
Due: none

[OGUI-530] Add target only for patch
  codecov.yml
Due: none

Renamed to trigger GH
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-ws.js
Due: framework

Added listen, close and address method (#502)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-ws.js
  Framework/docs/guide/http-server.md
  Framework/package-lock.json
  Framework/package.json
Due: framework

Centralize
  Framework/Backend/http/server.js
Due: framework

Allow middleware
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

Test public flag
  Framework/Backend/test/mocha-http.js
Due: framework

QCG should load openId configuration instead of oAuth
  QualityControl/index.js
Due: qualitycontrol

QCG should load openId configuration instead of oAuth (#512)
  QualityControl/index.js
Due: qualitycontrol

[OGUI-534] Support multiple express middlewares per route (#511)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

[OGUI-530] Staging
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-external-services.js
Due: control

Bump Framework minor: 1.11.0
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump Framework minor: 1.11.0 (#513)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add PR template
  .github/pull_request_template.md
Due: none

Add PR template (#514)
  .github/pull_request_template.md
Due: none

[OGUI-530] Refactor and add ConsulConnector
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/utils.js
Due: control

[OGUI-530] Fix tests after refactoring
  Control/test/lib/mocha-consul-connector.js
  Control/test/lib/mocha-control-service.js
  Control/test/lib/mocha-external-services.js
  Control/test/lib/mocha-utils.js
Due: control

[OGUI-530] Bump versions
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-530] Stub not getting changed
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-530] Update connector instance
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-530] initialize connector everytime
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-530] Change sinon stub
  Control/test/lib/mocha-consul-connector.js
Due: control

Run consul test only
  Control/package.json
Due: control

Use sinon assert
  Control/test/lib/mocha-consul-connector.js
Due: control

Test only expected message
  Control/test/lib/mocha-consul-connector.js
Due: control

Test
  Control/test/lib/mocha-consul-connector.js
Due: control

Add return
  Control/test/lib/mocha-consul-connector.js
Due: control

Tets
  Control/test/lib/mocha-consul-connector.js
Due: control

Use JSON
  Control/test/lib/mocha-consul-connector.js
Due: control

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
