Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

[OGUI-1629] Reorganize project documentation (#2779)
  QualityControl/README.md
  QualityControl/docs/Architecture.md
  QualityControl/docs/CI_Workflows.md
  QualityControl/docs/Configuration.md
  QualityControl/docs/Development.md
  QualityControl/docs/Features.md
  QualityControl/docs/Installation.md
  QualityControl/docs/Testing.md
Due: qualitycontrol

[OGUI-1129] Layouts do not preserve object arrangement (#2848)
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

refractor: log a warning if a field is missing instead of throwing an error
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/repositories/LayoutRepository.js
  QualityControl/test/lib/repositories/LayoutRepository.test.js
Due: qualitycontrol

fetch chart options from backend
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/objectPropertiesSidebar.js
  QualityControl/public/services/Layout.service.js
Due: qualitycontrol

fix: temporary setTimout fix for ObjectTree sort issue
  QualityControl/public/object/ObjectTree.class.js
Due: qualitycontrol

fix(LayoutController): incorrect fields pass to repository
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/test/lib/controllers/LayoutController.test.js
Due: qualitycontrol

refractor(LayoutRepository): remove unneeded loop from ListLayouts
  QualityControl/lib/repositories/LayoutRepository.js
Due: qualitycontrol

feat: add RequestField enum
  QualityControl/public/common/RequestFields.enum.js
Due: qualitycontrol

refractor: use RequestFields.LAYOUT_CARD in Model and Layout
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

refractor(Layout.service): abstract comparitor and implement it in layout sort functions
  QualityControl/public/services/Layout.service.js
Due: qualitycontrol

generalize /runTypes endpoint to /filter/configuration
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/public/services/Filter.service.js
Due: qualitycontrol

Remove debug log from spamming
  Framework/Backend/kafka/KafkaMessagesConsumer.js
Due: framework

Add new custom error for failed dependency
  Framework/Backend/errors/FailedDependencyError.js
  Framework/Backend/errors/updateAndSendExpressResponseFromNativeError.js
  Framework/Backend/test/errors/mocha-updateExpressResponseFromNativeError.test.js
Due: framework

Bump webui patch version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1664] add new custom error for failed depedency (#2854)
  Framework/Backend/errors/FailedDependencyError.js
  Framework/Backend/errors/updateAndSendExpressResponseFromNativeError.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/test/errors/mocha-updateExpressResponseFromNativeError.test.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump webui across projects
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Bump webui across projects (#2855)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

create filter service (high level) to use bookkeeping service
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/test/lib/controllers/FiltersController.test.js
  QualityControl/test/lib/services/BookeepingService.test.js
  QualityControl/test/lib/services/FilterService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Fix issue with environment requests not disappearing on environment configured
  Control/public/Model.js
Due: control

Fix issues with run number being copied with a dash
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

default port if not specified
  QualityControl/lib/services/BookkeepingService.js
Due: qualitycontrol

EBF webui 2.8.4
  Framework/Backend/index.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix lint issue
  Framework/Backend/index.js
Due: framework

[release/webui/2.8.4] (#2857)
  Framework/Backend/index.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump WebUI
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Bump WebUI (#2858)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

[OGUI-1665] [OGUI-1666] (#2856)
  Control/public/Model.js
  Control/public/pages/Environment/components/environmentStateSummary.js
Due: control

refractor: add and implement sort function in LayoutService
  QualityControl/public/services/Layout.service.js
Due: qualitycontrol

refractor(QCObject): pass values to comparitor functions directly
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

fix: undo getObjectsLatestVersionList removal
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Due: qualitycontrol

chore(QCObject): remove sort-by-date functionallity
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

feat: replace generic error with FailedDependencyError
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

chore(CcdbService): remove unused function
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Due: qualitycontrol

feat(CcdbService): Add getObjectsTreeList function
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Due: qualitycontrol

feat(QcObject.service): update retrieveLatestVersionOfObjects and refreshCache
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

git commit -m 'refactor(QCObjectDto): conditionally add fields createdAt and validFrom'
  QualityControl/lib/dtos/QCObjectDto.js
Due: qualitycontrol

Rename adapter
  Control/lib/adapters/ShortTaskInfoAdapter.js
  Control/test/lib/adapters/mocha-short-task-info.adapter.test.js
Due: control

Adapt front-end to new FLP task adapters
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/typedefs/TaskInfo.js
  Control/public/common/task/flpTasksTable.js
  Control/public/common/utils.js
Due: control

fix bookkeeping service if config not provided
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/test/lib/services/BookeepingService.test.js
  QualityControl/test/lib/services/FilterService.test.js
Due: qualitycontrol

refactor(QCObjectDto): conditionally add path field
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol
