Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

add mocks and configuration
  QualityControl/test/config.js
  QualityControl/test/demoData/layout/layout.mock.js
Due: qualitycontrol

frontend tests
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
Due: qualitycontrol

Processed feedback
  QualityControl/public/common/downloadButton.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

add ownerUsername, fix layout navigation, and allow empty id in validation
  QualityControl/lib/services/layout/LayoutService.js
  QualityControl/public/common/Types.js
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

fix lint error
  QualityControl/public/layout/LayoutClass.js
Due: qualitycontrol

load item after save to get the created ids
  QualityControl/public/common/Types.js
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

fix tests to return id created
  QualityControl/test/lib/services/layout/LayoutService.test.js
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

Expanded default options, processed feedback
  QualityControl/public/common/downloadButton.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
Due: qualitycontrol

[OGUI-1790] extract download button to reusable element (#3119)
  QualityControl/public/common/downloadButton.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

Update PROTO files from AliECS
  Control/protobuf/protos/protos/common.proto
  Framework/Backend/protobuf/protos/common.proto
Due: control, framework

Classes + JSdoc types added.
  QualityControl/lib/utils/download/classes/data/DownloadConfigData.js
  QualityControl/lib/utils/download/classes/data/LayoutData.js
  QualityControl/lib/utils/download/classes/data/ObjectData.js
  QualityControl/lib/utils/download/classes/data/TabData.js
  QualityControl/lib/utils/download/classes/domain/DownloadConfigDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomainStorage.js
  QualityControl/lib/utils/download/classes/domain/MapStorage.js
  QualityControl/lib/utils/download/classes/domain/ObjectDomain.js
  QualityControl/lib/utils/download/classes/domain/TabDomain.js
  QualityControl/lib/utils/download/downloadEngine.js
  QualityControl/lib/utils/download/enum/DownloadMode.js
  QualityControl/lib/utils/download/enum/NameTemplateOption.js
Due: qualitycontrol

fixed types
  QualityControl/lib/utils/download/classes/domain/LayoutDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomainStorage.js
  QualityControl/lib/utils/download/classes/domain/TabDomain.js
  QualityControl/lib/utils/download/downloadEngine.js
Due: qualitycontrol

Post download handler works
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/utils/download/classes/DownloadConfigMapper.js
  QualityControl/lib/utils/download/classes/data/DownloadConfigData.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomain.js
  QualityControl/lib/utils/download/classes/domain/TabDomain.js
  QualityControl/lib/utils/download/configurator.js
  QualityControl/lib/utils/download/downloadEngine.js
Due: qualitycontrol

Added Api tests
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/utils/download/classes/data/LayoutData.js
  QualityControl/lib/utils/download/configurator.js
  QualityControl/test/api/download/api-post-download.test.js
  QualityControl/test/demoData/layout/downloadLayout.mock.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Appeal to eslint
  QualityControl/lib/utils/download/classes/data/DownloadConfigData.js
  QualityControl/lib/utils/download/classes/data/ObjectData.js
  QualityControl/lib/utils/download/classes/data/TabData.js
Due: qualitycontrol

Documentation changes
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/utils/download/classes/DownloadConfigMapper.js
  QualityControl/lib/utils/download/classes/data/DownloadConfigData.js
  QualityControl/lib/utils/download/classes/data/LayoutData.js
  QualityControl/lib/utils/download/classes/data/ObjectData.js
  QualityControl/lib/utils/download/classes/data/TabData.js
  QualityControl/lib/utils/download/classes/domain/DownloadConfigDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomainStorage.js
  QualityControl/lib/utils/download/classes/domain/TabDomain.js
  QualityControl/lib/utils/download/configurator.js
  QualityControl/lib/utils/download/downloadEngine.js
Due: qualitycontrol

change name to combat git issue
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/utils/download/DownloadEngineeee.js
Due: qualitycontrol

Change downloadEngine to lower case, vscode and git were not happy otherwise
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/utils/download/downloadEngine.js
Due: qualitycontrol

Add license
  QualityControl/lib/utils/download/classes/DownloadConfigMapper.js
  QualityControl/lib/utils/download/classes/data/DownloadConfigData.js
  QualityControl/lib/utils/download/classes/data/LayoutData.js
  QualityControl/lib/utils/download/classes/data/ObjectData.js
  QualityControl/lib/utils/download/classes/data/TabData.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomainStorage.js
  QualityControl/lib/utils/download/classes/domain/MapStorage.js
  QualityControl/lib/utils/download/classes/domain/ObjectDomain.js
  QualityControl/lib/utils/download/classes/domain/TabDomain.js
  QualityControl/lib/utils/download/configurator.js
  QualityControl/lib/utils/download/downloadEngine.js
Due: qualitycontrol

Object tests + license
  QualityControl/lib/utils/download/classes/domain/DownloadConfigDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomain.js
  QualityControl/lib/utils/download/classes/domain/LayoutDomainStorage.js
  QualityControl/lib/utils/download/classes/domain/ObjectDomain.js
  QualityControl/lib/utils/download/classes/domain/TabDomain.js
  QualityControl/test/common/library/download/downloadMappers.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Fix test
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/test/api/download/api-post-download.test.js
Due: qualitycontrol

Added tests for tab and layout
  QualityControl/test/common/library/download/downloadMappers.test.js
Due: qualitycontrol

enable pseudo terminal attachment to container
  QualityControl/docker-compose.test.yml
Due: qualitycontrol

[OGUI-1797] enable pseudo terminal attachment to container (#3145)
  QualityControl/docker-compose.test.yml
Due: qualitycontrol

update: reorganized directories
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/event-bus/event-bus.ts
  Tokenization/backend/central-system/src/lib/event-bus/register-bus-handler.ts
  Tokenization/backend/central-system/src/lib/event-bus/rpc.ts
  Tokenization/backend/central-system/src/lib/utils/encrypt.d.ts
  Tokenization/backend/central-system/src/lib/utils/event-req-types.d.ts
  Tokenization/backend/central-system/src/lib/utils/events.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
Due: none

fix: fixed names
  Tokenization/backend/central-system/src/lib/utils/encrypt.ts
  Tokenization/backend/central-system/src/lib/utils/events.d.ts
Due: none

testing
  Tokenization/backend/central-system/src/lib/utils/events.ts
  Tokenization/backend/tests/001.ts
  Tokenization/backend/tests/startup.ts
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/jest.config.js
  Tokenization/backend/wrapper/models/message.model.ts
  Tokenization/backend/wrapper/utils/__tests__/serialization.utils.test.ts
  Tokenization/backend/wrapper/utils/serialization.utils.ts
  Tokenization/docker/provisioning/nginx/conf.d/default.conf
Due: none

innit: added necessary wrapper files
  Tokenization/backend/central-system/src/lib/CentralSystemWrapper.ts
  Tokenization/backend/central-system/src/wrapper/CentralSystemWrapper.ts
  Tokenization/backend/central-system/src/wrapper/Commands/getAllTokens/getAllTokens.command.ts
  Tokenization/backend/central-system/src/wrapper/Commands/renewToken/renewToken.command.ts
  Tokenization/backend/central-system/src/wrapper/Commands/sendAlert/sendAlert.command.ts
  Tokenization/backend/central-system/src/wrapper/models/alert.model.ts
  Tokenization/backend/central-system/src/wrapper/models/commands.model.ts
  Tokenization/backend/central-system/src/wrapper/models/config.model.ts
  Tokenization/backend/central-system/src/wrapper/models/connection.model.ts
  Tokenization/backend/central-system/src/wrapper/models/message.model.ts
  Tokenization/backend/central-system/src/wrapper/models/token.model.ts
  Tokenization/backend/central-system/src/wrapper/utils/client/CentralCommandDispatcher.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
Due: none

update: adjusted existing files
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/utils/encrypt.ts
  Tokenization/backend/central-system/src/lib/utils/events.ts
  Tokenization/backend/package-lock.json
  Tokenization/backend/package.json
  Tokenization/backend/wrapper/package-lock.json
Due: none

feat: created handler for sending aler
  Tokenization/backend/central-system/src/wrapper/Commands/sendAlert/sendAlert.handler.ts
Due: none

created ahndler for getting tokens (dummy version)
  Tokenization/backend/central-system/src/lib/utils/getTokensHelper.ts
Due: none

feat: handler for getting tokens
  Tokenization/backend/central-system/src/wrapper/Commands/getAllTokens/getAllTokens.handler.ts
Due: none

feat: created handler for renewing token
  Tokenization/backend/central-system/src/wrapper/Commands/renewToken/renewToken.handler.ts
Due: none

feat: added helper function for getting tokens
  Tokenization/backend/central-system/src/lib/utils/getNewToken.ts
Due: none

update: modified existing files
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/services/VaultAuthService.ts
Due: none

feat: added encoding helper
  Tokenization/backend/central-system/src/lib/utils/bs64Encode.ts
Due: none

update: added comments
  Tokenization/backend/central-system/src/lib/utils/bs64Encode.ts
  Tokenization/backend/central-system/src/lib/utils/getNewToken.ts
  Tokenization/backend/central-system/src/lib/utils/getTokensHelper.ts
  Tokenization/backend/central-system/src/wrapper/Commands/getAllTokens/getAllTokens.handler.ts
  Tokenization/backend/central-system/src/wrapper/Commands/renewToken/renewToken.handler.ts
  Tokenization/backend/central-system/src/wrapper/Commands/sendAlert/sendAlert.handler.ts
Due: none

update: adjusted CentralSystemWrapper so it can properly handle handlers constructors
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/wrapper/CentralSystemWrapper.ts
Due: none

innit: innitial commit - this branch is being developed together with Maksymilian Walicki
  Tokenization/backend/jest.config.cjs
  Tokenization/backend/jest.config.ts
  Tokenization/backend/tests/001.ts
  Tokenization/backend/tests/002.ts
  Tokenization/backend/tests/003.ts
  Tokenization/backend/tests/004.ts
  Tokenization/backend/tests/startup.ts
Due: none

update: updated gitingore
  Tokenization/.gitignore
Due: none
