Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-554] Remove empty string needed on MacOS
  .github/workflows/test-pr.yml
Due: none

[OGUI-554] Add missing quote
  .github/workflows/test-pr.yml
Due: none

[OGUI-554] Provide token
  .github/workflows/test-pr.yml
Due: none

[OGUI-554] Use GH username for assignee
  .github/workflows/test-pr.yml
Due: none

[OGUI-554] Use id rather than name
  .github/workflows/test-pr.yml
Due: none

[OGUI-554] Add PR to release workflow
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
Due: none

[OGUI-554] Fix version identification
  .github/workflows/release.yml
Due: none

[OGUI-554] Attempt failure
  .github/workflows/release.yml
Due: none

[OGUI-554] Fix if format
  .github/workflows/release.yml
Due: none

[OGUI-554] Add back version
  .github/workflows/release.yml
Due: none

[OGUI-554] Finalize release file
  .github/workflows/release.yml
Due: none

[OGUI-555] Add gh action changes and update docs
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  Control/README.md
  Framework/README.md
  Framework/docs/guide/devel.md
  InfoLogger/README.md
  QualityControl/README.md
Due: control, qualitycontrol, infologger, framework

[OGUI-555] Update documentation for developer
  Framework/docs/guide/devel.md
Due: framework

[OGUI-555] Remove duplicated step
  Framework/docs/guide/devel.md
Due: framework

[OGUI-553] Add Consul Configuration to About page
  Control/lib/api.js
  Control/test/public/page-about-mocha.js
Due: control

[OGUI-539] If message includes 404 than no keys found
  Control/public/workflow/flpSelectionPanel.js
Due: control

[OGUI-539] Improve testing on consulconnector
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-539] Fix missing flp hardware path
  Control/lib/api.js
Due: control

[OGUI-539] Bump version for release
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-539] Audit fix
  Control/package-lock.json
Due: control

[OGUI-539] Fix issue generate by audit fix
  Control/package-lock.json
Due: control

[OGUI-555] Use only paths
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Due: none

[OGUI-555] Test build not being triggered
  .github/workflows/framework.yml
Due: none

[OGUI-554] Add fix for QC npm ci
  .github/workflows/release.yml
Due: none

[OGUI-554] Include automatic alidist bump version in release process (#521)
  .github/workflows/release-npm-module.yml
  .github/workflows/release.yml
Due: none

[OGUI-554] Fix bug in QC release step
  .github/workflows/release.yml
Due: none

[OGUI-554] Fix bug in QC release step (#525)
  .github/workflows/release.yml
Due: none

[OGUI-556] Update deps and add mocha-retries 4 times
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger, framework

[OGUI-556] Retry only 2 times
  Control/package.json
  Framework/package.json
  InfoLogger/package.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger, framework

[OGUI-554] Remove npm ci step
  .github/workflows/release.yml
Due: none

[OGUI-554] Bump QCG patch
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI- 554] remove npm ci step from release (#527)
  .github/workflows/release.yml
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-539] Inform user on missing key (#523)
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/flpSelectionPanel.js
  Control/test/lib/mocha-consul-connector.js
Due: control

[OGUI-553] Add Consul Configuration to About page (#522)
  Control/lib/api.js
  Control/test/public/page-about-mocha.js
Due: control

[OGUI-556] Update deps and add mocha-retries 2 times (#526)
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger, framework

[OGUI-558] Fix table for envs
  Control/public/common/showTableList.js
  Control/public/common/utils.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUi-558] Add number of runs
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-559] Add initial integrationt ests for controlling env
  Control/package.json
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
  Control/test/integration/integration-config.js
Due: control

[OGUI-559] Add check for shutting down environment
  Control/test/integration/control-environment.js
Due: control

[OGUI-559] Fix small typos
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
