Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

environment for tests
  QualityControl/Dockerfile
  QualityControl/docker-compose.test.yml
  QualityControl/docker-compose.yml
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

use glob for migration files
  QualityControl/jsconfig.json
Due: qualitycontrol

update import statement for 'path' module
  QualityControl/index.js
  QualityControl/lib/database/index.js
Due: qualitycontrol

remove unnecesary comments
  QualityControl/lib/database/index.js
Due: qualitycontrol

fix comments on migrations
  QualityControl/lib/database/migrations/20250313142147-create-layouts-table.mjs
  QualityControl/lib/database/migrations/20250313145640-create-tabs-table.mjs
  QualityControl/lib/database/migrations/20250313150749-create-charts-table.mjs
  QualityControl/lib/database/migrations/20250313151012-create-grid_tab_cells-table.mjs
  QualityControl/lib/database/migrations/20250313151205-create-options-table.mjs
  QualityControl/lib/database/migrations/20250313151315-create-chart_options-table.mjs
Due: qualitycontrol

move table creations to a single migration file
  QualityControl/lib/database/migrations/20250313123608-create-users-table.mjs
  QualityControl/lib/database/migrations/20250313142147-create-layouts-table.mjs
  QualityControl/lib/database/migrations/20250313145640-create-tabs-table.mjs
  QualityControl/lib/database/migrations/20250313150749-create-charts-table.mjs
  QualityControl/lib/database/migrations/20250313151012-create-grid_tab_cells-table.mjs
  QualityControl/lib/database/migrations/20250313151205-create-options-table.mjs
  QualityControl/lib/database/migrations/20250313151315-create-chart_options-table.mjs
  QualityControl/lib/database/migrations/20250317103004-create-schema.mjs
Due: qualitycontrol

models creation
  QualityControl/index.js
  QualityControl/lib/database/index.js
  QualityControl/lib/database/models/Chart.js
  QualityControl/lib/database/models/ChartOption.js
  QualityControl/lib/database/models/GridTabCell.js
  QualityControl/lib/database/models/Layout.js
  QualityControl/lib/database/models/Option.js
  QualityControl/lib/database/models/Tab.js
  QualityControl/lib/database/models/User.js
Due: qualitycontrol

fix chart model import
  QualityControl/lib/database/models/Chart.js
Due: qualitycontrol

add docker-compose-up-test to qc.yml
  .github/workflows/qc.yml
Due: none

add tests in docker to workflow
  .github/workflows/qc.yml
Due: none

fix: correct directory for Docker commands
  .github/workflows/qc.yml
Due: none

remove .env.test
  QualityControl/docker-compose.test.yml
  QualityControl/package.json
Due: qualitycontrol

replace Docker-based test setup with GH Actions services for MariaDB and Node.js
  QualityControl/docker-compose.test.yml
  QualityControl/test/config.js
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

use mariadb in gh workflow
  .github/workflows/qc.yml
Due: none

use variables from config.js file
  QualityControl/lib/database/config/config.js
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

fix eslint
  QualityControl/lib/database/config/config.js
  QualityControl/lib/database/migrations/20250317103004-create-schema.mjs
Due: qualitycontrol

Keep nock on v13
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

revert NODE_ENV changes
  QualityControl/docker-compose.test.yml
  QualityControl/package.json
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

fix conflicts
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Fix vulnerability dep
  InfoLogger/package-lock.json
Due: infologger

move gh actions to test in docker
  .github/workflows/qc.yml
  QualityControl/coverage.lcov
  QualityControl/docker-compose.test.yml
  QualityControl/package.json
Due: qualitycontrol

Install devDependencies for testing in docker
  QualityControl/Dockerfile
Due: qualitycontrol

improve construction efficency
  QualityControl/Dockerfile
Due: qualitycontrol

Allow Docker to find dependencies
  QualityControl/Dockerfile
Due: qualitycontrol

Generalize the configuration endpoint
  InfoLogger/config-default.js
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/ConfigController.js
  InfoLogger/test/lib/controller/mocha-config-controller.js
Due: infologger

Rework front-end button for BKP form
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/common/bkpLogEntryRedirectButton.js
  InfoLogger/public/log/inspector.js
  InfoLogger/public/services/ConfigurationService.js
  InfoLogger/public/services/externalRouting/getBkpLogEntryFormUrl.js
Due: infologger

Fix eslint issues
  InfoLogger/public/common/bkpLogEntryRedirectButton.js
  InfoLogger/public/services/ConfigurationService.js
  InfoLogger/public/services/externalRouting/getBkpLogEntryFormUrl.js
Due: infologger

Fix forgotten new line
  InfoLogger/public/app.css
Due: infologger

Remove unused import
  InfoLogger/test/lib/controller/mocha-config-controller.js
Due: infologger

fix gh workflow
  .github/workflows/qc.yml
  QualityControl/Dockerfile
  QualityControl/docker-compose.test.yml
  QualityControl/docker-compose.yml
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

increase timeout for first tests
  QualityControl/test/public/initialPageSetup.test.js
Due: qualitycontrol

change timeout for first tests
  QualityControl/test/public/initialPageSetup.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Update PROTO files from AliECS
  Control/protobuf/o2control.proto
  Control/protobuf/protos/events.proto
  Framework/Backend/protobuf/protos/events.proto
Due: control, framework

Update as per review
  InfoLogger/public/services/externalRouting/getBkpLogEntryFormUrl.js
  InfoLogger/test/lib/controller/mocha-config-controller.js
Due: infologger

[OGUI-1567] ilg link to bkp (#2754)
  InfoLogger/config-default.js
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/ConfigController.js
  InfoLogger/package-lock.json
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/common/bkpLogEntryRedirectButton.js
  InfoLogger/public/log/inspector.js
  InfoLogger/public/services/ConfigurationService.js
  InfoLogger/public/services/externalRouting/getBkpLogEntryFormUrl.js
  InfoLogger/test/lib/controller/mocha-config-controller.js
  InfoLogger/test/live-simulator/fakeData.json
Due: infologger

Bump minor version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[release/ilg/1.15.0] (#2788)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

fix unused 'assert'
  QualityControl/test/lib/repositories/LayoutRepository.test.js
Due: qualitycontrol

gh workflow: add coverage to docker
  .github/workflows/qc.yml
  QualityControl/.dockerignore
  QualityControl/Dockerfile
  QualityControl/database/.gitignore
  QualityControl/database/CHANGELOG.md
  QualityControl/database/configuration/my.cnf
  QualityControl/database/populate/create-databases.sql
  QualityControl/database/populate/create-user.sql
  QualityControl/docker-compose.coverage.yml
  QualityControl/docker-compose.dev.yml
  QualityControl/docker-compose.test.yml
  QualityControl/docker-compose.yml
  QualityControl/index.js
  QualityControl/lib/database/config/config.js
  QualityControl/lib/database/index.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/scripts/wait-for-it.sh
  QualityControl/test/config.js
Due: qualitycontrol

fix test command and dockerfile
  QualityControl/Dockerfile
  QualityControl/docker-compose.coverage.yml
  QualityControl/docker-compose.test.yml
  QualityControl/docker-compose.yml
  QualityControl/package.json
Due: qualitycontrol
