Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Remove waitForTimeout usage
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Update test to wait for sidebar selector
  InfoLogger/public/view.js
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Add waitForSelector
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Rearrange tests to pause live mode before checking logs
  InfoLogger/test/public/live-mode-mocha.js
Due: infologger

Add new detector service for retrieving state
  Control/lib/services/Detector.service.js
  Control/test/lib/services/mocha-detector.service.test.js
Due: control

Make use of new detector service in env ctrl
  Control/lib/api.js
  Control/lib/controllers/Environment.controller.js
  Control/public/about/About.js
Due: control

[OGUI-1484] Check detector is available before new auto env (calib run) (#2323)
  Control/lib/api.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Detector.service.js
  Control/public/about/About.js
  Control/test/lib/services/mocha-detector.service.test.js
Due: control

bump ecs-gui release
  Control/package-lock.json
  Control/package.json
Due: control

bump ecs-gui release (#2324)
  Control/package-lock.json
  Control/package.json
Due: control

Use link attributes as intended
  QualityControl/public/common/sidebar.js
Due: qualitycontrol

Build URL based on filter update
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
Due: qualitycontrol

Patch Release bump
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1500] Layout filter parameters get reset (#2325)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
Due: qualitycontrol

Bump patch and fix e2e tests
  Control/package-lock.json
  Control/package.json
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

Add back minimum log flag
  Control/package.json
Due: control

[release/cog/1.68.1] Bump patch and fix e2e tests (#2326)
  Control/package-lock.json
  Control/package.json
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

Update PROTO files from AliECS
  Control/protobuf/o2control.proto
Due: control

conf
  Framework/Backend/http/server.js
Due: framework

Fix bug in which undefined parameters were not removed from filtering
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

[OGUI-1504] Fix bug in which undefined parameters were not removed from filtering (#2346)
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Match name of tab on prefix if strict match was not identified
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Expect runType in query params of URL redirect
  QualityControl/public/Model.js
Due: qualitycontrol

Expect runNumber in camelCase format
  QualityControl/public/Model.js
Due: qualitycontrol

Use definition instead of runDefinition as per BKP object
  QualityControl/public/Model.js
Due: qualitycontrol

[OGUI-1479] Update expected URL query parameters for layout redirect (#2347)
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Update path and add safe check
  QualityControl/public/common/object/checkersPanel.js
Due: qualitycontrol

[OGUI-1505] Update path and add safe check (#2355)
  QualityControl/public/common/object/checkersPanel.js
Due: qualitycontrol

Patch version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Patch version of QCG (#2356)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Remove superflous arguments
  Control/public/environment/components/controlEnvironmentPanel.js
  QualityControl/lib/QCModel.js
  QualityControl/public/common/header.js
  QualityControl/public/layout/view/page.js
Due: control, qualitycontrol

Fix warning "Semicolon Insertion" from CodeQL
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/external/BookkeepingFilterAdapter.js
  Control/lib/api.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/services/Lock.service.js
  Control/lib/services/Status.service.js
  Control/public/Model.js
  Control/public/workflow/Workflow.js
  Control/test/integration/create-new-environment.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
  Control/test/lib/services/mocha-status.service.test.js
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/websocket/server.js
Due: control, framework

Remove unused variable/test
  Control/public/environment/components/buttons.js
  Framework/Frontend/test/mocha-index.js
  Framework/docs/demo/notification.html
Due: control, framework

Fix warning on 'Semicolon Insertion'
  Control/public/configuration/configPage.js
  Control/public/environment/Environment.js
  Control/public/workflow/Workflow.js
Due: control

Improve on the CodeQL analysis and fix part of the warnings (#2357)
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/external/BookkeepingFilterAdapter.js
  Control/lib/api.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/services/Lock.service.js
  Control/lib/services/Status.service.js
  Control/public/Model.js
  Control/public/configuration/configPage.js
  Control/public/environment/Environment.js
  Control/public/environment/components/buttons.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/workflow/Workflow.js
  Control/test/integration/create-new-environment.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
  Control/test/lib/services/mocha-status.service.test.js
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/websocket/server.js
  Framework/Frontend/test/mocha-index.js
  Framework/docs/demo/notification.html
  QualityControl/lib/QCModel.js
  QualityControl/public/common/header.js
  QualityControl/public/layout/view/page.js
Due: control, qualitycontrol, framework

Fix 'semicolon insertion' warning
  Control/lib/services/Status.service.js
  InfoLogger/public/log/Log.js
Due: control, infologger

Fix 'useless assignment' warning
  QualityControl/lib/services/ccdb/CcdbService.js
Due: qualitycontrol

Further improvements from CodeQL Analysis (#2358)
  Control/lib/services/Status.service.js
  InfoLogger/public/log/Log.js
  QualityControl/lib/services/ccdb/CcdbService.js
Due: control, qualitycontrol, infologger

Add new events proto file
  Control/protobuf/protos/events.proto
Due: control

Add new file to track by gh action
  .github/workflows/proto-sync.yml
Due: none

Add EOF
  Control/protobuf/protos/events.proto
Due: control
