Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Bump QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Patch release for COG to fix an issue with undefined users (#3081)
  Control/package-lock.json
  Control/package.json
  Control/public/pages/Environments/Environments.page.js
Due: control

[release/qcg/3.15.0] (#3082)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

create sequelize repositories (data layer)
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/lib/database/repositories/ChartRepository.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
  QualityControl/test/lib/database/repositories/OptionRepository.test.js
  QualityControl/test/lib/database/repositories/TabRepository.test.js
  QualityControl/test/lib/database/repositories/UserRepository.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

feat: implement secure connection and fix unit tests
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/config.model.ts
  Tokenization/backend/wrapper/src/test/central/CentralSystem.test.ts
  Tokenization/backend/wrapper/src/test/central/CentralSystemWrapper.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/testCerts/ca.crt
  Tokenization/backend/wrapper/src/test/testCerts/centralSystem/central.system.svc.local.crt
  Tokenization/backend/wrapper/src/test/testCerts/centralSystem/central.system.svc.local.key
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b.svc.local.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b.svc.local.key
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a.svc.local.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a.svc.local.key
  Tokenization/backend/wrapper/src/test/testCerts/testCerts.ts
Due: none

feat: add testing certificates
  Tokenization/backend/wrapper/src/test/testCerts/ca.crt
  Tokenization/backend/wrapper/src/test/testCerts/centralSystem/central-system.crt
  Tokenization/backend/wrapper/src/test/testCerts/centralSystem/central-system.key
  Tokenization/backend/wrapper/src/test/testCerts/centralSystem/central.system.svc.local.crt
  Tokenization/backend/wrapper/src/test/testCerts/centralSystem/central.system.svc.local.key
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b-client.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b.key
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b.pub.pem
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b.svc.local.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b.svc.local.key
  Tokenization/backend/wrapper/src/test/testCerts/clientListenerServer/client-b-server.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientListenerServer/client-b.key
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a-client.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a-server.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a.key
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a.pub.pem
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a.svc.local.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientSender/client-a.svc.local.key
  Tokenization/backend/wrapper/src/test/testCerts/testCerts.ts
Due: none

Potential fix for code scanning alert no. 252: Unused variable, import, function or class
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
Due: none

get object by name or id, based on a context
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

patch qcg to v3.15.1
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1774] Bugfix: get object by ID properly if in object view from a layout (#3084)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

feat: add implementation of auth interceptor
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/config.model.ts
  Tokenization/backend/wrapper/src/models/connection.model.ts
Due: none

feat: update connection for tokens, fix decryption in auth interceptor, fix tests
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/models/connection.model.ts
  Tokenization/backend/wrapper/src/test/client/Commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/testCerts/testCerts.ts
Due: none

feat: add handling failed auths in the auth interceptor
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
Due: none

feat: create SecurityContext class and add signing alg verification to the auth interceptor
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/utils/security/SecurityContext.ts
Due: none

fix: fix interceptor and write tests
  Tokenization/backend/wrapper/src/client/Connection/Connection.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/models/config.model.ts
  Tokenization/backend/wrapper/src/models/connection.model.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
  Tokenization/backend/wrapper/src/test/testCerts/clientListener/client-b-server.crt
  Tokenization/backend/wrapper/src/test/testCerts/clientListenerServer/client-b.key
  Tokenization/backend/wrapper/src/test/testCerts/testCerts.ts
  Tokenization/backend/wrapper/src/utils/security/SecurityContext.ts
Due: none

object options enum
  QualityControl/common/library/enums/objectOptions.enum.js
  QualityControl/public/object/objectPropertiesSidebar.js
Due: qualitycontrol

support for seeds
  QualityControl/config-default.js
  QualityControl/jsconfig.json
  QualityControl/lib/config/database.js
  QualityControl/lib/database/SequelizeDatabase.js
  QualityControl/lib/database/migrations/20250424083717-create-tables.mjs
  QualityControl/lib/database/models/Layout.js
  QualityControl/lib/database/models/User.js
  QualityControl/lib/database/seeders/20250930071301-seed-users.mjs
  QualityControl/lib/database/seeders/20250930071308-seed-layouts.mjs
  QualityControl/lib/database/seeders/20250930071313-seed-tabs.mjs
  QualityControl/lib/database/seeders/20250930071317-seed-charts.mjs
  QualityControl/lib/database/seeders/20250930071322-seed-gridtabcells.mjs
  QualityControl/lib/database/seeders/20250930071334-seed-chart-options.mjs
Due: qualitycontrol

update repositories and their tests
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/lib/database/repositories/ChartRepository.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/lib/database/repositories/index.js
  QualityControl/lib/repositories/BaseRepository.js
  QualityControl/lib/repositories/ChartRepository.js
  QualityControl/lib/repositories/LayoutRepository.js
  QualityControl/lib/repositories/UserRepository.js
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
  QualityControl/test/lib/database/repositories/OptionRepository.test.js
  QualityControl/test/lib/database/repositories/UserRepository.test.js
  QualityControl/test/lib/repositories/ChartRepository.test.js
  QualityControl/test/lib/repositories/LayoutRepository.test.js
  QualityControl/test/lib/repositories/UserRepository.test.js
Due: qualitycontrol

mapper to patch a layout
  QualityControl/lib/services/layout/helpers/layoutMapper.js
  QualityControl/test/lib/services/layout/helpers/layoutMapper.test.js
Due: qualitycontrol

layout service helpers to keep the database synchronized
  QualityControl/lib/services/layout/helpers/chartOptionsSynchronizer.js
  QualityControl/lib/services/layout/helpers/gridTabCellSynchronizer.js
  QualityControl/lib/services/layout/helpers/mapObjectToChartAndCell.js
  QualityControl/lib/services/layout/helpers/tabSynchronizer.js
  QualityControl/test/lib/services/layout/helpers/ChartOptionsSynchronizer.test.js
  QualityControl/test/lib/services/layout/helpers/GridTabCellSynchronizer.test.js
  QualityControl/test/lib/services/layout/helpers/TabSynchronizer.test.js
Due: qualitycontrol

move bookkeeping service to external folder
  QualityControl/lib/services/external/BookkeepingService.js
  QualityControl/test/lib/services/BookkeepingService.test.js
Due: qualitycontrol

use services to interact with the repositories
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/UserService.js
  QualityControl/lib/services/layout/LayoutService.js
  QualityControl/lib/services/layout/UserService.js
  QualityControl/test/lib/services/layout/LayoutService.test.js
  QualityControl/test/lib/services/layout/UserService.test.js
Due: qualitycontrol

update controllers and middlewares
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/UserController.js
  QualityControl/lib/controllers/adapters/layout-adapter.js
  QualityControl/lib/dtos/UserSessionDto.js
  QualityControl/lib/middleware/layouts/layoutOwner.middleware.js
  QualityControl/lib/middleware/layouts/layoutService.middleware.js
  QualityControl/lib/middleware/layouts/layoutValidate.middleware.js
  QualityControl/lib/middleware/layouts/layoutsGet.middleware.js
  QualityControl/lib/middleware/validateUser.middleware.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/controllers/UserController.test.js
  QualityControl/test/lib/controllers/adapters/layout-adapter.test.js
  QualityControl/test/lib/middlewares/layouts/layoutId.middleware.test.js
  QualityControl/test/lib/middlewares/layouts/layoutOwner.middleware.test.js
  QualityControl/test/lib/middlewares/layouts/layoutService.middleware.test.js
  QualityControl/test/lib/middlewares/layouts/layoutValidate.middleware.test.js
  QualityControl/test/lib/middlewares/layouts/layoutsGet.middleware.test.js
  QualityControl/test/lib/middlewares/validateUser.middleware.test.js
Due: qualitycontrol

database configuration logic & refacotr api and QCModel
  QualityControl/config-default.js
  QualityControl/docs/Configuration.md
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/database.js
  QualityControl/lib/database/index.js
  QualityControl/test/config.js
Due: qualitycontrol

helpers tests
  QualityControl/lib/services/layout/LayoutService.js
  QualityControl/lib/services/layout/helpers/gridTabCellSynchronizer.js
  QualityControl/lib/services/layout/helpers/layoutMapper.js
  QualityControl/lib/services/layout/helpers/normalizeLayout.js
  QualityControl/test/demoData/layout/layout.mock.js
  QualityControl/test/lib/services/layout/helpers/normalizeLayout.test.js
Due: qualitycontrol

fix controller tests
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/adapters/layout-adapter.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/middlewares/layouts/layoutsGet.middleware.test.js
Due: qualitycontrol

modify migration to make layout names unique
  QualityControl/lib/database/migrations/20250424083717-create-tables.mjs
Due: qualitycontrol

fix lint issues
  QualityControl/lib/database/index.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/lib/database/seeders/20250930071334-seed-chart-options.mjs
  QualityControl/lib/middleware/layouts/layoutOwner.middleware.js
  QualityControl/lib/middleware/layouts/layoutValidate.middleware.js
  QualityControl/lib/services/layout/LayoutService.js
  QualityControl/lib/services/layout/UserService.js
  QualityControl/lib/services/layout/helpers/chartOptionsSynchronizer.js
  QualityControl/lib/services/layout/helpers/normalizeLayout.js
  QualityControl/lib/services/layout/helpers/tabSynchronizer.js
Due: qualitycontrol

Eslint rules for wrapper application. Changes in .github/workflows for linting and testing wrapper directory code
  .github/workflows/tokenization.yml
  Tokenization/backend/wrapper/eslint.config.js
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
Due: none

fix: unit tests and update token interface
  Tokenization/backend/wrapper/src/client/ConnectionManager/Interceptors/grpc.auth.interceptor.ts
  Tokenization/backend/wrapper/src/models/connection.model.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/Interceptors/grpc.auth.interceptor.test.ts
  Tokenization/backend/wrapper/src/utils/security/SecurityContext.ts
Due: none

feat: implement broadcasting on central system
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
Due: none

Part of token creation workflow working - selects for services and HTTP Methods. TODO: Loading Session Data doesn't work
  Tokenization/webapp/app/routes/tokens/create.tsx
  Tokenization/webapp/app/ui/alert.tsx
  Tokenization/webapp/app/ui/dialog.tsx
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
Due: none

bugfix: convert iterator into an array to be supported by safari
  QualityControl/public/pages/layoutListView/model/SearchFilterModel.js
Due: qualitycontrol

Bump QCG from 3.15.1 to 3.15.2
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

feat: add token commands to central system
  Tokenization/backend/wrapper/src/central/CentralSystemWrapper.ts
  Tokenization/backend/wrapper/src/central/Commands/getAllTokens/getAllTokens.command.ts
  Tokenization/backend/wrapper/src/central/Commands/renewToken/renewToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.command.ts
  Tokenization/backend/wrapper/src/client/Commands/newToken/newToken.handler.ts
  Tokenization/backend/wrapper/src/client/Commands/revokeToken/revokeToken.handler.ts
  Tokenization/backend/wrapper/src/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/src/models/commands.model.ts
  Tokenization/backend/wrapper/src/models/config.model.ts
  Tokenization/backend/wrapper/src/models/message.model.ts
  Tokenization/backend/wrapper/src/proto/wrapper.proto
Due: none

Changes in create.tsx for http methods
  Tokenization/webapp/app/routes/tokens/create.tsx
Due: none

Token panel updated with overwiew and token details pages updated. Revoking token workflow implemented
  Tokenization/backend/index.js
  Tokenization/webapp/app/components/tokens/action-block.tsx
  Tokenization/webapp/app/components/tokens/token.ts
  Tokenization/webapp/app/routes/tokens/details.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
Due: none

[OGUI-1782] Bug in safari: error using filter property by an iterator (#3095)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/pages/layoutListView/model/SearchFilterModel.js
Due: qualitycontrol

Update docker deps
  QualityControl/Dockerfile
Due: qualitycontrol

Update jsroot patch
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol
