Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Add pointer cursor on radio and checkbox label (#1332)
  Framework/Frontend/css/src/bootstrap.css
  Framework/docs/reference/frontend-css.html
Due: framework

Update model to use layout as service standard
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/services/Layout.service.js
Due: qualitycontrol

Refactor layout to user the service for userLayouts
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/folder/Folder.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/header.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/services/Layout.service.js
Due: qualitycontrol

Improve loaded items on page init
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Fix loading sidetree issue
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Metadata selection for layout + start of refactoring
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/utils/utils.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/LayoutClass.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/integration/qcg-test.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/lib/controllers/status-controller.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Bump qcg minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Remove forgotten consoles
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

Fix bug with timestamp list
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-1021] Allow users to filter a layout by fields from metadata (#1353) (prototype)
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/utils/utils.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/folder/Folder.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/LayoutClass.js
  QualityControl/public/layout/list/header.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/integration/qcg-test.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/lib/controllers/status-controller.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Bump patch version and disable headless
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/qcg-test.js
Due: qualitycontrol

Bump patch version and disable headless (#1354)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/qcg-test.js
Due: qualitycontrol

Fix undefined service
  QualityControl/public/Model.js
Due: qualitycontrol

Remove referrence to a deprecated service (#1355)
  QualityControl/public/Model.js
Due: qualitycontrol

Fix issue with using services before initialization
  QualityControl/public/Model.js
Due: qualitycontrol

Add runNumber to min object info panel in layout
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/minimalObjectInfo.js
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-1180] Use default Grafana refresh rate
  Control/lib/config/publicConfigProvider.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Due: control

Update documentation with expected return type
  Framework/Frontend/js/src/renderer.js
Due: framework

Improve visuals of object info panels
  QualityControl/public/Model.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/minimalObjectInfo.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
Due: qualitycontrol

[OGUI-1168] Add run number on plots in timeline panel (#1366)
  QualityControl/public/Model.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/minimalObjectInfo.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-1180] Use default Grafana refresh rate (#1364)
  Control/lib/config/publicConfigProvider.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Due: control

Add ILG btn for EPN on active envs and details
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentsPage.js
Due: control

Improve details on active envs page
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/test/integration/control-environment.js
  Control/test/mocha-index.js
  Control/test/public/page-environments-mocha.js
  Control/test/test-config.js
Due: control

Add button to toggle FLP panel values to "none"
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/mainPanel.js
Due: control

[OGUI-1178] Add ILG_EPN button on active envs and details pages (#1367)
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/test/integration/control-environment.js
  Control/test/mocha-index.js
  Control/test/public/page-environments-mocha.js
  Control/test/test-config.js
Due: control

[OGUI-1177] Add button to toggle FLP panel values to "none" (#1369)
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/mainPanel.js
Due: control

Bump COG version
  Control/package-lock.json
  Control/package.json
Due: control

Bump QCG minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Fix test issue with homePage
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/layout/list/page.js
  QualityControl/test/integration/qcg-test.js
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/layout-view.test.js
Due: qualitycontrol

[OGUI-1184] Fix test issue with homePage (#1370)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/layout/list/page.js
  QualityControl/test/integration/qcg-test.js
  QualityControl/test/public/index.js
  QualityControl/test/public/pages/layout-view.test.js
Due: qualitycontrol

Generalise date format on QCG front
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/common/utils.js
  QualityControl/public/layout/view/panels/minimalObjectInfo.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

Add missing eof line
  QualityControl/public/common/utils.js
Due: qualitycontrol

Update method docs
  QualityControl/public/common/utils.js
Due: qualitycontrol

[OGUI-1186] Generalise date format on QCG front (#1372)
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/common/utils.js
  QualityControl/public/layout/view/panels/minimalObjectInfo.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/view/objectViewPage.js
Due: qualitycontrol

Use full height of row in layout
  QualityControl/public/layout/view/page.js
Due: qualitycontrol

[OGUI-1187] Use full height of row in layout (#1373)
  QualityControl/public/layout/view/page.js
Due: qualitycontrol

Reset selected variables on configuration load
  Control/public/workflow/WorkflowForm.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
Due: control

OGUI-1190] Reset selected variables on configuration load (#1380)
  Control/public/workflow/WorkflowForm.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
Due: control

Update default shown columns
  InfoLogger/lib/ProfileService.js
  InfoLogger/public/table/Table.js
Due: infologger

Add option to return 1M logs
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
