Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Add Bookkeeping and RunConditionTable to docs table
  README.md
Due: none

[OGUI-1278] Fix filtering on days beyond the limits of the current month
  InfoLogger/public/common/Timezone.js
Due: infologger

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Bump JSROOT library and patch of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Enable new setting from JSROOT
  QualityControl/public/Model.js
Due: qualitycontrol

[OGUI-1281] Bump JSROOT and QCG patch versions (#1636)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
Due: qualitycontrol

Update package-lock following dependencies changes
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-1281] Add new and update fields in active envs
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-1271] Merge EPN and #EPNs columns
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-1271] Update tests following EPN merge columns
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-1167] Display "-" for ODC if EPN is off
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
Due: control

[OGUI-1281, OGUI-1271, OGUI-1167] Active Envs Page improvements (#1637)
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Due: control

Add heartbeat check for AliECS Core
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/GrpcProxy.js
Due: control

[OGUI-1286] Add heartbeat check for AliECS Core (#1638)
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/GrpcProxy.js
Due: control

Bump version of COG
  Control/package-lock.json
  Control/package.json
Due: control

@aliceo2/control@1.53.0 (#1639)
  Control/package-lock.json
  Control/package.json
Due: control

Remove integration-tests as they were moved to FLP repo
  Control/package.json
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Due: control

Sync proto file from Control repo
  Control/protobuf/o2control.proto
Due: control

Add logic for front-end kill button accessibility
  Control/public/environment/components/controlEnvironmentPanel.js
Due: control

Apply feedback from RC
  Control/public/environment/components/controlEnvironmentPanel.js
Due: control

Add missing eof line
  Control/public/environment/components/controlEnvironmentPanel.js
Due: control

[OGUI-1291] Add logic for front-end kill button accessibility (#1641)
  Control/public/environment/components/controlEnvironmentPanel.js
Due: control

Add ODC data from environment payload
  Control/protobuf/o2control.proto
  Control/public/Model.js
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
Due: control

Bump minor version for COG
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1292] Use ODC state from new Environment Payload (#1642)
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
Due: control

Bump dependencies in AliECS GUI
  Control/package-lock.json
  Control/package.json
Due: control

Bump dependencies for QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump deps for ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bump dependencies as per dependabot for COG/QCG/ILG (#1700)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Bump jsonwebtoken dependency and minor version
  Framework/package-lock.json
  Framework/package.json
Due: framework

Migrate to jwt9 and refactor token class
  Framework/Backend/http/O2WebToken.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/jwt/token.js
Due: framework

Update tests accordingly
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Backend/test/mocha-o2web-token.js
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

Keep try catch per operation and rename service
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/services/O2TokenService.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-o2web-token.js
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
Due: framework

[OGUI-1301] Migrate to jsonwebtoken v9 and refactor O2 token class (#1747)
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/jwt/token.js
  Framework/Backend/services/O2TokenService.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Backend/test/mocha-o2web-token.js
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

[O2B-778] Authenticate user even on public routes
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

[O2B-778] Authenticate user even on public routes (#1662)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Due: framework

[OGUI-1278] Fix filtering on days beyond the limits of the current month (#1624)
  InfoLogger/public/common/Timezone.js
Due: infologger

Update framework dependency
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/public/user-actions-mocha.js
Due: infologger

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
