Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-614] Run in Headless mode
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

Use new, simpler, API
  QualityControl/tobject2json.cc
Due: qualitycontrol

[OGUI-614] ILG Integration tests for FLP Suite (#561)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/integration/config-provider.js
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

1st ver
  Framework/Backend/services/jira.js
Due: framework

Working JIRA service
  Framework/Backend/services/jira.js
Due: framework

Add docs
  Framework/Backend/index.js
  Framework/Backend/services/jira.js
  Framework/README.md
  Framework/docs/guide/jira.md
Due: framework

Try mithril v2.0.4
  Framework/Frontend/js/lib/mithril.js
Due: framework

Fix CRLF
  Framework/Backend/db/mysql.js
Due: framework

Add improvs
  Framework/Backend/services/jira.js
  Framework/docs/guide/jira.md
Due: framework

Add tests
  Framework/Backend/test/mocha-jira.js
Due: framework

Fix eslint
  Framework/Backend/test/mocha-jira.js
Due: framework

fix tests
  Framework/Backend/test/mocha-jira.js
Due: framework

Fix tests2
  Framework/Backend/test/mocha-jira.js
Due: framework

Add fixes
  Framework/Backend/services/jira.js
  Framework/Backend/test/mocha-jira.js
Due: framework

adjust test
  Framework/Backend/test/mocha-jira.js
Due: framework

[OGUI-560] Try to fix CRLF warning (#569)
  Framework/Backend/db/mysql.js
Due: framework

[OGUI-612] Hide normal shutdown button
  Control/public/environment/environmentPage.js
Due: control

[OGUI-612] Bump COG patch version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-608] Add waiting time after request ends
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-610] Trim input from user KV environment
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
Due: control

[OGUI-610] Trim value after focus is removed from input
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-600] Remove center alignment
  Control/public/environment/environmentPage.js
Due: control

[OGUI-600] Left-Align in case of loading and error
  Control/public/environment/environmentPage.js
Due: control

Fix errors and update tests
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/test/mocha-index.js
Due: infologger

Fix small bugs and restructure tests
  InfoLogger/public/Model.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/test/mocha-index.js
Due: infologger

Update tests
  InfoLogger/public/Model.js
  InfoLogger/test/mocha-index.js
Due: infologger

enable headless mode
  InfoLogger/test/mocha-index.js
Due: infologger

[OGUI-586] Profile should use columns as well (#574)
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/test/mocha-index.js
Due: infologger

Create ProfileService and populate with getProfile
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
Due: infologger

[OGUI-609] Do not initialize page if form was already used
  Control/public/workflow/Workflow.js
Due: control

Bump AliECS patch version
  Control/package-lock.json
  Control/package.json
Due: control

add profile service tests
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/test/lib/mocha-profile-service.js
Due: infologger

[OGUI-609] keep form data new env (#575)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Due: control

[OGUI-600] Remove center alignment from tasks table (#573)
  Control/public/environment/environmentPage.js
Due: control

[OGUI-610] trim user input on creation of new env (#572)
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-608] Add waiting time after request ends in FLP CI Tests(#571)
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Due: control

[OGUI-612] hide shutdown button (#570)
  Control/public/environment/environmentPage.js
Due: control

Bump QCG version patch
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump QCG version patch 1.8.6 (#576)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

fix tests for profile service
  InfoLogger/test/lib/mocha-profile-service.js
Due: infologger
