Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Add enablers for deploying env
  Control/public/environment/Environment.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.page.js
  Control/public/pages/EnvironmentCreation/components/workflowCreationButton.component.js
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
  Control/public/pages/EnvironmentCreation/components/workflowTemplate.component.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
Due: control

Removed unused components
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.page.js
  Control/public/pages/EnvironmentCreation/components/detector.component.js
  Control/public/pages/EnvironmentCreation/components/detectors.component.js
  Control/public/pages/EnvironmentCreation/components/workflowTemplate.component.js
Due: control

Remove dead code
  Control/public/app.css
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
Due: control

Send number of EPNs as string
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
Due: control

Correctly display button
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
Due: control

Add ID to client-request for certain objects
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Patch version of QC
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1405] No ID passed in some object selection (#2105)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Rename test file as per convention
  Control/test/lib/services/mocha-status-service.test.js
Due: control

Add way for retrieving system components status
  Control/lib/common/runtimeComponents.enum.js
  Control/lib/common/statusComponents.enum.js
  Control/lib/services/Status.service.js
  Control/test/lib/services/mocha-status-service.test.js
Due: control

Add interval check for system check
  Control/lib/services/Intervals.service.js
Due: control

Tie new service to API route
  Control/lib/api.js
  Control/lib/controllers/Status.controller.js
Due: control

[OGUI-1406] API route for system compatbility check (#2106)
  Control/lib/api.js
  Control/lib/common/runtimeComponents.enum.js
  Control/lib/common/statusComponents.enum.js
  Control/lib/controllers/Status.controller.js
  Control/lib/services/Intervals.service.js
  Control/lib/services/Status.service.js
  Control/test/lib/services/mocha-status-service.test.js
Due: control

Display statuses sorted alphabetically by name
  Control/public/about/components/panels/servicesResolvedPanel.js
Due: control

Add system component to query status list
  Control/public/about/About.js
  Control/public/about/components/serviceCard.js
Due: control

Move tasks control buttons in page
  Control/public/task/content.js
  Control/public/task/header.js
Due: control

Remove unused button from header of envs
  Control/public/environment/environmentsPage.js
Due: control

Initialize status when loading app
  Control/public/Model.js
  Control/public/about/About.js
  Control/public/common/constants/statusComponents.enum.js
Due: control

Add alert panel
  Control/public/app.css
  Control/public/common/alertPanel.js
  Control/public/view.js
Due: control

Add forgotten eof line
  Control/public/app.css
Due: control

[OGUI-1373] Add system versions to status and display in header in case of errors (#2107)
  Control/public/Model.js
  Control/public/about/About.js
  Control/public/about/components/panels/servicesResolvedPanel.js
  Control/public/about/components/serviceCard.js
  Control/public/app.css
  Control/public/common/alertPanel.js
  Control/public/common/constants/statusComponents.enum.js
  Control/public/environment/environmentsPage.js
  Control/public/task/content.js
  Control/public/view.js
Due: control

Update error panel label
  Control/public/common/alertPanel.js
Due: control

Update sidebar items
  Control/public/common/sidebar.js
Due: control

Update env creation page as per feedback
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.page.js
  Control/public/pages/EnvironmentCreation/components/workflowCreationButton.component.js
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
  Control/public/pages/EnvironmentCreation/components/workflowTemplate.component.js
Due: control

Update detectors panel to differentiate global detectors
  Control/public/workflow/panels/flps/detectorsPanel.js
Due: control

[OGUI-1243] New simplified creation page (#2099)
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/alertPanel.js
  Control/public/common/panel/panel.js
  Control/public/common/panel/panelTitle.js
  Control/public/common/sidebar.js
  Control/public/environment/Environment.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.page.js
  Control/public/pages/EnvironmentCreation/components/workflowCreationButton.component.js
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
  Control/public/pages/EnvironmentCreation/components/workflowTemplate.component.js
  Control/public/services/DetectorService.js
  Control/public/typedefs/DetectorAvailability.js
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

Bump COG version
  Control/package-lock.json
  Control/package.json
  Control/test/integration/config-provider.js
Due: control

Bump COG version (#2108)
  Control/package-lock.json
  Control/package.json
  Control/test/integration/config-provider.js
Due: control

Bump QCG patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump JSROOT
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[WAITING] Bump QCG patch version (#2109)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update PROTO files from AliECS
  Control/protobuf/o2control.proto
Due: control

Added a rate limiter
  Framework/Backend/config-default.json
  Framework/Backend/http/server.js
  Framework/package-lock.json
Due: framework

Added tests
  Framework/Backend/test/mocha-http.js
Due: framework

Added rate limiter
  Framework/Backend/config-default.json
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Update project runners to using node 18
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/proto-sync.yml
  .github/workflows/qc.yml
  Control/package.json
  Framework/package.json
  InfoLogger/package.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger, framework

Update project runners to using node 18 (#2114)
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/proto-sync.yml
  .github/workflows/qc.yml
  Control/package.json
  Framework/package.json
  InfoLogger/package.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger, framework

Update release runner as well
  .github/workflows/release.yml
Due: none

Update release action to use nodejs 18 (#2115)
  .github/workflows/release.yml
Due: none

Update LayoutDto.js
  QualityControl/lib/dtos/LayoutDto.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
