Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Bump patch version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1416] Update LayoutDto.js (#2116)
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Add Bookkeeping Service for retrieving runs
  Control/README.md
  Control/config-default.js
  Control/lib/adapters/CalibrationRunInfoAdapter.js
  Control/lib/services/Bookkeeping.service.js
  Control/lib/typedefs/CalibrationRunInfo.js
Due: control

Rename object to general RunInfo
  Control/lib/adapters/RunInfoAdapter.js
  Control/lib/services/Bookkeeping.service.js
  Control/lib/typedefs/RunInfo.js
Due: control

Update tests for BKP Service
  .eslintrc.js
  Control/lib/adapters/RunInfoAdapter.js
  Control/lib/services/Bookkeeping.service.js
  Control/test/lib/services/mocha-bookkeeping.service.test.js
Due: control

Add clients to API status request
  Control/lib/services/Status.service.js
  Control/test/lib/services/mocha-status-service.test.js
Due: control

[OGUI-1418] Add clients to API status request (#2133)
  Control/lib/services/Status.service.js
  Control/test/lib/services/mocha-status-service.test.js
Due: control

Add ways for removing specific FLPs
  Control/lib/control-core/CoreUtils.js
  Control/test/lib/mocha-core-utils.test.js
Due: control

[OGUI-1419] Add ways for removing specific FLPs (#2134)
  Control/lib/control-core/CoreUtils.js
  Control/test/lib/mocha-core-utils.test.js
Due: control

Reload configuration on global deployment
  Control/lib/api.js
  Control/lib/control-core/RequestHandler.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
Due: control

[OGUI-1420] Reload configuration on global deployment (#2135)
  Control/lib/api.js
  Control/lib/control-core/RequestHandler.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
Due: control

Bump COG version:
  Control/package-lock.json
  Control/package.json
Due: control

Bump COG version: (#2136)
  Control/package-lock.json
  Control/package.json
Due: control

Update dependency as per NPM audit recommendation
  InfoLogger/package-lock.json
Due: infologger

Update dependency as per NPM audit recommendation in Control
  Control/package-lock.json
Due: control

Add documentation on using nodejs profiling
  README.md
  documentation/NODEJS_PROFILING.md
Due: none

[deps] Updates dependency package-lock file as per NPM recommendation (#2142)
  Control/package-lock.json
  InfoLogger/package-lock.json
Due: control, infologger

Add documentation on using nodejs profiling (#2143)
  README.md
  documentation/NODEJS_PROFILING.md
Due: none

Pass log as parameter to function
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-1423] Pass log as parameter to function (#2144)
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-1425] Allow download of up to 1M logs
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
Due: infologger

[OGUI-1425] Allow download of up to 1M logs (#2145)
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
Due: infologger

Add defaults for name to be used in browser tab
  InfoLogger/lib/StatusService.js
  InfoLogger/public/index.js
Due: infologger

Remove info on host and port from status API call
  InfoLogger/lib/StatusService.js
  InfoLogger/test/lib/mocha-status-service.js
Due: infologger

Remove open access to framework info API call
  InfoLogger/lib/api.js
Due: infologger

[OGUI-1426] && [OGUI-1427] Improve resilience of ILG (#2146)
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/public/index.js
  InfoLogger/test/lib/mocha-status-service.js
Due: infologger

Add number of active sessions to status API
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/test/lib/mocha-status-service.js
Due: infologger

Rename test file as per convention
  InfoLogger/test/lib/mocha-status-service.test.js
Due: infologger

[OGUI-1418] Add number of active sessions to /status/gui route (#2147)
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/test/lib/mocha-status-service.test.js
Due: infologger

Apply message field filter as last check in live
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

[OGUI-1424] Apply message field filter as last check in live (#2148)
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Add number of active clients to status API
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol

[OGUI-1418] Add number of active clients to status API (#2149)
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Due: qualitycontrol

Bump JSROOT to 7.5.0
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump QCG own version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

release/qcg/3.6.0 (#2150)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Remove usage of eval from front-end
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

[OGUI-1428] Remove usage of eval from front-end (#2151)
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

Bump ILG own version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Bump ILG own version (#2152)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
