Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

feat: Duplex stream with specific payload message events.
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

feat: Duplex stream with specific payload message events.
  Tokenization/backend/wrapper/proto/wrapper.proto
  Tokenization/backend/wrapper/wrapper.proto
Due: none

feat: Create typescript interfaces for duplex stream message model
  Tokenization/backend/wrapper/models/message.model.ts
  Tokenization/backend/wrapper/wrapper.proto
Due: none

feat: Add description to typescript interfaces
  Tokenization/backend/wrapper/models/message.model.ts
Due: none

feat: implement serialization and deserialization methods
  Tokenization/backend/wrapper/utils/__tests__/serialization.utils.test.ts
  Tokenization/backend/wrapper/utils/serialization.utils.ts
Due: none

chore: implement base application layout
  Configuration/package-lock.json
  Configuration/webapp/app/components/layout/Content.tsx
  Configuration/webapp/app/components/layout/Header.tsx
  Configuration/webapp/app/components/layout/LeftDrawer.tsx
  Configuration/webapp/app/components/layout/MainLayout.tsx
  Configuration/webapp/app/root.tsx
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none

feat: implement getConfigurationByKey endpoint, refactor QCConfigurationController and create QCConfiguration.service
  Control/lib/api.js
  Control/lib/controllers/Configuration.controller.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
Due: control

feat: add package dependencies and write unit tests for serialization utils
  Tokenization/backend/wrapper/jest.config.js
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/utils/__tests__/serialization.utils.test.ts
Due: none

fix: fixed oneof variable naming
  Tokenization/backend/wrapper/proto/wrapper.proto
Due: none

feat: Duplex stream with specific payload message events.
  Tokenization/backend/wrapper/wrapper.proto
Due: none

feat: Create grpc wrapper with basic connection manager and central system wrapper
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/package-lock.json
  Tokenization/backend/wrapper/package.json
  Tokenization/backend/wrapper/tsconfig.json
Due: none

fix: fix grpc addresses to properly connect both client and central system
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
Due: none

fix: add a short delay to fix test
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

fix: check for null on console logs
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

Added first version of implementetion structure
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/central-system/tsconfig.json
  Tokenization/backend/index.js
Due: none

Fixed import mistake
  Tokenization/backend/index.js
Due: none

temp: fix commit for object versioning rightside pannel
  QualityControl/public/Model.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/model/filterModel.js
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

feat: close object right-side detail when triggering filter
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

chore: add documentation
  QualityControl/public/common/filters/model/filterModel.js
Due: qualitycontrol

Retrieving tokens works
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/index.js
Due: none

Fixed SetTimeOut loading imitation
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/index.js
Due: none

Post functional test working version
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/src/CentralSystem.ts
Due: none

feat: add filter to aboutPage
  QualityControl/public/common/header.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
Due: qualitycontrol

chore: rename mock data for object
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

fix: refactor comments
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
Due: none

fix: change central system class name to avoid conflicts with central system
  Tokenization/backend/wrapper/central/CentralSystem.ts
Due: none

chore: add new nock endpoint
  QualityControl/test/setup/testSetupForCcdb.js
Due: qualitycontrol

Matched descriptions to the central-system-structure branch
  Tokenization/backend/central-system/dist/CentralSystem.js
  Tokenization/backend/central-system/src/CentralSystem.ts
  Tokenization/backend/wrapper/central/CentralSystem.ts
Due: none

feat: implement Connection class and a map storing all receiving and sending connections in ConnectionManager
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/package.json
Due: none

chore: rename function parameter to fiterableModel
  QualityControl/public/common/filters/model/filterModel.js
Due: qualitycontrol

feat: implement replacing new token for client from central system
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/models/message.model.ts
Due: none

Configure docker compose to wait for previous stages
  Configuration/docker-compose.yml
  Configuration/docker/provisioning/nginx/conf.d/default.conf
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/prettier.config.ts
Due: none

fix: remove unnecessary comments
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
Due: none

added testing functionality
  Tokenization/backend/central-system/package-lock.json
  Tokenization/backend/central-system/package.json
  Tokenization/backend/central-system/test/tests/tokens.test.js
Due: none

feat: implement token revokation by changing connection status
  Tokenization/backend/wrapper/central/CentralSystem.ts
  Tokenization/backend/wrapper/client/Connection/Connection.ts
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
  Tokenization/backend/wrapper/models/connection.model.ts
Due: none

fix: remove unnecessary params
  Tokenization/backend/wrapper/client/ConnectionManager/ConnectionManager.ts
Due: none

fix: replace layout for layoutListModel in header
  QualityControl/public/common/header.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
