Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

merge layout show tests
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
Due: qualitycontrol

update mock data
  QualityControl/test/public/pages/edit-layout.test.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
Due: qualitycontrol

rename layout view to layout show
  QualityControl/test/test-index.js
Due: qualitycontrol

update timeouts for tests
  QualityControl/test/test-index.js
Due: qualitycontrol

improve definition of should load test
  QualityControl/test/public/pages/layout-view.test.js
Due: qualitycontrol

use deepStrictEqual to compare objects
  QualityControl/test/public/pages/layout-view.test.js
Due: qualitycontrol

change test file name. update total timeout
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

delete import layout-view test file (removed to use layout-show)
  QualityControl/test/test-index.js
Due: qualitycontrol

rename layoutViewTests to layoutShowTests
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

[OGUI 1566] Adapt layout view page tests (#2650)
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/test-index.js
Due: qualitycontrol

fix error declaring identifier twice
  QualityControl/test/test-index.js
Due: qualitycontrol

fix: resolve ESLint warning
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

fix cancel button test
  QualityControl/test/public/pages/edit-layout.test.js
Due: qualitycontrol

Remove check on permissions as it was moved to parent
  Control/public/workflow/workflowsPage.js
Due: control

Add root check on what pages a user can view
  Control/public/view.js
Due: control

Add extra check on user seeing buttons as guests
  Control/public/lock/lockPage.js
Due: control

Update tests as per new permission message
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-1572] Add root check of user permissions before building UI page (#2654)
  Control/public/lock/lockPage.js
  Control/public/view.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Update QC GH workflows
  .github/workflows/qc.yml
  QualityControl/package.json
Due: qualitycontrol

Improve label description
  .github/workflows/qc.yml
Due: none

[OGUI-1570] Update QC GH workflows to run lint first and only after coverage and tests (#2655)
  .github/workflows/qc.yml
  QualityControl/package.json
Due: qualitycontrol

Update tests to always create a copy of the original mock data and use that
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

Remove local mock data file for testing
  QualityControl/test/setup/seeders/qcg-mock-data.json
Due: qualitycontrol

Add template mock data for seeders that is not to be changed
  QualityControl/.gitignore
  QualityControl/test/setup/seeders/qcg-mock-data-template.json
Due: qualitycontrol

Create test file before server start
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

[OGUI-1569] Copy mock data before tests are run to ensure a clean state all the time (#2656)
  QualityControl/.gitignore
  QualityControl/test/setup/seeders/qcg-mock-data-template.json
  QualityControl/test/setup/testServerSetup.js
Due: qualitycontrol

revert baseUrl change in jsconfig.json
  QualityControl/jsconfig.json
Due: qualitycontrol

open edit modal from component
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

fix changes after review
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/test/public/pages/edit-layout.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/layout-show/json-file-mock.js
Due: qualitycontrol

Add middleware check on lock action
  Control/lib/api.js
Due: control

Add API test suite for lock actions
  Control/package-lock.json
  Control/package.json
  Control/test/api/generateToken.js
  Control/test/api/lock/api-get-locks.test.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

Fix GH warnings
  Control/test/mocha-index.js
Due: control

[OGUI-1573] Add minimumRoleMiddleware check on lock/:action API (#2657)
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/test/api/generateToken.js
  Control/test/api/lock/api-get-locks.test.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Due: control

Bump
  Control/package-lock.json
  Control/package.json
Due: control

Bump cog minor version 1.74.0 (#2658)
  Control/package-lock.json
  Control/package.json
Due: control

Display ALL actions just for Global and above
  Control/public/lock/lockPage.js
Due: control

Patch COG version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1572] Display actions for all locks only for global and above (#2659)
  Control/package-lock.json
  Control/package.json
  Control/public/lock/lockPage.js
Due: control

fix loading objects issue. track objects list status
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

display message if no objects are found when searching
  QualityControl/public/object/virtualTable.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
