Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Integrated EDIT_BOX height rows request
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/components.js
Due: control

[OGUI-1624] Integrated EDIT_BOX height rows request (#2950)
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/components.js
Due: control

Bump and fix vulnerabilities
  Control/package-lock.json
  Control/package.json
Due: control

[release/cog/1.80.0] (#2951)
  Control/package-lock.json
  Control/package.json
Due: control

style: cause siscoloration for odd and even objectTreeEntries
  QualityControl/public/app.css
  QualityControl/public/pages/objectTreeView/component/objectTreeItem.js
Due: qualitycontrol

fix: fix eslint issue
  QualityControl/public/pages/objectTreeView/component/objectTreeItem.js
Due: qualitycontrol

feature: add endpoint for retrieving configuration restrictions
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
Due: control

style: optimalise css usage
  QualityControl/public/app.css
Due: qualitycontrol

chore: add test suites for the code
  Control/test/api/configuration/api-get-configuration-restrictions.test.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
  Control/test/mocha-index.js
Due: control

[OGUI-1720] Update label display timestamp (#2934)
  QualityControl/public/layout/view/panels/settings.js
Due: qualitycontrol

[QCG] Create test debug script (#2872)
  QualityControl/docs/Testing.md
  QualityControl/package.json
  QualityControl/test/setup/testServerSetup.js
  codecov.yml
Due: qualitycontrol

chore: comply to review comments
  .github/workflows/configuration.yml
  Configuration/webapp/package.json
Due: none

[OGUI-1723] Add ESLint, Prettier and GH Actions to the Configuration project (#2945)
  .github/workflows/configuration.yml
  Configuration/webapp/.prettierignore
  Configuration/webapp/app/components/logs/log.ts
  Configuration/webapp/app/components/runs/run-logs.tsx
  Configuration/webapp/app/components/runs/run.ts
  Configuration/webapp/app/root.tsx
  Configuration/webapp/app/routes/home.tsx
  Configuration/webapp/app/routes/runs/details.tsx
  Configuration/webapp/app/routes/runs/overview.tsx
  Configuration/webapp/app/ui/icon.tsx
  Configuration/webapp/app/ui/navbar.tsx
  Configuration/webapp/app/ui/spinner.tsx
  Configuration/webapp/custom_eslint_rules/copyright-license.js
  Configuration/webapp/custom_eslint_rules/index.js
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
  Configuration/webapp/prettier.config.js
Due: none

Remove criteria for detectors to always be present in environment
  Control/lib/middleware/getDetectorsLockOwnershipMiddlewareFactory.js
  Control/lib/middleware/setDetectorsFromEnvironmentMiddlewareFactory.js
Due: control

Add default value for requested detectors in lock service
  Control/lib/services/Lock.service.js
Due: control

Update tests for scenario in which an environment is detectorless
  Control/test/lib/middleware/mocha-getDetectorsLockOwnershipMiddlewareFactory.js
  Control/test/lib/services/mocha-lock.service.test.js
Due: control

Potential fix for code scanning alert no. 206: Missing variable declaration
  Control/test/lib/middleware/mocha-getDetectorsLockOwnershipMiddlewareFactory.js
Due: control

[OGUI-1736] Allow detectorless envs to be destroyed (#2959)
  Control/lib/middleware/getDetectorsLockOwnershipMiddlewareFactory.js
  Control/lib/middleware/setDetectorsFromEnvironmentMiddlewareFactory.js
  Control/lib/services/Lock.service.js
  Control/test/lib/middleware/mocha-getDetectorsLockOwnershipMiddlewareFactory.js
  Control/test/lib/services/mocha-lock.service.test.js
Due: control

move run monitoring to new service
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/RunMonitoringService.js
Due: qualitycontrol

add tests, update controller tests
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/services/RunMonitoringService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

check status only if needed. improve jsdoc
  QualityControl/lib/services/RunMonitoringService.js
Due: qualitycontrol

undo skipping drontend tests
  QualityControl/test/test-index.js
Due: qualitycontrol

Fix /configurations api-tests by adding nock
  Control/index.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/config/testConfigForConsul.js
  Control/test/mocha-index.js
Due: control

chore: change how navigation is handled
  Configuration/webapp/app/components/config-navigator/ConfigNavigatorItem.tsx
  Configuration/webapp/app/config.ts
  Configuration/webapp/app/hooks/useConfigurationNavigate.ts
Due: none

Add api tests for /configuration endpoint
  Control/test/api/configuration/api-get-configuration.test.js
  Control/test/config/testConfigForConsul.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
  Control/test/mocha-index.js
Due: control

feature: add Form for editing the configurations
  Configuration/webapp/app/api/query/useConfigurationQuery.ts
  Configuration/webapp/app/api/query/useConfigurationRestrictionsQuery.ts
  Configuration/webapp/app/components/form/Form.tsx
  Configuration/webapp/app/components/form/Widget.tsx
  Configuration/webapp/app/components/layout/content/Content.tsx
  Configuration/webapp/app/components/layout/content/ContentHeader.tsx
  Configuration/webapp/app/routes/configuration.tsx
Due: none

Rename RunStatus in line with BKP namings
  QualityControl/common/library/runStatus.enum.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/test/lib/services/BookkeepingService.test.js
Due: qualitycontrol

Update RunMode to check for runMode only
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/Intervals.service.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/lib/services/RunMonitoringService.js
  QualityControl/test/lib/services/RunMonitoringService.test.js
Due: qualitycontrol

Update Object Controller
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

More updates to revert refactor
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

Add interval only if config bkp is defined
  QualityControl/lib/QCModel.js
  QualityControl/lib/services/FilterService.js
Due: qualitycontrol

adapt object controller test
  QualityControl/test/lib/controllers/ObjectController.test.js
Due: qualitycontrol

bkp tests: invalid status -> not found (run status)
  QualityControl/test/lib/services/BookkeepingService.test.js
Due: qualitycontrol

new QcObjectService test suite
  QualityControl/test/lib/services/QcObjectService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

run mode service test suite
  QualityControl/test/lib/services/RunModeService.test.js
  QualityControl/test/lib/services/RunMonitoringService.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

fix filter service test suite
  QualityControl/test/lib/services/FilterService.test.js
Due: qualitycontrol

fix: initialize intervals to include runModeService
  QualityControl/lib/QCModel.js
Due: qualitycontrol

fix: error destructuring run number if not provided
  QualityControl/lib/controllers/ObjectController.js
Due: qualitycontrol

Change /configuration endpoint with query parameter to /configurations with route parameter, update tests and fix things after code review
  Control/lib/api.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/api/configuration/api-get-configuration.test.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
Due: control

chore: fix ESLint for test files
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none
