Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

[OGUI-721] Use non-deprecated method
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-721] Fix promise for object selection
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-721] Update CI workflows
  .github/workflows/qc.yml
  .github/workflows/release.yml
Due: none

[OGUI-721] Use promise instead of callback
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-721] Small improvements on JSROOT
  QualityControl/lib/QCModelDemo.js
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/object/QCObject.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-721] Migrate JSROOT style to settings
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/object/objectDraw.js
Due: qualitycontrol

[OGUI-721] Add configurable URL
  QualityControl/config-default.js
  QualityControl/lib/api.js
  QualityControl/public/Model.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-721] Run tests in headless mode
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-721] Add default for ccdb url
  QualityControl/public/Model.js
Due: qualitycontrol

[OGUI-721] Load pages after ccdb-plot url is updated
  QualityControl/public/Model.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[OGUI-712] Bump Major Version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-721] Add rc version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-721] Migrate to JSROOT 6.0.1 (#705)
  .github/workflows/qc.yml
  .github/workflows/release.yml
  QualityControl/binding.gyp
  QualityControl/config-default.js
  QualityControl/export.js
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/mocha-index.js
  QualityControl/tobject2json.cc
  QualityControl/zstd/zstd/zstd-codec.min.js
Due: qualitycontrol

Adapt QCG C++ binding to renamed QC library
  QualityControl/binding.gyp
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-811] Update readme
  QualityControl/README.md
Due: qualitycontrol

[OGUI-803] Updat facility of the logs
  QualityControl/index.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/configProvider.js
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-803] Update tests with new messages
  QualityControl/test/lib/mocha-ccdb-connector.js
  QualityControl/test/lib/mocha-json-db.js
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-721] Use new file of JSRoot
  QualityControl/public/Model.js
  QualityControl/public/index.html
Due: qualitycontrol

Use minimal_dpl_enabled instead of dplmw_enabled variable when creating env
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

patch version
  Control/package-lock.json
  Control/package.json
Due: control

Use minimal_dpl_enabled variable when creating env (#708)
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-721] Update syntax
  QualityControl/public/index.html
Due: qualitycontrol

Adapt Grafana dashboard ID (#702)
  Control/lib/api.js
Due: control

[OGUI-721] Remove unused variable
  QualityControl/public/Model.js
Due: qualitycontrol

[OGUI-816] Make query time configurable in FLP tests
  InfoLogger/test/integration/config-provider.js
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

[OGUI-816] Bump patch version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[OGUI-816] Add back minimum log
  InfoLogger/package.json
Due: infologger

[OGUI-816] Increase query waiting time (#710)
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/integration/config-provider.js
  InfoLogger/test/integration/ilg-query-tests.js
Due: infologger

[OGUI-721] Migrate to new js root promises file (#709)
  QualityControl/public/Model.js
  QualityControl/public/index.html
Due: qualitycontrol

[OGUI-811] Update readme for qcg v2(#706)
  QualityControl/README.md
Due: qualitycontrol

Set default log limit to 10k
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-787] Set default log limit to 10k (#714)
  InfoLogger/public/log/Log.js
Due: infologger

[OGUI-811] Update workflow to simply use npm i
  .github/workflows/framework.yml
Due: none

[OGUI-811] Update workflow to simply use npm i (#715)
  .github/workflows/framework.yml
Due: none

[OGUI-823] Add variables description in env page
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
Due: control

Remove call to JSROOT.parse
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-823] Staging
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
Due: control

[OGUI-824] add all payload
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-824] Remove unused import
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-824] Bump minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
