Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

[OGUI-1356] Add pass name to object metadata (#1967)
  QualityControl/lib/dtos/QCObjectDto.js
Due: qualitycontrol

Update puppeteer to latest version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Release QCG 3.2.3 (#1968)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-339] Bump JSROOT
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-339] Bump JSROOT (#1969)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update test file
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Escape double quotes for browser URL
  InfoLogger/public/logFilter/LogFilter.js
Due: infologger

[OGUI-1357] Double quotes will break URL formatting (#1970)
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

[OGUI-1197] Update number of logs to query buttons
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

[OGUI-1197] Update number of logs to query buttons (#1971)
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/commandFilters.js
Due: infologger

[OGUI-1255] Order of tab to go through input
  InfoLogger/public/logFilter/tableFilters.js
Due: infologger

[OGUI-1255] Order of tab to go through input (#1972)
  InfoLogger/public/logFilter/tableFilters.js
Due: infologger

[OGUI-1305] QCG should not send ts anymore as QC uses validity intervals
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/ObjectService.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Update old service not to send -1 either
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-1305] QCG should not send ts anymore as QC uses validity intervals (#1973)
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/ObjectService.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

Pass timestamp when navigating from tree page
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Update URL based on TS selection
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

LayoutView should not send timestamp
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

[OGUI-683] Object view should expect TS from other pages and update accordingly (#1974)
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

[OGUI-805] TS should not be re-requested when it is provided
  QualityControl/lib/services/ObjectService.js
Due: qualitycontrol

[OGUI-805] TS should not be re-requested when it is provided (#1975)
  QualityControl/lib/services/ObjectService.js
Due: qualitycontrol

[OGUI-1315] Update tab dynamically based on selection
  QualityControl/public/Model.js
  QualityControl/public/common/utils.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

[OGUI-1315] Update tab dynamically based on selection (#1976)
  QualityControl/public/Model.js
  QualityControl/public/common/utils.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Due: qualitycontrol

Update server endpoints to allow for description
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/layout-controller.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Add input box for users to input layout description
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/panels/settings.js
Due: qualitycontrol

[OGUI-1227] Layouts should accept descriptions (#1977)
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/panels/settings.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/layout-controller.test.js
  QualityControl/test/mocha-index.js
Due: qualitycontrol

Add filtering for ObjectView
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

Layout should pass parameters to objectView
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
Due: qualitycontrol

[OGUI-1201] Add filtering for ObjectView (#1978)
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

Bump Release of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump Release of QCG (#1979)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Update mocha-index.js to use new headless mode
  Control/test/mocha-index.js
Due: control

Update core-tests.js to use new headless
  Control/test/integration/core-tests.js
Due: control

Update mocha-index.js
  Control/test/mocha-index.js
Due: control

Save configuration pairs sorted alphabetically
  Control/lib/dtos/CoreEnvConfig.js
  Control/test/lib/control-core/mocha-apricot-service.js
Due: control

[OGUI-1367] Save configuration pairs sorted alphabetically (#1981)
  Control/lib/dtos/CoreEnvConfig.js
  Control/test/lib/control-core/mocha-apricot-service.js
Due: control

Bump version of COG for release
  Control/package-lock.json
  Control/package.json
Due: control

Bump version of COG for release (#1982)
  Control/package-lock.json
  Control/package.json
Due: control

Add new endpoint for retrieving stats by runNumber
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/QueryController.mjs
  InfoLogger/test/lib/controller/mocha-QueryController.mjs
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger
