Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Remove unused import
  InfoLogger/test/lib/controller/mocha-QueryController.mjs
Due: infologger

[OGUI-1355] Add new endpoint for logs stats (#1983)
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/QueryController.mjs
  InfoLogger/test/lib/controller/mocha-QueryController.mjs
  InfoLogger/test/lib/mocha-sqldatasource.js
Due: infologger

Add option to name ILG instance
  InfoLogger/config-default.js
  InfoLogger/lib/StatusService.js
  InfoLogger/public/Model.js
  InfoLogger/public/common/utils.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/test/integration/ilg-query-tests.js
  InfoLogger/test/lib/mocha-status-service.js
  InfoLogger/test/test-config.js
Due: infologger

Bump minor version of ILG
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

[release/ilg/1.12.0] (#1984)
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: infologger

Update release job
  .github/workflows/release.yml
Due: none

Update release job following deprecated commands
  .github/workflows/release.yml
Due: none

[OGUI-1369] Updates on release GH Action Job (#1985)
  .github/workflows/release.yml
Due: none

[OGUI-1374] Add groups and labeling for dependabot
  .github/dependabot.yml
Due: none

[OGUI-1374] Add groups and labeling for dependabot (#2015)
  .github/dependabot.yml
Due: none

[OGUI-1349] Fix typo in label usage for QC dependabot
  .github/dependabot.yml
Due: none

[OGUI-1349] Fix typo in label usage for QC dependabot (#2020)
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update PROTO files from AliECS
  Control/protobuf/o2apricot.proto
  Control/protobuf/o2control.proto
Due: control

Add error converters for gRPC and express
  Control/lib/control-core/GrpcProxy.js
  Control/lib/errors/InvalidInputError.js
  Control/lib/errors/NotFoundError.js
  Control/lib/errors/TimeoutError.js
  Control/lib/errors/grpcErrorToNativeError.js
  Control/lib/errors/updateExpressResponseFromNativeError.js
Due: control

Remove forgotten console statement
  Control/lib/control-core/GrpcProxy.js
Due: control

[OGUI-1377] Add env ctrl & service
  Control/lib/api.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Environment.service.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/test/integration/control-environment.js
  Control/test/lib/controllers/mocha-environment.controller.js
  Control/test/lib/services/mocha-environment.service.js
  Control/test/public/page-environment-mocha.js
Due: control

Update facility for logger
  Control/public/common/utils.js
Due: control

Update Log Facility
  Control/lib/controllers/Environment.controller.js
Due: control

[OGUI-1376] Add error converters for gRPC and express responses (#2029)
  Control/lib/control-core/GrpcProxy.js
  Control/lib/errors/InvalidInputError.js
  Control/lib/errors/NotFoundError.js
  Control/lib/errors/TimeoutError.js
  Control/lib/errors/grpcErrorToNativeError.js
  Control/lib/errors/updateExpressResponseFromNativeError.js
Due: control

[OGUI-1377] Adds environments controller and service (#2030)
  Control/lib/api.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Environment.service.js
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/test/integration/control-environment.js
  Control/test/lib/controllers/mocha-environment.controller.js
  Control/test/lib/services/mocha-environment.service.js
  Control/test/public/page-environment-mocha.js
Due: control

Add ODC initial preview of data
  Control/public/common/constants/stateColors.js
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
  Control/test/config/core-grpc.js
  Control/test/integration/control-environment.js
Due: control

[OGUI-1183] Add ODC initial preview of data (#2031)
  Control/public/common/constants/stateColors.js
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
  Control/test/config/core-grpc.js
  Control/test/integration/control-environment.js
Due: control

BUMP COG version
  Control/package-lock.json
  Control/package.json
Due: control

BUMP COG version (#2032)
  Control/package-lock.json
  Control/package.json
Due: control

Let NPM fix vulnerabilities deps
  QualityControl/package-lock.json
Due: qualitycontrol

Let NPM fix vulnerabilities deps (#2033)
  QualityControl/package-lock.json
Due: qualitycontrol

Add DDS session info to hardware panel
  Control/public/common/card/rowForCard.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
Due: control

Apply npm audit fixes
  Control/package-lock.json
Due: control

Bump COG version for patch
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-1183] Add DDS Session info to hardware (#2034)
  Control/package-lock.json
  Control/package.json
  Control/public/common/card/rowForCard.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
Due: control

Update critical dependencies
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: control, infologger, framework

Update critical dependencies (#2035)
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Due: control, infologger, framework

Update profile selection
  InfoLogger/lib/ProfileService.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/table/Table.js
  InfoLogger/test/lib/mocha-profile-service.js
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Add back removed test
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Add back entire test
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Add back new line
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Update mock data for tests
  InfoLogger/test/lib/mocha-profile-service.js
Due: infologger

[OGUI-1380] Release ILG patch version to update profiles and dependencies (#2036)
  InfoLogger/lib/ProfileService.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/table/Table.js
  InfoLogger/test/lib/mocha-profile-service.js
  InfoLogger/test/public/log-filter-actions-mocha.js
Due: infologger

Increase patch version for COG
  Control/package-lock.json
  Control/package.json
Due: control

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
