Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Add a test to make sure the local storage is updated upon clicking a tree node element
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

Add utilities to export RootObject as SVG/PNG/J(E)PG/WEBP
  QualityControl/public/common/rootDownload.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Add triggerDownload method to utils
  QualityControl/public/common/utils.js
Due: qualitycontrol

Mocked version of application finished. Now there is a need to implement changes in logic of components to API call backend
  Tokenization/webapp/app/feature/service-routes/api/mutations.ts
  Tokenization/webapp/app/feature/service-routes/routes/overview.tsx
  Tokenization/webapp/app/feature/service-routes/services/service-routes.service.ts
  Tokenization/webapp/app/feature/token/mocks/tokens.mock.ts
  Tokenization/webapp/app/feature/token/services/service-options.service.ts
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/ui/sidebar.tsx
Due: none

update: fixed vault and test and added new encrypt and create key vault feature
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/utils/event-req-types.d.ts
  Tokenization/backend/central-system/src/lib/utils/events.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/services/EncryptionService.ts
  Tokenization/backend/central-system/src/services/VaultAuthService.ts
  Tokenization/backend/central-system/src/services/VaultCreateKeyService.ts
  Tokenization/backend/central-system/src/types/vault_types.d.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultController.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultCreateKey.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultEncryptData.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultIntegration.spec.ts
  Tokenization/backend/central-system/tests/VaultTests/VaultSignService.spec.ts
  Tokenization/docker/vault/vault-setup.sh
Due: none

feat: added new models and migrations for Services and system logs
  Tokenization/backend/central-system/src/lib/database/migrations/20251215-001-create-services.mts
  Tokenization/backend/central-system/src/lib/database/migrations/20251215-002-create-system-logs.mts
  Tokenization/backend/central-system/src/lib/database/models/ServiceModel.ts
  Tokenization/backend/central-system/src/lib/database/models/SystemLogModel.ts
  Tokenization/backend/central-system/src/lib/database/models/TokenModel.ts
  Tokenization/backend/central-system/src/lib/database/models/models.ts
Due: none

feat: added services structure with empty services and controller ready for injecting querries for endpoints
  Tokenization/backend/central-system/src/controllers/DatabaseController.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/services/ArchiveTokensQueryService.ts
  Tokenization/backend/central-system/src/services/ServicesQueryService.ts
  Tokenization/backend/central-system/src/services/SystemLogsQueryService.ts
  Tokenization/backend/central-system/src/services/TokensQueryService.ts
Due: none

fix: converting arrays to objects on save
  Configuration/webapp/app/components/form/utils/convertFormValuesToConfigObject.ts
  Configuration/webapp/app/components/form/utils/getDefaultValuesFromConfigObject.ts
  Configuration/webapp/app/hooks/useConfigurationForm.tsx
  Configuration/webapp/app/routes/configuration.tsx
Due: none

fix: handle empty objects and arrays properly
  Configuration/webapp/app/components/form/utils/getDefaultValuesFromConfigObject.ts
  Configuration/webapp/app/hooks/useConfigurationForm.tsx
Due: none

Use JSROOT.makeSVG instead of JSROOT.draw
  QualityControl/public/common/rootDownload.js
Due: qualitycontrol

Do not add the temporary download link to the document
  QualityControl/public/common/utils.js
Due: qualitycontrol

chore: remove console logs
  Configuration/webapp/app/components/form/utils/convertFormValuesToConfigObject.ts
Due: none

fix: duplicate buttons on finishing editing layouts
  QualityControl/public/app.css
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

docs: add comment explaining hacky css styling for tabs overflow
  QualityControl/public/app.css
Due: qualitycontrol

Utilize JSROOT.makeImage now that 'blob:' is not blocked by CSP
  QualityControl/public/common/rootDownload.js
  QualityControl/public/common/utils.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Allow `blob:` in img-src CSP
  Framework/Backend/http/server.js
Due: framework

Use horizontal margin instead of justify center to scrolling bug
  QualityControl/public/common/filters/filterViews.js
Due: qualitycontrol

Refactor tests
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

Remove unused imports
  QualityControl/test/public/features/filterTest.test.js
Due: qualitycontrol

[OGUI-1846] Pass on drawing options from qcdb metadata in layout show
  QualityControl/public/layout/view/page.js
Due: qualitycontrol

fix: update initial drawing options handling and improve logic
  QualityControl/public/common/object/objectDrawingOptions.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
Due: qualitycontrol

fix: center alligning the tabs inside edit mode
  QualityControl/public/app.css
Due: qualitycontrol

[OGUI-1820] Header of pages should efficiently use remaining space (#3209)
  QualityControl/public/app.css
  QualityControl/public/common/header.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Create RELEASEANDDEPLOYMENT.md
  documentation/RELEASEANDDEPLOYMENT.md
Due: none

Added diagrams and adjusted name of file
  documentation/RELEASE_AND_DEPLOYMENT.md
  documentation/images/deployment_diagram.drawio
  documentation/images/deployment_diagram.svg
  documentation/images/release_diagram.drawio
  documentation/images/release_diagram.svg
Due: none

Added link from readme to release and deployment doc
  README.md
Due: none

Update reviewer assignment in deployment instructions
  documentation/RELEASE_AND_DEPLOYMENT.md
Due: none

Change downloadable file to png
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Add tests
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

Add download root as image button to every JSROOT plot
  QualityControl/public/common/downloadRootImageButton.js
  QualityControl/public/common/utils.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

Restructured release and deployment docs
  documentation/RELEASE_AND_DEPLOYMENT.md
Due: none

Created separate component for service registration. Solved issue with trying to send service names in autocomplete filters used for searching service from and service to
  Tokenization/webapp/app/feature/service-routes/api/queries.ts
  Tokenization/webapp/app/feature/service-routes/components/service-route-filters-form.tsx
  Tokenization/webapp/app/feature/service-routes/components/service-route-register-form.tsx
  Tokenization/webapp/app/feature/service-routes/routes/mapping.tsx
  Tokenization/webapp/app/feature/service-routes/routes/overview.tsx
  Tokenization/webapp/app/feature/service-routes/services/service-route-options.service.ts
  Tokenization/webapp/app/feature/service-routes/services/service-routes.service.ts
  Tokenization/webapp/app/feature/token/api/mutations.ts
  Tokenization/webapp/app/feature/token/api/queries.ts
  Tokenization/webapp/app/feature/token/components/token-filters-form.tsx
  Tokenization/webapp/app/feature/token/hooks/useRevokeActions.tsx
  Tokenization/webapp/app/feature/token/mocks/services.mock.ts
  Tokenization/webapp/app/feature/token/routes/overview.tsx
  Tokenization/webapp/app/feature/token/services/service-options.service.ts
  Tokenization/webapp/app/shared/components/form/multi-select-field.tsx
Due: none

Tokens are returned from backend
  Tokenization/backend/central-system/index.js
  Tokenization/backend/central-system/mocks.js
  Tokenization/webapp/app/feature/token/services/tokens.service.ts
  Tokenization/webapp/app/utils/fetchClient.tsx
Due: none

feat: added Route model and seeders umzug feature
  Tokenization/backend/central-system/src/lib/database/Database.ts
  Tokenization/backend/central-system/src/lib/database/SequelizeDatabase.ts
  Tokenization/backend/central-system/src/lib/database/migrations/20251215-003-create-routes.mts
  Tokenization/backend/central-system/src/lib/database/models/RouteModel.ts
  Tokenization/backend/central-system/src/lib/database/models/models.ts
  Tokenization/backend/central-system/src/lib/database/seeder-umzug.ts
  Tokenization/backend/central-system/src/lib/database/utils/expireToken.ts
Due: none

feat: add dropzones and event listeners for the tabs in edit
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

feat: add ability to reorder the tabs using drag and drop
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

feat: add class styling for drop target
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Improve safety catch on undefined
  QualityControl/public/layout/view/page.js
Due: qualitycontrol

feat: add the primary color for the drop borders
  QualityControl/public/app.css
Due: qualitycontrol

style: cleanup inline style
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
