Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

test: remove screenshotting the page
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

[OGUI-1880] Use transition status now that is provided by ECS
  Control/lib/common/ecsOperationAndStepStatus.enum.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
Due: control

[OGUI-1880] Use transition status now that is provided by ECS (#3305)
  Control/lib/common/ecsOperationAndStepStatus.enum.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
Due: control

Increase restriction on GET lock API to role-detector
  Control/lib/api.js
  Control/test/api/lock/api-get-locks.test.js
Due: control

Add documentation on LOCKS
  Control/README.md
  Control/docs/LOCKS.md
Due: control

Update logic for lock ALL
  Control/lib/common/detectorId.enum.js
  Control/lib/controllers/Lock.controller.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
Due: control

Fix eslint reported errors
  Control/lib/controllers/Lock.controller.js
Due: control

Fix miss-spelled named import
  Control/lib/controllers/Lock.controller.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
Due: control

Complement docs on LOCKS
  Control/docs/LOCKS.md
Due: control

[OGUI-1877] Decouple TST detector from Release/Take ALL actions (#3310)
  Control/README.md
  Control/docs/LOCKS.md
  Control/lib/api.js
  Control/lib/common/detectorId.enum.js
  Control/lib/controllers/Lock.controller.js
  Control/test/api/lock/api-get-locks.test.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
Due: control

FlpSelection model to observe Lock changes
  Control/public/workflow/panels/flps/FlpSelection.js
Due: control

Fix FlpSelection to observe Lock state changes
  Control/public/lock/lockButton.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/FlpSelection.js
Due: control

Improve readability and accessibility for component
  Control/public/common/detectorLock/detectionLockActionButton.js
Due: control

Decouple TST detector logic from lock handling and improve detector list management
  Control/public/common/detectorUtils.js
  Control/public/lock/lockButton.js
  Control/public/lock/lockPage.js
  Control/public/services/DetectorService.js
  Control/public/workflow/panels/flps/detectorsPanel.js
Due: control

Fix eslint reported issues
  Control/public/lock/lockPage.js
Due: control

[OGUI-1877] Add visual elements to clearly decouple TST detector from rest of them (#3311)
  Control/public/common/detectorLock/detectionLockActionButton.js
  Control/public/common/detectorUtils.js
  Control/public/lock/lockButton.js
  Control/public/lock/lockPage.js
  Control/public/services/DetectorService.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
Due: control

Add state of detector in locks page and ask user to confirm release of a lock for an active detector
  Control/docs/LOCKS.md
  Control/public/common/enums/DetectorState.enum.js
  Control/public/lock/lockButton.js
  Control/public/lock/lockPage.js
  Control/public/services/DetectorService.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
Due: control

Add missing end of file newline
  Control/public/lock/lockPage.js
Due: control

[OGUI-1876] Add detector active/inactive on locks page to ask user for confirmation on release (#3312)
  Control/docs/LOCKS.md
  Control/public/common/enums/DetectorState.enum.js
  Control/public/lock/lockButton.js
  Control/public/lock/lockPage.js
  Control/public/services/DetectorService.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
Due: control

Save firstTaskInError if already appeared
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
Due: control

Display first task in error critical in GUI
  Control/lib/kafka/adapters/odc/odcDeviceEventAdapter.js
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/public/pages/Environment/components/environmentComponentsSummary.js
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
Due: control

Add source of event task error
  Control/lib/kafka/adapters/odc/odcDeviceEventAdapter.js
  Control/lib/kafka/adapters/taskEventAdapter.js
  Control/lib/kafka/enums/SourceEventsTypes.enum.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/lib/typedefs/TaskEvent.js
  Control/lib/typedefs/odc/OdcDeviceInfo.js
  Control/lib/typedefs/odc/OdcDeviceInfoEvent.js
  Control/public/pages/Environment/components/environmentComponentsSummary.js
Due: control

Fix renamed file import
  Control/lib/kafka/adapters/odc/odcDeviceEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
Due: control

Fix renamed file import
  Control/lib/kafka/adapters/taskEventAdapter.js
Due: control

Remove local dev config
  Control/lib/kafka/enums/consumerGroups.enum.js
Due: control

[OGUI-1879] Save firstTaskInError if already appeared (#3313)
  Control/lib/kafka/adapters/odc/odcDeviceEventAdapter.js
  Control/lib/kafka/adapters/taskEventAdapter.js
  Control/lib/kafka/enums/SourceEventsTypes.enum.js
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/lib/typedefs/TaskEvent.js
  Control/lib/typedefs/odc/OdcDeviceInfo.js
  Control/lib/typedefs/odc/OdcDeviceInfoEvent.js
  Control/public/pages/Environment/components/environmentComponentsSummary.js
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
Due: control

[release/COG/2.1.0]
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
Due: control

[release/COG/2.1.0] (#3322)
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
Due: control

Provide improved error message in case of not authorized action
  Control/lib/services/Lock.service.js
Due: control

Log the error with winston instead of console and its trace
  Control/lib/controllers/Lock.controller.js
Due: control

Fix eslint issues - too long of a line
  Control/lib/services/Lock.service.js
Due: control

Update test messages
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
  Control/test/lib/services/mocha-lock.service.test.js
Due: control

[OGUI-1884] Improve lock action error log in case of unauthorized action (#3410)
  Control/lib/controllers/Lock.controller.js
  Control/lib/services/Lock.service.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
  Control/test/lib/services/mocha-lock.service.test.js
Due: control

Add more information on JWT errors usage from token
  Framework/Backend/services/O2TokenService.js
  Framework/Backend/test/mocha-o2web-token.js
Due: framework

Bump version of JWT
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add forgotten test
  Framework/Backend/test/mocha-http.js
Due: framework

Add update to test for newly messages
  Framework/Backend/http/server.js
Due: framework

[OGUI-1189] Improve errors returned from O2JsonWebToken and bump the library's version (#3411)
  Framework/Backend/http/server.js
  Framework/Backend/services/O2TokenService.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-o2web-token.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Add log throttle for JWT messages for 5 minutes by composite key
  Framework/Backend/http/server.js
Due: framework

If in production, allow to trust proxy server
  Framework/Backend/http/server.js
Due: framework

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
