Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

Renamed `BrowserNotification.js` to `browserNotification.js` and move it to the `utilities` directory
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/utilities/browserNotification.js
Due: framework

Add enum `BrowserNotificationPermission` to `browserNotification.js` and update docs
  Framework/Frontend/js/src/utilities/browserNotification.js
Due: framework

test: fix failing tests due to markup change
  QualityControl/public/object/objectTreePage.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/object-tree.test.js
Due: qualitycontrol

[OGUI-1861] Allow `blob:` in img-src CSP (#3237)
  Framework/Backend/http/server.js
Due: framework

style: fix linting errors
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

fix: merge conflicts objects tree class
  QualityControl/public/object/ObjectTree.class.js
Due: qualitycontrol

Rename `checkBrowserNotificationPermissions` to `areBrowserNotificationsGranted` in `browserNotification.js`
  Framework/Frontend/js/src/utilities/browserNotification.js
Due: framework

Use the `BrowserNotificationPermission` enum in `header.js`
  QualityControl/public/common/header.js
Due: qualitycontrol

[OGUI-1854] Add native browser notification helper functions (#3257)
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/utilities/browserContext.js
  Framework/Frontend/js/src/utilities/browserNotification.js
Due: framework

[OGUI-1860] Migrate to use trusted publisher for npm deployments (#3264)
  .github/workflows/release.yml
  Framework/package-lock.json
Due: framework

Bump minor release version for Framework
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump minor release version for Framework (#3265)
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump node on release GH action
  .github/workflows/release.yml
Due: none

Bump node on release GH action (#3266)
  .github/workflows/release.yml
Due: none

Fix out of bounds object not rendering until edit mode is entered once
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Bump framework version across projects
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Use new helper functions in QCG
  QualityControl/public/Model.js
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/common/utils.js
  QualityControl/public/pages/objectView/components/header.js
Due: qualitycontrol

Use browser helper functions in COG
  Control/public/Model.js
  Control/public/common/appHeader.js
Due: control

Fix lint errors
  Control/public/Model.js
  Control/public/common/appHeader.js
Due: control

[OGUI-1862] Use browser native notification helper functions from web-ui framework (#3268)
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/common/utils.js
  QualityControl/public/pages/objectView/components/header.js
Due: control, qualitycontrol, infologger

Add missing semicolon
  QualityControl/public/common/utils.js
Due: qualitycontrol

Do not show filters when editing the layout on the layout show page
  QualityControl/public/common/header.js
Due: qualitycontrol

Move tests that check logic on the layout show page to their respective file
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

[OGUI-1822] Download SVG/PNG/JPEG from QCG (#3238)
  QualityControl/public/common/downloadRootImageButton.js
  QualityControl/public/common/utils.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
Due: qualitycontrol

Fix out of bounds object not rendering on refresh or on JSON edit menu apply when reducing the column count
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/layout-show/json-file-mock.js
Due: qualitycontrol

Revert changes to the `sortObjectsOfCurrentTab` function
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

Increase test timeout
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

Increase some more test timeouts
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

Fix tests following changes in UI
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/layout-list.test.js
Due: qualitycontrol

Add timeouts as per tests
  QualityControl/test/test-index.js
Due: qualitycontrol

[OGUI-1763] Scrolling resets on object tree when source is layoutList or about page (#3263)
  QualityControl/public/common/header.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/aboutView/AboutViewPage.js
  QualityControl/public/pages/layoutListView/LayoutListPage.js
  QualityControl/public/view.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Bump QCG version
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Bump QCG version (#3269)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

feat: added enpoints functionality
  Tokenization/backend/central-system/src/controllers/DatabaseController.ts
  Tokenization/backend/central-system/src/controllers/ServerController.ts
  Tokenization/backend/central-system/src/controllers/VaultController.ts
  Tokenization/backend/central-system/src/lib/database/SequelizeDatabase.ts
  Tokenization/backend/central-system/src/lib/database/migrations/20251215-003-create-routes.mts
  Tokenization/backend/central-system/src/lib/database/models/RouteModel.ts
  Tokenization/backend/central-system/src/lib/database/models/SystemLogModel.ts
  Tokenization/backend/central-system/src/lib/database/models/models.ts
  Tokenization/backend/central-system/src/lib/database/seeders/20251217-003-seeder-generate-routes.mts
  Tokenization/backend/central-system/src/lib/database/utils/queryHelpersCertificates.ts
  Tokenization/backend/central-system/src/lib/database/utils/queryHelpersLogs.ts
  Tokenization/backend/central-system/src/lib/database/utils/queryHelpersRoutes.ts
  Tokenization/backend/central-system/src/lib/database/utils/queryHelpersServices.ts
  Tokenization/backend/central-system/src/lib/database/utils/queryHelpersTokens.ts
  Tokenization/backend/central-system/src/lib/utils/event_req_types.d.ts
  Tokenization/backend/central-system/src/modules/CentralSystem.ts
  Tokenization/backend/central-system/src/services/ArchiveTokensQueryService.ts
  Tokenization/backend/central-system/src/services/CertificateService.ts
  Tokenization/backend/central-system/src/services/RoutesQueryService.ts
  Tokenization/backend/central-system/src/services/ServicesQueryService.ts
  Tokenization/backend/central-system/src/services/SystemLogsQueryService.ts
  Tokenization/backend/central-system/src/services/TokensQueryService.ts
  Tokenization/backend/central-system/src/types/certificate_types.d.ts
  Tokenization/backend/central-system/src/types/query_types.d.ts
  Tokenization/docker/vault/vault-setup.sh
Due: none

feat: add new services endpoint for querying services information
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/Status.service.js
Due: qualitycontrol

Update test queries
  QualityControl/test/public/components/profileHeader.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

refactor object tree navigation and cleanup unused code
  QualityControl/public/object/ObjectTree.class.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

fix: ensure object selection only occurs if focused node is present
  QualityControl/public/Model.js
Due: qualitycontrol

refactor: remove unused addOneChild method from ObjectTree class
  QualityControl/public/object/ObjectTree.class.js
Due: qualitycontrol

feat: add external link icon to the run number when bookkeeping is configured
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/services/Status.service.js
Due: qualitycontrol
