Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
  - protobuf/*
comment: false

tests for filtering in edit mode
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

Updated InfoLogger setup documentation to include local development database setup.
  InfoLogger/README.md
Due: infologger

Updated the README.MD and fixed the NPM run simul command by adding a simple proxy file.
  InfoLogger/README.md
  InfoLogger/package.json
  InfoLogger/test/live-simulator/runInfoLoggerServer.js
Due: infologger

Corrected the wrong Docker download link, it now points to the Docker desktop installation instead of the engine.
  InfoLogger/README.md
Due: infologger

Fixed typos
  InfoLogger/README.md
Due: infologger

remove redundant await in onclick handler
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

clear search input after starting/finishing edit
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

fix empty search results table
  QualityControl/public/object/virtualTable.js
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

Feedback processed. Adminer replaced with phpMyAdmin.
  InfoLogger/README.md
Due: infologger

Added vscode debugging configuration in launch.js .gitignore exception made for .vscode/launch.js. Added --inspect parameter to npm run dev command to enable node debugging from the browser.
  .gitignore
  .vscode/launch.json
  InfoLogger/package.json
Due: infologger

Added Try Catch for kafkaclient
  Control/lib/api.js
Due: control

Revert unneeded changes
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/header.js
Due: qualitycontrol

Make virtual table reusable and to expect objects to build table for
  QualityControl/public/object/virtualTable.js
Due: qualitycontrol

Adapt usage of virtual table across QCG
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Improve docs
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/virtualTable.js
Due: qualitycontrol

[OGUI-1568] Filter issues filtering objects on edit mode layout show (#2665)
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/virtualTable.js
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

Added frontend download button;
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Added location URL to download button for JSRoot objects in objectTreePage::drawPlot()
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Added Locks Manage All Detectors endpoint
  Control/lib/api.js
  Control/test/api/lock/api-put-locks.test.js
Due: control

Add Expected Results to test
  Control/test/api/lock/api-put-locks.test.js
Due: control

Processed feedback, launch.json modified, added Windows platform specific path options.
  .vscode/launch.json
Due: none

[OGUI-1557] Added Try Catch for kafkaclient (#2668)
  Control/lib/api.js
Due: control

[OGUI-1578] Added vscode debugging configuration in launch.js (#2667)
  .gitignore
  .vscode/launch.json
  InfoLogger/package.json
Due: infologger

Add class for text-area resize allowance
  QualityControl/public/app.css
  QualityControl/public/layout/panels/importModal.js
Due: qualitycontrol

Improve readability of code
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

Fix tests following p change into div
  QualityControl/test/public/pages/layout-show.test.js
Due: qualitycontrol

fix updated inputs and added package wrong
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Logger.js
  Framework/Backend/services/jira.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-openid.js
  Framework/Frontend/js/src/Loader.js
  Framework/Frontend/js/src/fetchClient.js
  package-lock.json
  package.json
Due: framework

[OGUI-1556] Allow modification of existing layouts via JSON panel (#2629)
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/layout-show/json-file-mock.js
  QualityControl/test/setup/seeders/qcg-mock-data-template.json
  QualityControl/test/test-index.js
Due: qualitycontrol

update test to use sinon and test both server and openid
  Framework/Backend/test/mocha-openid.js
Due: framework

fix status of layout after updating with error
  QualityControl/public/layout/Layout.js
Due: qualitycontrol

fix path and url logout redirect
  Framework/Backend/http/openid.js
  Framework/Backend/log/LogManager.js
Due: framework

fix settings.json
  QualityControl/.vscode/settings.json
Due: qualitycontrol

remove vscodesettings
  QualityControl/.vscode/settings.json
Due: qualitycontrol

Update tests for logout function
  Framework/Backend/config-default.json
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-openid.js
Due: framework

Revert "Added frontend download button;" Implement download button frontend for the layoutShow page
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/objectTreePage.js
Due: qualitycontrol

Added logging for sql queries
  InfoLogger/lib/services/QueryService.js
  InfoLogger/lib/utils/preparedStatementParser.js
Due: infologger

Fixed SQL formatting in logs
  InfoLogger/lib/utils/preparedStatementParser.js
Due: infologger

[OGUI-1556] Edit layout via JSON (#2669)
  QualityControl/public/layout/Layout.js
Due: qualitycontrol
