Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: 60...90
  status:
    project:
      default: off
      Framework:
        flags:
          - framework 
        target: 50%
        threshold: null
        if_not_found: success
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: null
        if_not_found: success
      InfoLogger:
        flags:
          - infologger
        target: 70%
        threshold: null
        if_not_found: success
      Control:
        flags:
          - control
        target: 69%
        threshold: null
        if_not_found: success
    patch: false
    changes: false
    threshold: 0

flags:
  control:
    paths:
      - Control
  qualitycontrol:
    paths:
      - QualityControl
  infologger:
    paths:
      - InfoLogger
  framework:
    paths:
      - Framework
ignore:
  - docs/*
  - node_modules/*

comment: false

codecov.yml:

codecov:
  notify:
    after_n_builds: 1
coverage:
  range: 50...80
  precision: 2
  round: nearest
  status:
    project:
      default: false
      Control:
        flags:
          - control
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      QualityControl:
        flags:
          - qualitycontrol
        target: 60%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      InfoLogger:
        flags:
            - infologger
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
      Framework:
        flags:
          - framework
        target: 70%
        threshold: 0%
        if_not_found: success
        if_ci_failed: error
    patch:
      Control:
        target: auto
        threshold: 0%
flags:
  control:
    paths:
      - "Control"
    carryforward: true
  qualitycontrol:
    paths: 
      - "QualityControl"
    carryforward: true
  infologger:
    paths: 
      - "InfoLogger"
    carryforward: true
  framework:
    paths: 
      - "Framework"
    carryforward: true
ignore:
  - docs/*
  - node_modules/*
comment: false

[OGUI-803] Use more descriptive facility rather than labels
  QualityControl/index.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/configProvider.js
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/test/lib/mocha-ccdb-connector.js
  QualityControl/test/lib/mocha-json-db.js
  QualityControl/test/lib/mocha-layout-connector.js
Due: qualitycontrol

[OGUI-803] Update facilty name
  QualityControl/index.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/configProvider.js
  QualityControl/lib/connector/LayoutConnector.js
Due: qualitycontrol

[OGUI-813] Remove shutdown button from envs page
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Due: control

[OGUI-813] Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-814] Update fields used by CCDB requests
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/test/lib/mocha-ccdb-connector.js
Due: qualitycontrol

[OGUI-814] Improve description on random GH failing test
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-824] Remove JSROOT.parse call due to bug creating infinite recursion (#716)
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
Due: qualitycontrol

[OGUI-823] Add disabled radio buttons for env vars
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/test/mocha-index.js
Due: control

[OGUI-814] Update fields used by CCDB requests (#718)
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/test/lib/mocha-ccdb-connector.js
  QualityControl/test/public/mocha-index.js
Due: qualitycontrol

[OGUI-803] Update facility of the logs (#707)
  QualityControl/index.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/configProvider.js
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-813] Remove shutdown button from env list page (#717)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Due: control

Upload tared npm package into release assets
  .github/workflows/release.yml
Due: none

Add bundledDependencies
  Control/package.json
  InfoLogger/package.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

[OGUI-823] Replace radio buttons with ON/OFF values
  Control/public/environment/environmentPage.js
Due: control

[OGUI-823] Add panel in environment page with selected user vars (#719)
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/test/mocha-index.js
Due: control

[OGUI-825] Upload tared npm package into release assets (#720)
  .github/workflows/release.yml
  Control/package.json
  InfoLogger/package.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Fix indent in release workflow
  .github/workflows/release.yml
Due: none

[OGUI-810] Staging
  QualityControl/index.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/config/public.js
  QualityControl/public/index.html
  QualityControl/public/services/QCObject.service.js
Due: qualitycontrol

[O2-21487] Bump JSROOT; QCG Versions
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-825] Fix indent in release workflow (#721)
  .github/workflows/release.yml
Due: none

[O2-21487] Bump JSROOT; QCG Versions (#722)
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Create npm tarballs with all dependencies
  .github/workflows/release.yml
Due: none

Create npm tarballs with all dependencies (#723)
  .github/workflows/release.yml
Due: none

infologger renaming
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

[OGUI-828] Infologger script renaming (#724)
  Framework/Backend/log/InfoLoggerSender.js
Due: framework

[OGUI-828] Bump framework minor version
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-828] Bump framework minor version (#725)
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-828] Bump dependencies across UIs
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

[OGUI-828] Bump dependencies across UIs (#726)
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Due: control, qualitycontrol, infologger

Add run number to Grafana URLs
  Control/public/environment/environmentPage.js
Due: control

adjust
  Control/public/environment/environmentPage.js
Due: control

[OGUI-830] Add DCS to basic config panel
  Control/public/environment/Environment.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Bump COG
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-829] Pass run variable to Grafana when loading environment monitoring panels (#727)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentPage.js
Due: control

[OGUI-830] Bump minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-830] Add DCS to basic config panel (#728)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-832] Add DD Scheduler radio button
  Control/public/environment/Environment.js
  Control/public/workflow/panels/variables/basicPanel.js
Due: control

[OGUI-832] Add tests for DD SCHED logis
  Control/test/public/page-new-environment-mocha.js
Due: control

[OGUI-832] Bump COG minor version
  Control/package-lock.json
  Control/package.json
Due: control

[OGUI-832] Add button for dd scheduler (#729)
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control
