Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

Bump JSRoot
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Fix for eslint
  QualityControl/lib/api.js
Due: qualitycontrol

Resolve confilics
  QualityControl/package-lock.json
Due: qualitycontrol

Fix package-lcok
  QualityControl/package-lock.json
Due: qualitycontrol

Final tag filter
  QualityControl/lib/api.js
Due: qualitycontrol

[OGUI-1075] Use catalog instead of agent path in Consul service
  Framework/Backend/services/consul.service.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Fix tests
  Framework/Backend/test/mocha-consul.service.js
Due: framework

[OGUI-1075] Use catalog instead of agent path in Consul service (#1076)
  Framework/Backend/services/consul.service.js
  Framework/Backend/test/mocha-consul.service.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Bump versions
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

[OGUI-1075] Adapt tag parsing to changes in Consul service (#1074)
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
Due: qualitycontrol

Rename to General Configuration
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Move URIs to Adv Panel
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/panels/variables/mainPanel.js
Due: control

Move saved configurations and enhance global runs
  Control/public/app.css
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/public/workflow/workflowsPage.js
Due: control

Update tests following elements move
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Update FLP ITs
  Control/test/integration/create-new-environment.js
Due: control

Replace STANDBY state with DEPLOYED
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/test/config/core-grpc.js
  Control/test/integration/control-environment.js
  Control/test/public/page-environment-mocha.js
Due: control

[OGUI-1076] Replace STANDBY state with DEPLOYED (#1080)
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/test/config/core-grpc.js
  Control/test/integration/control-environment.js
  Control/test/public/page-environment-mocha.js
Due: control

[OGUI-1077] Visual improvements requested by users (#1079)
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

Add Release Notes
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
Due: control

Release/cog/1.42.0 (#1081)
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
Due: control

Group Load/Save buttons
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/mainPanel.js
Due: control

Update changelog
  Control/CHANGELOG.md
Due: control

[OGUI-1078] General panel should evaluate variables visibility (#1082)
  Control/CHANGELOG.md
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/mainPanel.js
Due: control

[OGUI-798] Use token scopes for authorisation
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-jwt.js
Due: framework

Update mocha commands
  Framework/Frontend/test/mocha-index.js
  Framework/package.json
Due: framework

[OGUI-1082] Update mocha commands for frontend framework (#1096)
  Framework/Frontend/test/mocha-index.js
  Framework/package.json
Due: framework

Send access list and comma separated string
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Frontend/js/src/sessionService.js
Due: framework

Fix jsdoc
  Framework/Backend/http/server.js
Due: framework

Update sessionService.js
  Framework/Frontend/js/src/sessionService.js
Due: framework

[OGUI-798] Use token scopes for authorisation (#1095)
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Frontend/js/src/sessionService.js
Due: framework

Bump minor version of Framework
  Framework/Frontend/test/mocha-index.js
  Framework/package-lock.json
  Framework/package.json
Due: framework

Use cern_roles and improve return
  Framework/Backend/http/server.js
Due: framework

Revert local changes
  Framework/Frontend/test/mocha-index.js
Due: framework

Bump minor version of Framework (#1097)
  Framework/package-lock.json
  Framework/package.json
Due: framework

[OGUI-798] Adapt AliECS GUI to token access changes in Framework
  Control/lib/services/Padlock.js
  Control/public/Model.js
  Control/public/common/appHeader.js
Due: control

Bump Framework
  Control/package-lock.json
  Control/package.json
Due: control

fix
  Control/lib/services/Padlock.js
Due: control

Only dropdown should check for allowed values
  Control/public/workflow/panels/variables/WorkflowVariable.js
Due: control

[OGUI-1081] Only dropdown widgets should check for allowed values (#1099)
  Control/public/workflow/panels/variables/WorkflowVariable.js
Due: control

Add ODC Status to each environment in env list
  Control/public/Model.js
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Due: control

Path conditions:
  control: any of: Control, but not: docs/*, node_modules/*
  qualitycontrol: any of: QualityControl, but not: docs/*, node_modules/*
  infologger: any of: InfoLogger, but not: docs/*, node_modules/*
  framework: any of: Framework, but not: docs/*, node_modules/*
