Repository AliceO2Group/WebUi: changes, and which Codecov flags are due for each by the changed paths.
All: control, qualitycontrol, infologger, framework

build: fix package-lock.json
  Configuration/webapp/package-lock.json
Due: none

fix: remove unnecessary utils
  Tokenization/backend/wrapper/src/test/utils/serialization.utils.test.ts
  Tokenization/backend/wrapper/src/utils/serialization.utils.ts
Due: none

fix: remove unused variable
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
Due: none

fix: refactor unit tests
  Tokenization/backend/wrapper/src/test/client/Commands/newToken.test.ts
  Tokenization/backend/wrapper/src/test/client/Commands/revokeToken.test.ts
Due: none

feat: update unit tests for p2p connections
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/ConnectionManager.test.ts
  Tokenization/backend/wrapper/src/test/client/ConnectionManager/index.ts
Due: none

build: fix package.json and package-lock.json
  Configuration/webapp/package-lock.json
  Configuration/webapp/package.json
Due: none

docs: add JSDoc comments
  Configuration/webapp/app/services/session.ts
Due: none

test: update tests and move them to correct directory
  Configuration/webapp/eslint.config.js
  Configuration/webapp/package.json
  Configuration/webapp/test/mocha-index.cjs
  Configuration/webapp/test/mocha-index.ts
  Configuration/webapp/test/public/page-root-mocha.spec.ts
  Configuration/webapp/test/services/session.spec.ts
  Configuration/webapp/test/test-config.cjs
  Configuration/webapp/test/test-config.ts
Due: none

style: fix formatting
  Configuration/webapp/app/services/session.ts
Due: none

Potential fix for code scanning alert no. 236: Unused variable, import, function or class
  Tokenization/backend/wrapper/client/gRPCWrapper.ts
Due: none

feat: implement reconnection scheduler
  Tokenization/backend/wrapper/src/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/src/utils/ReconnectionScheduler.ts
  Tokenization/backend/wrapper/src/utils/types/webui.d.ts
Due: none

fix: fix scheduler
  Tokenization/backend/wrapper/src/client/ConnectionManager/CentralConnection.ts
  Tokenization/backend/wrapper/src/client/gRPCWrapper.ts
  Tokenization/backend/wrapper/src/utils/ReconnectionScheduler.ts
Due: none

Redirect user to all envs rather than single one
  Control/public/environment/Environment.js
Due: control

Bump COG
  Control/lib/common/kvStore/runtime.enum.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/package-lock.json
  Control/package.json
Due: control

Revert local dev change
  Control/lib/kafka/enums/consumerGroups.enum.js
Due: control

Fix lint and test of front-end redirection
  Control/public/environment/Environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

[release/cog/2.0.0] (#3033)
  Control/lib/common/kvStore/runtime.enum.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/test/public/page-new-environment-mocha.js
Due: control

fix: fix imports
  Tokenization/backend/wrapper/src/utils/reconnectionScheduler.ts
Due: none

Keep environments in cache until acknowledged
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
Due: control

Patch ECS GUI
  Control/lib/api.js
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/package-lock.json
  Control/package.json
Due: control

Remove local changes
  Control/lib/api.js
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/enums/consumerGroups.enum.js
Due: control

[release/cog/2.0.1] (#3035)
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/package-lock.json
  Control/package.json
Due: control

Fix a UI bug in case there is no userVar object from ECS
  Control/public/pages/Environments/Environments.page.js
Due: control

Remove dead code from DetectorService public
  Control/public/services/DetectorService.js
Due: control

Fixing components and changing routes for better using of react-router 7 capabiilities such as defers, navigations etc.
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/routes/tokens/create.tsx
  Tokenization/webapp/app/routes/tokens/layout.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/ui/header/headerContext.tsx
  Tokenization/webapp/app/ui/layout.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/sidebar.tsx
Due: none

Small improvements on Workflow methods namings
  Control/lib/api.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.test.js
Due: control

Remove allowance of any apricot exec command
  Control/lib/api.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
Due: control

Remove hardcoded strings in apricot usage
  Control/lib/control-core/ApricotService.js
  Control/lib/controllers/WorkflowTemplate.controller.js
Due: control

Remove command execution from control proto as well
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/test/lib/control-core/mocha-control-service.js
Due: control

Test commit for checking pushing with cuurent tokenization.yml
  .github/workflows/tokenization.yml
Due: none

npm ci => npm i because of some errors in lock file
  .github/workflows/tokenization.yml
  Tokenization/Dockerfile
  Tokenization/webapp/package-lock.json
Due: none

- dependencies for building application taken from dev to normal dependencies
  Tokenization/webapp/package.json
Due: none

Actions for lint-checking in backend (waiting for guys for their changes to be included in dev branch)
  .github/workflows/tokenization.yml
Due: none

Typo correct
  .github/workflows/tokenization.yml
Due: none

Updating .dockerignore
  Tokenization/.dockerignore
Due: none

Adjust test file
  Tokenization/webapp/tests/main.test.js
Due: none

improvement: exit runs mode if error retrieving run status & throw clear error messages
  QualityControl/common/library/runStatus.enum.js
  QualityControl/docs/Features.md
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/runModeHeader.js
  QualityControl/test/public/features/runsMode/runsModeObjectTree.test.js
Due: qualitycontrol

fix tests to support new error messages from bookkeeping
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/test/lib/services/BookkeepingService.test.js
Due: qualitycontrol

Fix lint issues
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/database/migrations/20250424113921-add-default-options.mjs
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/utils/httpRequests.js
Due: qualitycontrol

rename filtersDTO, add tests for run number validation, improve error messages and handling
  QualityControl/lib/api.js
  QualityControl/lib/dtos/filters/RunNumberDto.js
  QualityControl/lib/middleware/filters/runMode.middleware.js
  QualityControl/lib/middleware/filters/runStatusFilter.middleware.js
  QualityControl/lib/middleware/helpers/validateRunNumber.js
  QualityControl/test/api/filters/api-get-run-status.test.js
  QualityControl/test/lib/middlewares/filters/runMode.middleware.test.js
  QualityControl/test/lib/middlewares/filters/runStatusFilter.middleware.test.js
  QualityControl/test/lib/middlewares/helpers/validateRunNumber.test.js
  QualityControl/test/test-index.js
Due: qualitycontrol

Path conditions:
  control: (any of: Control, but not: docs/*, node_modules/*) or (any of: Control, but not: docs/*, node_modules/*, protobuf/*)
  qualitycontrol: (any of: QualityControl, but not: docs/*, node_modules/*) or (any of: QualityControl, but not: docs/*, node_modules/*, protobuf/*)
  infologger: (any of: InfoLogger, but not: docs/*, node_modules/*) or (any of: InfoLogger, but not: docs/*, node_modules/*, protobuf/*)
  framework: (any of: Framework, but not: docs/*, node_modules/*) or (any of: Framework, but not: docs/*, node_modules/*, protobuf/*)
